.bioHeatMapTooltip {
    /* background */
    background-color: #E6F7FE;

    /* border */
    border-color: #BEDCE4;
    border-width: 1px;
    border-style: solid;
    /*-webkit-border-radius: 7px;  rounded corners does not work*/

    padding: 3px;

    text-align: center;
}
