table.regions {
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}
table.regions th {
    background-color: #333333;
    border-bottom-color: #CCCCCC;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #CCCCCC;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #CCCCCC;
    border-top-style: solid;
    border-top-width: 1px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 6px;
    padding-top: 6px;
    text-align: left;
    text-transform: uppercase;
}
table.regions td {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: #FFFFFF;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    border-bottom-color: #CCCCCC;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-color: #CCCCCC;
    border-right-style: solid;
    border-right-width: 1px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 6px;
    padding-top: 6px;
}

table.regions td.leftcol {
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #C1DAD7;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
}
table.regions td.internal {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: #FFFFFF;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    border-bottom-color: #C1DAD7;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#selectionInfo.information {
  background-color:#E6F7FE;
  border:1px solid #BEDCE4;
}

#selectionInfo {
  background-position:10px 6px;
  background-repeat:no-repeat;
  font-size:13px;
  margin:10px 10px 0;
  padding:6px 6px 6px 0;
}

#selectionInfo table td {font-size:13px;}

#spanWithNoFt a {float:none;}

img.tinyQuestionMark {
  padding-bottom:4px;
  padding-left:3px;
}

#export-all-div { padding: 0px 0px 0px 23px; line-height: 26px; }
.export-region { margin-right: 5px; }
.galaxy a { background-image:url('../../../images/formats/galaxy.gif'); width:59px; height:17px; }
.csv a { background-image:url('../../../images/formats/csv.gif'); width:35px; height:17px; }
.tab a { background-image:url('../../../images/formats/tab.gif'); width:35px; height:17px; }
.fasta a { background-image:url('../../../images/formats/fasta.gif'); width:52px; height:17px; }
.bed a { background-image:url('../../../images/formats/bed.gif'); width:35px; height:17px; }
.gff3 a { background-image:url('../../../images/formats/gff3.gif'); width:40px; height:17px; }
.export-region a { display: inline-block; background-position: top left; vertical-align: middle; background-repeat: no-repeat; }
