html, body 
{
    color: #000000;
    background-color: #ebe4ec;
}

a 
{
    color: #2100FF;
}

/**************************************/

#header h1 a
{
    color:  #6934b6;
}

#header p
{
    color: black;
}

/**************************************/

#sidebar ul ul li a
{
    color: #5c0075;
}


/**************************************/

#footer
{
    background-color: #FFFFFF;
}


/**************************************/

}