language: python
python: 2.7
addons:
  postgresql: 9.6
env:
  global:
  - TESTMODEL_URL=http://localhost:8080/intermine-demo
  - TESTMODEL_PATH=intermine-demo
  - TERM=dumb
  - secure: I5Uxlr0/km2I5Yr68yOV16CHU92IeCtuOb5OzA100xcLgAuALoA9kYVMFsplZElRnEHy4n+DAqnjkkUbini16h29fee65Y+iFXOBI5nfKDbWyyvJ2zgrvtNFkvCuTauvXiuAL5Ltog34E58R9t1SWOFGD4N7HI4NR/v945QALYEt5Tp20Dd4CsQ82BVER03JFU2wjx7ykVryypSZ7q9oL6k5SlUcz9jm8oZskD/z1lFnJ6uFsRRrf70glSu0OUelQaon3cCl5IfIcs45kDE7PdIj7vQ/UV7kb36W/532XUaF+UmoF7Yaa4acSDslo3ZdvZ1L4BnDClzzf7gtKxP1AAQxrbfGU005LphnABbX2pjgllU2OzQclXhCyt+oqVUFddOZolM4WtdMneRMQgSWv15F7cMFQJAwCvVBl3LKvQViolAmsqk6RBkJSm0o+SBxhBOgdMaE6yUZfL8jZFDw/AN9EEawcmBzYgo4ehL9yzi7ninxne4VhGWaRaz3qo7xTIyQSOYTBGxWqkSUG4xoWcwAqWQb+UNZT96AOaBAJNSfLZTz3joShI/KMG3f+BCKuZG7oWgF8dbUxZrfLIPkrV7ZRBr7dnJqISGzZEqDvzDtb6P8rnW32lC+cbCK7R21KEl5dcA/5Ssp3tHbCsf2iHtz40Tt2hNugsnNwPWgfeY=
  matrix:
  - TEST_SUITE=intermine
  - TEST_SUITE=bio
  - TEST_SUITE=ws CLIENT=JS
  - TEST_SUITE=ws CLIENT=PY  
sudo: true
jdk:
- openjdk11
dist: 
- trusty
before_script:
- "./config/travis/init-solr.sh"
- "./config/travis/init.sh"
script:
- "./config/travis/run.sh"
