html, body 
{
    color: #000000;
    background-color: #FFF;
}

/**************************************/

div.title h1
{
    color: #FFF;
}

#header p
{
    /*color: black;*/
}

.box .title {
  padding: 5px;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  font-weight: bold;
  color:#FFF;
  /*background: #eee;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;*/
  clear:both;
}
.title a:link{
	color:#FFF;
}

table.results tr td.highlightCell {
  background-color: #FFCBFF;
}

.widget {
    padding:15px;
    text-align: center;
    width: 450px;
    background-color: #F5F0FF;
    max-height:400px;
}

.widget p {
	font-size:10px;	
}

.widget_slide {
	margin-top:10px;
    max-height:350px;
    overflow-x:none;
    overflow-y:auto;
    overflow: auto;
}

#bagDescriptionDiv{
	background-color: #F5F0FF;
	min-height:150px;
	width:70%;
	text-align:left;
	padding:10px;
}
#bagDescriptionDiv:hover{
	background-color: #E6FFB3;
}

#textarea {
	width:70%;
	height:150px;
	background-color: #F5F0FF;
	padding:10px;
}

.blueBg {
	background-color:#F5F0FF;
	text-align:center;
	padding: 20px;
	margin:20px;
	width:350px;
}

.boxcontentwelcome {
    border-left: 1px solid #9D66AD;
    border-right: 1px solid #9D66AD;
}
.boxbottomwelcome {
	height:9px;
    border-bottom: 1px solid #9D66AD;
}
.boxcontentqueries {
    border-left: 1px solid #589100;
    border-right: 1px solid #589100;
}
.boxbottomqueries {
	height:9px;
    border-bottom: 1px solid #589100;
}
.boxcontentlists {
    border-left: 1px solid #AD8668;
    border-right: 1px solid #AD8668;
}
.boxbottomlists {
	height:9px;
    border-bottom: 1px solid #AD8668;
}
.boxcontenttemplates {
    border-left: 1px solid #4A497B;
    border-right: 1px solid #4A497B;
}
.boxbottomtemplates {
	height:9px;
    border-bottom: 1px solid #4A497B;
}
.boxcontentcategories {
    border-left: 1px solid #663366;
    border-right: 1px solid #663366;
}
.boxbottomcategories {
	height:9px;
    border-bottom: 1px solid #663366;
}

table.dbsources {margin:10px 20px 10px 20px;}

table.dbsources th  {
	font-weight: bold;
	font-size: 0.7em;
	color: white;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: url('../heading-bg.gif') repeat-x;
}

table.dbsources td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
/*	color: #6D929B;*/
}

table.dbsources td.leftcol {
	border-left: 1px solid #C1DAD7;
}