@import url(bio.css);

html, body {
	color: #000000;background-color: #FFF;}


/* =CUSTOMISABLE LOOK
--------------------------*/

#header{
	background: url('../images/top_gradient.png') repeat-x #D0B5D7;}

.plainbox {
	padding:10px; border:1px solid #9E68AE;
	background-color: #F5F0FF;}

.gradientbox {
	padding:10px; 
	border:1px solid #9E68AE;background: url('../images/blue_grad.png') repeat-x;}

ul#nav a{
	text-decoration:none; color: #5C0075; font-weight:bold;	background-image:url('../images/corner_t_r.png'); background-repeat: no-repeat;	background-position: right top;	color:white;}

ul#nav a:hover,ul#nav li#mymine a:hover{
	color:#333;}

ul#nav li#mymine a{
	color:white;background:url('../images/corner_my_t_r.png') no-repeat top right;}

ul#nav li.activelink a{
	color:white;background:url('../images/corner_act_t_r.png') no-repeat top right;}

ul#nav li#mymine {
	background:#9B89A7 url('../images/corner_my_t_l.png') no-repeat;}

ul#nav li.activelink {
	background:#5C0075 url('../images/corner_act_t_l.png') no-repeat;}

ul#submenulist li#subactive_bag {
	font-weight:bold;color:#FFF;background:url('../images/submenu_indent.png') no-repeat bottom center;}

ul#submenulist li#subactive_mymine {
	font-weight:bold;color:#FFF;background:url('../images/submenu_my.png') no-repeat bottom center;}

ul#nav li{
	text-align: center;background:#9F67AD url('../images/corner_t_l.png') no-repeat;}

.submenu{
	background:#5C0075;}

.submenu_mymine{
	background:#9B89A7;}

ul#submenulist li a {
	color:#FFF;text-decoration: none;font-weight: bold;}

ul#submenulist li a:hover {
	color:#FFF;text-decoration: underline;font-weight: bold;}

div.filterBar {
    background:#9F67AD;color:white;}

.imbox {
    padding:5px 5px 10px 5px; border-top:solid 1px #888; border-bottom:solid 1px #888; height:1.2em;
    font-size:0.8em; background:#9F67AD; color:white;}

#loginbar  a:link, #loginbar a:visited, #loginbar{
	color:#FFF;}


/* =/CUSTOMISABLE LOOK
--------------------------*/

div.title h1 {
    color: #FFF;}

.box .title {
  clear:both;
  padding: 5px;
  text-align: left; font-weight: normal; font-size: 14px; font-weight: bold; color:#FFF;}

.title a:link{
	color:#FFF;}

table.results tr td.highlightCell {
  background-color: #FFCBFF;}

.widget {
    max-height:400px;width: 450px;padding:15px;
    text-align: center; background-color: #F5F0FF;}

.widget p {
	font-size:10px;	}

.widget_slide {
	margin-top:10px; max-height:350px;
    overflow-x:none;overflow-y:auto;overflow: auto;}

#bagDescriptionDiv{
	min-height:100px;width:90%;padding:10px;
	text-align:left;background-color: #F5F0FF;}

#bagDescriptionDiv:hover{
	background-color: #E6FFB3;}

#textarea {
	width:90%;height:100px;
	background-color: #F5F0FF;padding:5px;}

.blueBg {
	padding: 20px;margin:20px;width:350px;
	background-color:#F5F0FF;text-align:center;}

table.dbsources {
	margin:10px 20px 10px 20px;}

table.dbsources th  {
	padding: 6px 6px 6px 12px;
	border-right: 1px solid #C1DAD7;border-bottom: 1px solid #C1DAD7;border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;text-transform: uppercase;text-align: left;font-weight: bold;font-size: 0.7em;color: white;
	background: url('../images/table-heading-bg.gif') repeat-x;}

table.dbsources td {
	padding: 6px 6px 6px 12px;
	border-right: 1px solid #C1DAD7;border-bottom: 1px solid #C1DAD7;background: #fff;}

table.dbsources td.leftcol {
	border-left: 1px solid #C1DAD7;}
