html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,blockquote,p,a,pre,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
{
  border:0;
  font-weight:inherit;
  font-style:inherit;
  font-size:100%;
  font-family:inherit;
  vertical-align:baseline;
  margin:0;
  padding:0;
}

body
{
  line-height:1.5;
  font-size:75%;
  color:#222;
  background:#fff;
  font-family:/*"Helvetica Neue", Arial, Helvetica, sans-serif;*/"Myriad Pro",Arial,Garuda,Helvetica,Tahoma,sans-serif;
}

table
{
  border-collapse:separate;
  border-spacing:0;
  margin-bottom:1.4em;
  width:100%;
}

caption,th,td
{
  text-align:left;
  font-weight:400;
}

table,td,th
{
  vertical-align:middle;
}

blockquote:before,blockquote:after,q:before,q:after
{
  content:"";
}

a img
{
  border:none;
}

html
{
  font-size:100.01%;
}

h1,h2,h3,h4,h5,h6
{
  font-weight:400;
  color:#111;
}

h1
{
  font-size:3em;
  line-height:1;
  margin-bottom:.5em;
}

h2
{
  font-size:2em;
  margin-bottom:.75em;
}

h3
{
  font-size:1.5em;
  line-height:1;
  margin-bottom:1em;
}

h4
{
  font-size:1.2em;
  line-height:1.25;
  margin-bottom:1.25em;
}

h5
{
  font-size:1em;
  font-weight:700;
  margin-bottom:1.5em;
}

h6
{
  font-size:1em;
  font-weight:700;
}

h1 img,h2 img,h3 img,h4 img,h5 img,h6 img
{
  margin:0;
}

p img.left
{
  float:left;
  margin:1.5em 1.5em 1.5em 0;
  padding:0;
}

p img.right
{
  float:right;
  margin:1.5em 0 1.5em 1.5em;
}

a
{
  color:#009;
  text-decoration:underline;
}

blockquote
{
  color:#666;
  font-style:italic;
  margin:1.5em;
}

sup,sub
{
  line-height:0;
}

abbr,acronym
{
  border-bottom:1px dotted #666;
}

address
{
  font-style:italic;
  margin:0 0 1.5em;
}

pre
{
  white-space:pre;
  margin:1.5em 0;
}

pre,code,tt
{
  font:1em 'andale mono', 'lucida console', monospace;
  line-height:1.5;
}

li ul,li ol
{
  margin:0 1.5em;
}

ul,ol
{
  margin:0 1.5em 1.5em;
}

ul
{
  list-style-type:disc;
}

ol
{
  list-style-type:decimal;
}

dd
{
  margin-left:1.5em;
}

thead th
{
  background:#c3d9ff;
}

th,td,caption
{
  padding:4px 10px 4px 5px;
}

tr.even td
{
  background:#e5ecf9;
}

caption
{
  background:#eee;
}

.small
{
  font-size:.8em;
  margin-bottom:1.875em;
  line-height:1.875em;
}

.large
{
  font-size:1.2em;
  line-height:2.5em;
  margin-bottom:1.25em;
}

.hide
{
  display:none;
}

.highlight
{
  background:#ff0;
}

.added
{
  background:#060;
  color:#fff;
}

.removed
{
  background:#900;
  color:#fff;
}

.first
{
  margin-left:0;
  padding-left:0;
}

.last
{
  margin-right:0;
  padding-right:0;
}

.top
{
  margin-top:0;
  padding-top:0;
}

.bottom
{
  margin-bottom:0;
  padding-bottom:0;
}

.container
{
  width:1000px;
  margin:0 auto;
}

.showgrid
{
  background:url(grid.png);
}

.column,div.span-1,div.span-2,div.span-3,div.span-4,div.span-5,div.span-6,div.span-7,div.span-8,div.span-9,div.span-10,div.span-11,div.span-12
{
  float:left;
  margin-right:20px;
}

.last,div.last
{
  margin-right:0;
}

.span-1
{
  width:65px;
}

.span-2
{
  width:150px;
}

.span-3
{
  width:235px;
}

.span-4
{
  width:320px;
}

.span-5
{
  width:405px;
}

.span-6
{
  width:490px;
}

.span-7
{
  width:575px;
}

.span-8
{
  width:660px;
}

.span-9
{
  width:745px;
}

.span-10
{
  width:830px;
}

.span-11
{
  width:915px;
}

.span-12
{
  width:1000px;
  margin-right:0;
}

input.span-1,textarea.span-1,input.span-2,textarea.span-2,input.span-3,textarea.span-3,input.span-4,textarea.span-4,input.span-5,textarea.span-5,input.span-6,textarea.span-6,input.span-7,textarea.span-7,input.span-8,textarea.span-8,input.span-9,textarea.span-9,input.span-10,textarea.span-10,input.span-11,textarea.span-11,input.span-12,textarea.span-12
{
  border-left-width:1px!important;
  border-right-width:1px!important;
  padding-left:5px!important;
  padding-right:5px!important;
}

input.span-1,textarea.span-1
{
  width:53px!important;
}

input.span-2,textarea.span-2
{
  width:138px!important;
}

input.span-3,textarea.span-3
{
  width:223px!important;
}

input.span-4,textarea.span-4
{
  width:308px!important;
}

input.span-5,textarea.span-5
{
  width:393px!important;
}

input.span-6,textarea.span-6
{
  width:478px!important;
}

input.span-7,textarea.span-7
{
  width:563px!important;
}

input.span-8,textarea.span-8
{
  width:648px!important;
}

input.span-9,textarea.span-9
{
  width:733px!important;
}

input.span-10,textarea.span-10
{
  width:818px!important;
}

input.span-11,textarea.span-11
{
  width:903px!important;
}

input.span-12,textarea.span-12
{
  width:988px!important;
}

.append-1
{
  padding-right:85px;
}

.append-2
{
  padding-right:170px;
}

.append-3
{
  padding-right:255px;
}

.append-4
{
  padding-right:340px;
}

.append-5
{
  padding-right:425px;
}

.append-6
{
  padding-right:510px;
}

.append-7
{
  padding-right:595px;
}

.append-8
{
  padding-right:680px;
}

.append-9
{
  padding-right:765px;
}

.append-10
{
  padding-right:850px;
}

.append-11
{
  padding-right:935px;
}

.prepend-1
{
  padding-left:85px;
}

.prepend-2
{
  padding-left:170px;
}

.prepend-3
{
  padding-left:255px;
}

.prepend-4
{
  padding-left:340px;
}

.prepend-5
{
  padding-left:425px;
}

.prepend-6
{
  padding-left:510px;
}

.prepend-7
{
  padding-left:595px;
}

.prepend-8
{
  padding-left:680px;
}

.prepend-9
{
  padding-left:765px;
}

.prepend-10
{
  padding-left:850px;
}

.prepend-11
{
  padding-left:935px;
}

div.border
{
  padding-right:9px;
  margin-right:10px;
  border-right:1px solid #eee;
}

div.colborder
{
  padding-right:51px;
  margin-right:53px;
  border-right:1px solid #eee;
}

.pull-1
{
  margin-left:-85px;
}

.pull-2
{
  margin-left:-170px;
}

.pull-3
{
  margin-left:-255px;
}

.pull-4
{
  margin-left:-340px;
}

.pull-5
{
  margin-left:-425px;
}

.pull-6
{
  margin-left:-510px;
}

.pull-7
{
  margin-left:-595px;
}

.pull-8
{
  margin-left:-680px;
}

.pull-9
{
  margin-left:-765px;
}

.pull-10
{
  margin-left:-850px;
}

.pull-11
{
  margin-left:-935px;
}

.pull-12
{
  margin-left:-1020px;
}

.pull-1,.pull-2,.pull-3,.pull-4,.pull-5,.pull-6,.pull-7,.pull-8,.pull-9,.pull-10,.pull-11,.pull-12
{
  float:left;
  position:relative;
}

.push-1
{
  margin:0 -85px 1.5em 85px;
}

.push-2
{
  margin:0 -170px 1.5em 170px;
}

.push-3
{
  margin:0 -255px 1.5em 255px;
}

.push-4
{
  margin:0 -340px 1.5em 340px;
}

.push-5
{
  margin:0 -425px 1.5em 425px;
}

.push-6
{
  margin:0 -510px 1.5em 510px;
}

.push-7
{
  margin:0 -595px 1.5em 595px;
}

.push-8
{
  margin:0 -680px 1.5em 680px;
}

.push-9
{
  margin:0 -765px 1.5em 765px;
}

.push-10
{
  margin:0 -850px 1.5em 850px;
}

.push-11
{
  margin:0 -935px 1.5em 935px;
}

.push-12
{
  margin:0 -1020px 1.5em 1020px;
}

.push-1,.push-2,.push-3,.push-4,.push-5,.push-6,.push-7,.push-8,.push-9,.push-10,.push-11,.push-12
{
  float:right;
  position:relative;
}

.prepend-top
{
  margin-top:1.5em;
}

.append-bottom
{
  margin-bottom:1.5em;
}

.box
{
  margin-bottom:1.5em;
  background:#E5ECF9;
  padding:1.5em;
}

hr
{
  background:#ddd;
  color:#ddd;
  clear:both;
  float:none;
  width:100%;
  height:.1em;
  border:none;
  margin:0 0 1.4em;
}

hr.space
{
  background:#fff;
  color:#fff;
}

.clearfix:after,.container:after
{
  content:"\0020";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
  overflow:hidden;
}

.clearfix,.container
{
  display:block;
}

.clear
{
  clear:both;
}

fieldset
{
  border:1px solid #ccc;
  margin:0 0 1.5em;
  padding:1.4em;
}

legend
{
  font-weight:700;
  font-size:1.2em;
}

/*input[type=text],input[type=password],input.text,input.title,textarea,select
{
  background-color:#fff;
  border:1px solid #bbb;
  margin:.5em 0;
}*/

input[type=text]:focus,input[type=password]:focus,input.text:focus,input.title:focus,textarea:focus,select:focus
{
  border-color:#666;
}

input.text,input.title
{
  width:300px;
  padding:5px;
}

input.title
{
  font-size:1.5em;
}

textarea
{
  width:390px;
  height:250px;
  padding:5px;
}

input[type=checkbox],input[type=radio],input.checkbox,input.radio
{
  position:relative;
  top:.25em;
}

form.inline
{
  line-height:3;
}

form.inline p
{
  margin-bottom:0;
}

.error,.notice,.success
{
  margin-bottom:1em;
  border:2px solid #ddd;
  padding:.8em;
}

.error
{
  background:#FBE3E4;
  color:#8a1f11;
  border-color:#FBC2C4;
}

.notice
{
  background:#FFF6BF;
  color:#514721;
  border-color:#FFD324;
}

.success
{
  background:#E6EFC2;
  color:#264409;
  border-color:#C6D880;
}

.error a
{
  color:#8a1f11;
}

.notice a
{
  color:#514721;
}

.success a
{
  color:#264409;
}

p,dl
{
  margin:0 0 1.5em;
}

a:focus,a:hover,.loud
{
  color:#000;
}

strong,dfn,dl dt,th,label
{
  font-weight:700;
}

em,dfn,tfoot
{
  font-style:italic;
}

del,.quiet
{
  color:#666;
}