/* ======== fix default InterMine CSS ======== */
a.button:hover { text-decoration:none; }
div.container a:visited { color:#404040; text-decoration:underline; }
div.container a:visited:hover { color:#000000; }
div.container a:link { color:#404040; text-decoration:underline; }
div.container a:link:hover { color:#000000; text-decoration:underline; }*/
#hintsDiv table { margin-bottom:0; }
#hintsDiv div.topBar { margin-bottom:0; }
div.body { display:none; }
ul#loginbar li { font-size:12.8px; }
ul#loginbar li a { font-size:12.8px; }
/*div#header h1 { font-family:"Myriad Pro",Arial,Garuda,Helvetica,Tahoma,sans-serif; margin:0; padding:0; }*/
div.container input[type=text],input[type=password],input.text,input.title,textarea,select { background-color:#fff; border:1px solid #bbb; margin:.5em 0; }
#pagecontent #navtrail p { font-size:11.2px; line-height:22px; margin-bottom:10px; }
#pagecontent #navtrail p a { color:#004499; }

/* ======== new metabolicMine ======== */
body { background:url("../img/top-gradient.jpg") repeat-x top; /*font-family:"Myriad Pro", Arial, Garuda, Helvetica, Tahoma, sans-serif; color:#404040;*/ }

div.container h1, h2, h3 { font-family:"Myriad Pro", Arial, Garuda, Helvetica, Tahoma, sans-serif; color:#4d5154; }
div.container h2 { font-size:27px; margin-bottom:0; }
div.container h3 { font-size:22px; margin-bottom:0; }
div.container h4 { color:#FB641E; font-size:14px; margin-bottom:6px; }
    h4 span { font-family:"Times New Roman", "Times Roman", serif; font-style:italic; letter-spacing:-1px; font-size:11px; }
div.container p { color:#4d5154; margin-bottom:14px; }

/*a { color:#404040; }*/
div.container a:hover { color:#000000; }

div.container a.button { font-family:"Myriad Pro", Arial, Garuda, Helvetica, Tahoma, sans-serif; font-size:13px; text-transform:uppercase;
	text-decoration:none; font-weight:bold; }
div.container input.button { font-family:"Myriad Pro", Arial, Garuda, Helvetica, Tahoma, sans-serif; font-size:13px; height:30px;
	/* Opera 9 does not uppercase input elements */ text-transform:uppercase; font-weight:bold; border:none; cursor:pointer; }

/* ======== PSD page preview ======== */

/*.container { background:url("../img/preview.png") no-repeat -103px -57px; min-height:2000px; }*/

#help a { position:absolute; top:180px; left:0; z-index:2000; background:url("../img/help-float.png") no-repeat top; font-size:0;
	height:46px; line-height:0; overflow:hidden; position:absolute; bottom:0px; right:0px; width:47px; z-index:10; padding:0;
	cursor:pointer; }

/* ======== header & menu ======== */
/*
#header { padding-top:30px; }
#title { background: url("../img/logo.png") no-repeat 20px; }
#title p { height:0; overflow:hidden; padding-top:19px; width:127px; margin-top:22px; }
#title span { float:right; padding:25px 6px 0 0; }

#quick-links { line-height:70px; float:right; margin-right:18px; }
#quick-links a { color:#404040; letter-spacing:-0.5px; }
    #quick-links a:hover { color:#000000; }
#quick-links span { color:#e2e1e6; padding:0 12px; }

#menu ul.navigation { list-style:none outside none; margin:-13px 0 0 0; padding:0; }
    #menu ul.navigation li { float:left; border-bottom:1px solid #FFFFFF; }
    #menu ul.navigation li a { background:url("../img/menu-gray-left.png") no-repeat scroll left top; padding-left:18px;
        display:block; text-decoration:none; line-height:42px; color:#4b3f4b; font-weight:bold; }
    #menu ul.navigation li a span { display:block; background:url("../img/menu-gray-right.png") no-repeat scroll right top;
                padding-right:18px; border-right:1px solid #FFFFFF; }
    #menu ul.navigation li a:hover { background:url("../img/menu-gray-hover-left.png") no-repeat scroll left top;
        color:#FFFFFF; }
    #menu ul.navigation li a:hover span { background:url("../img/menu-gray-hover-right.png") no-repeat scroll right top; }

    #menu ul.navigation li.current { border-bottom:1px solid #FA8700; }
    #menu ul.navigation li.current a { background:url("../img/menu-orange-left.png") no-repeat scroll left top; }
    #menu ul.navigation li.current a span { background:url("../img/menu-orange-right.png") no-repeat scroll right top; }

    #menu ul.navigation li span img { ; }

#menu #search-wrap { background:url("../img/search-gray-bg.png") repeat-x scroll top; line-height:42px;
    border-bottom:1px solid #FFFFFF; }
    #menu span.search-wrap-left { float:left; display:block; line-height:40px;
        background:url("../img/search-gray-left.png") no-repeat top; }
    #menu span.search-wrap-right { float:right; display:block; line-height:40px;
        background:url("../img/search-gray-right.png") no-repeat top; }

form#quick-search { float:right; margin-right:12px; }
    form#quick-search input.input { border:none; background:url("../img/form-input-left.png") no-repeat top; height:26px;
        width:140px; padding:2px 2px 2px 20px; font-size:11px; }
    form#quick-search div.input-right { background:url("../img/form-input-right.png") no-repeat right; font-size:13px;
        display:inline; padding:20px 6px 20px 0; }

    form#quick-search #select { display:inline; float:left; padding-top:6px; height:28px; line-height:30px; width:197px;
                                background:url("../img/select-bg.png") no-repeat 44px 6px; }
    form#quick-search select { display:none; }
    form#quick-search select.replaced { width:1px; position:absolute; left:-3333em; }
    form#quick-search ul.selectReplacement { background:url("../img/select-bg.png") top left no-repeat; height:26px;
        position:relative; z-index:1000; width:153px; display:block; margin:0 0 0 5px; padding-top:0; float:right; }
    form#quick-search ul.selectReplacement li { background:transparent; color:#000000; cursor:pointer; display:none;
        font-size:11px; margin:0; width:124px; line-height:24px; list-style:none; padding:4px 12px 4px 14px; }
    form#quick-search ul.selectOpen li { background:#ececec; }
    form#quick-search ul.selectOpen li { display:block; }
    form#quick-search ul.selectReplacement li.selected { color:#000000; display:block; }
    form#quick-search ul.selectOpen li.selected { background:#fe9600; border:0; display:block; }
    form#quick-search ul.selectOpen li:hover, form#quick-search ul.selectOpen li.hover,
    form#quick-search ul.selectOpen li.selected:hover {  background:#bfbfbf; color:#FFFFFF; }

    form#quick-search input.submit { background:url("../img/quick-search-submit-btn.png") no-repeat top;
        text-transform:uppercase; height:30px; color:#FFFFFF; border:none; font-weight:bold; cursor:pointer;
        font-size:11px; padding:2px 7px; }

#submenu { background:url("../img/submenu-orange-center.png") repeat-x scroll top; }
    #submenu span.submenu-orange-left { float:left; background:url("../img/submenu-orange-left.png") no-repeat top;
        display:block; line-height:40px; }
    #submenu span.submenu-orange-right { float:right; background:url("../img/submenu-orange-right.png") no-repeat top;
        display:block; line-height:40px; }
    #submenu ul.navigation { list-style:none outside none; margin:0; padding:0; }
        #submenu ul.navigation li { float:left; padding-left:12px; line-height:36px; }
        #submenu a { color:#4b3f4b; text-decoration:none; padding-right:12px; border-right:1px solid #fe9600; }
        #submenu li.current a { text-decoration:underline; }
            #submenu a:hover { color:#000000; }

#crumbs p { float:right; font-size:10px; color:#656565; margin-top:6px; padding-right:18px; }
    #crumbs p a { font-size:10px; color:#656565; text-decoration:none; }
    #crumbs p a.current { text-decoration:underline; }
    #crumbs p a:hover { color:#000000; }
    #crumbs p span { color:#e2e1e6; font-size:7px; }
*/

#welcome { margin:0 0 20px 0; }
	#welcome p { font-size:14px; line-height:24px; }

div.wide-blue div.top { background:url("../img/box-wide-blue-top.png") no-repeat top; height:5px; width:1000px; font-size:0; padding:0;
                        line-height:0; overflow:hidden; }
div.wide-blue div.center { background:url("../img/box-wide-blue-center.png") repeat-y scroll 0 0 transparent;
    padding:20px 0; position:relative; }
div.wide-blue div.bottom { background:url("../img/box-wide-blue-bottom.png") no-repeat bottom; height:5px; width:1000px;
    font-size:0; line-height:0; overflow:hidden; }

#welcome #thumb { margin:0; background:url("../img/welcome-thumb.png") no-repeat top; height:205px; }
    #welcome #thumb img { margin:2px 36px; }
#welcome a.close { background:url("../img/close-ico.png") no-repeat top; height:16px; width:16px; font-size:0;
    line-height:0; float:right; margin:-16px -12px 0 0; }
#welcome a.blue { background:url("../img/blue-on-blue-button.png") no-repeat top; color:#FFFFFF; padding:6px 26px; float:left; }
#welcome a.gray { background:url("../img/gray-button.png") no-repeat top; color:#505050; padding:6px 18px; float:left; }

div.wide-yellow div.top { background:url("../img/box-wide-yellow-top.png") no-repeat top; height:5px; width:1000px;
    font-size:0; line-height:0; overflow:hidden; }
div.wide-yellow div.center { background:url("../img/box-wide-yellow-center.png") repeat-y scroll 0 0 transparent;
    padding:20px 0; position:relative; }
div.wide-yellow div.bottom { background:url("../img/box-wide-yellow-bottom.png") no-repeat bottom; width:1000px;
    height:5px; font-size:0; line-height:0; overflow:hidden; }

#search-box #ribbon { background:url("../img/start-ribbon.png") no-repeat scroll 0 0 transparent; font-size:0;
    height:100px; left:0; line-height:0; overflow:hidden; position:absolute; top:-5px; width:100px; z-index:10; }
#search-box #magnifier { background:url("../img/magnifier-on-yellow.jpg") no-repeat 64px 20px; line-height:100px; }

#search-box h3 { margin-left:6px; margin-bottom:0; }
#search-box p { margin-right:16px; font-size:13px; }

form#search div.input { background:url("../img/search-box-wide.png") no-repeat top; margin-top:10px; height:36px; }
form#search input.input { border:none; background:none; width:284px; padding:4px 20px 4px 20px; margin-bottom:10px;
	/* IE7 */ *margin-bottom:-10px; /*line-height:34px;*/ }

#search-box input.orange { background:url("../img/orange-button-on-yellow.png") no-repeat bottom; color:#FFFFFF;
    padding:4px 40px; /* IE7 */ *padding:4px 20px; float:right; }
#search-box strong { color:#FB4F00; }

div.half-green div.top { background:url("../img/box-half-green-top.png") no-repeat top; height:5px; width:488px;
    font-size:0; line-height:0; overflow:hidden; margin-top:20px; }
div.half-green div.center { background:url("../img/box-half-green-center.png") repeat-y scroll 0 0 transparent;
    padding:10px 0; position:relative; min-height:210px; }
div.half-green div.bottom { background:url("../img/box-half-green-bottom.png") no-repeat bottom; width:488px;
    height:5px; font-size:0; line-height:0; overflow:hidden; }

div.half-violet div.top { background:url("../img/box-half-violet-top.png") no-repeat top; height:5px; width:488px;
    font-size:0; line-height:0; overflow:hidden; margin-top:20px; }
div.half-violet div.center { background:url("../img/box-half-violet-center.png") repeat-y scroll 0 0 transparent;
    padding:10px 0; position:relative; min-height:210px; }
div.half-violet div.bottom { background:url("../img/box-half-violet-bottom.png") no-repeat bottom; width:488px;
    height:5px; font-size:0; line-height:0; overflow:hidden; }

#lists div.text img, #template div.text img { float:left; padding-left:16px; padding-right:8px; }
#lists p, #template p { padding-left:16px; }
#lists div.thumb, #template div.thumb { background:url("../img/small-browser-thumb.png") no-repeat 252px 2px; }
    #lists div.thumb, #template div.thumb img { float:none; padding-top:18px; padding-bottom:20px; }

#lists h3 { color:#009900; margin-bottom:12px; }
#lists strong { color:#009900; }
#lists a.green { background:url("../img/green-button-on-green.png") no-repeat top; color:#FFFFFF;
    padding:6px 26px; float:right; }

#template h3 { color:#8047d1; margin-bottom:12px; }
#template strong { color:#8047d1; }
#template a.violet { background:url("../img/violet-button-on-violet.png") no-repeat top; color:#FFFFFF;
    padding:6px 28px; float:right; }

div.wide-gray div.top { background:url("../img/box-wide-gray-top.png") no-repeat top; height:5px; width:1000px;
    font-size:0; line-height:0; overflow:hidden; margin-top:20px; }
div.wide-gray div.center { background:url("../img/box-wide-gray-center.png") repeat-y scroll 0 0 transparent;
    padding:14px 0; position:relative; }
div.wide-gray div.bottom { background:url("../img/box-wide-gray-bottom.png") no-repeat bottom; width:1000px;
    height:5px; font-size:0; line-height:0; overflow:hidden; }

#actions { position:relative; }
#actions a.more { background:url("../img/more-corner.png") no-repeat top; font-size:0; height:58px; line-height:0;
    overflow:hidden; position:absolute; bottom:-2px; right:-1px; width:54px; z-index:10; padding:0; cursor:pointer; }

#actions div.search, #actions div.lists, #actions div.templates { position:relative; }

#actions h3 { color:#FFFFFF; padding:18px 10px 18px 66px; margin:0 16px 10px 26px; line-height:26px; height:52px;
	position:absolute; top:0px; left:0px; width:63%; }
#actions img { float:left; margin-top:6px; margin-left:10px; z-index:10; position:relative; }
#actions p { padding:0 16px 0 24px; margin:20px 0 13px 0; font-size:13px; }

#actions div.search h3 { background:#FB641E; }
#actions div.search strong { color:#FB4F00; }
#actions div.search input.orange-gray { background:url("../img/orange-button-on-gray.png") no-repeat bottom; color:#FFFFFF;
    padding:2px 40px; /* IE7 */ *padding:4px 20px; float:right; margin-right:30%; /* IE7 */ *margin-right:25%; }

#actions div.search div.input { background:url("../img/search-box-medium.png") no-repeat top; margin:0px 0px 20px 8px;
	height:36px; }
#actions div.search input.input { border:none; background:none; width:255px; padding:6px 20px 6px 30px; }

#actions div.lists h3 { background:#20A900; }
#actions div.lists strong { color:#009900; }
#actions div.lists a.green-gray { background:url("../img/green-button-on-gray.png") no-repeat top; color:#FFFFFF;
    padding:5px 46px; float:right; margin-right:30%; }

#actions div.templates h3 { background:#8A54D3; }
#actions div.templates strong { color:#8047d1; }
#actions div.templates a.violet-gray { background:url("../img/violet-button-on-gray.png") no-repeat top; color:#FFFFFF;
    padding:5px 28px; float:right; margin-right:30%; }

#more-actions div.action-1, #actions div.action-2, #actions div.action-3 { position:relative; }

#more-actions h3 { color:#FFFFFF; padding:18px 10px 18px 66px; margin:0 16px 10px 26px; line-height:26px; height:52px;
	position:absolute; top:0px; left:0px; width:63%; }
#more-actions img { float:left; margin-top:6px; margin-left:10px; z-index:10; position:relative; }
#more-actions p { padding:0 16px 0 24px; margin:25px 0 15px 0; }

#more-actions div.action-1 h3 { background:#DED580; }
#more-actions div.action-2 h3 { background:#5FD2CC; }
#more-actions div.action-3 h3 { background:#C960B2; }

#api, #rss, #testimonials { font-size:11px; }
	#api h4, #rss h4, #testimonials h4 { margin-top:6px; }
    #api img, #rss img, #testimonials img { float:left; padding-right:8px; padding-bottom:40px; }
    #api p, #rss p, #testimonials p { padding-right:28px; margin-bottom:4px; line-height:18px; }

#api ul { list-style:none; margin:0; }

#articles { margin-bottom:0; }
    #articles td { padding:0 0 6px 0; }
        #articles td.date { padding-right:16px; }
    #articles .date a { text-decoration:none; font-weight:bold; font-size:18px; line-height:14px; }
        #articles .date a span { font-size:12px; font-weight:normal; }

#testimonials q { color:#0891c1; font-style:italic; }

div.white div.top { background:url("../img/box-third-white-top.png") no-repeat top; height:5px; width:320px;
    font-size:0; line-height:0; overflow:hidden; margin-top:20px; }
div.white div.center { background:url("../img/box-third-white-center.png") repeat-y scroll 0 0 transparent;
    padding:4px 0 4px 14px; position:relative; min-height:100px; }
div.white div.bottom { background:url("../img/box-third-white-bottom.png") no-repeat bottom; width:320px;
    height:5px; font-size:0; line-height:0; overflow:hidden; }

div.white div.more { background:url("../img/box-third-white-gray-bottom.png") no-repeat bottom; width:320px;
    height:36px; }
div.white div.more a.more { background:url("../img/more-button.png") no-repeat top; overflow:hidden;
    text-decoration:none; padding:8px 30px; float:right; margin:4px; }

div.blue div.top { background:url("../img/box-third-blue-top.png") no-repeat top; height:5px; width:320px;
    font-size:0; line-height:0; overflow:hidden; margin-top:20px; }
div.blue div.center { background:url("../img/box-third-blue-center.png") repeat-y scroll 0 0 transparent;
    padding:4px 0 4px 14px; position:relative; min-height:100px; }
div.blue div.bottom { background:url("../img/box-third-blue-bottom.png") no-repeat bottom; width:320px;
    height:5px; font-size:0; line-height:0; overflow:hidden; }

#footer { margin-top:20px; font-size:10px; margin-bottom:-30px; } /* footer tile fix */
    #footer a { text-decoration:none; line-height:18px; }
	#footer p { line-height:18px; }
    #footer span { color:#e2e1e6; }