html, body {
	color: #000000;background-color: #FFF;}

body {
	background:#7EE6FF;}

h1, h2, h3, h1 a, h1 a:visited, label {
    color:#353B40;
}
h1 a:hover,h1 a:visited:hover  {
    color:#353B40;
    text-decoration: underline;
}

/* =HEADER
--------------------------*/
div#header h1, 
div#header h1 a, 
div#header h1 a:link,
div#header h1 a:visited, 
div#header p {
    color:#353B40;
}

div.title h1 {
    color: #FFF;}

.box .title {
  clear:both;
  padding: 5px;
  text-align: left; font-weight: normal; font-size: 14px; font-weight: bold; color:#FFF;}

.title a:link{
	color:#FFF;}

#topnav {
    background-color: #353B40; 
}

#pagecontent {
  border-left:1px solid #353B40;
  border-right:1px solid #353B40;
  border-bottom:1px solid #353B40;
}

#loginbar  a:link, #loginbar a:visited, #loginbar{
	color:#353B40;}

/* =BODY
--------------------------*/

.plainbox {
	padding:10px; border:1px solid #353B40;
	background-color: #D9F0D3;}

.gradientbox {
	padding:10px; 
	border:1px solid #353B40;
	background: url('grad_box.png') repeat-x;}


/* =NAVIGATION
--------------------------*/

ul#nav a{
	text-decoration:none; font-weight:bold;	background-image:url('corner_t_r.png'); background-repeat: no-repeat;	background-position: right top;	color:#353B40;}

ul#nav a:hover,ul#nav li#mymine a:hover{
	color:#333;}

ul#nav li#mymine a{
	color:white;background:url('corner_my_t_r.png') no-repeat top right;}

ul#nav li.activelink a{
	color:white;background:url('corner_act_t_r.png') no-repeat top right;}

ul#nav li#mymine {
	background:#A32220 url('corner_my_t_l.png') no-repeat;}

ul#nav li.activelink {
	background:#353B40 url('corner_act_t_l.png') no-repeat;}

ul#submenulist li#subactive_bag {
	font-weight:bold;color:#FFF;background:url('submenu_indent.png') no-repeat bottom center;}

ul#submenulist li#subactive_mymine {
	font-weight:bold;color:#FFF;background:url('submenu_my.png') no-repeat bottom center;}

ul#nav li{
	text-align: center;background:#D9F0D3 url('corner_t_l.png') no-repeat;}

.submenu{
	background:#353B40;
	border-left:1px solid #353B40;
	border-right:1px solid #353B40;}

.submenu_mymine{
	background:#A32220;}

ul#submenulist li a {
	color:#FFF;text-decoration: none;font-weight: bold;}

ul#submenulist li a:hover {
	color:#FFF;text-decoration: underline;font-weight: bold;}

/* =MEGATILE SEARCH
--------------------------*/

div.filterBar {
    background:#353B40;color:white;}

div#filter_tool_bar {
    background-color:#FFF;
    border-right:1px solid #353B40;
    border-left:1px solid #353B40;
    border-bottom:1px solid #353B40;
}

.imbox {
    padding:5px 5px 10px 5px; border-top:solid 1px #888; border-bottom:solid 1px #888; height:1.2em;
    font-size:0.8em; background:#9F67AD; color:white;}


/* =TOOLBOX RESULTS
--------------------------*/

.listtoolbox {
  background-image: url('grad_box.png');
  border:1px solid #D0B5D7;
}


.widgetcontainer {
  border:1px solid #D0B5D7;
  background: #FFF url('grad_box.png') repeat-x top;
}
#tool_bar_div {
    background-color:#D9F0D3;
}
.tb_button {
  border:1px solid #D9F0D3;
}
.tb_button:hover {
  margin-right:0;
  border-bottom:1px solid #5C0075;
  border-right:1px solid #5C0075;
}
.tb_button_active {
  border:1px solid #5C0075;
}


/* =WIDGET
--------------------------*/

.widget {
    max-height:400px;width: 450px;padding:15px;
    text-align: center; background-color: #F5F0FF;}

.widget p {
	font-size:10px;	}

.widget_slide {
	margin-top:10px; max-height:350px;
    overflow-x:none;overflow-y:auto;overflow: auto;}

#bagDescriptionDiv{
    background-color: #F5F0FF;}

#bagDescriptionDiv:hover{
	background-color: #E6FFB3;}

#textarea {
    background-color: #F5F0FF;}

.blueBg {
	padding: 20px;margin:20px;width:350px;
	background-color:#F5F0FF;text-align:center;}

table.dbsources {
	margin:10px 20px 10px 20px;}

table.dbsources th  {
	padding: 6px 6px 6px 12px;
	border-right: 1px solid #C1DAD7;border-bottom: 1px solid #C1DAD7;border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;text-transform: uppercase;text-align: left;font-weight: bold;font-size: 0.7em;color: white;
	background-color: #927F97;}

table.dbsources td {
	padding: 6px 6px 6px 12px;
	border-right: 1px solid #C1DAD7;border-bottom: 1px solid #C1DAD7;background: #fff;}

table.dbsources td.leftcol {
	border-left: 1px solid #C1DAD7;}
	
/* =RESULTS TABLES
-----------------------*/
table.results tr th {
    background-color: #353B40;font-size: 12px;color:#FFF;
}
table.results tr td.highlightCell, table.results tr.even td.highlightCell {
 	border-right:1px solid #FFF;background-color: #7EE6FF;}

table.results tfoot tr td {
  color:#FFF;
  background-color: #353B40;
}

table.results tr.even TD{
  background-color: #D9F0D3;}

table.results tr.odd TD{
  border-right:1px solid #D9F0D3;
  border-bottom:1px solid #D9F0D3;}

table.results tr td.highlightObject {
  background-color: #ee6;
}

/*    .columnHeader {
      background: #353B40;
    }*/