body
{
    font-size: 100%; /* NN4 */
    margin: 0;
    padding: 0;
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
    background-color: #fff;
}

a:link { color:#049; text-decoration:none }
a:visited { color:#049; text-decoration:none }
a:link:hover { color:#CF4D23; text-decoration:underline }
a:visited:hover { color:#CF4D23; text-decoration:underline }
a:link:active { color:#58e; text-decoration:none }

.openoffice
{
    padding-right: 21px;
    background: url(../images/openoffice.gif) right center no-repeat;

}

/*p
{
    text-align: justify;
}*/


span.organism-name
{
  font-style: oblique;
}

/**************************************/

#header
{
    padding: 5px;
    margin-bottom: 0px;
}

#title h1
{
  font-size: 1.6em;
  font-weight: bold;
  margin: 3px;
}

#title p
{
    font-size: 1.1em;
    font-weight: normal;
    color: black;
    margin: 0;
    margin-left: 2px;
}

#logo {
  margin-left: 5px;
  margin-right: 10px;
  float: left;
}

#title {
  margin-left: 80px;
}

.clear-both {
  content: ".";
  visibility: hidden;
  clear: both;
  height: 0px;
}

.links {
  clear: both;
  background-color: #fff;
  padding: 3px;
  border-top: 1px solid #888;
}
.links .menu-item {
  padding-right: 5px;
  padding-left: 5px;
  font-size: 11px;
  color: #999;
}
.links .menu-logged-in-item {
  font-size: 11px;
  color: #777;
  float: right;
  padding-right: 6px;
}

#todo {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 3em;
}

#todo li {
  float: left;
  display: block;
  padding: 0;
  margin: 0;
}

#todo li a {
  margin: 2px 4px;
  padding: 4px 6px;
  display: block;
  background: #eee;
}

#todo li a:hover {
  background: #ddd;
}

/**************************************/

#sidebar {
  vertical-align: top;
  margin: 0px;
  padding: 5px;
  border-right: 1px solid #888;
}

#sidebar .heading {
  margin: 5px;
  padding: 1px;
  padding-left: 5px;
  padding-right: 10px;
  border: 1px solid #888;
  background-color: #f5f5f5;
  font-size: 13px;
  color: black;
  white-space: nowrap;
}

#sidebar .body {
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
}

#sidebar .body ul {
    margin: 0px;
    padding: 0px;
    margin-left: 25px;
}

#sidebar .body ul li {
    font-size: 13px;
    text-transform: none;
    list-style-type: circle;
    border: none;
    background-color: white;
}

/**************************************/

#pagecontent {
  font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
}

/**************************************/

#static-table {
  width: 100%;
  background: white;
  border-bottom: 1px solid #888;
  border-top: 1px solid #888;
}

#static-content-td {
}

#static-content
{
  vertical-align: top;
  margin: 0px;
  padding: 5px;
  font-size: 12px;
  background-color: white;
  padding-bottom: 30px;
}

#static-content a:link, #static-content a:visited {
  text-decoration: underline;
}

#static-content ul li
{
  margin: 0px;
  padding: 0px;
}

#static-content ul li span
{
    font-weight: bold;
/*    letter-spacing: 0.2em; */
    margin: 10px 0;
    padding: 5px;
}

#static-content ul ul
{
    margin-bottom: 35px;
    list-style-image: none;
    list-style-type: disc;
}

#static-content ul ul li
{
/*    font-family: times, serif; */
    font-size: 1em;
    font-weight: normal;
    margin: 5px 0 0 0;
}

#static-content h2.title
{
    text-align: center;
}

#static-content p.author
{
    text-align: center;
}


/**************************************/

#address
{
  padding-left: 10px;
  font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
  padding: 8px 0;
  font-size: 10px;
  height: 1em;
}

.version {
  border: 1px solid #222;
  font-size: 15px;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-top: 2px;
  background-color: #FFCC66;
  line-height: 170%;
  font-weight: bold;
  text-shadow: black 0px 0px 2px;
}

#topright {
  float: right;
  padding-top: 6px;
  padding-right: 10px;
  font-size: 12px;
  text-align: right;
  line-height: 125%;
  margin-left: 10px;
}
#topright .wellcome {
  font-size: 11px;
}
#topright .contact {
  margin-top: 3px;
  font-size: 11px;
}

/**************************************/

.team_members td
{
    padding: 2px 2em;
}

.team_members tr+tr td
{
    border-top: #BBB dashed 1px;
}

/**************************************/

#static-content ul.fileformat
{
    list-style-type: none;
}

#static-content .fileformat li
{
    display: inline;
    margin-right: 10px;
}

#static-content .fileformat img
{
    border: none;
}

/**************************************/

.inlinegraphic
{
    display: block;
    padding: 0;
    background: white;
    border: solid black 1px;
    margin: 20px 20px;
}

.inlinegraphic-center
{
    display: block;
    padding: 0;
    background: white;
    border: solid black 1px;
    text-align: center;
    margin: 20px auto;
}

/**************************************/


address
{
    margin-left: 6em;
}

span.tutorial, span.organism
{
   font-style: oblique;
}

/**************************************/
/** "FlyMine is in Beta ..." message **/
#status {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 3px;
  background:#fff;
  width: 10em;
  border: solid 1px grey;
}
/**************************************/


/* Link Styles */

a.webapplink , a.webapplink:link, a.webapplink:visited, a.webapplink:active, a.webapplink:hover {
  background: url(../images/intlink.gif) right center no-repeat;
  padding-right: 15px;
  margin-right: 15px;
  white-space: nowrap;
}


/*INPUT.reset_button {background-color: pink;****/
/*	            color: yellow;             }**/


/* style for boxes with heading - used by the front page and the webapp */
.box .heading, .heading2 {
  border: 1px solid #888;
  background-color: #f5f5f5;
  padding: 1px;
  padding-left: 5px;
  margin: 5px;
  margin-bottom: -1px;
  font-size: 13px;
  color: black;
  white-space: nowrap;
}

/* Larger heading style used on static site. */
.heading2 {
  font-size: 14px;
  font-weight: bold;
  padding: 4px;
  padding-left: 7px;
  padding-right: 7px;
}

.box .body {
  font-size: 12px;
  margin: 5px;
  margin-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.boxbody {
  background-color: white;
}

.body .collapsed {
  font-size: 11px;
  font-style: italic;
  text-align: center;
  color: #888;
}

table.box {
  border: 1px solid #888;
}

table.box th {
  background: #eee;
  border-bottom: 1px solid #888;
}

table.box > tbody > tr > td {
  padding: 5px;
  background: white;
}

.help {
  padding: 5px;
  text-align: right;
  font-size: 11px;
  font-weight: normal;
}

table.box th.title {
  padding: 5px;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  font-weight: bold;
}

/*** News feed styles ****/

.news-title {
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 1px;
}

.news-date {
  color: #888;
  font-size: 10px;
  padding-bottom: 3px;
}

.news-item p {
  text-align: left;
  margin-top: 1px;
  padding-bottom: 6px;
  margin-bottom: 1px;
  border-bottom: 1px solid #bbb;
}

.news-item {
  padding: 3px;
  padding-bottom: 9px;
}


.startbutton {
  border: 1px solid #bbb;
  padding: 3px 6px 4px 6px;
  margin-top: 20px;
  font-size: 15px;
}

.dsIconLabel {
  margin-top: -3px;
  margin-left: 3px;
  font-size: 13px;
}

.dsIconDetail {
  margin-left: 3px;
  margin-top: 2px;
  font-size: 11px;
}

.dsIconImage {
  border: 1px solid #222;
  margin-bottom: 5px;
}

.dsSmallIconImage {
  border: 1px solid #222;
  margin-left: 2px;
  margin-right: 2px;
}

.aspectPageIcon {
  float: left;
  margin: 15px;
}

table.aspectIconsTable {
  margin-left: 10px;
  margin-bottom: 5px;
}

td.aspectIconCell {
  padding-right: 15px;
}

dd {
  margin-bottom: 7px;
  margin-top: 5px;
  margin-left: 35px;
  border-left: 1px dashed #888;
  padding-left: 10px;
}
