<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">

  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>InterMineWebApp</param-value>
  </context-param>

  <listener>
    <listener-class>org.intermine.web.logic.session.SessionListener</listener-class>
  </listener>

<!-- Main webapp mapping -->
<!-- ================================================================================ -->
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
<!-- ================================================================================= -->

<!-- DWR mapping -->
<!-- ================================================================================= -->
  <servlet>
  <servlet-name>dwr-invoker</servlet-name>
  <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
  <init-param>
     <param-name>debug</param-name>
     <param-value>true</param-value>
  </init-param>
    <init-param>
      <param-name>activeReverseAjaxEnabled</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>allowGetForSafariButMakeForgeryEasier</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <servlet-mapping>
  <servlet-name>dwr-invoker</servlet-name>
  <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>


<!-- ================================================================================= -->
<!-- OpenID Authenticator -->
<!-- ================================================================================= -->

  <servlet>
  <servlet-name>openid-auth</servlet-name>
  <servlet-class>org.intermine.web.logic.login.OpenIDAuthenticator</servlet-class>
  <init-param>
     <param-name>debug</param-name>
     <param-value>true</param-value>
  </init-param>
  </servlet>

  <servlet-mapping>
  <servlet-name>openid-auth</servlet-name>
  <url-pattern>/openid</url-pattern>
  </servlet-mapping>

<!-- ================================================================================= -->
<!-- Intermine Web Service mapping -->
<!-- ================================================================================= -->
  <servlet>
  <servlet-name>ws-query-results</servlet-name>
  <servlet-class>org.intermine.webservice.server.query.result.QueryResultServlet</servlet-class>
  <init-param>
     <param-name>debug</param-name>
     <param-value>true</param-value>
  </init-param>
  </servlet>

  <servlet-mapping>
  <servlet-name>ws-query-results</servlet-name>
  <url-pattern>/service/query/results</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>ws-query-to-list</servlet-name>
  <servlet-class>org.intermine.webservice.server.query.QueryToListServlet</servlet-class>
  <init-param>
     <param-name>debug</param-name>
     <param-value>true</param-value>
  </init-param>
  </servlet>

  <servlet-mapping>
  <servlet-name>ws-query-to-list</servlet-name>
  <url-pattern>/service/query/tolist/*</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>ws-query-append</servlet-name>
  <servlet-class>org.intermine.webservice.server.query.QueryListAppendServlet</servlet-class>
  <init-param>
     <param-name>debug</param-name>
     <param-value>true</param-value>
  </init-param>
  </servlet>

  <servlet-mapping>
  <servlet-name>ws-query-append</servlet-name>
  <url-pattern>/service/query/append/tolist/*</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>ws-query-upload</servlet-name>
  <servlet-class>org.intermine.webservice.server.query.QueryUploadServlet</servlet-class>
  <init-param>
     <param-name>debug</param-name>
     <param-value>true</param-value>
  </init-param>
  </servlet>

  <servlet-mapping>
  <servlet-name>ws-query-upload</servlet-name>
  <url-pattern>/service/query/upload</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>ws-lists</servlet-name>
  <servlet-class>org.intermine.webservice.server.lists.ListsServlet</servlet-class>
  <init-param>
     <param-name>debug</param-name>
     <param-value>true</param-value>
  </init-param>
  </servlet>

  <servlet-mapping>
  <servlet-name>ws-lists</servlet-name>
  <url-pattern>/service/listswithobject/*</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>ws-list-append</servlet-name>
  <servlet-class>org.intermine.webservice.server.lists.ListAppendServlet</servlet-class>
  <init-param>
     <param-name>debug</param-name>
     <param-value>true</param-value>
  </init-param>
  </servlet>

  <servlet-mapping>
  <servlet-name>ws-list-append</servlet-name>
  <url-pattern>/service/lists/append/*</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>ws-list-union</servlet-name>
  <servlet-class>org.intermine.webservice.server.lists.ListUnionServlet</servlet-class>
  <init-param>
     <param-name>debug</param-name>
     <param-value>true</param-value>
  </init-param>
  </servlet>

  <servlet-mapping>
  <servlet-name>ws-list-union</servlet-name>
  <url-pattern>/service/lists/union/*</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>ws-list-subtract</servlet-name>
  <servlet-class>org.intermine.webservice.server.lists.ListSubtractionServlet</servlet-class>
  <init-param>
     <param-name>debug</param-name>
     <param-value>true</param-value>
  </init-param>
  </servlet>

  <servlet-mapping>
  <servlet-name>ws-list-subtract</servlet-name>
  <url-pattern>/service/lists/subtract/*</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>ws-list-intersect</servlet-name>
  <servlet-class>org.intermine.webservice.server.lists.ListIntersectionServlet</servlet-class>
  <init-param>
     <param-name>debug</param-name>
     <param-value>true</param-value>
  </init-param>
  </servlet>

  <servlet-mapping>
  <servlet-name>ws-list-intersect</servlet-name>
  <url-pattern>/service/lists/intersect/*</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>ws-list-diff</servlet-name>
  <servlet-class>org.intermine.webservice.server.lists.ListDifferenceServlet</servlet-class>
  <init-param>
     <param-name>debug</param-name>
     <param-value>true</param-value>
  </init-param>
  </servlet>

  <servlet-mapping>
  <servlet-name>ws-list-diff</servlet-name>
  <url-pattern>/service/lists/diff/*</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>ws-available-lists</servlet-name>
  <servlet-class>org.intermine.webservice.server.lists.AvailableListsServlet</servlet-class>
  <init-param>
     <param-name>debug</param-name>
     <param-value>true</param-value>
  </init-param>
  </servlet>

  <servlet-mapping>
  <servlet-name>ws-available-lists</servlet-name>
  <url-pattern>/service/lists/*</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>ws-rename-list</servlet-name>
  <servlet-class>org.intermine.webservice.server.lists.ListRenameServlet</servlet-class>
  <init-param>
     <param-name>debug</param-name>
     <param-value>true</param-value>
  </init-param>
  </servlet>

  <servlet-mapping>
  <servlet-name>ws-rename-list</servlet-name>
  <url-pattern>/service/lists/rename/*</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>ws-template-upload</servlet-name>
  <servlet-class>org.intermine.webservice.server.template.TemplateUploadServlet</servlet-class>
  <init-param>
     <param-name>debug</param-name>
     <param-value>true</param-value>
  </init-param>
  </servlet>

  <servlet-mapping>
  <servlet-name>ws-template-upload</servlet-name>
  <url-pattern>/service/template/upload</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>ws-template-results</servlet-name>
  <servlet-class>org.intermine.webservice.server.template.result.TemplateResultServlet</servlet-class>
  <init-param>
     <param-name>debug</param-name>
     <param-value>true</param-value>
  </init-param>
  </servlet>

  <servlet-mapping>
  <servlet-name>ws-template-results</servlet-name>
  <url-pattern>/service/template/results</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>ws-template-to-list</servlet-name>
  <servlet-class>org.intermine.webservice.server.template.TemplateToListServlet</servlet-class>
  <init-param>
     <param-name>debug</param-name>
     <param-value>true</param-value>
  </init-param>
  </servlet>

  <servlet-mapping>
  <servlet-name>ws-template-to-list</servlet-name>
  <url-pattern>/service/template/tolist/*</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>ws-template-append</servlet-name>
  <servlet-class>org.intermine.webservice.server.template.TemplateListAppendServlet</servlet-class>
  <init-param>
     <param-name>debug</param-name>
     <param-value>true</param-value>
  </init-param>
  </servlet>

  <servlet-mapping>
  <servlet-name>ws-template-append</servlet-name>
  <url-pattern>/service/template/append/tolist/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ws-template</servlet-name>
    <servlet-class>org.intermine.webservice.server.template.AvailableTemplatesServlet</servlet-class>
    <init-param>
       <param-name>debug</param-name>
       <param-value>true</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>ws-template</servlet-name>
    <url-pattern>/service/templates/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ws-model</servlet-name>
    <servlet-class>org.intermine.webservice.server.model.ModelServlet</servlet-class>
    <init-param>
       <param-name>debug</param-name>
       <param-value>true</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>ws-model</servlet-name>
    <url-pattern>/service/model/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ws-widgets</servlet-name>
    <servlet-class>org.intermine.webservice.server.widget.WidgetsServlet</servlet-class>
    <init-param>
       <param-name>debug</param-name>
       <param-value>true</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>ws-widgets</servlet-name>
    <url-pattern>/service/widgets</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ws-version</servlet-name>
    <servlet-class>org.intermine.webservice.server.VersionServlet</servlet-class>
    <init-param>
       <param-name>debug</param-name>
       <param-value>true</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>ws-version</servlet-name>
    <url-pattern>/service/version/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ws-check-resource</servlet-name>
    <servlet-class>org.intermine.webservice.server.AvailableServicesServlet</servlet-class>
    <init-param>
       <param-name>debug</param-name>
       <param-value>true</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>ws-check-resource</servlet-name>
    <url-pattern>/service/check/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ws-possible-values</servlet-name>
    <servlet-class>org.intermine.webservice.server.path.PossibleValuesServlet</servlet-class>
    <init-param>
       <param-name>debug</param-name>
       <param-value>true</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>ws-possible-values</servlet-name>
    <url-pattern>/service/path/values</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ws-schemata</servlet-name>
    <servlet-class>org.intermine.webservice.server.SchemaServlet</servlet-class>
    <init-param>
       <param-name>debug</param-name>
       <param-value>true</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>ws-schemata</servlet-name>
    <url-pattern>/service/schema/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ws-summary-fields</servlet-name>
    <servlet-class>org.intermine.webservice.server.SummaryServlet</servlet-class>
    <init-param>
       <param-name>debug</param-name>
       <param-value>true</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>ws-summary-fields</servlet-name>
    <url-pattern>/service/summaryfields</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ws-code-gen</servlet-name>
    <servlet-class>org.intermine.webservice.server.query.CodeServlet</servlet-class>
    <init-param>
       <param-name>debug</param-name>
       <param-value>true</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>ws-code-gen</servlet-name>
    <url-pattern>/service/query/code</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>ws-service-listing</servlet-name>
    <servlet-class>org.intermine.webservice.server.ServicesListingsServlet</servlet-class>
    <init-param>
       <param-name>debug</param-name>
       <param-value>true</param-value>
    </init-param>
  </servlet>

  <!-- MUST BE LISTED LAST OF ALL WEBSERVICES AS IT IS THE MOST GENERAL -->
  <servlet-mapping>
    <servlet-name>ws-service-listing</servlet-name>
    <url-pattern>/service</url-pattern>
  </servlet-mapping>
<!-- ================================================================================= -->

  <session-config>
    <session-timeout>1440</session-timeout>      <!-- 1440 = 24 * 60 = 1 day -->
  </session-config>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <taglib>
    <taglib-uri>http://jakarta.apache.org/taglibs/string-1.1</taglib-uri>
    <taglib-location>/WEB-INF/string.tld</taglib-location>
  </taglib>

  <filter>
    <filter-name>DontCache</filter-name>
    <filter-class>org.intermine.web.filters.HeaderFilter</filter-class>
    <init-param>
      <param-name>Cache-Control</param-name>
    <param-value>no-cache,no-store,max-age=0</param-value>
    </init-param>
    <init-param>
      <param-name>Expires</param-name>
    <param-value>0</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>DontCache</filter-name>
    <url-pattern>/query.do</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>ExpireHeader</filter-name>
    <filter-class>org.intermine.web.filters.ExpiresHeaderFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>ExpireHeader</filter-name>
    <url-pattern>*.js</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>ExpireHeader</filter-name>
    <url-pattern>*.css</url-pattern>
  </filter-mapping>

 <filter>
  <filter-name>CompressingFilter</filter-name>
  <filter-class>com.planetj.servlet.filter.compression.CompressingFilter</filter-class>
 </filter>

 <filter-mapping>
  <filter-name>CompressingFilter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>

  <error-page>
    <error-code>500</error-code>
    <location>/static/flymine-offline/</location>
  </error-page>
  <error-page>
    <error-code>502</error-code>
    <location>/static/flymine-offline/</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/static/flymine-offline/</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/pagenotfound.do</location>
  </error-page>

  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <trim-directive-whitespaces>true</trim-directive-whitespaces>
    </jsp-property-group>
  </jsp-config>

  <!--@MODEL_INCLUDE@-->
</web-app>
