]#This is a tab delimited file providing taxonId configuration for the get_* data
#download scripts. The first value is a trigger for a regular expression to
#identify the correct taxons. The second value is the taxon ID needed.
#taxonds can be added as below or easily removed using a # at the beginning of the line.
#Phil North 04/2007

#some species and taxon Ids
#7227	Drosophila melanogaster
#6239	Caenorhabditis elegans


#### get_uniprot
uniprot 7227
uniprot 6239


#### get_ncbi_pubmed
pubmed	6239
pubmed	7227


#### get_go_annotation_gene_association_map
go_assoc	flybase	suffix	fb
go_assoc	wormbase	suffix	wb


#### get_intact
#intact	drome
#intact	caeel


####get_inparanoid
key_inparanoid	DROME
other_inparanoid	CAEEL
