#This is a tab delimited file providing taxonId configuration for the get_* data
#download scripts. The first value is a trigger for a regular expression to
#identify the correct taxons. The second value is the taxon ID needed.
#taxonds can be added as below or easily removed using a # at the beginning of the line.
#Phil North 04/2007

#some species and taxon Ids
#7227	Drosophila melanogaster
#7237	Drosophila pseudoobscura
#6239	Caenorhabditis elegans
#4932	Saccharomyces cerevisiae
#7165	Anopheles gambiae
#7460	Apis mellifera
#180454	Anopheles gambiae str. PEST
#9615	Canis familiaris
#7955	Danio rerio
#31033	Takifugu rubripes
#9031	Gallus gallus
#9606	Homo sapiens
#9598	Pan troglodytes
#99883	Tetraodon nigroviridis
#10090	Mus musculus
#10116	Rattus norvegicus
#4896	Schizosaccharomyces pombe
#36329	Plasmodium falciparum 3D7


####get_uniprot####
uniprot	7227
#uniprot	7237
uniprot	6239
uniprot	4932
#uniprot	7165
uniprot	7460
uniprot	180454
#uniprot	9615
#uniprot	7955
#uniprot	31033
#uniprot	9031
#uniprot	9606
#uniprot	9598
#uniprot	99883
#uniprot	10090
#uniprot	10116
#uniprot	4896
#uniprot	36329

####get_ncbi_pubmed####
pubmed	4932
pubmed	6239
pubmed	7227
pubmed	180454

####get_go_annotation_taxon_map####
go_taxon	180454	suffix	agp
go_taxon	7460	suffix	am
#go_taxon	9913	suffix	bovin
#go_taxon	9940	suffix	sheep
#go_taxon	9925	suffix	goat
#go_taxon	10090	suffix	mouse
#go_taxon	10116	suffix	rat
#go_taxon	9606	suffix	human

####get_go_annotation_gene_association_map####
go_assoc	flybase	suffix	fb
go_assoc	wormbase	suffix	wb
go_assoc	mgi	suffix	mgi
go_assoc	rgd	suffix	rgd
go_assoc	sgd	suffix	sgd
go_assoc	pombe	suffix	GeneDB_Spombe
#go_assoc	malaria	suffix	GeneDB_Pfalciparum

####get_intact####
intact	drome
intact	caeel
intact	yeast

####get_inparanoid####
#inparanoid	longsqltable.ensDM-ensAG
#inparanoid	longsqltable.ensDM-ensCE
#inparanoid	longsqltable.modCE-ensAG
key_inparanoid	DROME
key_inparanoid	DROPS
key_inparanoid	APIME
key_inparanoid	CAEEL
key_inparanoid	ANOGA
other_inparanoid	CANFA
other_inparanoid	DANRE
other_inparanoid	DICDI
other_inparanoid	GALGA
other_inparanoid	HOMSA
other_inparanoid	MUSMU
other_inparanoid	PANTR
other_inparanoid	RATNO
other_inparanoid	SACCE
other_inparanoid	SCHPO
#other_inparanoid	APIME
#other_inparanoid	CAEEL
#other_inparanoid	ANOGA
#other_inparanoid	DROPS

####get_ensemblgeneID2peptideID####
biomart	rnorvegicus	taxon	10116
biomart	hsapiens	taxon	9606
biomart	ggallus	taxon	9031
biomart	ptroglodytes	taxon	9598
biomart	cfamiliaris	taxon	9615
#biomart	drerio	taxon	7955

####other####
