ol#news li {
    list-style: disc;
    margin-bottom: 5px;
    padding-left: 5px;
}

#newsbox {
    height: 100px;
    overflow-y: auto;
    border-bottom: 1px solid #CCC;
}

.fp_button {
    float: right;
    clear: right;
}

ul.tabs {
    margin-top: 10px;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px; /*--Set height of tabs (does nothing) --*/
    border-bottom: 0;
    border-left: 1px solid #9E68AE;
    width: 977px;
    *height: 22px; /*(required for manky IE7)*/
}

ul.tabs li {
    float: left;
    margin: 0;
    padding: 0;
    height: 31px; /*--Subtract 1px from the height of the unordered list--*/
    line-height: 31px; /*--Vertically aligns the text within the tab--*/
    border: 1px solid #9E68AE;
    border-left: none;
    margin-bottom: -1px; /*--Pull the list item down 1px--*/
    overflow: hidden;
    position: relative;
    background: #FFF;
    color: #5C0075;
}

ul.tabs li a {
    text-decoration: none;
    color: #5C0075;
    display: block;
    font-size: 1.2em;
    padding: 0 20px;
    border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
    outline: none;
    margin: 0;
}

ul.tabs li a:hover {
    background: #5C0075;
}

html ul.tabs li.active, html ul.tabs li.active a:hover { /*--Makes sure that the active tab does not listen to the hover properties--*/
    background: #FCFAFF;
    border-bottom: 1px solid #FCFAFF; /*--Makes the active tab look like it's connected with its content--*/
}

.tab_container {
    border: 1px solid #9E68AE;
    border-top: none;
    overflow: hidden;
    clear: both;
    float: left;
    width: 100%;
    background: #FCFAFF;
}

.tab_content {
    padding: 20px;
    font-size: 12px;
    border-top: 1px solid #9E68AE;
}

/* page columns */
#left.column, #right.column {
    float: left;
}

#left.column {
    width: 330px;
}

#right.column {
    width: 645px;
}

/* main boxes */
#actions .plainbox {
    float: left;
    width: 300px;
    height: 216px;
}

#actions .plainbox {
    margin: 0 10px 10px 0;
}

#actions .plainbox.last {
    margin-right: 0;
    padding-right: 0;
}

#actions .plainbox dl {
    padding-bottom: 10px;
}

#actions .plainbox h1 {
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 70px;
    line-height: 64px;
    margin-bottom: 10px;
}

#actions .plainbox ul, #actions .plainbox form {
    margin-top: 6px;
}

#actions .plainbox textarea {
    width: 282px;
}

#actions .plainbox.search {;
}

#actions .plainbox.search h1 {
    background-image: url('../images/icons/search-64.png');
}

#actions .plainbox.search input#keywordSearch {
    width: 230px;
}

#actions .plainbox.api {;
}

#actions .plainbox.api h1 {
    background-image: url('../themes/metabolic/icons/perl-java-ico.gif');
}

#actions .plainbox.analyse {;
}

#actions .plainbox.analyse h1 {
    background-image: url('../images/icons/lists-64.png');
    padding-left: 80px;
}

#actions .plainbox.analyse input#submitBag {
    float: right;
    margin-right: 10px;
}

/* news */
#rss div.plainbox {
    margin: 0;
    margin-top: 5px;
    width: 956px;
    border: 1px solid #B8D9E2;
    background: #F1FAFE;
}

#rss div.plainbox h1 {
    background: url(../themes/purple/icons/rss-32.png) no-repeat left;
    padding-left: 40px;
    line-height: 32px;
    display: block !important;
    margin-bottom: 6px;
}

#rss div.plainbox #newsbox {
    padding-bottom: 2px;
}

/* tabbed menu */
ul.tabs li.link, ul.tabs li.link.active {
    border: 0;
    background: #FFF;
}

ul.tabs li.link a:hover {
    background: #FFF;
}

/* fix intermine */
div#navtrail {
    padding: 0 !important;
}

#pagecontent {
    width: 1002px !important;
}

html, body {
    font-family: 'Lucida Grande', Geneva, Lucida, Helvetica, Arial, sans-serif;
}

/* Verdana is too wide! */
/* newer FlyMine */
/*body { background:#dfdfdf url('../themes/phytomine/pale_green_grad.png') repeat-x top !important; }*/
#boxes div.inner {
    background: #FFF;
    min-height: 210px;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 60px;
}

#boxes div.inner div.bottom {
    position: absolute;
    bottom: 14px;
    left: 5px;
    width: 100%;
}

#boxes div.inner h3 {
    color: #FFF;
    font-family: "Myriad Pro", Arial, Garuda, Helvetica, Tahoma, sans-serif;
    padding: 4px 0 4px 80px;
    font-size: 24px;
    font-weight: normal;
}



#low h4 {
    color: #5C0075;
    font-size: 14px;
    margin-bottom: 8px;
}

#low h4 span {
    font-family: "Times New Roman", "Times Roman", serif;
    font-size: 11px;
    font-style: italic;
    letter-spacing: -1px;
}

#low #api {
    width: 300px;
    padding: 14px;
    float: left;
}

#low #api img {
    float: left;
    padding: 0 10px 50px 0;
}

#low #api ul {
    color: #535353;
    font-size: 12px;
    list-style-type: none;
    margin-top: 5px;
}

#low #api ul a {
    color: #535353;
    font-size: 13px;
    text-decoration: underline;
    font-size: 12px;
}

#low #api ul a:hover {
    color: #000;
}

#low #rss {
    width: 560px;
    padding: 14px;
    float: right;
}

#low #rss p.more {
    background: url("../themes/purple/homepage/full-divider.png") repeat-x top;
    padding: 4px 0;
    margin-top: 10px;
    line-height: 28px;
}

#low #rss p.more a {
    background: url("../themes/purple/homepage/more-pitchurka.png") no-repeat left;
    color: #535353;
    text-decoration: underline;
    padding-left: 16px;
}

#low #rss p.more a:hover {
    color: #000;
}

#articles {
    margin-bottom: 0;
}

#articles a {
    color: #535353;
    text-decoration: underline;
}

#articles a:hover {
    color: #000;
}

#articles td {
    padding: 0 0 6px 0;
    color: #535353;
}

#articles td {;
}

#articles td.date {
    padding-right: 16px;
}

#articles .date a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 14px;
}

#articles .date a span {
    font-size: 12px;
    font-weight: normal;
}

/* im:frontpage tagged lists */
#lists {
	border-top: 1px solid #EFEFEF;
	background: url("../themes/purple/homepage/bochs-bottom-grad.png") repeat-x bottom;
	padding: 14px 14px 0 14px;
	margin-bottom: 10px;
}

#lists h4 {
	color: #5C0075;
	font-size: 14px;
	margin-bottom: 8px;
}

#lists h5 {
	font-weight: normal;
	font-size: 13px;
	display: inline;
	color: #535353;
}

#lists ul {
	color: #292727;
	font-size: 13px;
	line-height: 16px;
	margin-top: 10px;
}

#lists ul li:not(:first-child) {
	margin-top: 6px;
}

#lists ul p, #lists ul span, #lists a {
	color: #535353;
}

#lists ul li a {
	text-decoration: underline;
}

#lists p.more {
	background: url("../themes/purple/homepage/full-divider.png") repeat-x top;
	padding: 4px 0;
	margin-top: 20px;
	line-height: 28px;
}

#lists p.more a {
	background: url("../themes/purple/homepage/more-pitchurka.png") no-repeat left;
	text-decoration: underline;
	padding-left: 16px;
}

#lists a:hover {
	color: #000;
}

#api-langs li {
    float: left;
}
