body 
{
    background: #F5F0FF;
}

a:link
{
    color: #00e;
}

/**************************************/

#header h1 a
{
    color: #5C0075;
}

#header p
{
    color: black;
}

#header
{
   
}

/**************************************/

#sidebar ul ul li a
{
    color: #5C0075;
}

/**************************************/

#footer
{
    background-color: #FFFFFF;
}


/**************************************/
