html, body 
{
    color: #000000;
    background-color: #F5F0FF;
}

a 
{
    color: #00e;
}

/**************************************/

#header h1 a
{
    color: #5C0075;
}

#header p
{
    color: black;
}

/**************************************/

#sidebar ul ul li a
{
    color: #5C0075;
}

/**************************************/

#pagecontent
{
    background: #F5F0FF;
}

/**************************************/

#footer
{
    background-color: #FFFFFF;
}


/**************************************/
