body 
{
    background: #F5F0FF;
}

/**************************************/

#header h1 a
{
    color: #5C0075;
}

#header p
{
    color: black;
}

/**************************************/

#footer
{
    background-color: #FFFFFF;
}


/**************************************/
table.dbstats {
  border:1px solid black;
  border-width:1px 0 0 1px;
  border-collapse:collapse;
}
table.dbstats td {
  border:1px solid black;
  border-width:0 1px 1px 0;
}
table.dbstats th {
  border:1px solid black;
  border-width:0 1px 1px 0;
  background: #eee;
}

#tipbox {width:50%;background-color:#F5F0FF;padding:3px;text-align:left;}
