body 
{
    background: #F5F0FF;
}

/**************************************/

#header h1 a
{
    color: #5C0075;
}

#header p
{
    color: black;
}

/**************************************/

#footer
{
    background-color: #FFFFFF;
}


/**************************************/
table.dbstats {
  border:1px solid black;
  border-width:1px 0 0 1px;
  border-collapse:collapse;
}
table.dbstats td {
  border:1px solid black;
  border-width:0 1px 1px 0;
}
table.dbstats th {
  border:1px solid black;
  border-width:0 1px 1px 0;
  background: #eee;
}

#tipbox {
   background-color:#F5F0FF;
   padding:3px;
//   text-align:left;
}

.tour {
  border: 0px;
  padding: 0px;
  margin: 0px;
}

.tour img {
  border: 0px;
}

.tour .nextprev {
  font-size: 65%;
}

.tour .heading {
  background-color: #eee;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}

.tour .title {
  font-size: 190%;
}

.tour .content {
  padding: 20px;
  font-size: 120%;
  margin: 30px
  padding: 30px
}

.tour .inlinetable {
  font-size: 100%;
}

