q<?xml version="1.0" encoding="utf-8"?>
<menu>
  <item title="Main">
    <item url="/index.xml" title="Home"/>
    <item url="http://mailman.flymine.org/listinfo/" title="Mailing lists"/>
    <item url="/doc/links.xml" title="Links"/>
    <item url="/contact/index.xml" title="Contact us"/>
  </item>

  <item title="Release info">
    <item url="/sources.xml" title="Data sources"/>
    <item url="/release-notes.xml" title="Release notes"/>
    <item url="/archive.xml" title="Archived releases"/>
  </item>

  <item title="News">
    <news id="news" limit="3"/>
    <item url="/news.xml" title="All news"/>
  </item>

  <item title="Documentation">
    <item url="/what.xml" title="Get Started"/>
    <item url="/doc/tutorials/index.xml" title="Tutorials"/>
    <item url="/doc/manual/index.xml" title="User Manual"/>
    <item url="/doc/presentations/index.xml" title="Presentations"/>
    <item url="/link.xml" title="Link to FlyMine"/>
    <item url="/cite.xml" title="Cite FlyMine"/>
  </item>
  
  <item url="/download/index.xml" title="Download software">
    <item url="/download/index.xml" title="SVN checkout"/>
    <item url="http://subversion.flymine.org/" title="Browse source"/>
  </item>
  
  <item title="Project">
    <item url="/project/index.xml" title="About"/>
    <item url="/project/team.xml" title="Team"/>
    <item url="/project/funding.xml" title="Funding"/>
    <item url="/project/jobs.xml" title="Jobs"/>
    <item url="/contact/index.xml" title="Contact"/>
  </item>
  
  <item title="Related Projects">
    <item url="http://www.intermine.org" title="InterMine"/>
    <item url="http://preview.stemcellmine.org" title="StemCellMine"/>
  </item>
  
  <item title="Internal">
    <item url="/internal/index.xml" title="Menu"/>
  </item>
</menu>

