html, body
{
    /* font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif; */
    font-size: 100%; /* NN4 */
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
/*  font-family: sans-serif; */
}

a:hover
{
    text-decoration: underline
}

.openoffice
{
    padding-right: 21px;
    background: url(../images/openoffice.gif) right center no-repeat;

}

span.fly
{
   font-style: oblique;
}

p
{
    text-align: justify;
}

/**************************************/

#header
{
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
    padding: 5px;
    border-bottom: solid black 1px;
    margin-bottom: 0px;
}

#header h1
{
    font-size: 1.6em;
    font-weight: bold;
    margin: 3px;
}

#header h1 a
{
    text-decoration: none;
}

#header p
{
    font-size: 1.2em;
    font-weight: normal;
    margin: 3px;
    color: black;
    padding: 0;
}

/**************************************/

#sidebar {
  float: right;
  top: 150px;
  right: 0px;
  width: 200px;
  background-color: white;
  padding: 0px 0px 5px 0px;
  margin: 0px 0px 20px 20px;
  border-left: 1px solid #888;
  border-bottom: 1px solid #888;
  border-top: none;
}

#sidebar ul {
    list-style-type: none;
    padding: 2px 0px 2px 4px;
    margin: 10px 0px 5px 5px;
}

#sidebar ul li {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  border-left: 1px solid #888;
  background-color: #f5f5f5;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  margin: 1px;
  margin-right: 0px;
  font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: black;
}

#sidebar ul ul {
    margin: 5px 0px 5px 20px;
}

#sidebar ul ul li {
    font-family: "verdana", "helvetica", "arial", sans-serif;
    font-size: 13px;
    text-transform: none;
    padding-left: 5px;
    padding-right: 5px;
    list-style-type: circle;
    border: none;
    background-color: white;
}


/**************************************/

#pagecontent
{
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 210px;

}

#pagecontent ul li
{
    margin: 10px  0 0 0;
    padding: 0;
}

#pagecontent ul li span
{
    font-weight: bold;
//    letter-spacing: 0.2em;
    margin: 10px 0;
    padding: 5px;
}

#pagecontent ul ul
{
    margin-bottom: 35px;
    list-style-image: none;
    list-style-type: disc;
}

#pagecontent ul ul li
{
//    font-family: times, serif;
    font-size: 1em;
    font-weight: normal;
    margin: 5px 0 0 0;
}

#pagecontent h2.title
{
    text-align: center;
}

#pagecontent p.author
{
    text-align: center;
}

/**************************************/

#footer
{
    position: absolute; /* For Safari */
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
    clear: both;
    border-top: solid black 1px;
    margin-top: 8em;
    padding: 5px 2em 1em 2em;
    font-size: 1em;
    font-size/**/: 0.6em; /* Mac IE Hack*/
    height: 1em;
}

#address
{
    float: left;
}

#wellcome
{
    float: right;
}

/**************************************/

#pagecontent ul.fileformat
{
    list-style-type: none;
}

#pagecontent .fileformat li
{
    display: inline;
    margin-right: 10px;
}

#pagecontent .fileformat img
{
    border: none;
}

/**************************************/

.inlinegraphic
{
    display: block;
    padding: 0;
    background: white;
    border: solid black 1px;
    margin: 20px 20px;
}

.inlinegraphic-center
{
    display: block;
    padding: 0;
    background: white;
    border: solid black 1px;
    text-align: center;
    margin: 20px auto;
}

/**************************************/


address
{
    margin-left: 6em;
}

span.tutorial, span.organism
{
   font-style: oblique;
}

/**************************************/
/** "FlyMine is in Beta ..." message **/
#status {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 3px;
  background:#fff;
  width: 10em;
  border: solid 1px grey;
}
/**************************************/
#content
{
  padding: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

.whiteboxwithborder {
                      background-color: #FFFFFF;
                      border: solid 1px grey; 
                    }
.datatitle        {
                    background-color: #FFFFFF;
                    border: solid 1px grey; 
                  }
.databody         {
                    border: solid 1px grey; 
                  }
.searchtitle      {
                    background-color: #FFFFFF;
                    border: solid 1px grey; 
	            font-size: small;
                  }
.searchbody       {
	            font-size: small;
                  }
.settingstitle    {
	            font-size: small;
                  }
.settingsbody     {                     
	            font-size: small;
                  }
.uploadtitle      {
	            font-size: small;
                  }
.uploadbody       {
                    background-color: #FFFFFF;
                    border: solid 1px grey; 
	            font-size: small;
                  }
.technicalinfo    { background-color: #FFFFFF; }
.toggle           { color: #3366FF; }
.error            { color: red; }
.note             { color: red; }
.pre              { font-family: monospace; }
.popup            { COLOR: #9F141A;
                    CURSOR: help;
                    TEXT-DECORATION: none
                  }
 

A.bblue           { color: #FFFFFF;
                    background-color: #9999FF;
                    font-size : small;
                    text-align: center;
                  }
A.bred            { color: #FFFFFF;
                    background-color: #FF6666;
                    font-size : small;
                    text-align: center;
                  }

/*INPUT.reset_button {background-color: pink;****/
/*	            color: yellow;             }**/


/* style for boxes with heading - used by the front page and the webapp */
.box .heading {
  border: 1px solid #888;
  background-color: #f5f5f5;
  padding: 1px;
  padding-left: 3px;
  margin: 3px;
  font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: black;
  white-space: nowrap;
}

.box .body {
  padding: 4px;
  margin: 3px;
  font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.boxbody {
  background-color: white;
}

.box .buildmenu .body {
  /*padding: 4px;
  margin: 3px;*/
  border: 1px solid #888;
  height: 10;
  font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.body .collapsed {
  font-size: 11px;
  font-style: italic;
  text-align: center;
  color: #888;
}

table.box {
  border: 1px solid #888;
}

table.box th {
  background: #eee;
  border-bottom: 1px solid #888;
}

table.box > tbody > tr > td {
  padding: 5px;
  background: white;
  font-size: 90%;
}

table.box th.help {
  padding: 5px;
  text-align: right;
  font-size: 11px;
  font-weight: normal;
  font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
}

table.box th.title {
  padding: 5px;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
}

div.docbook-page {
  background-color: white;
  border: solid #888 1px;
  padding: 5px;
}
