html, body 
{
    color: #000000;
    background-color: #FFF;
}

/**************************************/

div.title h1
{
    color: #FFF;
}

#header p
{
    /*color: black;*/
}

.box .title {
  padding: 5px;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  font-weight: bold;
  color:#FFF;
  /*background: #eee;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;*/
  clear:both;
}
.title a:link{
	color:#FFF;
}

.bag_background {background:#AD8668;}
.templates_background {background:#ff0000;}
.search_background {background:#4A497B;}
.customQuery_background {background:#589100;}
.aspects_background {background:#663366;}
.mymine_background {background:#9D66AD;}

table.results tr td.highlightCell {
  background-color: #FFCBFF;
}

.widget {
    padding:15px;
    text-align: center;
    width: 450px;
    background-color: #F5F0FF;
    max-height:400px;
}

.widget p {
	font-size:10px;	
}

.widget_slide {
	margin-top:10px;
    max-height:350px;
    overflow-x:none;
    overflow-y:auto;
    overflow: auto;
}

#bagDescriptionDiv{
	background-color: #F5F0FF;
	min-height:150px;
	width:70%;
	text-align:left;
	padding:10px;
}
#bagDescriptionDiv:hover{
	background-color: #E6FFB3;
}

#textarea {
	width:70%;
	height:150px;
	background-color: #F5F0FF;
	padding:10px;
}

.blueBg {
	background-color:#F5F0FF;
	text-align:center;
	padding: 20px;
	margin:20px;
	width:350px;
}

.boxcontentwelcome {
    border-left: 1px solid #9D66AD;
    border-right: 1px solid #9D66AD;
}
.boxbottomwelcome {
	height:9px;
    border-bottom: 1px solid #9D66AD;
}
.boxcontentqueries {
    border-left: 1px solid #589100;
    border-right: 1px solid #589100;
}
.boxbottomqueries {
	height:9px;
    border-bottom: 1px solid #589100;
}
.boxcontentlists {
    border-left: 1px solid #AD8668;
    border-right: 1px solid #AD8668;
}
.boxbottomlists {
	height:9px;
    border-bottom: 1px solid #AD8668;
}
.boxcontenttemplates {
    border-left: 1px solid #4A497B;
    border-right: 1px solid #4A497B;
}
.boxbottomtemplates {
	height:9px;
    border-bottom: 1px solid #4A497B;
}
.boxcontentcategories {
    border-left: 1px solid #663366;
    border-right: 1px solid #663366;
}
.boxbottomcategories {
	height:9px;
    border-bottom: 1px solid #663366;
}

