html, body 
{
    color: #000000;
    background-color: #F5F0FF;
}

/**************************************/

#header h1 a
{
    color: #5C0075;
}

#header p
{
    color: black;
}

.box .title {
  padding: 5px;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  font-weight: bold;
  background: #eee;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}

table.results tr td.highlightCell {
  background-color: #FFCBFF;
}

.widget {
    padding:15px;
    text-align: center;
    width: 450px;
    background-color: #F5F0FF;
    max-height:400px;
}

.widget p {
	font-size:10px;	
}

.widget_slide {
	margin-top:10px;
    max-height:350px;
    overflow-x:none;
    overflow-y:auto;
    overflow: auto;
}

#bagDescriptionDiv{
	background-color: #F5F0FF;
	min-height:150px;
	width:70%;
	text-align:left;
	padding:10px;
}
#bagDescriptionDiv:hover{
	background-color: #E6FFB3;
}

#textarea {
	width:70%;
	height:150px;
	background-color: #F5F0FF;
	padding:10px;
}

.blueBg {
	background-color:#F5F0FF;
	text-align:center;
	padding: 20px;
	margin:20px;
	width:350px;
}