div.imbedded-table-tooltip {
    border: 1px solid #DDD;
    width:              500px;
    padding:            5px;
    background-color:   #FF0084;
    color:              white;
    opacity:            0.90;
    font-family: "Cuprum", "Arial", sans-serif;
    font-weight: bold;
}

.imbedded-count-displayer {
    margin-left: 10px;
    margin-right: 10px;
}

.imbedded-table-container {
    margin: 20px;
    border: 1px solid #DDD;
    width: 70%;
    padding-bottom: 5px;
    border-radius: 2px 2px;
}

.imbedded-scroll-container {
    overflow: auto;
}

.imbedded-table-titlebox {
    font-size: 24px;
    padding: 20px;
    color: black;
    padding: 5px;
}

.imbedded-table-title {
    font-family: "Cuprum", "Arial", sans-serif;
    color: #444;
}

.imbedded-column-header-row {
    font-family: "Cuprum", "Arial", sans-serif;
    font-weight: bold;
    background: #FF0084;
    color: white;
}

.imbedded-table {
    border-collapse: collapse;
    width: 100%;
}

.imbedded-data-row {
    font-size: 16px;
    font-family: "Cuprum", "Arial", sans-serif;
    color: #444;
}

.imbedded-cell {
    padding: 4px;
}

.imbedded-cell > a {
    color: #444;
}

.imbedded-cell > a:hover {
    color: white;
}

.imbedded-row-odd {
    background: #D5E8F3;
}

.imbedded-row-odd:hover {
    background: #0073EA;
    color: white ! important;
}

.imbedded-row-odd:hover a {
    color: white ! important;
}

.imbedded-row-even {
    background: white;
}

.imbedded-row-even:hover {
    background: #0073EA;
    color: white ! important;
}

.imbedded-row-even:hover a {
    color: white ! important;
}

.imbedded-exportlink, .imbedded-pagelink {
    color: black ! important;
    font-size: 13px;
    padding-right: 5px;
    padding-left: 5px;
}

.imbedded-pagelink {
    float: right;
}

.imbedded-table-container > a {
    font-family: "Cuprum", "Arial", sans-serif;
    text-decoration: none;
}

.imbedded-table-container > a:hover {
    color: #FF0084 ! important;
}

.imbedded-table-expand-help {
    color: #888;
    float: right;
    font-size: 50%;
}

.imbedded-null {
    opacity: 0.5;
}
