html, body 
{
    color: #000000;
    background-color: #C2E31C;
}

a 
{
    color: #00e;
}

/**************************************/

#header h1 a
{
    color: #000000;
}

#header p
{
    color: #000000;
}

.box .title {
  padding: 5px;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  font-weight: bold;
  background: #D0EA53;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}

.contact a, .wellcome a{
	color: #000000;
}

table.dbsources {
	margin:10px 20px 10px 20px;}

table.dbsources th  {
	padding: 6px 6px 6px 12px;
	border-right: 1px solid #C1DAD7;border-bottom: 1px solid #C1DAD7;border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;text-transform: uppercase;text-align: left;font-weight: bold;font-size: 0.7em;color: white;
	background: url('table-heading-bg.gif') repeat-x;}

table.dbsources td {
	padding: 6px 6px 6px 12px;
	border-right: 1px solid #C1DAD7;border-bottom: 1px solid #C1DAD7;background: #fff;}

table.dbsources td.leftcol {
	border-left: 1px solid #C1DAD7;}
