 .frontpage_sections {
     font-family: Helvetica, "Lucida grande", sans-serif;
     color:#192F39;
     width:1084px;
     /*background-color:#61EDF5;*/
     padding:0px 0;margin:20px 0;
 }

.frontpage_sections ol {
    margin:0;
    padding:0;
}

.frontpage_sections li {
    float:left;
    margin:0;
    padding:20px 50px;
    width:260px;
    list-style: none;
    border-right:1px solid #63B7DE;
    text-align: center;
}

.section_link, a, a.section_link:visited, a.section_link:hover {
    color:#192F39;
    text-decoration: none;
}

.frontpage_sections p {
    float:left;
    text-align:left;
    font-size:12px;%;
    font-weight: normal;
}

.frontpage_sections i {
    text-align:left;
    font-size:12px;%;
    font-weight: normal;
}


.frontpage_sections li h3{
    float:left;
    margin:0;padding:0;
    font-size:22px;
    font-weight: bold;
}

.frontpage_sections li div {
    float:left;
    text-align:left;
    margin:0;
    width:240px;
    height:150px;
    padding:10px;
    font-size:12px;
    font-weight:bold;
    line-height:150%;
    background-color:#63B7DE;
}

.frontpage_sections li div img {
    margin-top:30px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    border:none;
}

.frontpage_sections li div form {
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
}

.frontpage_sections li div li {
    margin: 0px;
    padding: 0px;
    text-align: left;
    font-size: 0.8em;
    list-style: disc;
    margin-left: 15px;
    width: 220px;
}

.qs_input {
   border:2px solid #192F39;
   font-size:1.2em;
   width:180px;
}

li.last_section {
    border:none;
}

table.projects {
    width:1000px;
    margin:0;
    border-top: 1px solid #B9E6F9;
    border-left: 1px solid #B9E6F9;
    font-size:1em;
}

table.projects th  {
    font-size:16px;
    text-align:left;
    padding: 5px;
    background-color: #B9E6F9;
    color:#004499;
    border-right: 1px solid #FFF;
}

table.projects td {
    padding: 6px 6px 6px 12px;
    border-right: 1px solid #B9E6F9;
    border-bottom: 1px solid #B9E6F9;
    background: #fff;
}

table.projects td h4{
    margin:0; padding:0;
    font-size: 16px;
}

table.projects td.leftcol {
    border-left: 1px solid #C1DAD7;
}

table.projects td.internal {
  border-bottom: 1px solid #C1DAD7;
  background: #fff;
}


