
body {
font-family: 'Droid Serif', Georgia, 'Linux Libertine', Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;
margin: 0;
margin-bottom: 25px;
padding: 0;
background-color: #ddd;
background-image: url("../images/perldancer-bg.jpg"); 
background-repeat: no-repeat;
background-position: top left;

font-size: 13px;
color: #333;
}

h1 {
font-size: 32px;
color: #333;
}

a  {color: #03c}
a[icon ^="out"] {
    padding-right: 20px;
    background: transparent url(../images/extlink.gif) no-repeat center right;
}

a[icon ^="delete"] {
    color: #333;
    margin-left: 10px;
    padding-left: 20px;
    background: transparent url(../images/delete.png) no-repeat center left;
}

#controls {
    margin-bottom: 15px;
}


#gene-list-box div ul li a {
    text-decoration: none;
    padding: 4px;
}

img.throbber {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

div.placeholder-text {
    border: 3px solid #ddd;
    font-family: 'Judson', helvetica, arial, serif;
    font-size: 14px;
}

#page {
background-color: #ddd;
max-width: 750px;
margin: auto;
margin-left: auto;
padding-left: 0px;
margin-right: auto;
}

#content {
background-color: white;
border: 3px solid #aaa;
border-top: none;
border-bottom: none;
padding: 25px;
max-width: 650px;
margin-left: auto;
margin-right: auto;
}

#banner, div.footerbar {
    max-width: 706px;
    margin-left: auto;
    margin-right: auto;
}

.summary {
    background-color: #ddd;
    vertical-align: top;
}

input[type=text] {
    width: 80%;
}

fieldset input[type=text] {
    margin-bottom: 15px;
}

ul.menu {
    background-color: #555;
    padding: 10px;
    margin: 0px;
}

ul.menu li {
    display: inline;
    background-color: #555;
    padding: 10px;
    margin: 0px;
}

table.details {
    border-collapse: collapse;
}

table.details tr td{
    padding: 8px;
    border: 2px solid #ccc;
}

ul.menu li:hover, ul.menu li:hover a, ul.menu li.current-tab, ul.menu li.current-tab a {
    color: #666;
    background-color: white;
}

ul.menu a {
    color: white;
    font-family: 'Droid Sans', 'Helvetica', sans-serif;
    text-decoration: none;
    font-weight: bold;
}

td.key, td.value {
    font-family: "Droid Sans", Helvetica, "trebuchet MS", sans-serif;
}

td.value {
    font-family: "Droid Sans", Helvetica, "trebuchet MS", sans-serif;
}

/* Styles for particular fields */
td.value.salary, td.value.seniority, td.value.fullTime {
    font-family: "Droid Sans Mono", monospace;
    text-align: right;
}

#sidebar {
float: right;
width: 175px;
}

#heading {
padding-left: 25px;
padding-right: 30px;
background-color: white;
padding-bottom: 10px;
border: 3px solid #aaa;
border-bottom: none;
}

div.content-end {
    border-bottom: 3px solid #aaa;
}

#heading h1, #heading h3, p {
    margin: 5px;
    font-family:  'Droid Serif', 'Judson', 'Times New Roman', serif;
    font-weight: 700;
}

h2.displayname {
    font-family: 'Droid Serif', 'Georgia', 'Times New Roman', 'Judson', serif;
    font-weight: 700;
}


#header h2 {
color: #888;
font-weight: normal;
font-size: 16px;
}


#about h3 {
margin: 0;
margin-bottom: 10px;
font-size: 14px;
}

#about-content {
background-color: #ffd;
border: 1px solid #fc0;
margin-left: -11px;
}
#about-content table {
margin-top: 10px;
margin-bottom: 10px;
font-size: 11px;
border-collapse: collapse;
}
#about-content td {
padding: 10px;
padding-top: 3px;
padding-bottom: 3px;
}
#about-content td.name  {color: #555}
#about-content td.value {color: #000}

#about-content.failure {
background-color: #fcc;
border: 1px solid #f00;
}
#about-content.failure p {
margin: 0;
padding: 10px;
}


#getting-started {
border-top: 1px solid #ccc;
margin-top: 25px;
padding-top: 15px;
}
#getting-started h1 {
margin: 0;
font-size: 20px;
}
#getting-started h2 {
margin: 0;
font-size: 14px;
font-weight: normal;
color: #333;
margin-bottom: 25px;
}
#getting-started ol {
margin-left: 0;
padding-left: 0;
}
#getting-started li {
font-size: 18px;
color: #888;
margin-bottom: 25px;
}
#getting-started li h2 {
margin: 0;
font-weight: normal;
font-size: 18px;
color: #333;
}
#getting-started li p {
color: #555;
font-size: 13px;
}


#search {
margin: 0;
padding-top: 10px;
padding-bottom: 10px;
font-size: 11px;
}
#search input {
font-size: 11px;
margin: 2px;
}
#search-text {width: 170px}


#sidebar ul {
margin-left: 0;
padding-left: 0;
}
#sidebar ul h3 {
margin-top: 25px;
font-size: 16px;
padding-bottom: 10px;
border-bottom: 1px solid #ccc;
}
#sidebar li {
list-style-type: none;
}
#sidebar ul.links li {
margin-bottom: 5px;
}

#banner {
    margin-top: 20px;
}

p {
line-height: 1.5em;
margin: 1.6em 0;
font-size: 16px;
}

code, tt {
    font-family: 'Andale Mono', Monaco, 'Liberation Mono', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', monospace;
}

#footer {
clear: both;
padding-top: 2em;
text-align: center;
padding-right: 160px;
font-family: sans-serif;
font-size: 10px;
}
