a {
    color: #444;
}

ul.menu, ul.menu li {
    background-color: #558EDD;
}

ul.menu a {
    color: #494D53;
}

ul.menu li:hover, ul.menu li:hover a, ul.menu li.current-tab, ul.menu li.current-tab a {
    color: #558EDD;
    background-color: #494D53;
}

#heading h1 {
    font-family: 'Cabin Sketch', serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    text-shadow: none;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.2;
}

div#page {
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
}
