<cruisecontrol>
    <project name="flymine">

      <bootstrappers>
        <currentbuildstatusbootstrapper file="/shared/log/buildlog/currentbuildstatus.txt"/>
      </bootstrappers>

      <modificationset quietperiod="300" dateformat="yyyy-MMM-dd HH:mm:ss">
        <cvs cvsroot=":ext:cvs-internal.flymine.org:/cvs"
          localworkingcopy="/shared/log/buildlog/.projects"/>
      </modificationset>

      <schedule interval="300" intervaltype="relative">
        <!-- The regular build attempt -->
        <ant buildfile="./flymine-cc.xml" target="cleanbuild" multiple="1"/>
        <!-- The official nightly build and release (midnight) -->
        <ant buildfile="./flymine-cc.xml" target="nightlybuild" time="0000"/>
      </schedule>

      <log dir="/shared/log/buildlog" encoding="ISO-8859-1">
        <merge dir="/shared/log/buildlog/.projects/flymine/results/junit/"/>
      </log>

      <publishers>
        <currentbuildstatuspublisher file="/shared/log/buildlog/currentbuildstatus.txt"/>
        <email reportsuccess="always"
          mailhost="mail.flymine.org"
          returnaddress="flymine@flymine.org"
          defaultsuffix="@flymine.org"
          spamwhilebroken="false"
          buildresultsurl="http://www1.flymine.org:8080/cruisecontrol/buildresults">
          <always address="andy@flymine.org"/>
          <failure address="andy@flymine.org"/>
        </email>
      </publishers>

      <plugin name="cvs" classname="net.sourceforge.cruisecontrol.sourcecontrols.CVS"/>
      <plugin name="currentbuildstatusbootstrapper" classname="net.sourceforge.cruisecontrol.bootstrappers.CurrentBuildStatusBootstrapper"/>
      <plugin name="ant" classname="net.sourceforge.cruisecontrol.builders.AntBuilder"/>
      <plugin name="currentbuildstatuspublisher" classname="net.sourceforge.cruisecontrol.publishers.CurrentBuildStatusPublisher"/>
      <plugin name="labelincrementer" classname="net.sourceforge.cruisecontrol.labelincrementers.DefaultLabelIncrementer"/>
      <plugin name="htmlemail" classname="net.sourceforge.cruisecontrol.publishers.HTMLEmailPublisher"/>
      <plugin name="pause" classname="net.sourceforge.cruisecontrol.PauseBuilder"/>

    </project>

</cruisecontrol>
