html, body {
    color: #000000;
}

body {
    background:#F5F0FF url('top_gradient.png') repeat-x;
}

/* =HEADER
--------------------------*/
div#header h1,
div#header h1 a,
div#header h1 a:link,
div#header h1 a:visited,
div#header p {
    color:#FFF;
}

div.title h1 {
    color: #FFF;}

.box .title {
  clear:both;
  padding: 5px;
  text-align: left; font-weight: normal; font-size: 14px; font-weight: bold; color:#FFF;}

.title a:link{
    color:#FFF;}

/*#topnav {
}
*/

#pagecontent {
  border-left:1px solid #D3BAE3;
  border-right:1px solid #D3BAE3;
  border-bottom:1px solid #D3BAE3;
}

#loginbar  a:link, #loginbar a:visited, #loginbar{
    color:#5C0075;}


/* =BODY
--------------------------*/

.plainbox, .plainboxFixed {
    padding:10px; border:1px solid #9E68AE;
    background-color: #F5F0FF;}

.gradientbox {
    padding:10px;
    border:1px solid #9E68AE;background: url('grad_box.png') repeat-x;}


/* =NAVIGATION
--------------------------*/

ul#nav a{
    text-decoration:none; color: #5C0075; font-weight:bold;	background-image:url('corner_t_r.png'); background-repeat: no-repeat;	background-position: right top;	color:white;}

ul#nav a:hover,ul#nav li#mymine a:hover{
    color:#333;}

ul#nav li#mymine a{
    color:white;background:url('corner_my_t_r.png') no-repeat top right;}

ul#nav li.activelink a{
    color:white;background:url('corner_act_t_r.png') no-repeat top right;}

ul#nav li#mymine {
    background:#9B89A7 url('corner_my_t_l.png') no-repeat;}

ul#nav li.activelink {
    background:#5C0075 url('corner_act_t_l.png') no-repeat;}

ul#submenulist li#subactive_bag, ul#submenulist li#subactive_api { height:37px;
    font-weight:bold;color:#FFF;background:url('submenu_indent.png') no-repeat bottom center; }

ul#submenulist li#subactive_mymine {
    font-weight:bold;color:#FFF;background:url('submenu_my.png') no-repeat bottom center;}

ul#nav li{
    text-align: center;background:#9F67AD url('corner_t_l.png') no-repeat;}

.submenu{
    background:#5C0075;
    border-left:1px solid #5C0075;
    border-right:1px solid #5C0075;}

.submenu_mymine{
    background:#9B89A7;}

ul#submenulist li a {
    color:#FFF;text-decoration: none;font-weight: bold;}

ul#submenulist li a:hover {
    color:#FFF;text-decoration: underline;font-weight: bold;}

/* =MEGATILE SEARCH
--------------------------*/

div.filterBar {
    background:#9F67AD;color:white;}

div#filter_tool_bar {
    background-color:#FFF;
    border-right:1px solid #9F67AD;
    border-left:1px solid #9F67AD;
    border-bottom:1px solid #9F67AD;
}


.imbox {
    padding:5px 5px 10px 5px; border-top:solid 1px #888; border-bottom:solid 1px #888; height:1.2em;
    font-size:0.8em; background:#9F67AD; color:white;}

/* =TOOLBOX RESULTS
--------------------------*/

.listtoolbox {
  background-image: url('grad_box.png');
  border:1px solid #D0B5D7;
  background-color: #FEFDFF;
}

#tool_bar_div {
    background-color:#F4EEF7;
}

.tb_button {
  border:1px solid #F5F0FF;
}
.tb_button:hover {
  margin-right:0;
  border-bottom:1px solid #000;
  border-right:1px solid #000;
}
.tb_button_active {
  border:1px solid #000;
}


/* =WIDGET
--------------------------*/

.widgetcontainer {
  border:1px solid #D0B5D7;
  background: #feffff url('grad_box.png') repeat-x top;
}

.widget {
    max-height:400px;width: 450px;padding:15px;
    text-align: center; background-color: #F5F0FF;}

.widget p {
    font-size:10px;	}

.widget_slide {
    margin-top:10px; max-height:350px;
    overflow-x:none;overflow-y:auto;overflow: auto;}

#bagDescriptionDiv{
    background-color: #F5F0FF;}

#bagDescriptionDiv:hover{
    background-color: #E6FFB3;}

#textarea {
    background-color: #F5F0FF;}

.blueBg {
    padding: 20px;margin:20px;width:350px;
    background-color:#F5F0FF;text-align:center;}

table.dbsources {
    margin:10px 20px 10px 20px;}

table.dbsources th  {
    padding: 6px 6px 6px 12px;
    border-right: 1px solid #CCC;border-bottom: 1px solid #CCC;border-top: 1px solid #CCC;
    letter-spacing: 2px;text-transform: uppercase;text-align: left;font-weight: bold;font-size: 0.7em;color: white;
    background-color: #333;}

table.dbsources td {
    padding: 6px 6px 6px 12px;
    border-right: 1px solid #CCC;border-bottom: 1px solid #CCC;background: #fff;}

table.dbsources td.leftcol {
    border-left: 1px solid #CCC;}

.columnHeader {
  background: #927F97;
}

#listTags { background-color: #F5F0FF; margin-left: 10px; padding: 3px 10px; }

/* keyword search results */
.keywordSearchResults .resultTableContainer table.dbsources { border-left: 1px solid #F5F0FF; border-bottom: 1px solid #F5F0FF; }
    .keywordSearchResults .resultTableContainer table.dbsources th { background:#5C0075; color:#FFF; font-size:13px; padding:2px 8px;
        text-transform:none; }
    .keywordSearchResults .resultTableContainer table.dbsources tr.keywordSearchResult { color:#882FA8; }
        .keywordSearchResults .resultTableContainer table.dbsources tr.keywordSearchResult td { line-height:12px; }
        .keywordSearchResults .resultTableContainer table.dbsources tr.keywordSearchResult div { margin:0; }
        .keywordSearchResults .resultTableContainer table.dbsources tr.keywordSearchResult.odd td { border-bottom:1px solid #F5F0FF;
    border-top:1px solid #F5F0FF; background:#FEFAFF; }
    .keywordSearchResults .resultTableContainer table.dbsources td { border-right: 1px solid #F5F0FF; border-bottom:none; padding:4px 8px 2px 8px; }

.keywordSearchResults .resultTableContainer table.dbsources table.inner td { color:#882FA8; }

.keywordSearchResults .resultTableContainer table.dbsources div.objectKeys a,
.keywordSearchResults .resultTableContainer table.dbsources tr.keywordSearchResult a span.value { font-size:14px; }

div.keywordSearch div.examples h4 { color:#4891EB !important; }
.keywordSearchResults .facets h4 { color:#5C0075; }
.keywordSearchResults .resultTableContainer table.dbsources tr.keywordSearchResult a span.value { color:#292727; }

/* keyword search results relevancy */
div.resultTableContainer td.relevance div.full { color:#ff0000; }
div.resultTableContainer td.relevance div.empty { color:#999999; }

/* lists analysis (bagDetails.do) */
div.heading.results { border:1px solid #9E68AE; background:#F5F0FF; margin-left:0; }
div.heading.results h1 { color:#5C0075; font-size:22px; margin-bottom:10px; }
div.heading.results #tool_bar_div { float:left; background:#F5F0FF !important; }
div.heading.results #tool_bar_div li { border:1px solid #D2D2D2; background:#EEEEEE; margin-right:10px; padding:4px; font-weight:normal; }

/* submenu border */
ul#submenulist li div { border-left-color:#FFF; }

/* login bar */
ul#loginbar li { border-right-color:#5C0075; }

/* homepage (begin.css) */
#boxes input.dark[type="submit"] { background:url("homepage/button-violet-dark.png") no-repeat scroll center bottom transparent;
  color:#FFF; padding:2px 36px; }
#boxes input.light[type="submit"] { background:url("homepage/button-plush.png") no-repeat scroll center bottom transparent;
  color:#FFF; padding:2px 36px; }

/* bagUploadConfirm */
#pagecontentcontainer.bagUploadConfirm-page table.inlineResultsTable a { color:#5c0075; }
#pagecontentcontainer.bagUploadConfirm-page table.inlineResultsTable thead td { background:#F4EEF7;  }
#pagecontentcontainer.bagUploadConfirm-page table.inlineResultsTable tbody tr.even td { background:#fcfafd; }
#pagecontentcontainer.bagUploadConfirm-page table.inlineResultsTable tbody tr td { border-top-color:#DCC8E2; border-bottom-color:#DCC8E2; }
#pagecontentcontainer.bagUploadConfirm-page table.inlineResultsTable td.identifier { color:#886644; }
#pagecontentcontainer.bagUploadConfirm-page h3 { color: #5C0075; background:#F4EEF7; border-top-color:#5C0075; }
#pagecontentcontainer.bagUploadConfirm-page div.description { background:#F4EEF7; }
#pagecontentcontainer.bagUploadConfirm-page #chooseName,
#pagecontentcontainer.bagUploadConfirm-page #additionalMatches { background:#FFFEFE; }

/* report page */
#pagecontentcontainer.report-page #header_wrap { background-color:#F4EEF7; background-image:url("report/header-bg.png"); }
#pagecontentcontainer.report-page #object_header h1.title span { color:#5c0075; }
#pagecontentcontainer.report-page #object_header div.box h3 { background:#F0E3F7; }
#pagecontentcontainer.report-page #object_header div.list.box span { color:#5C0075; }
#pagecontentcontainer.report-page #fixed-menu { background:#5D2FBC; }
#pagecontentcontainer.report-page #toc-menu-wrap { background:#F4EEF7; }
#pagecontentcontainer.report-page #fixed-menu span,
#pagecontentcontainer.report-page #toc-menu-wrap span { color:#F4EEF7; }
#pagecontentcontainer.report-page #menu-target { background:#F4EEF7; }
#pagecontentcontainer.report-page #fixed-menu div.wrap,
#pagecontentcontainer.report-page #toc-menu-wrap div.wrap { background:#5D2FBC; border-color:#280079; }
#pagecontentcontainer.report-page #toc-menu-wrap div.wrap a,
#pagecontentcontainer.report-page #fixed-menu div.wrap a { color:#FFF; }
#pagecontentcontainer.report-page #toc-menu-wrap div.links a.current,
#pagecontentcontainer.report-page #fixed-menu div.links a.current { background:#FFF; color:#280079; border-color:#280079; }
#pagecontentcontainer.report-page #in-lists div.heading { background:#F4EEF7 !important; border-color:#5C0075; color:#5C0075 !important; text-shadow:1px 1px 1px #FFF; }
#pagecontentcontainer.report-page .container_12 .highlight { background-color: #FFF3D3; }
#pagecontentcontainer.report-page #object_header #headerLink a { color:#5C0075; }
#pagecontentcontainer.report-page #object_header p.share a { color:#5C0075; }
#pagecontentcontainer.report-page h2 { color:#000; }
#pagecontentcontainer.report-page #cwtabsbyside a { color:#5C0075; }
#pagecontentcontainer.report-page #cwtabsbyside fieldset,
#pagecontentcontainer.report-page #cwtabsbyside ul li { border-color:#DCC8E2; }
#pagecontentcontainer.report-page #cwtabsbyside ul,
#pagecontentcontainer.report-page #cwtabsbyside fieldset.alt { background:#FCFAFD; border-color:#DCC8E2; }
#pagecontentcontainer.report-page form#fly-atlas-options table tr td { border-color:#DCC8E2; }
#pagecontentcontainer.report-page form#fly-atlas-options table tr.even td { background:#FCFAFD; }

/* ############ tables, lists & misc configuration ############ */
/* inline lists */
div.inline-list ul .name { color:#5C0075; }
div.inline-list a,
div.inline-list a:hover,
div.inline-list a:visited { color:#5C0075; }
div.inline-list h3 { background:#F4EEF7; border-top-color:#5C0075; color:#5C0075; text-shadow:1px 1px 1px #FFF; }
div.inline-list.gray h3,
div.inline-list.grey h3 { background:#F6F5F7; border-top-color:#6E6E6E; color:#ABABAB; }
div.inline-list div.right a,
div.inline-list div.right a:hover,
div.inline-list div.right a:visited { color:#5C0075; }
/* collection tables */
div.collection-table h3 { background:#F4EEF7; border-top-color:#5C0075; color:#5C0075; text-shadow:1px 1px 1px #FFF; }
div.collection-table div.right a,
div.collection-table div.right a:hover,
div.collection-table div.right a:visited { color:#5C0075; }
div.collection-table table { border-bottom-color:#DCC8E2; }
div.collection-table thead th,
div.collection-table thead td { background:#F4EEF7; border-color:#DCC8E2; }
div.collection-table table tbody tr td { border-top-color:#DCC8E2; }
div.collection-table table tbody tr:nth-child(2n) td,
div.collection-table table tbody tr.odd td { background:#FCFAFD; }
div.collection-table table tbody tr.even td { background:#FFF; }
div.collection-table table td.class { color:#886644; }
div.collection-table table a,
div.collection-table table a:hover,
div.collection-table table a:visited { color:#5C0075; }
div.collection-table.gray h3,
div.collection-table.grey h3 { background:#F6F5F7; border-top-color:#6E6E6E; color:#ABABAB; }
div.collection-table.column-border table tbody tr td.left-column-border { border-left-color:#DCC8E2; }
div.collection-table.column-border table tbody tr td:nth-child(n+2) { border-left-color:#DCC8E2; }
div.collection-table.column-border-by-2 table tbody tr td.left-column-border { border-left-color:#DCC8E2; }
div.collection-table.column-border-by-2 table tbody tr td:nth-child(2n+3) { border-left-color:#DCC8E2; }
div.collection-table div.header { background:#F4EEF7; border-top-color:#5C0075; }
div.collection-table div.header h3 { text-shadow: 1px 1px 1px #FFFFFF; }
div.collection-table div.header a,
div.collection-table div.header a:hover,
div.collection-table div.header a:visited { color:#5C0075; }
/* collection table on results pages */
div.collection-table.results table { border-top-color:#5C0075; }
/* basic tables (on displayers etc.) */
div.basic-table h3 { background:#F4EEF7; border-top-color:#5C0075; color:#5C0075; text-shadow:1px 1px 1px #FFF; }
div.basic-table table a,
div.basic-table table a:hover,
div.basic-table table a:visited,
div.basic-table a.link { color:#5C0075; }
div.basic-table.gray h3,
div.basic-table.grey h3 { background:#F6F5F7; border-top-color:#6E6E6E; color:#ABABAB; }
/* collection of collection tables */
div.collection-of-collections div.header { background:#F4EEF7; border-top-color:#5C0075; }
div.collection-of-collections div.header h3 { text-shadow: 1px 1px 1px #FFFFFF; }
div.collection-of-collections div.header a,
div.collection-of-collections div.header a:hover,
div.collection-of-collections div.header a:visited { color:#5C0075; }
div.collection-of-collections div.collection-table h3 { border-top-color:#DCC8E2; }
/* templates */
div.template h3 { background:#F4EEF7; border-top-color:#5C0075; color:#5C0075; text-shadow:1px 1px 1px #FFF; }
div.template.gray h3,
div.template.grey h3 { background:#F6F5F7; border-top-color:#6E6E6E; color:#ABABAB; }
/* togglers */
div.collection-table div.toggle a,
div.collection-table div.toggle a:hover,
div.collection-table div.toggle a:visited,
div.collection-of-collections div.toggle a,
div.collection-of-collections div.toggle a:hover,
div.collection-of-collections div.toggle a:visited,
div.collection-table div.show-in-table a,
div.collection-table div.show-in-table a:hover,
div.collection-table div.show-in-table a:visited,
div.collection-of-collections div.show-in-table a,
div.collection-of-collections div.show-in-table a:hover,
div.collection-of-collections div.show-in-table a:visited { color:#5C0075; }
/* header, the same as table header */
h3.goog { background:#F4EEF7; border-top-color:#5C0075; color:#5C0075; text-shadow:1px 1px 1px #FFF; }