html, body 
{
    color: #000000;
    background-color: #F0F2FF;
}

a 
{
    color: #2100FF;
}

/**************************************/

#header h1 a
{
    color: #5C0075;
}

#header p
{
    color: black;
}

/**************************************/

#sidebar
{
    border/**/: solid #808080 1px; /* Mac IE Hack*/
}

#sidebar a
{
    color: #210075;
    background: #E5E5E5;
    border-top: solid 1px #FFFFFF
    border-bottom: solid 1px #CCCCCC;
}

#sidebar a:hover
{
    color: #FFFFFF;
    background: #589CDF
    border-top: solid 1px #D86BFF;
    border-bottom: solid 1px #336699;
}

#current a:hover
{
    background: #589CDF url(side2.gif) center left no-repeat;
}

#current ul li a:hover
{
    background: #589CDF;
}

#sidebar ul ul a
{
    color: #210075;
    background: #F5F5F5;
    border-bottom: 1px solid #E5E5E5;
}

#current a
{
    background: #E5E5E5 url(side2.gif) left repeat-y;
}

ul ul li#current a
{
    background: #F5F5F5 url(side.gif) left repeat-y;
}

/**************************************/

#pagecontent
{
    background: #F0F2FF;  
}

/**************************************/

#footer
{
    background-color: #FFFFFF;
}

/**************************************/
