html, body
{
	/* font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif; */
    font-size: 100%; /* NN4 */
    margin: 0;
    padding: 0;
    color: #000000; 
	background-color: #F0F2FF;
}

a 
{
    color: #2100FF;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline
}

.openoffice
{
    padding-right: 21px;
    background: url(openoffice.gif) right center no-repeat;
    
}

span.fly
{
   font-style: oblique;
}

ul { 
  margin-left: 10px;
}

/**************************************/

#header
{
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
    background: #F0F2FF;
    padding: 7px;
    border-bottom: solid black 1px;
    margin-bottom: 0px;
}
	
#header h1
{
    font-size: 1.6em;
    font-weight: bold;
    margin: 3px;
}

#header h1 a
{
    color: #210075;
    text-decoration: none;
}

#header p
{
    font-size: 1.2em;
    font-weight: normal;
    margin: 3px;
    color: black;
    padding: 0;
}

/**************************************/

#nav
{
	width: 160px;
	float: left;
	margin-left: -1px; /* NN4 - Thx to http://www.realworldstyle.com/2col.html */
	padding: 20px;
}
	
#sidebar
{
    padding: 0;
	float: left;
    border/**/: solid #808080 1px; /* Mac IE Hack*/
 	font-size: 0.8em;
}

#sidebar ul
{
	margin: 0;
 	padding: 0;
 	list-style-type: none;
 	font-family: arial, Helvetica, sans-serif;
}

#sidebar a
{
 	display: block;
 	padding: 5px 10px 5px 10px;
 	color: #210075;
 	background: #E5E5E5;
 	text-decoration: none;
 	font-weight: bold;
 	border-top: solid 1px #FFFFFF;
 	border-bottom: solid 1px #CCCCCC;
	width: 140px !important;
	width: 160px;   /* Win IE Hack :-( */
}

#sidebar a:hover
{
 	color: #FFFFFF;
    background: #589CDF;
 	border-top: solid 1px #8E6BFF;
 	border-bottom: solid 1px #336699;
}

#current a:hover
{
    background: #589CDF url(side2.gif) center left no-repeat;
}

#current ul li a:hover
{
    background: #589CDF;
}

#sidebar ul ul a
{
 	padding-left: 20px;
 	color: #210075;
	background: #F5F5F5;
 	text-decoration: none;
 	font-weight: normal;
 	border-bottom: 1px solid #E5E5E5;
	width: 130px !important;
	width: 160px;   /* Win IE Hack :-( */
}

#current a
{
    background: #E5E5E5 url(side2.gif) center left no-repeat;
}

/**************************************/

#pagecontent {
  background: #F0F2FF;
  padding: 10px;
  margin-left: 200px;
  margin-right: 20px;
}

#pagecontent ul li {
  margin: 10px 0 0 0;
}

#pagecontent h2.title {
  text-align: center;
}

#pagecontent p.author {
  text-align: center;
}

/**************************************/

#footer
{
    position: absolute; /* For Safari */
	font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
    background-color: #FFFFFF;
	clear: both;
    border-top: solid black 1px;
    padding: 5px 2em 1em 2em;
    font-size: 1em;
    font-size/**/: 0.6em; /* Mac IE Hack*/
    height: 1em;
    margin-top: 8em;
}

#address
{
    float: left;
}

#wellcome
{
    float: right;
}

/**************************************/

p
{
    text-align: justify;
}

/**************************************/

#content ul.fileformat
{
    list-style-type: none;
}

#content .fileformat li
{
    display: inline;
    margin-right: 10px;
}

#content .fileformat img
{
    border: none;
}

/**************************************/

.inlinegraphic
{
    display: block;
    padding: 5px;
    background: white;
    border: solid black 1px;
    margin: 20px 20px;
}

.inlinegraphic-center
{
    display: block;
    padding: 5px;
    background: white;
    border: solid black 1px;
    text-align: center;
    margin: 20px auto;
}

/**************************************/


address
{
    margin-left: 6em;
}

**************************************/
/** "InterMine test model" message **/
#status {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 3px;
  background:#fff;
  width: 10em;
  border: solid 1px grey;
}
