html, body {
    color: #000000;}

body {
background: #6ECCF8 url('top_gradient.png') repeat-x;}

a {
    color: #00e;}

h1, h2, h3, h1 a, h1 a:visited, label {
    color:#192F39;
}
h1 a:hover,h1 a:visited:hover  {
    color:#192F39;
    text-decoration: underline;
}

div.heading, div.heading2, div.heading a,div .heading2  a {
    background-color:#B9E6F9;
    color:#192F39;
}

/* =HEADER
--------------------------*/
div#header h1,
div#header h1 a,
div#header h1 a:link,
div#header h1 a:visited,
div#header p {
    color:#FFFFFF;
}

#topnav {
    background-color: #192F39;}

#pagecontent {
   border-left:1px solid #192F39;
   border-right:1px solid #192F39;
   border-bottom:1px solid #192F39;
}


#loginbar  a:link, #loginbar a:visited, #loginbar{
  color:#000;}

/* =BODY
--------------------------*/

/*??NOT USED??*/
.box .title {
  padding: 5px;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  font-weight: bold;
  background: #eee;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}

.plainbox {
  padding:10px; border:1px solid #192F39;
  background:#B9E6F9;}

.gradientbox {
  padding:10px;
  border:1px solid #192F39;background: url('grad_box.png') repeat-x;}

/* =NAVIGATION
--------------------------*/
ul#nav a{
  text-decoration:none; color: #FFF; font-weight:bold;	background-image:url('corner_t_r.png'); background-repeat: no-repeat;	background-position: right top;	color:white;}

ul#nav a:hover,ul#nav li#mymine a:hover{
  color:#333;}

ul#nav li#mymine a{
  color:#FFF;background:url('corner_my_t_r.png') no-repeat top right;}

ul#nav li.activelink a{
  color:white;background:url('corner_act_t_r.png') no-repeat top right;}

ul#nav li a{
      color:#FFF;}

ul#nav li#mymine {
  background:#5A6F78 url('corner_my_t_l.png') no-repeat;}

ul#nav li.activelink {
  background:#192F39 url('corner_act_t_l.png') no-repeat;}

ul#submenulist li#subactive_bag {height:37px;
  font-weight:bold;color:#FFF;background:url('submenu_indent.png') no-repeat bottom center;}

ul#submenulist li#subactive_mymine {
  font-weight:bold;color:#FFF;background:url('submenu_my.png') no-repeat bottom center;}

ul#nav li{
  text-align: center;background:#63B7DE url('corner_t_l.png') no-repeat;}

.submenu{
  background:#192F39;
  border-left:1px solid #192F39;
  border-right:1px solid #192F39;}

.submenu_mymine{
  background:#5A6F78;}

ul#submenulist li a {
  color:#FFF;text-decoration: none;font-weight: bold;}

ul#submenulist li a:hover {
  color:#FFF;text-decoration: underline;font-weight: bold;}


/* =MEGATILE SEARCH
--------------------------*/
div.filterBar {
    background:#192F39;color:white;}

div#filter_tool_bar {
    background-color:#FFF;
    border-right:1px solid #192F39;
    border-left:1px solid #192F39;
    border-bottom:1px solid #192F39;
}

.imbox {
    padding:5px 5px 10px 5px; border-top:solid 1px #888; border-bottom:solid 1px #888; height:1.2em;
    font-size:0.8em; background:#000; color:white;}

/* =RESULTS TABLES
-----------------------*/
table.results tr th {
    background-color: #E2F5FE;font-size: 12px;color:#000;
}
table.results tr td.highlightCell, table.results tr.even td.highlightCell {
   border-right:1px solid #FFF;background-color: #63BBDF;}

table.results tfoot tr td {
  color:#FFF;
  background-color: #192F39;
}

table.results tr.even TD{
  background-color: #B9E6F9;}

table.results tr.odd TD{
  border-right:1px solid #B9E6F9;
  border-bottom:1px solid #B9E6F9;}

table.results tr.stepO TD{
  background-color: #B9E6F9;}

table.results tr.stepE TD{
  border-right:1px solid #B9E6F9;
  border-bottom:1px solid #B9E6F9;}


table.results tr.stepEeven TD{
  background-color: #FFF;
  border-right:1px solid #F0F8FF;
  border-bottom:1px solid #F0F8FF;}

table.results tr.stepEodd TD{
  background-color: #F0F8FF;
  border-right:1px solid #FFF;
  border-bottom:1px solid #FFF;}

table.results tr.stepOodd TD{
  background-color: #B9E6F9;}

table.results tr.stepOeven TD{
  background-color: #63B7DE;
  border-right:1px solid #B9E6F9;
  border-bottom:1px solid #B9E6F9;}

table.results tr td.highlightObject {
  background-color: #ee6;
}

/* =TOOLBOX RESULTS GREEN

 for protocol table in modMine
--------------------------*/
/*
table.results tr.evengreen TD{
  background-color: #DDFFAA;}

table.results tr.oddgreen TD{
  border-right:1px solid #DDFFAA;
  border-bottom:1px solid #DDFFAA;}
*/

table.results tr.even-alt TD{
  background-color: #FFFFCC;}

table.results tr.odd-alt TD{
  border-right:1px solid #FFFFCC;
  border-bottom:1px solid #FFFFCC;}



/* =TOOLBOX RESULTS
--------------------------*/

.listtoolbox {
  background-image: url('grad_box.png');
  border:1px solid #D0B5D7;
  background-color: #feffff;
}

#tool_bar_div {
    background-color:#192F39;
}

.tb_button {
  border:1px solid #192F39;
}

ul#button_bar li a {
    color:#FFF;
}
.tb_button:hover {
  margin-right:0;
  /*border-bottom:1px solid #6ECCF8;
  border-right:1px solid #6ECCF8;*/
}
.tb_button_active {
  border:1px solid #6ECCF8;
}


/* =WIDGET
--------------------------*/

.debt {
  color: red;
}
.address {
  font-weight: bold;
}
.highlightCell{
  background-color: #D4D4D4;
}

.widget {
    padding:15px;
    text-align: center;
    width: 450px;
    background-color: #D4D4D4;
}

.widget_slide {
  margin-top:10px; max-height:350px;
    overflow-x:none;overflow-y:auto;overflow: auto;}

#bagDescriptionDiv{
  background-color: #D4D4D4;
}
#bagDescriptionDiv:hover{
  background-color: #D4D4D4;
}

#textarea {
  width:70%;
  height:150px;
  background-color: #D4D4D4;
  padding:10px;
}

.blueBg {
  background-color:#D4D4D4;
  text-align:center;
  padding: 20px;
  margin:20px;
  width:350px;
}

table.dbsources {
  margin:10px 20px 10px 20px;}

table.dbsources th  {
  padding: 6px 6px 6px 12px;
    background-color: #B9E6F9;font-size: 12px;color:#004499;
  border-right: 1px solid #C1DAD7;border-bottom: 1px solid #C1DAD7;border-top: 1px solid #C1DAD7;}

table.dbsources td {
  padding: 6px 6px 6px 12px;
  border-right: 1px solid #C1DAD7;border-bottom: 1px solid #C1DAD7;background: #fff;}

table.dbsources td.leftcol {
  border-left: 1px solid #C1DAD7;}

table.dbsources td.internal {
  border-bottom: 1px solid #C1DAD7;background: #fff;}

table.internal {
    margin:0px 0px 0px 0px;}
  /*  margin:10px 20px 10px 20px;}*/

table.internal td {
  padding: 2px 2px 2px 2px;
  border-right: 0px solid #fff;border-bottom: 0px solid #fff;background: #fff;}

/* disclosure style is default style of <disclosure> element*/
.body, .disclosure {
  margin:5px 6px 5px 6px;
  font-size: 12px; color: #333;}

#listTags { background-color: #F5F0FF; margin-left: 10px; padding: 3px 10px; }

/* keyword search results */
.keywordSearchResults .resultTableContainer table.dbsources { border-left: 1px solid #63B7DE; }
  .keywordSearchResults .resultTableContainer table.dbsources th { background:#192F39; color:#FFF; font-size:13px; padding:2px 8px;
    text-transform:none; }
  .keywordSearchResults .resultTableContainer table.dbsources tr.keywordSearchResult { color:#192F39; }
    .keywordSearchResults .resultTableContainer table.dbsources tr.keywordSearchResult td { line-height:16px; }
    .keywordSearchResults .resultTableContainer table.dbsources tr.keywordSearchResult div { margin:0; }
    .keywordSearchResults .resultTableContainer table.dbsources tr.keywordSearchResult.odd td { border-bottom:1px solid #63B7DE;
  border-top:1px solid #63B7DE; background:#E0F5FF; }
  .keywordSearchResults .resultTableContainer table.dbsources td { border-right: 1px solid #63B7DE; border-bottom:none; padding:4px 8px 2px 8px; }

.keywordSearchResults .resultTableContainer table.dbsources table.inner td { color:#192F39; }

.keywordSearchResults .resultTableContainer table.dbsources div.objectKeys a,
.keywordSearchResults .resultTableContainer table.dbsources tr.keywordSearchResult a span.value { font-size:14px; }

/* keyword search results relevancy */
div.resultTableContainer td.relevance div.full { color:#ff0000; }
div.resultTableContainer td.relevance div.empty { color:#999999; }

/* lists analysis (bagDetails.do) */
div.heading.results { border:1px solid #BEDCE4; background:#E6F7FE; margin-left:0; }
div.heading.results h1 { color:#4D5154; font-size:22px; margin-bottom:10px; }
div.heading.results #tool_bar_div { float:left; background:#E6F7FE !important; }
div.heading.results #tool_bar_div li { border:1px solid #D2D2D2; background:#EEEEEE; margin-right:10px; padding:4px; font-weight:normal; }

/* submenu border */
ul#submenulist li div { border-left-color:#FFF; }

/* login bar */
ul#loginbar li { border-right-color:#000; }

/* list analysis */
div.heading #tool_bar_div ul#button_bar li a { background:none !important; color:#323232; }

/* results list */
#tool_bar_div ul#button_bar li a { color:#FFF; }
ul#button_bar li.tool_bar_link span.tablePageLinks { color:#FFF !important; }
ul#button_bar li.tool_bar_link form span { color:#FFF !important; }

/* homepage (begin.css) */
#search-bochs div.inner h3 { background:#192F39; }
#lists-bochs div.inner h3 { background:#63B7DE; }
  #lists-bochs div.inner a { color:#192F39; }
#low h4 { color:#192F39; }

#boxes input.dark[type="submit"] { background:url("homepage/deep-ocean.png") no-repeat scroll center bottom transparent;
  color:#FFFFFF; padding:2px 36px; }
#boxes input.light[type="submit"] { background:url("homepage/ocean.png") no-repeat scroll center bottom transparent;
  color:#FFFFFF; padding:2px 36px; }
#templates div.content p.more a, #low #rss p.more a { background: url("homepage/more-pitchurka.png") no-repeat scroll
  left center transparent; }

/* bagUploadConfirm */
#pagecontentcontainer.bagUploadConfirm-page table.inlineResultsTable a { color:#002575; }
#pagecontentcontainer.bagUploadConfirm-page table.inlineResultsTable thead td { background:#EEF0F7;  }
#pagecontentcontainer.bagUploadConfirm-page table.inlineResultsTable tbody tr.even td { background:#FBFDFE; }
#pagecontentcontainer.bagUploadConfirm-page table.inlineResultsTable tbody tr td { border-top-color:#E2F5FE; border-bottom-color:#E2F5FE; }
#pagecontentcontainer.bagUploadConfirm-page table.inlineResultsTable td.identifier { color:#886644; }
#pagecontentcontainer.bagUploadConfirm-page h3 { color:#002575; background:#EEF0F7; border-top-color:#002575; }
#pagecontentcontainer.bagUploadConfirm-page div.description { background:#EEF0F7; }
#pagecontentcontainer.bagUploadConfirm-page #chooseName,
#pagecontentcontainer.bagUploadConfirm-page #additionalMatches { background:#FFF; }

/* report page */
#pagecontentcontainer.report-page #header_wrap { background-color:#EEF0F7; background-image:url("report/header-bg.png"); }
#pagecontentcontainer.report-page #object_header h1.title span { color:#002575; }
#pagecontentcontainer.report-page #object_header div.box h3 { background:#F0E3F7; }
#pagecontentcontainer.report-page #object_header div.list.box span { color:#002575; }
#pagecontentcontainer.report-page #fixed-menu { background:#3B8F60; }
#pagecontentcontainer.report-page #toc-menu-wrap { background:#EEF0F7; }
#pagecontentcontainer.report-page #fixed-menu div.wrap,
#pagecontentcontainer.report-page #toc-menu-wrap div.wrap { background:#3B8F60; border-color:#3B8F60; }
#pagecontentcontainer.report-page #fixed-menu span,
#pagecontentcontainer.report-page #toc-menu-wrap span { color:#E2F5FE; }
#pagecontentcontainer.report-page #menu-target { background:#EEF0F7; }
#pagecontentcontainer.report-page #toc-menu-wrap div.wrap a,
#pagecontentcontainer.report-page #fixed-menu div.wrap a { color:#FFF; }
#pagecontentcontainer.report-page #toc-menu-wrap div.links a.current,
#pagecontentcontainer.report-page #fixed-menu div.links a.current { background:#FFF; color:#3B8F60; border-color:#3B8F60; }
#pagecontentcontainer.report-page #in-lists div.heading { background:#EEF0F7 !important; border-color:#002575; color:#002575 !important; text-shadow:1px 1px 1px #FFF; }
#pagecontentcontainer.report-page .container_12 .highlight { background-color: #FFF3D3; }
#pagecontentcontainer.report-page #object_header #headerLink a { color:#002575; }
#pagecontentcontainer.report-page #object_header p.share a { color:#002575; }
#pagecontentcontainer.report-page h2 { color:#000; }
#pagecontentcontainer.report-page #cwtabsbyside a { color:#002575; }
#pagecontentcontainer.report-page #cwtabsbyside fieldset,
#pagecontentcontainer.report-page #cwtabsbyside ul li { border-color:#E2F5FE; }
#pagecontentcontainer.report-page #cwtabsbyside ul,
#pagecontentcontainer.report-page #cwtabsbyside fieldset.alt { background:#FBFDFE; border-color:#E2F5FE; }
#pagecontentcontainer.report-page form#fly-atlas-options table tr td { border-color:#E2F5FE; }
#pagecontentcontainer.report-page form#fly-atlas-options table tr.even td { background:#FBFDFE; }

/* ############ tables, lists & misc configuration ############ */
/* inline lists */
div.inline-list ul .name { color:#002575; }
div.inline-list a,
div.inline-list a:hover,
div.inline-list a:visited { color:#002575; }
div.inline-list h3 { background:#EEF0F7; border-top-color:#002575; color:#002575; text-shadow:1px 1px 1px #FFF; }
div.inline-list.gray h3,
div.inline-list.grey h3 { background:#F6F5F7; border-top-color:#6E6E6E; color:#ABABAB; }
div.inline-list div.right a,
div.inline-list div.right a:hover,
div.inline-list div.right a:visited { color:#002575; }
/* collection tables */
div.collection-table h3 { background:#EEF0F7; border-top-color:#002575; color:#002575; text-shadow:1px 1px 1px #FFF; }
div.collection-table div.right a,
div.collection-table div.right a:hover,
div.collection-table div.right a:visited { color:#002575; }
div.collection-table table { border-color:#E2F5FE; }
div.collection-table thead th,
div.collection-table thead td { background:#EEF0F7; border-color:#E2F5FE; }
div.collection-table table tbody tr td { border-top-color:#E2F5FE; }
div.collection-table table tbody tr:nth-child(2n) td,
div.collection-table table tbody tr.odd td { background:#FBFDFE; }
div.collection-table table tbody tr.even td { background:#FFF; }
div.collection-table table td.class { color:#886644; }
div.collection-table table a,
div.collection-table table a:hover,
div.collection-table table a:visited { color:#002575; }
div.collection-table.gray h3,
div.collection-table.grey h3 { background:#F6F5F7; border-top-color:#6E6E6E; color:#ABABAB; }
div.collection-table.column-border table tbody tr td.left-column-border { border-left-color:#E2F5FE; }
div.collection-table.column-border table tbody tr td:nth-child(n+2) { border-left-color:#E2F5FE; }
div.collection-table.column-border-by-2 table tbody tr td.left-column-border { border-left-color:#E2F5FE; }
div.collection-table.column-border-by-2 table tbody tr td:nth-child(2n+3) { border-left-color:#E2F5FE; }
div.collection-table div.header { background:#EEF0F7; border-top-color:#002575; }
div.collection-table div.header h3 { text-shadow: 1px 1px 1px #FFFFFF; }
div.collection-table div.header a,
div.collection-table div.header a:hover,
div.collection-table div.header a:visited { color:#002575; }
/* collection table on results pages */
div.collection-table.results table { border-top-color:#002575; }
/* basic tables (on displayers etc.) */
div.basic-table h3 { background:#EEF0F7; border-top-color:#002575; color:#002575; text-shadow:1px 1px 1px #FFF; }
div.basic-table table a,
div.basic-table table a:hover,
div.basic-table table a:visited,
div.basic-table a.link { color:#002575; }
div.basic-table.gray h3,
div.basic-table.grey h3 { background:#F6F5F7; border-top-color:#6E6E6E; color:#ABABAB; }
/* collection of collection tables */
div.collection-of-collections div.header { background:#EEF0F7; border-top-color:#002575; }
div.collection-of-collections div.header h3 { text-shadow: 1px 1px 1px #FFFFFF; }
div.collection-of-collections div.header a,
div.collection-of-collections div.header a:hover,
div.collection-of-collections div.header a:visited { color:#002575; }
div.collection-of-collections div.collection-table h3 { border-top-color:#E2F5FE; }
/* templates */
div.template h3 { background:#EEF0F7; border-top-color:#002575; color:#002575; text-shadow:1px 1px 1px #FFF; }
div.template.gray h3,
div.template.grey h3 { background:#F6F5F7; border-top-color:#6E6E6E; color:#ABABAB; }
/* togglers */
div.collection-table div.toggle a,
div.collection-table div.toggle a:hover,
div.collection-table div.toggle a:visited,
div.collection-of-collections div.toggle a,
div.collection-of-collections div.toggle a:hover,
div.collection-of-collections div.toggle a:visited,
div.collection-table div.show-in-table a,
div.collection-table div.show-in-table a:hover,
div.collection-table div.show-in-table a:visited,
div.collection-of-collections div.show-in-table a,
div.collection-of-collections div.show-in-table a:hover,
div.collection-of-collections div.show-in-table a:visited { color:#002575; }
/* header, the same as table header */
h3.goog { background:#EEF0F7; border-top-color:#002575; color:#002575; text-shadow:1px 1px 1px #FFF; }
