.aspectSources {
  background-color:#f5f5f5;
  border:1px solid #888;
  clear:right;
  float:right;
  font-size:75%;
  margin:10px 10px 10px 30px;
  padding:5px
}

.aspectSources ul {
  margin-bottom: 2px;
  margin-top: 2px;
  margin-left: 0px;
}

.aspectIntro {
  font-size:larger;
  padding:5px;
}

.aspectStartingPoints,.aspectTile {
  padding-bottom:8px
}

.aspectPageIcon {
  float: left;
  margin: 15px;
}
