.aspectSources {
  clear:right; float:right;
  margin:10px 10px 10px 30px; padding:5px;
  background-color:#f5f5f5; border:1px solid #888;font-size:75%;}

.aspectSources ul {
  margin-bottom: 2px; margin-top: 2px; margin-left: 0px;}

.aspectIntro {
  padding:5px;
  font-size:larger;}

.aspectStartingPoints,.aspectTile {
  padding-bottom:8px}

.aspectPageIcon {
  float: left;
  margin: 15px;}

dd {
  margin:5px 0 7px 35px;padding-left: 10px;
  border-left: 1px dashed #888;}