table.bagTable td.title {
    padding-right:1em;
    padding-top: 5px;
    padding-bottom: 5px;
    width:9em;
    font-size:1.2em;
    font-weight:bold;
    text-align: right;
}

table.bagTable select, table.bagTable textarea{
	width:60%;}

textarea#pasteInput {
  width: 345px;}
