#bagTable{
    padding:5px;}

#bagTable td{
  padding-right: 10px;padding-left: 10px;
  vertical-align: top;}

#bagDescriptionTextarea{
  display: none;
  text-align: center;}

#emptyDesc{
  width:100%;
  text-align:center;font-style: italic;}

li {
  margin-left: 10px;
  list-style: none;}
