.blueBg {
  padding: 20px;margin:20px;width:350px;
  background-color:#F5F0FF;text-align:center;}

#uploadConfirmMessage { font-size: 140%; display:none;}

table.collection {
  border-left: solid 1px #666; border-top: solid 1px #666;font-size: small;}

h3 { border-top-width:1px; border-top-style:solid; font-size:14px; padding:2px 6px; text-shadow:1px 1px 1px #FFF; }

/* tables */
table.inlineResultsTable { font-size:12px; width:100%; }
table.inlineResultsTable td { padding:6px; }
    table.inlineResultsTable td.right { text-align:right; }
table.inlineResultsTable thead td { padding:0 0 0 6px; font-size:13px; }
table.inlineResultsTable tr.even td { border-top-width:1px; border-top-style:solid; border-bottom-width:1px; border-bottom-style:solid; }
table.inlineResultsTable td.identifier { font-weight:bold; }


/* description & add all */
div.description { padding:0 6px; }
div.description div.sectionAddRemove { float:right; }

table.collection t td {
  border: none;}

table.collection tr.even TD{
  background-color: #F5F0FF;}

table caption {
  text-align:left;
  font-size: 12px;}

table .sectionAddRemove {
  float:right;}

h1 { font-size:24px; margin-bottom:10px; }
h2 { font-size:20px; float:left; margin-top:16px; }

p.h2 { float:left; margin:24px 0 0 20px; }

p.hl { background:#FFF3D3; font-weight:bold; padding:0 6px; line-height:20px; float:left; margin:4px 0 0 10px; }

div.formik { float:left; }
