ol#news li {
    list-style: disc;
    margin-bottom: 5px;
    padding-left: 5px;
}

#newsbox {
    height: 100px;
    overflow-y: auto;
    border-bottom: 1px solid #CCC;
}

.fp_button {
    float: right;
    clear: right;
}

ul.tabs {
    margin-top: 10px;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px; /*--Set height of tabs (does nothing) --*/
    border-bottom: 0;
    border-left: 1px solid #9E68AE;
    width: 977px;
    *height: 22px; /*(required for manky IE7)*/
}

ul.tabs li {
    float: left;
    margin: 0;
    padding: 0;
    height: 31px; /*--Subtract 1px from the height of the unordered list--*/
    line-height: 31px; /*--Vertically aligns the text within the tab--*/
    border: 1px solid #9E68AE;
    border-left: none;
    margin-bottom: -1px; /*--Pull the list item down 1px--*/
    overflow: hidden;
    position: relative;
    background: #FFF;
    color: #5C0075;
}

ul.tabs li a {
    text-decoration: none;
    color: #5C0075;
    display: block;
    font-size: 1.2em;
    padding: 0 20px;
    border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
    outline: none;
    margin: 0;
}

ul.tabs li a:hover {
    background: #5C0075;
}

html ul.tabs li.active, html ul.tabs li.active a:hover { /*--Makes sure that the active tab does not listen to the hover properties--*/
    background: #FCFAFF;
    border-bottom: 1px solid #FCFAFF; /*--Makes the active tab look like it's connected with its content--*/
}

.tab_container {
    border: 1px solid #9E68AE;
    border-top: none;
    overflow: hidden;
    clear: both;
    float: left;
    width: 100%;
    background: #FCFAFF;
}

.tab_content {
    padding: 20px;
    font-size: 12px;
    border-top: 1px solid #9E68AE;
}

/* page columns */
#left.column, #right.column {
    float: left;
}

#left.column {
    width: 330px;
}

#right.column {
    width: 645px;
}

/* main boxes */
#actions .plainbox {
    float: left;
    width: 300px;
    height: 216px;
}

#actions .plainbox {
    margin: 0 10px 10px 0;
}

#actions .plainbox.last {
    margin-right: 0;
    padding-right: 0;
}

#actions .plainbox dl {
    padding-bottom: 10px;
}

#actions .plainbox h1 {
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 70px;
    line-height: 64px;
    margin-bottom: 10px;
}

#actions .plainbox ul, #actions .plainbox form {
    margin-top: 6px;
}

#actions .plainbox textarea {
    width: 282px;
}

#actions .plainbox.search {;
}

#actions .plainbox.search h1 {
    background-image: url('../images/icons/search-64.png');
}

#actions .plainbox.search input#keywordSearch {
    width: 230px;
}

#actions .plainbox.api {;
}

#actions .plainbox.api h1 {
    background-image: url('../themes/metabolic/icons/perl-java-ico.gif');
}

#actions .plainbox.analyse {;
}

#actions .plainbox.analyse h1 {
    background-image: url('../images/icons/lists-64.png');
    padding-left: 80px;
}

#actions .plainbox.analyse input#submitBag {
    float: right;
    margin-right: 10px;
}

/* news */
#rss div.plainbox {
    margin: 0;
    margin-top: 5px;
    width: 956px;
    border: 1px solid #B8D9E2;
    background: #F1FAFE;
}

#rss div.plainbox h1 {
    background: url(../themes/purple/icons/rss-32.png) no-repeat left;
    padding-left: 40px;
    line-height: 32px;
    display: block !important;
    margin-bottom: 6px;
}

#rss div.plainbox #newsbox {
    padding-bottom: 2px;
}

/* tabbed menu */
ul.tabs li.link, ul.tabs li.link.active {
    border: 0;
    background: #FFF;
}

ul.tabs li.link a:hover {
    background: #FFF;
}

/* fix intermine */
div#navtrail {
    padding: 0 !important;
}

#pagecontent {
    width: 1002px !important;
}

html, body {
    font-family: 'Lucida Grande', Geneva, Lucida, Helvetica, Arial, sans-serif;
}

/* Verdana is too wide! */
/* newer FlyMine */
/*body { background:#dfdfdf url('../themes/purple/homepage/page-bg-gradient.png') repeat-x top !important; }*/
#content-wrap {
    padding: 25px 16px 16px 16px;
}

#content-wrap p {
    color: #535353;
    font-size: 13px;
}

#search-bochs, #lists-bochs, #welcome-bochs {
    width: 280px;
    float: left;
    margin-right: 46px;
    position: relative;
    background: url('../themes/purple/homepage/main-bochs-transparent-gradient.png') no-repeat top;
    padding: 0 6px;
}

#welcome-bochs {
    margin-right: 0;
}

#boxes div.inner {
    background: #FFF;
    min-height: 235px;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 2px;
    padding-bottom: 14px;
}

#boxes div.inner div.bottom {
    position: absolute;
    bottom: 14px;
    left: 5px;
    width: 100%;
}

#boxes div.inner h3 {
    color: #FFF;
    font-family: "Myriad Pro", Arial, Garuda, Helvetica, Tahoma, sans-serif;
    padding: 4px 0 4px 80px;
    font-size: 24px;
    font-weight: normal;
}

#search-bochs div.inner h3 {
    background: #5c0075;
}

#lists-bochs div.inner h3 {
    background: #9f67ad;
}

#welcome-bochs div.inner h3 {
    background: #c3c3c3;
    color: #535353;
    padding-left: 10px;
}

#boxes div.inner p {
    padding: 0 12px;
    line-height: 20px;
}

#search-bochs img.title {
    position: absolute;
    top: 6px;
    left: 18px;
}

#lists-bochs img.title {
    position: absolute;
    top: 6px;
    left: 18px;
}

#search-bochs div.inner span.ugly-hack {
    float: left;
    width: 82px;
}

#search-bochs div.inner p {
    margin-top: 10px;
}

#lists-bochs div.inner p {
    margin: 10px 0 0 70px;
}

#welcome-bochs div.inner p {
    margin: 10px 0 0 0px;
    line-height: 21px;
}

#welcome-bochs div.inner p a {
    color: inherit;
    text-decoration: underline;
}

#lists-bochs div.inner select {
    margin: 10px 0 0 12px;
    width: 256px;
}

#lists-bochs div.inner .textarea {
    background: url('../themes/purple/homepage/textarea.png') no-repeat top left transparent;
    margin: 12px 0 10px 11px;
}

#lists-bochs div.inner textarea {
    padding: 6px 8px 4px 8px;
    height: 50px;
    width: 240px;
    border: none;
    background: transparent;
}

#boxes div.input {
    background: url("../themes/purple/homepage/input-bg.png") no-repeat scroll center top transparent;
    color: #888;
    height: 38px;
    margin: 10px 0;
}

#boxes input[type =
"submit"].button {
    border: medium none;
    cursor: pointer;
    font-family: "Myriad Pro", Arial, Garuda, Helvetica, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 30px;
    text-transform: uppercase;
    vertical-align: middle;
}

#boxes input[type =
"submit"].violet {
    background: url("../themes/purple/homepage/button-violet-dark.png") no-repeat scroll center bottom transparent;
    color: #FFFFFF; /*float:right; margin-right:30%;*/
    padding: 2px 36px;
}

#search-bochs input[type =
"text"].input {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    padding: 12px 20px 6px 24px;
    width: 230px;
    font-size: 12px;
}

#search-bochs input[type =
"text"].input.eg {
    color: #888;
}

#boxes input[type =
"submit"].plush {
    background: url("../themes/purple/homepage/button-plush.png") no-repeat scroll center bottom transparent;
    color: #FFFFFF;
    padding: 2px 34px; /*float:right; margin-right:30%; margin-bottom:8px;*/
}

#lists-bochs div.inner span {
    color: #7a7a7a;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0px;
    text-transform: uppercase;
    line-height: 30px;
    margin: 0 4px 0 8px;
}

#lists-bochs textarea.eg {
    color: #888;
}

#lists-bochs div.inner a {
    text-decoration: underline;
    color: #5c0075;
    font-size: 12px;
    letter-spacing: 0.5px;
}

#lists-bochs div.inner a.advanced { /*float:right; margin:10px 37% 0 0;*/
    font-size: 10px;
    margin-bottom: 8px;
    display: inline-block;
}

#welcome-bochs a.button {
    font-size: 13px;
    text-transform: uppercase;
    font-family: "Myriad Pro", Arial, Garuda, Helvetica, Tahoma, sans-serif;
    text-decoration: none;
    font-weight: bold;
    background-repeat: no-repeat; /*padding:8px 22px;*/
    text-align: center;
}

/*
 #welcome-bochs a.button.gray { background:url("../themes/purple/homepage/button-gray.png") no-repeat top center; }
 #welcome-bochs a.button, #welcome-bochs a.button div, #welcome-bochs a.button div span { font-size:13px; text-transform:uppercase;
 font-family:"Myriad Pro", Arial, Garuda, Helvetica, Tahoma, sans-serif; text-decoration:none; font-weight:bold;
 background-repeat:no-repeat; }
 #welcome-bochs a.button { line-height:20px; }
 #welcome-bochs a.button:hover { text-decoration:underline; }
 #welcome-bochs a.button div { background-position:top left; padding-left:18px; height:30px; position:relative; cursor:pointer; }
 #welcome-bochs a.button div span { background-position:top right; display:block; height:30px; padding:6px 14px 0 0; cursor:pointer;
 width:90px; }*/
#welcome-bochs input.button {
    font-family: "Myriad Pro", Arial, Garuda, Helvetica, Tahoma, sans-serif;
    font-size: 13px;
    height: 30px;
    /* Opera 9 does not uppercase input elements */
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#welcome-bochs a.button.gray {
    color: #505050; /*margin-right:30%; float:right; line-height:29px;*/
    display: -moz-inline-stack /* FF2 inline-block */;
    display: inline-block;
}

#welcome-bochs a.button.gray div {
    background-image: url("../themes/metabolic/buttons/btn-gray-left.png");
    margin-top: 12px;
    height: 30px;
    padding-left: 18px;
    background-repeat: no-repeat;
}

#welcome-bochs a.button.gray span {
    background-image: url("../themes/metabolic/buttons/btn-gray-right.png");
    height: 30px;
    padding: 8px 18px 0 0;
    background-repeat: no-repeat;
    background-position: top right;
    display: block;
    cursor: pointer;
}

#welcome-bochs a.button.gray span, x:-moz-any-link {
    height: 22px;
}

/* FF2 only */
#welcome-bochs a.button.gray span, x:-moz-any-link, x:default {
    height: 30px;
}

/* restore for FF3 */
#templates {
    margin: 20px 0;
}

#templates table#menu {
    width: 100%;
    border: 0;
    margin: 0;
    font-family: "Myriad Pro", Arial, Garuda, Helvetica, Tahoma, sans-serif;
    text-transform: uppercase;
}

#templates table#menu td {
    background: #e5e5e5 url("../themes/purple/homepage/tabs-gradient-bottom.png") repeat-x bottom;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #292727;
    border-top: 6px solid #FEFEFE;
    text-align: center;
}

#templates table#menu td div.container {
    position: relative;
}

/* FF 3.6 bug */
#templates table#menu td:hover {
    cursor: pointer;
}

#templates table#menu td.active {
    background: #FFF url("../themes/purple/homepage/tabs-gradient-top.png") repeat-x top;
    border: 0;
    position: relative;
}

#templates table#menu td.active span.left {
    display: inline-block;
    width: 10px;
    height: 45px;
    position: absolute;
    background: url("../themes/purple/homepage/tabs-gradient-left.png") no-repeat top left;
    top: 0px;
    left: 0px;
}

#templates table#menu td.active span.right {
    display: inline-block;
    width: 10px;
    height: 45px;
    position: absolute;
    background: url("../themes/purple/homepage/tabs-gradient-right.png") no-repeat top right;
    top: 0px;
    right: 0px;
}

#templates table#menu td span {
    line-height: 39px;
    display: inline-block;
}

#templates table#menu td span, #templates table#menu td.active span {
    color: #292727;
    color: #292727;
}

#templates table#menu td.active span {
    line-height: 39px;
    display: inline-block;
    padding-top: 6px;
}

/* IE 8 */
#templates table#menu td.active span, x:-moz-any-link {
    line-height: 44px;
}

/* FF 2.0 */
#templates table#menu td.active span, x:-moz-any-link, x:default {
    line-height: 39px;
    display: inline-block;
    padding-top: 6px;
}

#templates table#menu td:hover span {
    color: #000;
    text-decoration: underline;
}

#templates #tab-content {
    position: relative;
}

#templates p {
    line-height: 20px;
}

#templates a {
    color: #535353;
    text-decoration: underline;
}

#templates a:hover {
    color: #000;
}

#templates div.content {
    background: #FFF url("../themes/purple/homepage/bochs-bottom-grad.png") repeat-x bottom;
    bottom: 1px solid #dfdfdf;
    padding: 14px;
    padding-bottom: 0;
}

#templates div.content p.more {
    background: url("../themes/purple/homepage/full-divider.png") repeat-x top;
    padding: 4px 0;
    line-height: 28px;
    position: absolute;
    bottom: 0;
    width:906px;
}

#templates div.content p.more a {
    background: url("../themes/purple/homepage/more-pitchurka.png") no-repeat left;
    text-decoration: underline;
    padding-left: 16px;
}

#templates #tab-content #ribbon {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 155px;
    height: 153px;
    display: block;
    background: url("../themes/purple/homepage/ribbon-forest.png") no-repeat top right;
    z-index:2;
}

#templates #tab-content #try {
    position: absolute;
    right: 130px;
    top: 100px;
    width: 266px;
    height: 36px;
    display: block;
    background: url("../themes/purple/homepage/try-these.png") no-repeat top right;
    display: none;
}

#templates ul {
    font-size: 13px;
    color: #292727;
    line-height: 20px;
    margin-top: 10px;
    padding-bottom: 60px;
}

#templates ul a {
    text-decoration: none;
}

#templates ul img {
    vertical-align: middle;
}

#low p, #low ul li {
    font-size: 12px;
    line-height: 18px;
}

#low #api, #low #rss {
    background: url("../themes/purple/homepage/bochs-bottom-grad.png") repeat-x bottom;
    height: 182px;
}

#low h4 {
    color: #5C0075;
    font-size: 14px;
    margin-bottom: 8px;
}

#low h4 span {
    font-family: "Times New Roman", "Times Roman", serif;
    font-size: 11px;
    font-style: italic;
    letter-spacing: -1px;
}

#low #api {
    width: 300px;
    padding: 14px;
    float: left;
}

#low #api img {
    float: left;
    padding: 0 10px 50px 0;
}

#low #api ul {
    color: #535353;
    font-size: 12px;
    list-style-type: none;
    margin-top: 5px;
}

#low #api ul a {
    color: #535353;
    font-size: 13px;
    text-decoration: underline;
    font-size: 12px;
}

#low #api ul a:hover {
    color: #000;
}

#low #rss {
    width: 560px;
    padding: 14px;
    float: right;
}

#low #rss p.more {
    background: url("../themes/purple/homepage/full-divider.png") repeat-x top;
    padding: 4px 0;
    margin-top: 10px;
    line-height: 28px;
}

#low #rss p.more a {
    background: url("../themes/purple/homepage/more-pitchurka.png") no-repeat left;
    color: #535353;
    text-decoration: underline;
    padding-left: 16px;
}

#low #rss p.more a:hover {
    color: #000;
}

#articles {
    margin-bottom: 0;
}

#articles a {
    color: #535353;
    text-decoration: underline;
}

#articles a:hover {
    color: #000;
}

#articles td {
    padding: 0 0 6px 0;
    color: #535353;
}

#articles td {;
}

#articles td.date {
    padding-right: 16px;
}

#articles .date a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 14px;
}

#articles .date a span {
    font-size: 12px;
    font-weight: normal;
}

#bottom-wrap {
    background: url("../themes/purple/homepage/content-grad-bottom.png") repeat-x bottom;
    padding: 0 18px 25px 18px;
    margin-top: 10px !important;
}

/* im:frontpage tagged lists */
#lists {
	border-top: 1px solid #EFEFEF;
	background: url("../themes/purple/homepage/bochs-bottom-grad.png") repeat-x bottom;
	padding: 14px 14px 0 14px;
	margin-bottom: 10px;
}

#lists h4 {
	color: #5C0075;
	font-size: 14px;
	margin-bottom: 8px;
}

#lists h5 {
	font-weight: normal;
	font-size: 13px;
	display: inline;
	color: #535353;
}

#lists ul {
	color: #292727;
	font-size: 13px;
	line-height: 16px;
	margin-top: 10px;
}

#lists ul li:not(:first-child) {
	margin-top: 6px;
}

#lists ul p, #lists ul span, #lists a {
	color: #535353;
}

#lists ul li a {
	text-decoration: underline;
}

#lists p.more {
	background: url("../themes/purple/homepage/full-divider.png") repeat-x top;
	padding: 4px 0;
	margin-top: 20px;
	line-height: 28px;
}

#lists p.more a {
	background: url("../themes/purple/homepage/more-pitchurka.png") no-repeat left;
	text-decoration: underline;
	padding-left: 16px;
}

#lists a:hover {
	color: #000;
}

#api-langs li {
    float: left;
}
