div#leftColumn{margin-left:450px;margin-top:25px;_margin-top:15px;}
div.aspectOverview{
	padding:5px;
	margin:5px 5px 10px 5px;
}
.aspectIcon{
	border:1px solid #222;
	margin-bottom:5px;
	margin-right:5px;
	float:left;
}

div#aspectsFront {float:left;width:400px;}
div#aspectsFront h1 {
    margin:0px;
    color:#5C0075;
	font-size:1.5em;
}
#aspectsFront p {
	background:none;
}
div#aspectsFront ul {list-style: none;margin:0px;padding:0px;}
div#aspectsFront ul li{
	display:inline;
	float:left;
	width:180px;
	height:90px;
	margin:10px;
	padding:0px;
}

div.aspectDescr{
	visibility:hidden;
	font-style: italic;
}

div.wsList {
   padding-top:10px;
   margin-left:30px;
}
