div#leftColumn{float:left;width:65%;}
div.aspectOverview{
	padding:5px;
	margin:5px 5px 10px 5px;
}
.aspectIcon{
	border:1px solid #222;
	margin-bottom:5px;
	float:left;
}
p.aspectLabel{
	font-size:10px;
	font-style: italic;
	margin-left:70px;
	margin-top:0px;
}
p.aspectLabel a:link{
	font-size:13px;
	font-style: normal;
}
div#aspectsFront {margin-left:65%;width:400px;margin-top:15px;}
div#aspectsFront h1 {
    margin:0px;
    color:#5C0075;
	font-size:1.5em;
}
div#aspectsFront ul {list-style: none;margin:0px;padding:0px;}
div#aspectsFront ul li{
	display:inline;
	float:left;
	width:180px;
	height:90px;
	margin:10px;
	padding:0px;
}