html, body
{
  font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
  font-size: 100%; /* NN4 */
  margin: 0px;
  padding: 0px;
  background-color:#f5f0ff
}

a:link { color:#049; text-decoration:none }
a:visited { color:#049; text-decoration:none }
a:link:hover { color:#CF4D23; text-decoration:underline }
a:visited:hover { color:#CF4D23; text-decoration:underline }
a:link:active { color:#58e; text-decoration:none }

a.extlink , a.extlink:link, a.extlink:visited, a.extlink:active, a.extlink:hover {
  background: url('../images/extlink.gif') right center no-repeat;
  padding-right: 15px;
  margin-right: 15px;
  white-space: nowrap;
}


.body {
  font-size: 12px;
  margin-top: 10px;
  margin-right: 12px;
  margin-left: 12px;
  margin-bottom: 10px;
}
table.results {
  border-left: solid 1px #666;
  border-top: solid 1px #666;
}
table.results th, table.results td {
  padding: 4px;
  border-right: solid 1px #666;
  border-bottom: solid 1px #666;
  background: #white;
}
table.results th {
  background: #eee;
}

table.results th {
  font-size: 12px;
}
table.results td td {
  border: none;
}
table.results {
  font-size: small;
}

table td {
  font-size: 12px;
}
