#pagecontentcontainer.login-page div.body { width:60%; margin:0 auto; }
#pagecontentcontainer.login-page div.body h2 { text-align:left; width:60%; margin-bottom:10px; }
#pagecontentcontainer.login-page div.body h3 { margin-bottom:10px; }
#pagecontentcontainer.login-page div.body h3.openid { background:url('../images/icons/openid.png') no-repeat top right;
  padding-right:20px; }
#pagecontentcontainer.login-page div.body input[type="submit"] { float:right; }

#pagecontentcontainer.login-page div.body #login { width:60%; float:left; }
#pagecontentcontainer.login-page div.body #create { width:35%; float:left; margin-left:5%; }
#pagecontentcontainer.login-page div.body div.column { float:left;  max-width:400px; }
#pagecontentcontainer.login-page div.body div.column:first-child { margin-right:30px; }
#pagecontentcontainer.login-page div.clear { clear:both; }

#pagecontentcontainer.login-page a.myid,
#pagecontentcontainer.login-page a.yahoo,
#pagecontentcontainer.login-page a.google { width:32px; height:32px; float:left; display:block; margin-right:10px; }
#pagecontentcontainer.login-page a.myid { background:url('../images/icons/myid.png') no-repeat top left; }
#pagecontentcontainer.login-page a.yahoo { background:url('../images/icons/yahoo.png') no-repeat top left; }
#pagecontentcontainer.login-page a.google { background:url('../images/icons/google.png') no-repeat top left; }

#pagecontentcontainer.login-page #create span { background-position:top left; padding-left:20px; background-repeat:no-repeat;
  margin-left:2px; }
#pagecontentcontainer.login-page #create span.lists { background-image:url('../images/icons/lists-16.png'); }
#pagecontentcontainer.login-page #create span.queries { background-image:url('../images/icons/queries-16.png'); }
#pagecontentcontainer.login-page #create span.favorite { background-image:url('../images/star_active.gif'); }