.historySummaryRoot {
  background-color: #e7F1E7;
  border: 1px solid #bbb;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 1px;
  font-size: 10px;
  font-weight: bold;
}

.historySummaryShowing {
  background-color: #E7F1FB;
  border: 1px solid #bbb;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 1px;
  font-size: 10px;
}

table.history > tbody > tr > td {
  font-size: 11px;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #f5f0ff;
  color:#333;
  border-bottom: #fff solid 1.3px;
}

table.history > tbody > tr {
  font-size: 11px;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #5c0075;
  color:#fff;
}