#mymineMenu {
	color:#CCC;
	background:#9B89A7;
	padding:10px;
	margin-top:-15px;
/*	position:absolute;
	left:0px;
	top:113px;
*/	float:left;
	font-size:0.7em;
	width:100%;
	top:-20px;
}
ul#mymineList, ul#mymineList li {
	list-style: none;
	padding: 0px;
	margin:0px;
}
ul#mymineList li {float:left;}

ul#mymineList li span.active {font-weight:bold;color:#FFF;}

ul#mymineList li a {color:#FFF;text-decoration: underline;font-weight: bold;float:left;}