.histTabTable td.topLeft {
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
}

.histTabTable td.tab {
  border-top: 1px solid #888;
  border-right: 1px solid #888;
}

.histTabTable td.selected {
  font-weight: bold;
  border-right: 1px solid #888;
  border-top: 1px solid #888;
}

.histTabTable td.not-selected {
  border-bottom: 1px solid #888;
  background-color: #f5f5f5;
}

.histTabTable td.tab-space {
  border-bottom: 1px solid #888;
}

.histTabTable td.not-selected a:hover {
  color: #000;
  text-decoration: underline;
}

.historySummaryRoot {
  background-color: #e7F1E7;
  border: 1px solid #bbb;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 1px;
  font-size: 10px;
  font-weight: bold;
}

.historySummaryShowing {
  background-color: #E7F1FB;
  border: 1px solid #bbb;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 1px;
  font-size: 10px;
}

table.history > tbody > tr > td {
  font-size: 11px;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
}
.mymineMenu td {
    border-bottom: #36c dashed 1.3px;
}
