img.objectDetailsAspectIcon {
  vertical-align: middle;
  margin-top: 1px;
  margin-right: 5px;
  margin-left: -2px;
  float: left;
  margin-bottom: 1px;
}

span.templateResCount {
  color: #555;
  white-space: nowrap;
  font-size: 10px;
}

div.templateDetails {
  margin-left: 15px;

  /* needed to prevent the peekaboo bug on IE:
     http://www.positioniseverything.net/explorer/peekaboo.html */
  height: 0.01%;
}

div.templateIcon {
  float: left;
  padding-top: 2px;
}

div.templateLine {
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 3px;
}

