img.objectDetailsAspectIcon {
  vertical-align: middle;
  margin-top: 1px;
  margin-right: 5px;
  margin-left: -2px;
  float: left;
  margin-bottom: 1px;
}

div.templateDetails {
  margin-left: 15px;

  /* needed to prevent the peekaboo bug on IE:
     http://www.positioniseverything.net/explorer/peekaboo.html */
  height: 0.01%;
}