/* override default InterMine here */
.attributeField { color:inherit; }
table.refSummary thead tr td { background-color:inherit; border-bottom:0; border-right:0; }
table.refSummary { border:0 !important; width:0; }
table.refSummary tbody tr td { background-color:#FFF; border-bottom:0; border-right:0; padding:6px; }
.value { font-family:'Lucida Grande',Geneva,Lucida,Helvetica,Arial,sans-serif; font-size:12px; }
table.results tfoot tr td { background-color:#FFF !important; }
table.results tr.odd td { border-bottom:inherit !important; border-right:inherit !important; }
table.results th { color:inherit !important; border-right:inherit !important; }
div.refSummary { font-size:12px; padding-left:6px; }
table.refSummary td { text-align:left !important; }
#content li { margin-left:0 !important; }
div.table h3 a { color:inherit !important; }
div.table h3 a:hover { text-decoration:none; }
div.table h3 a img { padding-right:4px; }
div.table h3 a { cursor:text; }
div.templateDetails { height:auto !important; margin-left:auto !important; }
.body, .disclosure { margin:auto !important; }
#in-lists { margin-bottom:20px; }
div#navtrail { margin:0 !important; }

/* body */
html, body { font-family: 'Lucida Grande',Geneva,Lucida,Helvetica,Arial,sans-serif; }

/* header wrapper */
#header_wrap { background:#F4EEF7 url(../model/images/report_page/header-bg.png) repeat-x scroll left top; }

/* header */
#object_header { width:92%; margin-left:4%; margin-right:4%; }
    #object_header h1.title {font-family:"Myriad Pro",Arial,Garuda,Helvetica,Tahoma,sans-serif; font-size:24px;
        font-weight:normal; position:relative; }
    #object_header h1.title span { color:#5c0075; }
    #object_header p.description { margin:0; padding-bottom:10px; }
      #object_header p.description img { vertical-align:top; }

    /* header items */
    #object_header table.fields { width:50%; }

    /* header inline lists */
    #object_header h2 { font-size:16px; margin:10px 0; !important; }
    #object_header div.box { margin-left:3px; }
    #object_header div.box h3 { background:#F0E3F7; }
    #object_header div.box.grid_12 { margin:auto !important; }
  #object_header div.list.box span { color:#5C0075; }

/* 'floating' menu */
#pagecontentmax { padding-top:0; }
#headercontainer, #header_wrap, #navtrail { z-index:2; position:relative; }
#navtrail { display:inline-block; float:right; background:inherit; width:97.5%; }
#headercontainer { background:inherit; display:inline-block; }
#fixed-menu { z-index:1; position:fixed; top:0; width:100%; background:#A16AAF; height:20px; }
#content { z-index:0; }
#toc-menu-wrap { background:#A16AAF; line-height:21px; }
#fixed-menu div.wrap, #toc-menu-wrap div.wrap { margin:0 auto; width:92%; }
#fixed-menu span, #toc-menu-wrap span { float:left; font-size:13px; color:#F4EEF7; height:20px;
    line-height:20px; }
#menu-target { height:20px; display:inline-block; background:#F4EEF7; width:100%; }
div.wrap { line-height:21px; }

/* menu of menues menu */
div.menu-wrap { float:left; width:90%; line-height:21px; }
ul.menu { width:100%; text-align:center; line-height:21px; }
  ul.menu li { display:inline; padding:0; margin:0; vertical-align:bottom; line-height:21px; }
    ul.menu li a { color:#5C0075; font-weight:bold; padding:0px 10px; font-size:16px;
     background:#F4EEF7; line-height:21px; border-width:1px 0; border-style:solid;
     border-color:#F4EEF7; }

/* tabbed menu */
table#toc-menu {border:0 none;font-family:"Myriad Pro",Arial,Garuda,Helvetica,Tahoma,sans-serif;text-transform:uppercase;
    width:92%; margin-left:4%; margin-right:4%; margin-bottom:-1px; }
table#toc-menu td {background:url(../model/images/report_page/tabs-gradient-bottom.png) repeat-x scroll center bottom #f4EEF7;border-right:0 none;
    font-size:13px;text-align:center;border-color:#F4EEF7;border-style:solid none none; border-width:6px 0 0; margin:0;
    padding:0; text-decoration:underline; color:#5C0075; }
table#toc-menu td div.container {position:relative;}
table#toc-menu td:hover {cursor:pointer;}
table#toc-menu td.active {background:url(../model/images/report_page/tabs-gradient-top.png) repeat-x scroll center top #FFF;border:0 none;
    position:relative; font-weight:bold; color:#292727; text-decoration:none; }
table#toc-menu td.active span.left {background:url(../model/images/report_page/tabs-gradient-left.png) no-repeat scroll left top transparent;
    display:inline-block;height:45px;left:0;position:absolute;top:0;width:10px;}
table#toc-menu td.active span.right {background:url(../model/images/report_page/tabs-gradient-right.png) no-repeat scroll right top transparent;
    display:inline-block;height:45px;position:absolute;right:0;top:0;width:10px;}
table#toc-menu td span {display:inline-block;line-height:39px;}
table#toc-menu td span { color:#5C0075; }
table#toc-menu td.active span {color:#292727;}
table#toc-menu td.active span,x:-moz-any-link {line-height:44px;}
table#toc-menu td:hover span {color:#000;text-decoration:underline;}
table#toc-menu td.active span,table#menu td.active span,x:-moz-any-link,x:default {display:inline-block;line-height:39px;
    padding-top:6px;}

/* content */
#content p.description { font-size:13px; line-height:19px; margin:20px 0; }
    #content p.description img { vertical-align:bottom; padding:0 6px 0 0; }
div.container_12 { padding-top:30px; }

/* generic box */
div.box { font-size:12px; }
div.box div.inner { padding:0 6px 6px 6px; margin-bottom:20px; }
div.box h2 { margin:0 0 10px 0; color:#000; }
div.box h3 { border-top-width:1px; border-top-style:solid; font-size:14px; padding:2px 6px;
    margin-bottom:10px; text-shadow: 1px 1px 1px #FFF; background:#F4EEF7; }
div.box ul { list-style-type:none; padding:0; margin-left:6px; }
div.box a { color:#5C0075; }

/* inner box in a box */
div.box div.inner { border-width:20px 2px 2px 2px; border-style:solid; border-color:#FCFAFD; }
div.box div.inner h4 { background-color:#FCFAFD; margin:-20px 0 10px 0; padding:2px 0; }

/* tag editor */
div.box h3 span.tag-editor { float:right; text-shadow:none; font-size:12px; }
    div.box h3 span.tag-editor a { cursor:pointer; }

/* quick links */
ul.quick_links { width:100%; }
ul.quick_links li { display:inline-block; text-align:center; margin:0 10px 10px 0 !important; }
ul.quick_links li a { text-decoration:none; background:url('../model/images/report_page/button-border.png') repeat-x top left;
    display:inline-block; height:40px; vertical-align:middle; position:relative; line-height:0px; }
ul.quick_links li a:hover { text-decoration:none; }
ul.quick_links li a span.left { background:url('../model/images/report_page/button-left-border.png') no-repeat top left; position:absolute;
    top:0; left:0; width:2px; height:40px; }
ul.quick_links li a span.right { background:url('../model/images/report_page/button-right-border.png') no-repeat top left; position:absolute;
    top:0; right:0; width:2px; height:40px; }
ul.quick_links li a strong { display:block; padding:0 10px; line-height:30px; }

/* table */
div.table { margin-bottom:30px; }
div.table h3 { border-top-width:1px; border-top-style:solid; font-size:14px; padding:2px 6px;
    margin-bottom:0; text-shadow: 1px 1px 1px #FFF; height:25px; }
div.table td[width="15"] { display:none; } /* ridicurous */
div.table p { text-align:center; font-size:12px; padding:2px; }
  div.table p.loading { background:url('../images/icons/ajax-loader.gif') no-repeat center; }
  div.table p a { text-decoration:underline; }

/* "normal" tables */
div.table table.refSummary { font-size:12px; width:100%; }
div.table table.refSummary td { padding:6px; }
div.table table.refSummary thead td { border-width:0 0 1px 0; border-style:solid; padding:0 0 0 6px; font-size:13px; }
div.table table.refSummary tr.even td { border-width:1px 0; border-style:solid; }

/* "templates" tables */
div.table table.results { font-size:12px; }
div.table table.results td { padding:6px; }
div.table table.column-header-content td { padding:0px; }
div.table table.results em { font-style:normal; } /* normal is the new emphasis */
div.table table.results thead th { border-width:0 0 1px 0; border-style:solid; padding:0; text-align:left;
    text-transform:capitalize; font-size:13px; font-weight:normal; }
div.table table.results tr.even td { border-width:1px 0; border-style:solid; }
div.table.template div.templateDetails p.description { line-height:auto !important; margin:0 auto !important;
  text-align:left; padding-left:6px; }
div.table.template div.templateDetails div.favorites img { float:left; padding:4px 4px 4px 6px; }

/* sidebar lists in which this object can be found */
#in-lists div.heading { margin:0 0 10px 0 !important; background:#F4EEF7 !important; border-width:1px 0 0 0 !important;
  border-style:solid; border-color:#5C0075; padding:2px 6px !important; color:#5C0075 !important; text-shadow:1px 1px 1px #FFF; }
#in-lists div.body[style] { border:0 !important; padding:0 0 0 6px !important; }

/* genome feature */
div.feature span.smallnote { line-height:auto !important; }
div.feature h3 { margin-bottom:0; }
div.feature table { width:100%; }
div.feature table td { padding:6px; }
div.feature table tr.even td { border-width:1px 0; border-style:solid; }
div.feature table td.border-left { border-left:1px solid #DCC8E2 !important; }

img.tinyQuestionMark { padding-bottom:4px; cursor:help; }

