/* instead of using the body div, use this one */
div.bodyPeekaboo
{
  font-size: 12px;
  margin-top: 10px;
  margin-right: 12px;
  margin-left: 12px;
  margin-bottom: 10px;
  position:relative;
}

/* surrounds view paths */
div.view {
  padding: 4px;
  padding-bottom: 14px;
}
/* one path added to the view area */
div.viewpath {
  background-color: #E7F1FB;
  border: 1px solid #bbb;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
  text-align: center;
  font-size: 11px;
  cursor: pointer;
  cursor: hand;
}
/* a path in the view that has an error */
div.errorPath {
  background-color: #FBB;
  border: 1px solid #eaa;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
  text-align: center;
  font-size: 11px;
}
div.viewpathDisabled {
  background: #bbb;
}
div.viewListEdit {
  color: #555;
  float: left;
  padding-right: 6px;
  padding-top: 1.5em;
}
span.viewPathDescription {
//  font-style: italic;
}

/* surrounds sort order paths */
div.sortorder {
  padding: 4px;
  padding-bottom: 14px;
}

/* one path added to the sort order area */
div.sortorderpath {
  BORDER-RIGHT: #bbb 1px solid;
  BORDER-TOP: #bbb 1px solid;
  FONT-SIZE: 10px;
  COLOR:  #660099;
  BACKGROUND-color: #F5F0FF;
  BORDER-LEFT: #bbb 1px solid;
  CURSOR: hand;
  BORDER-BOTTOM: #bbb 1px solid;
  TEXT-ALIGN: center;
  PADDING-RIGHT: 4px;
  PADDING-LEFT: 4px;
  PADDING-BOTTOM: 14px;
  PADDING-TOP: 4px;
  width: 250px
}

.showing {
  background-color: #E7F1FB;
  border: 1px solid #bbb;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  margin-left: 3px;
  margin-right: 3px;
  line-height: 25px;
}

/* =TABLE £QB*/
table.query {
  border: none;}

/* =TD £QB*/
table.query td.modelbrowse {
  border-right: 1px solid #888;}