/* override default InterMine here */
#content li { margin-left:0 !important; }
.body, .disclosure { margin:auto !important; }
div#navtrail { margin:0 !important; }
#headercontainer { overflow-x:hidden; /* was not working on vanilla Flymine either, might result in unexpected behavior */ }
p#contactUsLink { display:none; }
ul { list-style-type:none; }

/* body */
html, body { font-family: 'Lucida Grande',Geneva,Lucida,Helvetica,Arial,sans-serif; }
.container_12 { font-size:12px; }
h2 { margin-bottom:10px; }

/* report page */
#pagecontentmax { padding-top:0; }
#header_wrap { background-repeat:repeat-x; background-position:left top; background-attachment:scroll;
  padding-top:10px; }

/* header */
#object_header { width:94%; margin-left:3%; margin-right:3%; position:relative; font-size:12px; }
    #object_header h1.title {font-family:"Myriad Pro",Arial,Garuda,Helvetica,Tahoma,sans-serif; font-size:24px;
        font-weight:normal; position:relative; }
    #object_header p.description { margin:0; padding-bottom:10px; }
      #object_header p.description img { vertical-align:top; }

    #object_header td.label,
    #object_header span.label { min-width:100px; display:inline-block; white-space:nowrap; }

    /* header items */
    #object_header table.fields tr td:not(:first-child) { padding-right:20px; }

    /* header inline lists */
  #object_header div.inline-list { margin:0; }
    #object_header div.inline-list ul { margin-left:3px; }

    /* header link */
    #headerLink { position:absolute; top:0; right:0; z-index:3; font-size:12px; }

    /* top displayers */
    #object_header div.displayers { margin:0; }
    #object_header div.displayers h3 { border:0; }

    /* share this */
  #object_header #share { position:relative; font-size:11px; margin-top:6px; }
    #object_header #share a { background:url('../images/report/share_badge.png') no-repeat left; width:44px; height:11px;
     display:inline-block; margin-left:3px; cursor:pointer; }
    #object_header #share div.popup { display:none; position:absolute; top:0px; left:0; z-index:2; background:#FFF;
     border:1px solid #7F7F7F; padding:6px; }
    #object_header #share div.popup input { display:block; width:400px; font-size:11px; }
    #object_header #share div.popup span.close { float:right; display:inline-block; width:14px; height:10px;
     background:url('../images/report/close.png') no-repeat left; cursor:pointer; }

/* 'floating' menu */
#headercontainer, #header_wrap, #navtrail { z-index:2; position:relative; }
#navtrail { display:inline-block; float:right; background:inherit; width:96.4%; }
#headercontainer { background:inherit; display:inline-block; }
#fixed-menu { position:fixed; top:0; width:100%; z-index:1; box-shadow: 0px 1px 4px #A9A9A9; -moz-box-shadow: 0px 1px 4px #A9A9A9;
  -webkit-box-shadow: 0px 1px 4px #A9A9A9; }
#fixed-menu div.wrap, #toc-menu-wrap div.wrap { border-bottom-width:1px; border-bottom-style:solid; }
#content { z-index:0; }
#fixed-menu div.wrap, #toc-menu-wrap div.wrap { margin:0 auto; width:94%; vertical-align:bottom; }
#fixed-menu div.links a.current, #toc-menu-wrap div.links a.current { border-width:1px; border-style:solid; border-bottom:0; }
#fixed-menu span, #toc-menu-wrap span { float:left; font-size:13px; line-height:20px; padding-left:6px; }
#menu-target { display:inline-block; height:20px; width:100%; }

/* menu of menues menu */
div.menu-wrap { float:left; width:90%; height:20px; display:inline-block; }
div.menu-wrap div.links { height:20px; display:inline-block; }
div.menu-wrap div.links a { height:20px; display:inline-block; }

/* menu of links not list */
#toc-menu-wrap div.wrap a, #fixed-menu div.wrap a { font-size:16px; font-weight:bold; padding:0 10px; margin: 0 2px; }
#toc-menu-wrap div.wrap div.links, #fixed-menu div.wrap div.links { width:100%; text-align:center; }
/* smallscreen resize */
#toc-menu-wrap .smallscreen, #fixed-menu .smallscreen { line-height:17px !important; }
#toc-menu-wrap .smallscreen span, #fixed-menu .smallscreen span { display:none; }
#toc-menu-wrap .smallscreen a, #fixed-menu .smallscreen a { font-size:13px !important; padding:0 3px !important; }
#toc-menu-wrap .smallscreen div.menu-wrap, #fixed-menu .smallscreen div.menu-wrap { float:none; width:auto; }

/* content */
#content p.description { font-size:13px; line-height:19px; margin:20px 0; }
    #content p.description img { vertical-align:bottom; padding:0 6px 0 0; }
div.container_12 { padding-top:30px; }

/* sidebar lists in which this object can be found */
#in-lists div.heading { margin:0 0 10px 0 !important; border-width:1px 0 0 0 !important; border-style:solid;
  padding:2px 6px !important; }
#in-lists div.body[style] { border:0 !important; padding:0 0 0 6px !important; }

/* links in other mines & external links */
.sidebar #external-links .loading { background:url('../images/icons/ajax-loader.gif') no-repeat left center; display:block;
  width:100%; height:18px; margin-bottom:5px; }
.sidebar #external-links ul { margin-left:6px; }
.sidebar #external-links ul li ul { padding-left:6px; }
.sidebar #external-links ul li ul li { display:inline-block; }
.sidebar #external-links ul li ul li:not(:last-child):after { content:','; margin-right:4px; }
.sidebar #external-links div.mine { margin-bottom:5px; }
.sidebar #external-links li.external a,
.sidebar #external-links ul li a,
a.external { background:url('../images/icons/external_link.png') no-repeat top right; padding-right:10px; }

/* a loading elsewhere */
#gBrowse .loading { background:url('../images/icons/ajax-loader.gif') no-repeat center; margin:0 auto; min-width:200px; min-height:20px; display:block; }

img.tinyQuestionMark { padding-bottom:4px; cursor:help; }
.listsObjectIsIn { padding-top: 2px; padding-left: 10px; }

/* object not found */
#pagecontent #wrap { padding:20px; }
#pagecontent #wrap p, #pagecontent #wrap ol { font-size:18px; line-height:30px; margin:20px 0; }
#pagecontent #wrap a { color:#004499; text-decoration:underline; }

/* FlyAtlas options */
form#fly-atlas-options table { width:100%; }
form#fly-atlas-options table tr.even td { border-width:1px 0; border-style:solid; }
form#fly-atlas-options table tr td.border-left { border-left:1px solid; }
form#fly-atlas-options table tr td { padding:6px; }

/* RNAi displayer */
#rnai-displayer a.link { margin-left:6px; font-size:12px; }

/* Pathways displayer */
#mine-pathway-displayer td { vertical-align:top; }

/* Pathways displayer */
#mine-pathway-displayer th.loading { background-image:url('../images/icons/ajax-loader.gif'); padding-left:22px;
  background-repeat:no-repeat; background-position:0 5px; }

/* Displayer Wrappers */
div.wrapper { margin-bottom:30px; }

/* templates */
div.template h3 span.name { cursor:pointer; }

/* resizing on small screens */
@media only screen and (max-width:1440px) {
    /* header summary fields */
    #object_header table.fields { width:70%; }
    /* menu */
    #toc-menu-wrap div.wrap a, #fixed-menu div.wrap a { padding: 0 2px; }
}
@media only screen and (max-width:1024px) {
    /* Interaction Network */
    #cwcontent { width:400px !important; }
    #interactions-wrap div.inside { min-width:740px !important; }
}
