/* =TD £TABLE */
td.resBar {
    background-image:url('../theme/res_bar_middle.gif');}

/* =DIV £OBJECTDETAILSTEMPLATETABLE
-------------------------------------- */
#summary {
  position:absolute;
  display:none;
  min-width:300px; padding:0;
  width:300px !important;
  background-color:#fff;
}

#summary_loading {
  width:100%;
  height:50px;
  padding-top:15px;
  text-align: center;
  border:1px solid #CCC;
}
#summary_loaded {
  padding:5px;
  background-color:white;
  border:1px solid #CCC;
}

#handle {
    height:25px;
    background-image: url('../theme/heading-bg.gif');
    background-repeat: repeat-x;
    cursor:move;
    border-top:1px solid #CCC;
}
.summaryhead {
    font-weight: bold;
    padding:5px;
}
.summaryhead h3 {
    font-size:1em;
    margin:0;padding:0;
}

/* template results - used by object & bag details pages */
/* =TABLE */
table.refSummary {
  width: 100%;
  border-top: 1px solid #888; border-left: 1px solid #888;}

/* =TD */
table.refSummary thead tr td {
  background-color: #eee; border-bottom: 1px solid #888; border-right: 1px solid #888;}

/* =TD */
table.refSummary thead tr td.object {
  background-color: #eee; font-weight: bold; border-bottom: 1px solid #888; border-right: 1px solid #888;}

/* =TD */
table.refSummary tbody tr td {
  padding: 3px;
  background-color: #FAF8FF; border-bottom: 1px solid #888; border-right: 1px solid #888;}

/* =SPAN */
span.templateResCount {
  color: #555; white-space: nowrap; font-size: 10px;}

/* =DIV */
div.templateIcon {
  float: left; padding-top: 2px;}
  
div.resultsPage {
  clear:both; padding-top: 10px;
}
	
/* =TABLE £TABLE,£BAGDETAILS*/
table.results {
  clear:left;
  border-left: solid 1px #666; border-top: solid 1px #666;font-size: small;}

/* =TD, =TH £TABLE,£BAGDETAILS*/
table.results th, table.results td {
  padding: 4px; border-right: solid 1px #666; border-bottom: solid 1px #666;
  background: #fff;}

/* =TH £TABLE,£BAGDETAILS*/
table.results th {
  background: #eee;font-size: 12px;}

/* =TD £TABLE,£BAGDETAILS*/
table.results td td {
  border: none;}

/* =TD £TABLE,£BAGDETAILS*/
table.results tr.even TD{
  background-color: #F5F0FF;}

/* =TD, TH £TABLE,£BAGDETAILS*/
table.results th.checkbox,table.results td.checkbox{
  border-right-style: dotted;}
  
table.results tr td.highlightCell { 
	background-color: #FFCBFF; 
}

table.results tr td.noHighlightObject {
    /* none */
}

table.results tr td.highlightObject {
    background-color: #ee6;
}

table.theadbuttons tr td {
    background:none;
    border:none;
    padding:0;
    margin:0;
}