.templateTitleBold {
  padding: 4px;
  font-weight: bold;}

.lookupWarn {
  color: green;}

.lookupError {
  color: #c00;}

.lookupReport {
  padding: 6px;margin-left: 10px; margin-right: 10px; 
  background-color: white;font-size: 14px;border: 1px dashed #777;}