.templateTitleBold {
  padding: 4px;
  font-weight: bold;}

.templateDescription {
  margin-top: 5px;padding: 4px;
  font-style: italic; font-size: 90%;}

.parameterValues {
  margin-top: 5px;}

li.tb_button.inactive a { color:#BBB; }