/* 
CSS MUST FOLLOW THE PATTERN:
 style {
	list of positioning attributes;
	list of size/padding/margin;
	list of anything affecting the content;}
 
 */

/* =Tag Redefinition
--------------------------*/

*{
	padding:0px;
	margin:0px;}

html, body {
  margin: 0px; padding: 0px;
  font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif; font-size: 100%; /* NN4 */}

/* =A */
a:link { color:#049; text-decoration:none }
a:visited { color:#049; text-decoration:none }
a:link:hover { color:#CF4D23; text-decoration:underline }
a:visited:hover { color:#CF4D23; text-decoration:underline }
a:link:active { color:#58e; text-decoration:none }

a.extlink , a.extlink:link, a.extlink:visited, a.extlink:active, a.extlink:hover {
  padding-right: 15px; margin-right: 15px;
  white-space: nowrap; background: url('../images/extlink.gif') right center no-repeat; }

ul#submenulist li a {
	float:left;}

/* =H */
h1, h2, h3, h1 a, h1 a:visited, label {
   color:#5C0075; }

/* =IMG */
img {
  border: none;}

/* =FORM */
form {
  margin: 0px}

/* =TD */
table td {
  font-size: 12px;}

li {
	margin-left: 30px;}

/* =DIV
--------------------------*/
#header {
	padding: 90px 0 0 0;height:24px;margin:0;
	font-size: 12px;}

#title {
   position:absolute; top:15px;
   padding:0px;margin:0px;}


#leftCol{
	width:380px;float:left;}

#rightCol{
	margin-left:390px;}

#clearLine{
	clear:both;}

#loginbar {
    position:absolute; right:0px; top:75px;
    padding:5px;}	

#topnav {
    position:absolute; right:0px; top:0px;
    background-color: #5C0075; color: #FFF; font: 0.95em Arial,sans-serif;
    padding:5px;}

#pagecontent {
  clear:both;
  margin: 10px 0 0 0; padding: 0px;}


.clear-both {
  clear: both;
  height: 0px;
  content: "."; visibility: hidden;}

.notLogged {
	text-align: center;}

.roundcorners, .gradientbox, .plainbox {
   margin:0px 5px 10px 5px; padding:0;	height: 1%;/**kill peek-a-boo bug**/
   font-size: 1em;	text-align: left;}

/*.roundcorners {
	background: url('../images/roundcorner_b_l.png') no-repeat bottom left #F5F0FF;}
*/
.pageDesc { 
    padding: 10px; margin: 0 15px 15px 15px;
	background-color: #F5F0FF; vertical-align: middle; text-align: left;}

.feedbackButton {
  clear:both;
  padding: 4px;
  background-color: white; text-align: center; font-size: 13px; white-space: nowrap;}

.heading, .heading2 {
  height: 1.5em; /* needed to prevent the peekaboo bug on IE: http://www.positioniseverything.net/explorer/peekaboo.html */
  margin: 0 8px 4px 8px; padding:5px 0px 0px 10px; border: 1px solid #888;
  font-size: 14px; font-weight:bold; background: url('../theme/heading-bg.gif') top center repeat; white-space: nowrap;}

.topBar {
	  padding: 6px;
	  background: white; font-size: 13px; border: 1px dashed #777;}

div.templateLine {
  margin-bottom: 5px; margin-top: 5px;}

div.templateDetails {
  margin-left: 15px;
  /* needed to prevent the peekaboo bug on IE:
     http://www.positioniseverything.net/explorer/peekaboo.html */
  height: 0.01%;}

.listHeading {
  height: 1.5em; /* needed to prevent the peekaboo bug on IE: http://www.positioniseverything.net/explorer/peekaboo.html */
  margin: 0px 8px 4px 8px; padding:5px 0px 0px 10px;
  font-size: 14px; font-weight:bold; white-space: nowrap; background-color: #eee;}

.boxTopRight {
  float: right;}

.body {
  margin:10px 12px 10px 12px;
  font-size: 12px; color: #333;}

.box div.title{
  padding: 5px;border-top: 1px solid #888; border-bottom: 1px solid #888;
  text-align: left; font-size: 14px; font-weight: bold; background: #eee;color: #333;}

.boxbody {
  padding-top: 10px;
  background-color: white;}

.altmessage {
  font-size: 14px; font-style: italic; text-align: center; color: #888;}

.help {
  padding: 5px;
  text-align: right;font-size: 11px;font-weight: normal;}

.box .buildmenu .body {
  clear: both;
  border: 1px solid #888;padding: 5px;
  font-size: 12px;}

.admin-msg {
  text-align: center;}

div#navtrail{
	padding-right:15px;margin:0;
	font-size:0.7em; text-align:right}

div#quicksearch {
	float:right;
	padding-right:15px;	margin-top:0.6em;
	font-weight:bold; color:white;white-space: nowrap;}

#submenu {
	clear:both;	display:block;
	padding:0px; margin:0 0 5px 0; padding-left:15px;height:3em;
	color:#CCC;	font-size: 12px;}

/* =SPAN 
-------------------------*/
#logo {
   float: left;
   margin-left: 5px;margin-right: 10px;}

.version {
  font-size: 12px; color: #333; font-weight: bold;}

.errors {
  color: #c00;}

.browserline .showing {
  margin-left: 0px;}

.type {
  color: #864;}

.modelBrowser .type {
  color: blue;}

.collectionField {
  color: green;}

.attributeField {
  color: green;}

.value {
  font-family: monospace; font-size: 13px;}

.nullStrike,span.nullStrike a:link {
/* see #643:    text-decoration: line-through; */
  color: #888;}

.smallnote {
  font-size: 11px;}

.tag {
  white-space: nowrap; color: #444;}

.helpnote {
  position:absolute;
  width:200px; padding:10px; z-index: 100;
  background:#FFF;border:green 1px solid;
  white-space: normal;
}

/* =H 
-------------------------*/
#header h1,
#header h1 a:link,
#header h1 a:visited {
  margin: 0px; padding:0px;
  color:#FFF; font-size: 1.6em; font-weight: bold;}

.roundcorners h1, .gradientbox h1, .plainbox h1{
    margin:0; padding:0px;
    color:#5C0075; font-size:1.5em;}

.imbox h3{float:left;font-size:1.4em;color:white;}

.body h3 {
  margin-top: 10px;}
  
/* =P
-------------------------*/
#header p {
  margin: 0; margin-left: 2px;
  color:white; font-size: 1em; font-weight: normal;}

#title p{
   background:none;}

.roundcorners p, .gradientbox p, .plainbox p {
	background:none;}

.pageDesc p {
	background:none;}

.box p {
  padding-top: 5px;}

/* =A
-------------------------*/
#topnav  a:link, #topnav a:visited, #topnav{
    color:#FFF;}

#loginbar  a:link, #loginbar a:visited, #loginbar{
	font-weight: bold; color:#FFF; font-size: 1.1em;}

.imbox a{
	color:white;}

.imbox a:hover{
	color:white;text-decoration: underline;}

a.constraintDesc {
  font-size: 11px; font-style: italic; color: #333;}

a.constraintId {
  font-size: 10px; color: green;}

/* ???? */
a.brokenTmplLink {
  color: #d00;}

ul#nav a{
	float:left;
	padding:0px 15px;line-height:2;}

/* =IMG
-------------------------*/
.roundcorners img, .gradientbox img, .plainbox img{
	padding:0px; margin:0px;}

.arrow {
    vertical-align: middle;}

/* ??? */
img.fasta {
  margin-top: 3px; vertical-align: text-bottom;}

/* =TABLE	
-------------------------*/
table#headertable{
	width:100%; margin:0px;padding:0px;}

/* =SUB
-------------------------*/
.heading sub, .heading sup {
  line-height: 0;}

/* =HR
-------------------------*/
hr.seperator {
  border: 0px; height: 1px;
  color: #ccc; background-color: #ccc;}

/* =LISTS
-------------------------*/
ul#submenulist, ul#submenulist li {
	padding: 0px; margin:0px; line-height:3;
	list-style: none;}

ul#submenulist li {
	float:left;}

#sidebar li {
	margin-left: 20px;}

/*.roundcorners dl {
	margin:0; padding:0 0 0 5px;
	background: url('../images/roundcorner_t_l.png') no-repeat top left; }

.roundcorners dt {
	padding:0 0 5px 10px; margin:0;
	background: url('../images/roundcorner_t_r.png') no-repeat top right; }

.roundcorners dd {
	padding:10px; margin:0;
	background: url('../images/roundcorner_b_r.png') no-repeat bottom right;}
*/
ul#nav,ul#nav li{
	margin:0px;padding:0px;
	list-style-type:none;}

ul#nav{
	clear:both;
	width:100%;margin-left:10px;}

ul#nav li{
	float:left;
	margin:0px 1px 0px 0px;}
	
	
/* =DIV £TABLE */
.lookupReport
{
  margin: 0 10px 10px 10px; padding: 6px;
  background-color: white; font-size: 14px; border: 1px dashed #777;}

/* =DIV £TABLE */
.lookupWarn {
  color: green;}

/* =DIV £TABLE */
.lookupError {
  color: red;}