/*
 CSS MUST FOLLOW THE PATTERN:
 style {
 list of positioning attributes;
 list of size/padding/margin;
 list of anything affecting the content;}

 */
/* =Tag Redefinition
 --------------------------*/ * {
    /*padding:0px;*/ /* creating more trouble for us than its worth... */
    margin: 0px;
}

ul {
    padding-left: 0;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
    font-size: 100%; /* NN4 */
}

/* =A */
a:link {
    color: #049;
    text-decoration: none;
}

a:visited {
    color: #049;
    text-decoration: none;
}

a:link:hover {
    color: #CF4D23;
    text-decoration: underline;
}

a:visited:hover {
    color: #CF4D23;
    text-decoration: underline;
}

a:link:active {
    color: #58e;
    text-decoration: none;
}

a.extlink, a.extlink:link, a.extlink:visited, a.extlink:active, a.extlink:hover {
    padding-right: 15px;
    margin-right: 15px;
    white-space: nowrap;
    background: url('../images/icons/external_link.png') right top no-repeat;
}

pre {
    background-color: #87CEFA;
    margin: 10px;
    padding: 10px;
    line-height: 0.6em;
    border: 1px solid #66CC99;
}

/* =H */
h1, h2, h3, h1 a, h1 a:visited, label {
    color: #5C0075;
}

/* =IMG */
img {
    border: none;
}

/* =FORM */
form {
    margin: 0px;
}

/* =TD */
table td {
    font-size: 12px;
}

li {
    margin-left: 30px;
}

/* =HEADER TOP
 --------------------------*/
#headercontainer {
    width: 100%;
    margin: 0;
    padding: 0;
}

#header {
    width: 1000px;
    padding: 0;
    margin: 0;
    height: 50px;
    font-size: 12px;
}

#header h1, #header h1 a:link, #header h1 a:visited {
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
    color: #FFF;
    font-size: 1.4em;
    font-weight: bold;
    float: left;
}

#header p {
    margin: 20px 0 0 5px;;
    color: white;
    font-size: 1em;
    font-weight: normal;
    float: left;
}

p#version {
    font-size: 12px;
    color: #333;
    font-weight: bold;
    float: left;
}

#topnav {
    padding: 5px;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    color: #FFF;
    font: 0.7em Arial, sans-serif;
    white-space: nowrap;
}

#topnav a:link, #topnav a:visited, #topnav {
    color: #FFF;
}

#logo {
    float: left;
    margin: 5px;
}

tbody#summary_table td {
  padding-right:4px;
}

/* =MENU
 --------------------------*/
div#menucontainer {
    clear: both;
    padding-left: 10px;
    width: 1000px;
}

ul#nav {
    font-size: 12px;
    clear: both;
    margin-left: 10px;
    margin-bottom: 0px;
}

ul#nav a {
    float: left;
    padding: 0px 10px;
    line-height: 2;
}

ul#nav, ul#nav li {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

ul#nav li {
    float: left;
    margin: 0px 1px 0px 0px;
}

ul#loginbar, ul#loginbar li {
    padding: 0;
    list-style-type: none;
}

ul#loginbar {
    font-size: 0.8em;
    font-weight: bold;
    float: right;
    margin-top: 5px;
}

ul#loginbar li {
    padding: 0 6px;
    margin: 0;
    float: left;
}

ul#loginbar a {
    padding: 0px;
}

/* =SUBMENU
 --------------------------*/
div#quicksearch {
    margin-top: 5px;
    float: right;
    font-weight: bold;
    color: white;
    white-space: nowrap;
}

#submenu {
    clear: both;
    float: left;
    width: 100%;
    white-space: nowrap;
    padding: 0px;
    margin: 0;
    height: 36px;
    color: #CCC;
    font-size: 12px;
}

#submenufixed {
    clear: both;
    width: 1000px;
    white-space: nowrap;
    padding: 0px;
    margin: 0;
    height: 36px;
    color: #EEE;
    font-size: 12px;
}

#submenudiv {
    width: 990px;
}

ul#submenulist {
    border: none; /*padding:11px 0;*/
    display: inline; /*line-height:3;*/
}

ul#submenulist li a {
    padding: 0 6px;
    float: left;
}

ul#submenulist, ul#submenulist li {
    /*margin:11px 0;*/
    list-style: none;
}

ul#submenulist li {
    border: none;
    float: left;
    margin: 0;
}

ul#submenulist li div {
    display: inline;
    float: left;
    border-left-width: 1px;
    border-left-style: solid;
    padding-left: 6px;
    margin: 11px 5px 10px 0;
}

ul#submenulist li.first div {
    border: none;
}

ul#submenulist li span {
    padding: 0 6px;
}

/* =DIV
 --------------------------*/
#leftCol {
    width: 380px;
    float: left;
}

#rightCol {
    margin-left: 390px;
}

#clearLine {
    clear: both;
}

#pagecontentcontainer {
    /*background: url('../theme/blue_grad.png') repeat-x bottom #F5F0FF;*/
    margin: 0;
    clear: both;
}

#pagecontent {
    clear: both;
    background-color: #FFF;
    text-align: left;
    width: 1000px;
    margin: 0;
    padding: 10px 0 0 0;
}

#pagecontentmax {
    clear: both;
    background-color: #FFF;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 10px 0 0 0;
}

.clear-both {
    clear: both;
    height: 0px;
    content: ".";
    visibility: hidden;
}

.notLogged {
    text-align: center;
}

.roundcorners, .gradientbox, .plainbox {
    margin: 0px 5px 10px 5px;
    padding: 0;
    height: 1%; /**kill peek-a-boo bug**/
    font-size: 1em;
    text-align: left;
}

/*.roundcorners {
 background: url('../images/roundcorner_b_l.png') no-repeat bottom left #F5F0FF;}
 */
.pageDesc {
    padding: 10px;
    margin: 0 15px 15px 15px;
    background-color: #eee;
    vertical-align: middle;
    text-align: left;
}

.contactButton {
    clear: both;
    padding: 4px;
    background-color: white;
    text-align: center;
    font-size: 13px;
    white-space: nowrap;
}

.heading, .heading2 {
    /*height: 1.5em;*/ /* needed to prevent the peekaboo bug on IE: http://www.positioniseverything.net/explorer/peekaboo.html */
    /*margin: 0 8px 4px 8px; padding:5px 0px 0px 10px; border: 1px solid #888;*/
    border: 1px solid #888;
    margin: 0 8pt 15px 8px;
    padding: 5px 15px 5px 15px;
    line-height: 1.14286;
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
}

.constraintDesc {
    font-size: 11px;
    font-style: italic;
    color: #333;
}

div.templateLine {
    margin-bottom: 5px;
    margin-top: 5px;
}

div.templateDetails {
    margin-left: 15px;
    /* needed to prevent the peekaboo bug on IE:
     http://www.positioniseverything.net/explorer/peekaboo.html */
    height: 0.01%;
}

.boxTopRight {
    float: right;
}

/* disclosure style is default style of <disclosure> element*/
.body, .disclosure {
    margin: 10px 12px 10px 12px;
    font-size: 12px;
    color: #333;
}

.box div.title {
    padding: 5px;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    background: #eee;
    color: #333;
}

.boxbody {
    padding-top: 10px;
    background-color: white;
}

.altmessage {
    font-size: 14px;
    font-style: italic;
    text-align: center;
    color: #888;
}

.help {
    padding: 5px;
    text-align: right;
    font-size: 11px;
    font-weight: normal;
}

.box .buildmenu .body {
    clear: both;
    border: 1px solid #888;
    padding: 5px;
    font-size: 12px;
}

.admin-msg {
    text-align: center;
}

div#navtrail {
    padding: 10px 10px 0 0;
    margin: 0 10px 0 10px;
    font-size: 0.7em;
}

div#navtrail a:link, div#navtrail a:visited {
    border-bottom: 1px dotted #049;
}

/* Default style of <disclosureBody> element*/
.disclosureBody {
    margin-left: 20px;
}

/* Default style of element disclosureHead is style disclosureHead and it should be same as listHeading*/
.listHeading, .disclosureHead {
    height: 1.5em; /* needed to prevent the peekaboo bug on IE: http://www.positioniseverything.net/explorer/peekaboo.html */
    margin: 0px 0px 4px 0px;
    padding: 5px 0px 0px 10px;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    background-color: #eee;
}

/* =SPAN
 -------------------------*/
.errors {
    color: #c00;
}

.browserline .showing {
    margin-left: 0px;
}

.type {
    color: #864;
}

.typeSelected {
    color: blue;
}

.modelBrowser .type {
    color: blue;
}

.collectionField {
    color: green;
}

.attributeField {
    color: green;
}

.referenceField {
    color: green;
}

.value {
    font-family: monospace;
    font-size: 13px;
}

.nullStrike, span.nullStrike a:link {
    /* see #643:    text-decoration: line-through; */
    color: #888;
}

.smallnote {
    line-height: 2em;
    font-size: 11px;
}

.bigmessage {
    font-size: 1.4em;
    text-align: center;
}

.tag {
	display: inline-block;
    white-space: nowrap;
    color: #444;
    margin-right: 1em;
    padding: 0.3em;
    border: 1px solid #ddd;
}

.tag a {
	margin-left: 0.5em;
}

.helpnote {
    position: absolute;
    width: 200px;
    padding: 10px;
    z-index: 100;
    background: #FFF;
    border: green 1px solid;
    white-space: normal;
}

.fakelink {
    color: #049;
    cursor: pointer;
}

.fakelink:hover {
    color: #CF4D23;
    text-decoration: underline;
}

.fakelink:active {
    color: #58e;
    text-decoration: none;
}

/* Genomics (12 results) */
.templateResultsToggle {
    font-size: 0.8em;
    text-align: right;
}

/* =H
 -------------------------*/
.roundcorners h1, .gradientbox h1, .plainbox h1 {
    margin: 0;
    padding: 0px;
    font-size: 1.5em;
}

.imbox h3 {
    float: left;
    font-size: 1.4em;
    color: white;
}

.body h3 {
    margin-top: 10px;
}

/* =P
 -------------------------*/
.roundcorners p, .gradientbox p, .plainbox p {
    background: none;
}

.pageDesc p {
    background: none;
}

.box p {
    padding-top: 5px;
}

/* =A
 -------------------------*/
.imbox a {
    color: white;
}

.imbox a:hover {
    color: white;
    text-decoration: underline;
}

a.constraintDesc {
    font-size: 11px;
    font-style: italic;
    color: #333;
}

a.constraintId {
    font-size: 10px;
    color: green;
}

/* ???? */
a.brokenTmplLink {
    color: #d00;
}

span.brokenTmplLink {
    color: #d00;
    text-decoration: line-through;
}

/* =IMG
 -------------------------*/
.roundcorners img, .gradientbox img, .plainbox img {
    padding: 0px;
    margin: 0px;
}

.arrow {
    vertical-align: middle;
}

/* ??? */
img.fasta {
    margin-top: 3px;
    vertical-align: text-bottom;
}

/* =TABLE
 -------------------------*/
table#headertable {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

/* =SUB
 -------------------------*/
.heading sub, .heading sup {
    line-height: 0;
}

/* =HR
 -------------------------*/
hr.seperator {
    border: 0px;
    height: 1px;
    color: #ccc;
    background-color: #ccc;
}

/* =LISTS
 -------------------------*/
#sidebar li {
    margin-left: 20px;
}

/*.roundcorners dl {
 margin:0; padding:0 0 0 5px;
 background: url('../images/roundcorner_t_l.png') no-repeat top left; }

 .roundcorners dt {
 padding:0 0 5px 10px; margin:0;
 background: url('../images/roundcorner_t_r.png') no-repeat top right; }

 .roundcorners dd {
 padding:10px; margin:0;
 background: url('../images/roundcorner_b_r.png') no-repeat bottom right;}
 */
/* CHECK THIS IS ACTUALLY NEEDED*/
ul#nav, ul#nav li {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

ul#nav {
    clear: both;
    margin-left: 10px;
}

ul#nav li {
    float: left;
    margin: 0px 1px 0px 0px;
}

div#ui-datepicker-div {
    z-index: 99999;
}

div#ui-datepicker-control {
    background: #655;
}

/* templates.do etc box header (we expect a 64x64 image)  */
div.gradientbox dt img {
    float: left;
    padding: 0 10px 0 0; /*background:url("../images/icons/shade.png") no-repeat 4px 58px;*/
}

div.gradientbox dd {
    margin-top: 6px;
}

div.gradientbox h1#templatetop {
    font-size: 22px;
}

/* template.do etc box header (we expect a 64x64 image)  */
div.plainbox dt img {
    float: left;
    padding: 0 10px 0 0; /*background:url("../images/icons/shade.png") no-repeat 4px 58px;*/
}

div.plainbox h2.templateTitle { /*padding-top:16px;*/
}

div.plainbox div.templateFormContainer {
    margin-top: 34px;
    padding-left: 14px;
}

/* templateAction.do query builder model browser icon (we expect a 64x64 image) */
#queryBuilderBrowser #browserbody img.icon {
    float: left;
    display: inline-block;
    padding: 0 10px;
}

input[type = "submit"].bagDetailsAction {
    margin: 0em 0.1em 0em 0.1em;
    padding: 0.1em 0.4em 0.1em 0.4em;
}

/* button styling */
input[type = "submit"],
input[type = "button"] {
    cursor: pointer;
    border: outset 1px #CCCCCC;
    background: #999999;
    background-repeat: repeat-x;
    padding: 1px 2px;
    background-image: url("../images/buttons/button-bg.gif");
    background-position: left top;
    height: 23px;
    vertical-align: middle;
}

input[type = "submit"].queryBuilder,
input[type = "button"].queryBuilder {
    background-image: url("../images/buttons/button-bg-query-builder.gif");
    background-repeat: repeat-none;
    background-position: left top;
    padding-left: 25px;
    height: 23px;
    vertical-align: middle;
}

input[type = "submit"].template,
input[type ="button"].template {
    background-image: url("../images/buttons/button-bg-template.gif");
    background-repeat: repeat-none;
    background-position: left top;
    padding-left: 25px;
    height: 23px;
    vertical-align: middle;
}

input[type = "submit"].edit,
input[type = "button"].edit {
    background-image: url("../images/buttons/button-bg-edit.gif");
    background-repeat: repeat-none;
    background-position: left top;
    padding-left: 25px;
    height: 23px;
    vertical-align: middle;
}

input[type = "submit"].editTemplate,
input[type = "button"].editTemplate {
    background-image: url("../images/buttons/button-bg-edit-template.gif");
    background-repeat: repeat-none;
    background-position: left top;
    padding-left: 32px;
    height: 23px;
    vertical-align: middle;
}

input[type = "submit"].editQueryBuilder,
input[type = "button"].editQueryBuilder {
    background-image: url("../images/buttons/button-bg-edit-query-builder.gif");
    background-repeat: repeat-none;
    background-position: left top;
    padding-left: 32px;
    height: 23px;
    vertical-align: middle;
}

/*input[type="submit"].next { background-image:url("../images/buttons/button-bg-next.gif"); background-repeat:repeat-none;
 background-position:left top; padding-left:25px; height:23px; vertical-align:middle; }*/
/* templates listing header submenu */
#filter_tool_bar {
    text-align: left !important;
}

#filter_tool_bar strong {
    color: #004499;
}

#filter_tool_bar strong.pad {
    margin-left: 25px;
}

#filter_tool_bar * {
    padding-right: 2px;
    vertical-align: middle;
}

/* customQuery.do */
input#submitClassSelect {
    margin-top: 5px;
}

/* WebKit lists display fix */
#all_template_template_container.wsListContainer, #all_bag_bag_container.wsListContainer, #all_templates_template_container.wsListContainer {
    display: inline;
}

/* bagBuild.jsp create a new list table */
table#buildbaglist {
    width: 500px;
    margin-bottom: 10px;
}

table#buildbaglist td {
    width: 50%;
    padding-bottom: 8px;
    vertical-align: top;
}

table#buildbaglist td.label {
    padding-right: 14px;
    width: auto;
}

table#buildbaglist td label {
    font-size: 1.2em;
    font-weight: bold;
}

table#buildbaglist select {
    width: 100%;
}

table#buildbaglist textarea {
    width: 98.5%;
}

/* desc top of textarea */
table#buildbaglist a {
    float: right;
}

/* IE7 hints div height fix */
#hints { *height:
    16px;
}

form#loginForm a {
    vertical-align: bottom;
}

/* homepage news ticker */
ol#news a {
    font-weight: bold;
}

/* hints */
#hints {
    margin: 10px 10px 0 10px;
    padding: 6px 6px 6px 0;
    font-size: 12px;
    background-repeat: no-repeat;
    background-position: 10px 6px;
}

#hints p {
    display: inline;
    padding-left: 34px;
}

#hints a {
    float: right;
}

#hints.information {
    background-color: #E6F7FE;
    background-image: url("../images/icons/information.png");
    border: 1px solid #BEDCE4;
}

/* error messages */
.topBar {
    margin: 5px 10px 10px 10px;
    padding: 6px;
    background: #FFF;
    font-size: 13px;
  border:1px dashed #777777;
}

.messages {
    background: #D5FFCE url("../images/icons/success.png") no-repeat 10px 6px;
    border: 1px solid #9ADF8F;
}

.errors, .topBar.lookupWarn, .topBar.lookupError, .topBar.lookupReport, #msg.topBar.messages.fail {
    background: #FFFBCC url("../images/icons/alert.png") no-repeat 10px 6px;
    border: 1px solid #E6DB55;
    color: #000 !important;
}

.topBar.errors.loading { background-image:url("../images/wait18.gif"); }

.messages p, .errors p, .topBar.lookupWarn p, .topBar.lookupError p, .topBar.lookupReport p {
    display: inline;
    padding-left: 34px;
}

.messages > a, .errors > a, .topBar.lookupWarn > a, .topBar.lookupError > a, .topBar.lookupReport > a {
    float: right;
}

.topBar p span {
	margin-right: 1em;
}

#error_msg, #msg, #lookup_msg {
    padding-left: 34px;
}

/* breadcrumbs */
p#crumbs {;
}

p#crumbs span {
    color: #E2E1E6;
    font-size: 9px;
    margin: 0 2px 0 1px;
}

#contextHelp {
    display: inline;
    float: right;
}

/* bagDetails.do widget list links overriding bagDetails.css to be more obvious */
p#toggleWidgets {
    padding: 0;
    margin: 0;
    margin-left: 10px;
    display: inline;
    float: left;
}

ol.widgetList {
    padding-left: 0 !important;
    float: left;
}

ol.widgetList li {
    margin-top: 10px;
}

ol.widgetList li a, ol.widgetList li a.active, ol.widgetList li a:hover {
    background-color: #EEEEEE;
    background-repeat: no-repeat;
    background-position: left;
    color: #000;
    text-decoration: none;
    padding: 4px 6px 4px 6px;
    border: 1px solid #D2D2D2;
}

/* template.do buttons */
#templateButtons {
    margin: 14px 0 0 84px;
}

/* query builder constraints */
label {
    vertical-align: top;
    padding-left: 2px;
}

/* mymine menu */
#menucontainer ul#nav li#mymine a span {
    background: url(../images/icons/person-ico.png) no-repeat left;
    padding-left: 20px;
}

/* mymine submenu */
/*ul#submenulist li { margin-right:5px; padding-left:6px; }*/
ul#submenulist li span {;
}

ul#submenulist li.first, ul#submenulist li a, ul#submenulist li.first a { /*border:none;*/
}

#submenu.submenu_mymine ul#submenulist li#subactive_mymine, ul#submenulist li#subactive_bag {
    text-decoration: none !important;
}

ul#submenulist li.myminebagstabtitle a, ul#submenulist li.myminebagstabtitle span {
    background: url('../images/icons/lists-16.png') no-repeat 6px;
    padding-left: 26px;
}

ul#submenulist li.myminesavedqueriestabtitle a, ul#submenulist li.myminesavedqueriestabtitle span {
    background: url('../images/icons/queries-16.png') no-repeat 6px;
    padding-left: 26px;
}

ul#submenulist li.myminesavedtemplatestabtitle a, ul#submenulist li.myminesavedtemplatestabtitle span {
    background: url('../images/icons/templates-16.png') no-repeat 6px;
    padding-left: 26px;
}

/* lists analysis (bagDetails.do) */
div.heading.results img {
    float: left;
    display: inline;
    margin-right: 16px;
}

div.heading.results #tool_bar_div ul#button_bar, div.heading.results #tool_bar_div ul#button_bar li {
    font-variant: normal;
}

div.heading.results #tool_bar_div form#findInListForm {
    float: left;
}

/* menu bt look like buttons on the rest of the site */
div.heading.results #tool_bar_div ul#button_bar li {
    background: url("../images/buttons/button-bg.gif") repeat-x scroll left top #999999;
    border: 1px outset #CCCCCC;
    padding: 4px 4px 2px 6px;
    vertical-align: middle;
    font-size: 95%;
}

/* query builder */
.actions p {
    margin-top: 10px;
}

/* footer */
#funding-footer p {
    color: #4D5154;
    font-family: "Lucida Grande", Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#funding-footer img {
    padding-left: 6px;
    vertical-align: middle;
}

/* template input h2 */
h2.templateTitle img {
    vertical-align: baseline;
}

/* keyword search results */
h2.facetRestriction {
    margin-bottom: 10px;
}

input#keywordSearch.eg {
    color: #888888;
}

/* keyword search results */
.keywordSearchResults .facets {
    background: /*#E6F7FE*/ #FFF !important;
    border: 1px solid /*#BEDCE4*/ #DFDFDF !important;
    color: #333333 !important;
}

.keywordSearchResults .facets a {
    color: #333333 !important;
}

.keywordSearchResults .facets h4 {
    color: #FB641E;
    font-size: 16px;
    background: url('../images/icons/categories-32.png') no-repeat left;
    padding-left: 40px;
    line-height: 40px;
    border-bottom: 1px solid #DFDFDF;
}

.keywordSearchResults .resultTableContainer table.dbsources {
    padding: 0; /*border:1px solid #E3D85A; */
    border-right: none;
    /*border-bottom: none;*/
}

.keywordSearchResults .resultTableContainer table.dbsources th { /*background:#FFFCD9;*/
    color: #4B3F4B;
    padding: 6px 6px 6px 12px; /*border-right:1px solid #E3D85A; border-bottom:1px solid #E3D85A;*/
    font-size: 13px;
    background: #F5F5F5;
}

.keywordSearchResults .resultTableContainer table.dbsources td { /*border-right:1px solid #E3D85A; border-bottom:1px solid #E3D85A;*/
    padding: 6px 12px;
}

.keywordSearchResults .resultTableContainer table.dbsources td.leftcol {
    border-left: 1px solid #000;
}

.keywordSearchResults h1.title {
    margin-top: 20px;
    margin-bottom: 10px;
}

.keywordSearchResults h2.sub {
    margin-top: 10px;
    margin-bottom: 10px;
}

.keywordSearchResults ul {
    list-style: square;
}

.keywordSearch .examples li {
    font-size: 1em !important;
}

.keywordSearchResults .resultTableContainer table.dbsources th {
    font-size: 16px;
    border: 1px solid #DFDFDF;
    border-left: none;
    border-right: none;
}

.keywordSearchResults .resultTableContainer table.dbsources th.type {
    width: 100px;
}

.keywordSearchResults .resultTableContainer table.dbsources tr.keywordSearchResult {
    color: #1F7492;
}

.keywordSearchResults .resultTableContainer table.dbsources tr.keywordSearchResult.odd td {
    background: #E6F7FE;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
}

.keywordSearchResults .resultTableContainer table.dbsources tr.keywordSearchResult div {
    margin-bottom: 4px;
}

.keywordSearchResults .resultTableContainer table.dbsources tr.keywordSearchResult span.value {
    font-size: 14px;
    font-family: "Lucida Grande", Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
}

.keywordSearchResults .resultTableContainer table.dbsources tr.keywordSearchResult a span.value {
    font-size: 16px;
    color: #E94F00;
}

.keywordSearchResults .resultTableContainer table.dbsources table.inner {
    border: 0;
    margin: 0;
    padding: 0;
}

.keywordSearchResults .resultTableContainer table.dbsources table.inner td {
    border: 0 !important;
    margin: 0;
    padding: 0;
}

.keywordSearchResults .resultTableContainer table.dbsources table.inner td.objectFieldName {
    width: 130px;
}

.keywordSearchResults .resultTableContainer table.dbsources table.inner td.value {
    font-family: "Lucida Grande", Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
}

.keywordSearchResults .resultTableContainer table.dbsources table.inner td.value img.fasta {
    vertical-align: top !important;
    margin-top: 1px !important;
}

.keywordSearchResults .resultTableContainer table.dbsources table.inner tr {
    border: 0;
    margin: 0;
    padding: 0;
}

.keywordSearchResults .resultTableContainer table.dbsources div.objectKeys a {
    color: #E94F00;
    font-size: 16px;
}

.keywordSearchResults .resultTableContainer table.dbsources div.objectKeys span.objectKey {
    margin: 0 !important;
}

.keywordSearchResults .resultTableContainer table.dbsources div.objectKeys span.divider {
    margin: 0 4px;
    font-size: 8px;
    vertical-align: middle;
    color: #1F7492;
}

/* keyword search results relevancy */
div.resultTableContainer td.relevance {
    width: 60px;
}

div.resultTableContainer td.relevance div.bullet {
    letter-spacing: 0.3px;
    font-size: 14px;
    display: inline;
}

div.resultTableContainer td.relevance div.full {
    color: #E94F00;
}

div.resultTableContainer td.relevance div.empty {
    color: #999999;
}

h3.facetHeader {
    text-decoration: none !important;
}

/* keyword search index */
div.keywordSearchIndex {
    border: 1px solid #C1DAD7 !important;
    background: #E6F7FE !important;
    color: #333;
}

div.keywordSearchIndex h2, div.keywordSearchIndex a {
    color: #333;
}

div.keywordSearchIndex a:hover {
    color: #000;
}

/* keyword search form */
div.keywordSearch {
  margin-left:auto; margin-right:auto;
  width:940px;
}

div.keywordSearch div.form {
    background: #FFFBD8;
    border: 1px solid #E3D85A;
    width: 500px;
    float: left;
}

div.keywordSearch div.form h2 { /*color:#4D5154;*/
    font-size: 22px;
    padding: 10px;
}

div.keywordSearch div.form a {
    margin-top: 20px;
}

div.keywordSearch div.examples {
    border: 1px solid /*#C1DAD7*/ #DFDFDF;
    background: /*#E6F7FE*/ #FFF;
    padding: 0 6px 0 10px;
    float: left;
    margin: 0 0 0 20px;
    width: 400px;
}

div.keywordSearch div.examples h4 {
    background: url("../images/icons/information-32.png") no-repeat left;
    padding-left: 40px;
    margin: 0;
    margin-bottom: 10px;
    color: #FB641E;
    border-bottom: 1px solid #DFDFDF;
    line-height: 40px;
    font-size: 16px;
}

div.keywordSearch div.examples ul {
    list-style: square;
    margin-left: 14px;
}

div.keywordSearch div.examples ul li {
    margin-bottom: 6px;
}

div.keywordSearch div.form form input[type =
"text"] {
    padding: 4px 2px;
    font-size: 14px;
  width:460px;
  margin-bottom:4px;
}

div.keywordSearch div.form form input[type = "submit"] {
    float:right; margin:0 16px 14px 0;
}

div.keywordSearch div.form form span, div.keywordSearch div.form form a { line-height:24px; }

div.keywordSearch div.form form span { float:right; margin-right:18px; }

div.keywordSearch div.form form a { float:left; margin:0 0 0 16px; }

/* lists view */
select#extraConstraintSelect {
    vertical-align: middle;
}

/* context messages */
.topBar.info {
    background: #E6F7FE url("../images/icons/information.png") no-repeat 10px 6px;
    border: 1px solid #BEDCE4;
    margin: 10px 10px 0 10px;
    padding: 6px 6px 6px 34px;
}

.topBar.info #ctxHelpTxt {
    display: inline;
  width: 90%;
}

.topBar.info a {
    float: right;
}

/* login bar */
ul#loginbar li {
    border-right-style: solid;
    border-right-width: 1px;
}

ul#loginbar li.last {
    border: none;
}

/* queryBuilder template settings */
form#queryBuilderTemplateSettings span.errors {
    border: 1px solid #DF8F8F;
    background: #FFCECE url("../images/icons/exclamation.png") no-repeat 1px;
    font-size: 11px;
    padding: 1px 0 1px 20px;
  display:inline-block;
  margin-top:3px;
}

form#queryBuilderTemplateSettings table input[type="text"], form#queryBuilderTemplateSettings table textarea { width:500px; }

/* pagin */
#table-page-links, #table-page-links div { display:inline-block; }
#table-page-links img { margin:0 !important; vertical-align:middle; }

/* widgets on list results */
p#toggleWidgets, ol#widgetList { line-height:32px; vertical-align:middle; }

/* list results low pagination */
td.resBar span.tablePageLinks img { margin:0; padding:0; margin-right:5px; vertical-align:bottom; }

/* template entry */
ol#constraintList.templateForm label, ol#constraintList.templateForm input[type="checkbox"] { vertical-align:middle !important; }
ol#constraintList.templateForm select { height:25px; }

/* constraint logic (query.do) */
#constraintLogicContainer span#constraintLogic { cursor:pointer; padding-right:14px; background-image:url('../images/icons/edit-8.png');
    background-repeat:no-repeat; background-position:97%; }
#constraintLogicContainer span#editConstraintLogic input#expr { font-size:12px; border:1px solid #CACACA; padding:2px; margin-left:10px; }

/* buildBag unresolved identifiers */
ul.unresolvedIdentifiers { list-style-type:none; margin:0; padding:0; font-weight:bold; }
  ul.unresolvedIdentifiers li { display:inline; margin:0 10px 0 0; }

/* Cytoscape interactions */
h3.interactions { font-size:16px; color:#333; }

/* template button pos */
div.floatRight { float:right; }

/* list upload progress */
  #list-progress { font-size:16px; margin-bottom:20px; }
    #list-progress div { display:inline-block; letter-spacing:-0.3px; height:35px; line-height:32.5px; }
    *#list-progress div { float:left; } /* <IE7 hack */

    #list-progress div span { vertical-align:middle; }

    #list-progress div strong, #list-progress div img { font-size:20px; vertical-align:middle; margin:0 10px; }
    #list-progress div.white strong { color:#61a100; }
    #list-progress div.gray strong { color:#c4c4c4; }

    #list-progress div.white-start { background:url('../images/progress/white-solid.gif') no-repeat left; padding:0; width:1px;
      display:inline-block; }
    #list-progress div.white { background:url('../images/progress/white-bg.gif') repeat-x; padding:0; font-weight:bold; padding-right:10px; }
    #list-progress div.white-to-gray { background:url('../images/progress/white-to-gray.gif') no-repeat left; padding:0; width:26px;
      display:inline-block; }
    #list-progress div.gray { background:url('../images/progress/gray-bg.gif') repeat-x; padding:0; padding-right:10px; }
    #list-progress div.gray-to-gray { background:url('../images/progress/gray-to-gray.gif') no-repeat left; padding:0; width:25px;
      display:inline-block; }
    #list-progress div.gray-to-white { background:url('../images/progress/gray-to-white.gif') no-repeat left; padding:0; width:25px;
      display:inline-block; }

    /* center in different browsers */
    #list-progress div.wrap { margin:0 auto; float:none; }
    #list-progress div.wrap, x:-moz-any-link { width:72%; } /* FF2 hack */
    #list-progress div.wrap, x:-moz-any-link, x:default { width:auto; } /* restore for FF3 */
    #list-progress div.wrap { *width:75%; } /* <IE7 hack */

    div.clear { clear:both; display:block; height:0; overflow:hidden; visibility:hidden; width:0; }

/* green/grey btn on bagUploadConfirm, QueryBuilder */
#bigGreen.button input { background:url('../images/progress/green-btn-center.png') repeat-x left;
  height:32px; color:#FFF; font-size:15px; font-weight:bold; border:none; line-height:21px; float:left; }
#bigGreen.button div.left { background:url('../images/progress/green-btn-left.png') no-repeat left;
  width:20px; display:inline-block; height:32px; float:left; }
#bigGreen.button div.right { background:url('../images/progress/green-btn-right.png') no-repeat left;
  width:20px; display:inline-block; height:32px; float:left; }

#bigGreen.button:hover input { background-image:url('../images/progress/green-btn-center-hover.png'); }
#bigGreen.button:hover div.left { background-image:url('../images/progress/green-btn-left-hover.png'); }
#bigGreen.button:hover div.right { background-image:url('../images/progress/green-btn-right-hover.png'); }

#bigGreen.button.inactive input { background:url('../images/progress/gray-btn-center.png') repeat-x left; }
#bigGreen.button.inactive div.left { background:url('../images/progress/gray-btn-left.png') no-repeat left; }
#bigGreen.button.inactive div.right { background:url('../images/progress/gray-btn-right.png') no-repeat left; }

#bigGreen.button.inactive input { cursor:default; }

/* green btn on Templates */
#smallGreen.button input { background:url('../images/templates/green-btn-center.gif') repeat-x left;
  height:20px; color:#FFF; font-size:12px; font-weight:bold; border:none; line-height:13px; float:left; }
#smallGreen.button div.left { background:url('../images/templates/green-btn-left.gif') no-repeat left;
  width:8px; display:inline-block; height:20px; float:left; }
#smallGreen.button div.right { background:url('../images/templates/green-btn-right.gif') no-repeat left;
  width:8px; display:inline-block; height:20px; float:left; }

/* template and templateAction permalinks */
#permalink { position:relative; }
#permalink a { background:url('../images/icons/permalink-blue.png') no-repeat left;
  padding-left:20px; }
#permalink div.popup { position:absolute; top:22px; right:4px; width:400px;
  background:#FFF; display:block; padding:6px; border: 1px solid #888; }
#permalink div.popup span.close { display:block; position:absolute; top:6px; right:6px;
  width:16px; height:16px; background:url("../images/icons/close.png") no-repeat top right;
  cursor:pointer; }
#permalink div.popup p { font-size:12px; font-weight:normal; margin-bottom:6px; }
#permalink div.popup input { width:392px; }

/* timedate formatting */
.intermine.timestamp { white-space:nowrap; display:none; }
.timestamp { display:inline-block; }

/* Mine name legibility fixes */
.mine > span {
  padding: 0.2em 0.5em 0.2em 0.5em;
  font-weight: bold;
  border-radius: 2px;
  -moz-border-radius: 2px;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  text-outline: 1px 1px white;
}
th > .mine {
  padding: 0.2em;
}
th > .mine > span {
  width: 100%;
}

/* ############ tables, lists & misc configuration ############ */
/* inline lists */
div.inline-list { margin:0 0 30px 0; }
div.inline-list ul { list-style-type:none; margin:6px 0 0 6px; }
div.inline-list ul li { display:inline; margin:0; }
div.inline-list h3 { margin:0; border-top-width:1px; border-top-style:solid; padding:2px 6px; font-size:14px; }
div.inline-list div.right { display:inline; float:right; font-size:13px; }
/* collection tables */
div.collection-table { margin-bottom:30px; }
div.collection-table h3 { margin:0; border-top-width:1px; border-top-style:solid; padding:2px 6px; font-size:14px; }
div.collection-table div.right { display:inline; float:right; font-size:13px; }
div.collection-table table { width:100%; border-spacing:0; border-bottom-width:1px; border-bottom-style:solid; }
div.collection-table table th { padding:6px; font-size:12px; vertical-align:bottom; text-align:left; }
div.collection-table table td { padding:3px 6px; font-size:12px; }
div.collection-table table thead th,
div.collection-table table thead td { font-weight:normal; font-size:13px; padding:2px 6px; text-align:left; }
div.collection-table table tbody tr td { border-top-width:1px; border-top-style:solid; }
div.collection-table img { vertical-align:top; }
div.collection-table.column-border table tbody tr td.left-column-border { border-left-width:1px; border-left-style:solid; }
div.collection-table.column-border table tbody tr td:nth-child(n+2) { border-left-width:1px; border-left-style:solid; }
div.collection-table.column-border-by-2 table tbody tr td.left-column-border { border-left-width:1px; border-left-style:solid; }
div.collection-table.column-border-by-2 table tbody tr td:nth-child(2n+3) { border-left-width:1px; border-left-style:solid; }
/* collection table on results pages */
div.collection-table.nowrap table tbody td { white-space:nowrap; }
div.collection-table.nomargin { margin-bottom:0; }
div.collection-table table thead th div.column-name { display:inline-block; } /* columnName.tag */
div.collection-table table thead th div.column-name em { font-size:9px; display:block; } /* columnName.tag */
div.collection-table table thead th img { margin-left:2px; } /* column description info image */
div.collection-table table thead th input { display:inline-block; margin-right:8px; } /* select box on results table */
div.collection-table table thead th span.path { white-space:nowrap; } /* path to column key */
div.collection-table table thead th span.path em { font-size:9px; }
div.collection-table tbody td.highlightCell { background:#FFF3D3 !important; border-top-color:#E3D19F !important; border-bottom:1px solid #E3D19F !important; }
div.collection-table.results div.selected-fields { padding:8px 0; }
div.collection-table.results table { border-top-width:1px; border-top-style:solid; }
div.collection-table.results table thead th { padding-top:6px; }
div.collection-table.results table th:not(:last-child) { border-right-width:1px; border-right-style:solid; }
div.collection-table div.header { padding:2px 6px; border-top-width:1px; border-top-style:solid; }
div.collection-table div.header a { text-decoration:underline; }
div.collection-table div.header a.active { text-decoration:none; font-weight:bold; }
div.collection-table div.header h3 { padding:0 0 4px 0; border:0; }
/* basic tables (on displayers etc.) */
div.basic-table h3 { margin:0; border-top-width:1px; border-top-style:solid; padding:2px 6px; font-size:14px; }
div.basic-table div.right { display:inline; float:right; font-size:13px; }
div.basic-table table { border-spacing:0; }
div.basic-table table th,
div.basic-table table td { padding:2px 2px 2px 6px; }
div.basic-table table th { padding-top:6px; text-align:left; }
div.basic-table a.link { cursor:pointer; }
/* collection of collection tables */
div.collection-of-collections div.header { padding:2px 6px; border-top-width:1px; border-top-style:solid; }
div.collection-of-collections div.header a { text-decoration:underline; }
div.collection-of-collections div.header a.active { text-decoration:none; font-weight:bold; }
/* templates */
div.template { margin:0 0 30px 0; }
div.template h3 { margin:0; border-top-width:1px; border-top-style:solid; padding:2px 6px; font-size:14px; }
div.template h3 img { vertical-align:middle; }
div.template div.right { display:inline; float:right; }
div.template h3 div.favorites { display:inline; }
div.template h3 div.favorites img { vertical-align:middle; margin-bottom:2px; }
/* togglers */
div.collection-table div.toggle,
div.collection-of-collections div.toggle,
div.inline-list div.toggle { padding:2px; font-size:12px; }
div.collection-table div.toggle a,
div.collection-of-collections div.toggle a,
div.inline-list div.toggle a { padding:1px 2px 1px 14px; border-radius:2px 2px 2px 2px; box-shadow:0 1px 2px #EFEFEF; cursor:pointer; }
div.collection-table div.toggle a.less,
div.collection-of-collections div.toggle a.less,
div.inline-list div.toggle a.less { background:url("../images/report/arrow_collapse.gif") no-repeat scroll 2px 50% transparent; }
div.collection-table div.toggle a.more,
div.collection-of-collections div.toggle a.more,
div.inline-list div.toggle a.more { background:url("../images/report/arrow_expand.gif") no-repeat scroll 2px 50% transparent; }
div.collection-table div.show-in-table,
div.collection-of-collections div.show-in-table,
div.inline-list div.show-in-table { text-align:center; }
/* header, the same as table header */
h3.goog { border-top-width:1px; border-top-style:solid; margin-bottom:6px; padding-left:6px; font-size:14px; }
/* applicable to all */
div.basic-table h3.loading,
div.collection-table h3.loading { background-image:url('../images/icons/ajax-loader.gif'); background-repeat:no-repeat; background-position:6px 5px;
  padding-left:30px; }
.one-line * { display:block; }
.tiny-font * { font-size:11px; }
.loading-spinner { background:url('../images/icons/ajax-loader.gif') no-repeat center; display:inline-block; width:16px; height:11px; }
/* error warning */
div.collection-table.warning h3,
div.collection-of-collections.warning h3,
div.basic-table.warning h3 { background-image:url('../images/icons/alert.png'); background-position:99% 3px; background-repeat:no-repeat;
  background-color:#FFF4D1; border-color:#C77C39; color:#C77C39; text-shadow:1px 1px 1px #FFE194 !important;
  padding-left:6px; }
div.collection-table.warning,
div.collection-of-collections.warning,
div.basic-table.warning,
div.collection-table.warning div.header,
div.collection-of-collections.warning div.header,
div.basic-table.warning div.header { background:#FFF4D1; border-color:#C77C39; }
div.collection-table.warning p,
div.collection-of-collections.warning p,
div.basic-table.warning p { padding:2px 6px; }

table.summary.results {
  border-collapse: collapse;
  margin: 10px;
  margin-top: 0px;
}

table.summary.results th {
  padding: 3px;
  padding-top: 0px;
  border-bottom: 1px solid grey
}

table.summary.results td {
 background-color: #EFE7D1;
 border: 1px solid grey;
}

/* Previously hard-coded colour in high-lighted search results */
.im-highlighted-search-term: { background-color: #ffff77; }

.im-query-display .im-th-button {
	color: #049;
}

.dropdown.open > .im-th-button {
	background: #ccc;
}

.im-query-display div.im-constraints h3 {
	background: transparent;
}

.im-con-summary li {
	margin-left: 1em;
}

/* widgets */
div.bagDetails-page ol.widgetList { margin-bottom:20px; }
div.bagDetails-page div.widget { width:460px; height:auto; max-height:none !important; display:block; float:left;
    margin:0 10px 20px 10px; text-align:left; border-width:1px; border-style:solid; }

/* footer links, logo and stuff */
a.cambridge-logo { float:right; }

ul.footer-links, p.footer-copy { list-style-type:none; display:block; float:left; width:450px; font-size:11px; margin:0;
        margin-bottom:10px; }
ul.footer-links li { display:block; float:left; margin:0; }
ul.footer-links li:not(:last-child) { margin-right:5px; }
ul.footer-links li:not(:last-child):after { content:'|'; color:#E2E1E6; display:block; float:right; margin-left:5px; }
ul.footer-links li a { text-decoration:none; }