html, body
{
  font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
  font-size: 100%; /* NN4 */
  margin: 0px;
  padding: 0px;
  background-image: url('../model/top_gradient.png');
  background-repeat: repeat-x;
}

a:link { color:#049; text-decoration:none }
a:visited { color:#049; text-decoration:none }
a:link:hover { color:#CF4D23; text-decoration:underline }
a:visited:hover { color:#CF4D23; text-decoration:underline }
a:link:active { color:#58e; text-decoration:none }

a.extlink , a.extlink:link, a.extlink:visited, a.extlink:active, a.extlink:hover {
  background: url('../images/extlink.gif') right center no-repeat;
  padding-right: 15px;
  margin-right: 15px;
  white-space: nowrap;
}

h1, h2, h3 {
   color:#5C0075;
}

/* HEADING AND MENU STYLES*/

#header h1
{
  color:#FFF;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0px;
}
#header p
{
  color:white;
  font-size: 1.1em;
  font-weight: normal;
  margin: 0;
  margin-left: 2px;
}

#logo {
   margin-left: 5px;
   margin-right: 10px;
   float: left;
}
 	
#title {
   margin-left: 80px;
}

.clear-both {
  content: ".";
  visibility: hidden;
  clear: both;
  height: 0px;
}

.version {
  font-size: 12px;
  color: #333;
  font-weight: bold;
}

#topnav {
    position:absolute;
    right:0px;
    top:0px;
    background-color: #5C0075;
    color: #FFF;
    padding:5px;
    font: 70% Arial,sans-serif
}

#topnav  a:link, #topnav a:visited, #topnav{
	
    color:#FFF;    
}

#loginbar {
    position:absolute;
    right:0px;
    top:25px;
    padding:5px;
}

#loginbar  a:link, #loginbar a:visited, #loginbar{
    font-size:12px;
	font-weight: bold;
    color:#FFF;    
}
.roundcornerbox {
    margin:15px;
	padding:10px;
    font-size: 12px;
	border:1px solid #9E68AE;
	background-image: url('../images/blue_grad.gif');
	background-repeat: repeat-x;
}
.roundcornerbox h1 {
    margin:0px;
    padding:0px;
    color:#5C0075;
	font-size:1.5em;
}
.roundcornerbox img{
	padding:0px;
	margin:0px;
}
table#headertable{
	width:100%;
	margin:0px;
	padding:0px;
}
/*menu with nifty corners*/
td#menu{background-color: #D0B5D7;width:100%;}
ul#nav,ul#nav li{list-style-type:none;margin:0;padding:0}
ul#nav{margin-left: 30px;width:500px}
ul#nav li{float:left;margin-right: 3px;text-align: center}
ul#nav a{
	float:left;
	_width:9em;
	text-decoration:none;
	color: #5C0075;
	font: Arial,sans-serif;
	padding:5px 10px 5px 10px;
    font-weight:bold;
}
ul#nav a:hover,ul#nav li#mymine a:hover{color:#000;}
ul#nav li.activelink a,ul#nav li.activelink a:hover{background: #FFF;color: #5C0075;}
ul#nav li a{background:#9F67AD;color:white;}
/*li#home a{background:#9D66AD;color:white;}
li#bags a{background:#FF9900;color:white;}
li#templates a{background:#712839;color:white;}
li#query a{background:#4A497B;color:white;}
li#category a{background:#663366;color:white;white-space: nowrap;}
*/
ul#nav li#mymine a{background:#9B89A7;color:white;}

td#quicksearch {
	width:100%;
	left:0px;
	font-size: 0.8em;
	margin:0px 0px 0px 0px;
	color:white;
	background:#5C0075;
	padding:10px;
}

.pageDesc { 
    padding: 10px;
	margin: 0 15px 15px 15px;
	background-color: #F5F0FF;
	vertical-align: middle;
	text-align: left;
}

#leftCol{width:400px;float:left;}
#rightCol{margin-left:390px;}
#clearLine{clear:both;}

div.actionArea{
	margin:15px;
	padding:10px;
	border:1px solid #9E68AE;
	background: #F5F0FF;
}
div.actionArea h2{
	margin:0px;
	padding:0px;
}

.feedbackButton {
  background-color: white;
  padding: 4px;
  text-align: center;
  font-size: 13px;
  white-space: nowrap;
  clear:both;
}

/*.bagStyle{background:#FF9900;color:black;}
.templateStyle{background:#712839;color:white;}
.queryStyle{background:#4A497B;color:white;}
.categoryStyle{background:#663366;color:white;}
.mymineStyle{background:#9B89A7;color:white;}
*/
/* style for gray boxes with heading */
.heading, .heading2 {
  border: 1px solid #888;
  padding: 5px;
  margin-top: 0px;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 4px;
  font-size: 14px;
  color: #000;
  white-space: nowrap;
  /* needed to prevent the peekaboo bug on IE:
     http://www.positioniseverything.net/explorer/peekaboo.html */
  height: 1.5em;
}

.heading a {
  color: #333;
}
/* The following two rules stop superscript/subscript changing
   div height in headings. */
/*.heading {
  line-height: 1.4em;
  margin:5px;
  font-size:14px;
}
*/
.heading2, .heading {
  background: url(../model/heading-bg.gif) top center repeat;
}
.heading sub, .heading sup {
  line-height: 0;
}

table.query {
  border: none;
}

.boxTopRight {
  float: right;
}

.body {
  font-size: 12px;
  margin-top: 10px;
  margin-right: 12px;
  margin-left: 12px;
  margin-bottom: 10px;
  color: #333;
}

.boxbody {
  background-color: white;
  /*border-bottom: 1px solid #888;*/
  padding-top: 10px;
}

.altmessage {
  font-size: 11px;
  font-style: italic;
  text-align: center;
  color: #888;
}


table.history input {
  font-size: 11px;
}

.help {
  padding: 5px;
  text-align: right;
  font-size: 11px;
  font-weight: normal;
}

.arrow {
  vertical-align: middle;
}

img {
  border: none;
}
form {
  margin: 0px
}

table td {
  font-size: 12px;
}
.links {
  background-color: #fff;
  padding: 3px;
  margin-bottom: 10px;
  border-bottom: 1px solid #888;
  white-space: nowrap;
}
.links .menu-item {
  font-size: 11px;
  color: #999;
}
.links {
  font-size: 11px;
  color: #777;
  float: right;
  padding-right: 6px;
}
.topBar {
  background: white;
  padding: 6px;
  font-size: 13px;
  border: 1px dashed #777;
}
.errors {
  color: #c00;
}

table.query td.modelbrowse {
  border-right: 1px solid #888;
}

/* for displaying a results object in a table */
table.results {
  border-left: solid 1px #666;
  border-top: solid 1px #666;
}
table.results th, table.results td {
  padding: 4px;
  border-right: solid 1px #666;
  border-bottom: solid 1px #666;
  background: #fff;
}
table.results th {
  background: #eee;
}

table.results th {
  font-size: 12px;
}
table.results td td {
  border: none;
}
table.results {
  font-size: small;
}

/* for displaying a collection in a table */
table.collection {
  border-left: solid 1px #666;
  border-top: solid 1px #666;
}
table.collection th, table.collection td {
  padding: 4px;
  border-right: solid 1px #666;
  border-bottom: solid 1px #666;
  background-color: #fff;
}
table.collection th {
  background-color: #eee;
}
table.collection th {
  font-size: 12px;
}
table.collection t td {
  border: none;
}
table.collection {
  font-size: small;
}
table.collection tr.even TD{
  background-color: #F5F0FF;
}

/* move away from plus/minus image on left */
.browserline .showing {
  margin-left: 0px;
}

table.results tr.even TD{
  background-color: #F5F0FF;
}
table.results th.checkbox,table.results td.checkbox{
  border-right-style: dotted;
}
.templateTitle {
  padding: 4px;
}

.templateDescription {
  font-style: italic;
  font-size: 90%;
  margin-top: 5px;
  padding: 4px;
}
.type {
  color: #864;
}
.modelBrowser .type {
  color: blue;
}
.collectionField {
  color: green;
}
.referenceField {
  color: green;
}
.attributeField {
  color: green;
}
.nullReferenceField {
  color: grey;
}
.value {
/*  padding: 2px;*/
  font-family: monospace;
  font-size: 13px;
}
.nullStrike,span.nullStrike a:link {
/* see #643:    text-decoration: line-through; */
  color: #888;
}

.smallnote {
  font-size: 11px;
}

a.brokenTmplLink {
  color: #d00;
}

hr.seperator {
  border: 0px;
  height: 1px;
  color: #ccc;
  background-color: #ccc;
}

.box .buildmenu .body {
  border: 1px solid #888;
  font-size: 12px;
  padding: 5px;
  clear: both;
}
/* layout.jsp */
.admin-msg {
  text-align: center;
}

#pagecontent {
  margin: 15px 0 0 0;
  padding: 0px;
}
/* query builder */
a.constraintDesc {
  font-size: 11px;
  font-style: italic;
  color: #333;
}

a.constraintId {
  font-size: 10px;
  color: green;
}

img.fasta {
  margin-top: 3px;
  vertical-align: text-bottom;
}

.tag {
  white-space: nowrap;
  color: #444;
}

.fakelink{
  color:#049;
  cursor: pointer;
}
.fakelink:hover{
  color:#CF4D23;
  text-decoration:underline;
}
.fakelink:active {
  color:#58e;
  text-decoration:none
}
td.resBar {
    background-image:url('../model/res_bar_middle.gif');
}
#summary {
  position:absolute;
  background-color:#fff;
  top:360px;
  left:40%;
  min-width:100px;
  padding:5px;
  border: solid black 1px;
}


.aspectPageIcon {
  float: left;
  margin: 15px;
}

.aspectIntro {
  padding: 5px;
  font-size: larger;
  position:relative
}

/* template results - used by object & bag details pages */
table.refSummary {
  border-top: 1px solid #888;
  border-left: 1px solid #888;
  width: 100%;
}
table.refSummary thead tr td {
  background-color: #eee;
  border-bottom: 1px solid #888;
  border-right: 1px solid #888;
}
table.refSummary thead tr td.object {
  background-color: #eee;
  font-weight: bold;
  border-bottom: 1px solid #888;
  border-right: 1px solid #888;
}
table.refSummary tbody tr td {
  padding: 3px;
  background-color: #FAF8FF;
  border-bottom: 1px solid #888;
  border-right: 1px solid #888;
}

div.templateLine {
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 3px;
}

span.templateResCount {
  color: #555;
  white-space: nowrap;
  font-size: 10px;
}
div.templateIcon {
  float: left;
  padding-top: 2px;
}
.webSearchable {
   background-color:#F5F0FF;
   padding:10px 20px 20px 20px;
   margin:0 20px 20px 20px;
}

#dropmenudiv{
position:absolute;
border:1px solid black;
border-bottom-width: 0;
font:normal 12px Verdana;
line-height:18px;
z-index:100;
}

#dropmenudiv a{
width: 100%;
display: block;
text-indent: 3px;
border-bottom: 1px solid black;
padding: 1px 0;
text-decoration: none;
font-weight: bold;
}

#dropmenudiv a:hover{ /*hover background color*/
background-color: #ccc;
}
