.wsListElement {
   margin-bottom:5px;
   border-bottom: #F5F0FF solid 1px;
}
.wsList {
	padding:5px;
}
.wsList li,.wsList ul {
	list-style-type:none;
	padding:0px;
	margin:0px;
}
.wsTempateLine {
	padding:10px;
	border-bottom: #F5F0FF solid 1px;
}

div.wsTempateLine p.description, div.wsTempateLine div.description {
	font-style:italic;
	margin:5px 5px 5px 30px;
	padding:0px;
}
div.wsTempateLine p.description a{
	font-style: normal;
    font-size: small;
}
.aspectSelect {
  font-size: small;
}
div.filterBar {
	margin:10px;
	background:#9F67AD;
	color:white;
	font-weight: bold;
	padding:15px;
}
ul.filterActions ,ul.filterActions li{
	list-style: none;
	margin:0px;
	padding:0px;
}
ul.filterActions li{
	float:left;
}
