.widget { width:460px; height:auto; max-height:none !important; display:block; float:left; margin:0 10px 20px 10px; }
.widget header { text-align:left; }
.widget header h3 { margin:0 0 10px 0; }
.widget header p { margin:5px 0; line-height:14px; }
.widget header form div.group { margin-bottom:5px; }
.widget div.content { margin-top:10px; }
.widget div.content table { text-align:left; }
.widget div.content table td { padding-right:5px; }

/* potentially theme specific */
.widget div.popover div.popover-inner { padding:3px; width:280px; overflow:hidden; background:black; background:rgba(0, 0, 0, 0.8);
	border-radius:4px; box-shadow:0 3px 7px rgba(0, 0, 0, 0.3); }
.widget div.popover h3.popover-title { background:#F5F5F5; padding:9px 15px; border-radius:3px 3px 0 0; line-height:1; margin:0; }
.widget div.popover div.popover-content { background:#FFF; padding:10px; }
.widget div.popover a.close { float:right; color:#CCC; font-size:16px; line-height:13px; font-weight:bold; }
.widget div.popover a.close:hover { color:#AAA; }

/* theme specific */
.widget { border: 1px solid #D0B5D7; background:#FEFFFF url('../themes/purple/grad_box.png') repeat-x top; }
.widget span.label { background:#5C0075; color:#FFF; border-radius:2px; padding:2px; display:inline-block; }