div.widgetcontainer{
   width:450px;
   height:500px;
   padding:10px;
   margin:10px;
   border:1px solid #D0B5D7;
   text-align:center;
   float:left;
   background-image: url('../images/widget_bg.png');
   background-repeat: repeat-x;
   background-position: bottom;
}

div.widgetcontainer p{
   font-size:0.9em;
   margin:10px 0 10px 0;
   text-align:justify;
}

div.widgetcontainer h3{
    text-align:left;
}

div.widgetdatawait{
    padding-top:150px;
}

div.widgetdata{
    height:370px;
    width:450px;
    overflow: auto;
    overflow-y:auto;
}

div.widgetdata table {
    border-collapse:collapse;
}
div.widgetdata tbody td {
    text-align:left;
    padding:5px;
    border-bottom:1px solid #CCC;
}

div.widgetdata thead th{
    background-color:#CCC;
    padding:5px;
}