<?xml version="1.0" encoding="utf-8"?>
<menu>
    <item title="Main">
        <item url="/index.xml" title="Home"/>
        <item url="/begin.do" title="Demo"/>
        <item url="/contact/index.xml" title="Contact"/>
    </item>
    <item title="Documentation">
        <item url="/doc/software/index.xml" match="/doc/software" title="Software"/>
        <item url="http://www.intermine.org/api/" title="API JavaDoc"/>
        <item url="/doc/contribute/index.xml" title="Contribute"/>
    </item>
    <item title="Download Software">
        <item url="http://subversion.flymine.org/" title="Browse source"/>
        <item url="/download/index.xml" title="SVN checkout"/>
    </item>
    <item title="InterMine Projects">
        <item url="http://www.flymine.org/" title="FlyMine"/>
        <item url="http://preview.stemcellmine.org/" title="StemCellMine"/>
        <item url="http://www.flymine.org/malaria/" title="MalariaMine"/>
</menu>

