div#tool_bar_div{
    float:left;
    padding:0 12px 0 0;
    margin:0;
    height:25px;
    background: url('../images/icons/toolbar_right.png') no-repeat right;
}

ul#button_bar, ul#button_bar li {
    margin:0; padding:0;
    float:left;
    list-style: none;
    height:25px;
}
ul#button_bar {
  padding-left:12px;
  background: url('../images/icons/toolbar_left.png') no-repeat left;
}

#tool_bar_li_convert{
    background-image: url('../images/icons/convert_grey.png');
}
#tool_bar_li_convert:hover{
    background-image: url('../images/icons/convert_hover.png');
}
.tool_bar_button_convert{
    background-image: url('../images/icons/convert_down.png');
    background-color:#CCC;
}

#tool_bar_li_display {
    background-image: url('../images/icons/display_grey.png');
}
#tool_bar_li_display:hover {
    background-image: url('../images/icons/display_hover.png');
}
.tool_bar_button_display {
    background-image: url('../images/icons/display_down.png');
}

#tool_bar_li_export {
    background-image: url('../images/icons/export_grey.png');
}
#tool_bar_li_export:hover {
    background-image: url('../images/icons/export_hover.png');
}
.tool_bar_button_export{
    background-image: url('../images/icons/export_down.png');    
}

#tool_bar_li_use {
    background-image: url('../images/icons/use_grey.png');
}
#tool_bar_li_use:hover {
    background-image: url('../images/icons/use_hover.png');
}
.tool_bar_button_use {
    background-image: url('../images/icons/use_down.png');
}


#tool_bar_li_createlist {
    background-image: url('../images/icons/createlist_grey.png');
}
#tool_bar_li_createlist:hover {
    background-image: url('../images/icons/createlist_hover.png');
}
.tool_bar_button_createlist {
    background-image: url('../images/icons/createlist_down.png');
}

#tool_bar_li_addtolist {
    background-image: url('../images/icons/addtolist_grey.png');
}
#tool_bar_li_addtolist:hover {
    background-image: url('../images/icons/addtolist_hover.png');
}
.tool_bar_button_addtolist {
    background-image: url('../images/icons/addtolist_down.png');
}

#tool_bar_li_summary {
    background-image: url('../images/icons/summary_grey.png');
}
#tool_bar_li_summary:hover {
    background-image: url('../images/icons/summary_hover.png');
}
.tool_bar_button_summary {
    background-image: url('../images/icons/summary_down.png');
}

.tool_bar_button {
}
.tool_bar_link {
    background-color: #BAECBE;
    color:#FFF;
    margin:50px;
    font-variant: small-caps;
    font-weight: bold;
    font-size:1em;
}
.tool_bar_link a {
    color:#FFF;
    text-decoration:underline;
}
.tool_bar_link a:hover {
    color:#157502;
}
.tool_bar_separator {
    float: left;
    background-color: #BAECBE;
}
.tool_bar_separator span{
    float: left;
    padding-top:4px;
    width:30px;
    text-align: center;
}
.tool_bar_item {
    _width:350px;
    position: absolute;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 5px;
    min-width:100px;
    line-height:1.5em;
    margin:-3px 0 0;
    font-size:0.9em;
    background-color:#FFF;/*#CAACD2;*/
    /*color:#FFF;*/
}
.tool_bar_item hr {
	border:0;
    height:1px;
    background-color:#CCC;
    width:100%;
    margin:0.4em 0 0.4em 0;
}
