html, body 
{
    color: #000000;
    background-color: #8A9181;
}

a 
{
    color: #00e;
}

/**************************************/

#header h1 a
{
    color: #FFFFFF;
}

#header p
{
    color: #FFFFFF;
}

.box .title {
  padding: 5px;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  font-weight: bold;
  background: #C1C1C1;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}

.contact a, .wellcome a{
	color: white;
}
