html, body 
{
    color: #000000;
    background-color: #ffefdd;
}

a 
{
    color: #2100FF;
}

/**************************************/

#header h1 a
{
    color: #9a0000;
}

#header p
{
    color: black;
}

/**************************************/

#sidebar ul ul li a
{
    color: #210075;
}


/**************************************/

#pagecontent
{
    background: #F0F2FF;  
}

/**************************************/

#footer
{
    background-color: #FFFFFF;
}

/**************************************/

}
