CDS
Chromosome
Chunk
Contig
MRNA
PCRProduct
PolyASite
Primer
Pseudogene
RepeatRegion
RRNA
Scaffold
Supercontig
TranscriptionStartSite
TransposableElementInsertionSite=TilingPathSpan
Exon=Gene
Exon=Transcript
Exon=TilingPathSpan
Exon=ChromosomalDeletion
Intron=Gene
Intron=Transcript
Intron=TilingPathSpan
Intron=ChromosomalDeletion
FivePrimeUTR=Gene
FivePrimeUTR=TilingPathSpan
FivePrimeUTR=ChromosomalDeletion
ThreePrimeUTR=Gene
ThreePrimeUTR=TilingPathSpan
ThreePrimeUTR=ChromosomalDeletion
ChromosomalDeletion=ChromosomalDeletion
ChromosomalDeletion=TransposableElementInsertionSite
ChromosomalDeletion=TilingPathSpan
ChromosomalDeletion=TFBindingSite
ChromosomalDeletion=ProbeSet
ESTCluster=ESTCluster
Exon=Qtl
Qtl=Qtl