html, body {
    color: #000000;background-color: #FFF;}

a {
    color: #00e;}

/* =CUSTOMISABLE LOOK
--------------------------*/

#header{
	background: url('top_gradient.png') repeat-x;}

.plainbox {
	padding:10px; border:1px solid #000;
	background:#F0F0F0;}

.gradientbox {
	padding:10px; 
	border:1px solid #000;background: url('gray_grad.png') repeat-x;}

ul#nav a{
	text-decoration:none; color: #FFF; font-weight:bold;	background-image:url('corner_t_r.png'); background-repeat: no-repeat;	background-position: right top;	color:white;}

ul#nav a:hover,ul#nav li#mymine a:hover{
	color:#333;}

ul#nav li#mymine a{
	color:white;background:url('corner_my_t_r.png') no-repeat top right;}

ul#nav li.activelink a{
	color:white;background:url('corner_act_t_r.png') no-repeat top right;}

ul#nav li#mymine {
	background:#9B89A7 url('corner_my_t_l.png') no-repeat;}

ul#nav li.activelink {
	background:#000 url('corner_act_t_l.png') no-repeat;}

ul#submenulist li#subactive_bag {
	font-weight:bold;color:#FFF;background:url('submenu_indent.png') no-repeat bottom center;}

ul#submenulist li#subactive_mymine {
	font-weight:bold;color:#FFF;background:url('submenu_my.png') no-repeat bottom center;}

ul#nav li{
	text-align: center;background:#9E9E9E url('corner_t_l.png') no-repeat;}

.submenu{
	background:#000;}


table.dbsources {
	margin:10px 20px 10px 20px;}

table.dbsources th  {
	padding: 6px 6px 6px 12px;
	border-right: 1px solid #C1DAD7;border-bottom: 1px solid #C1DAD7;border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;text-transform: uppercase;text-align: left;font-weight: bold;font-size: 0.7em;color: black;
	background: url('table-heading-bg.gif') repeat-x;}

table.dbsources td {
	padding: 6px 6px 6px 12px;
	border-right: 1px solid #C1DAD7;border-bottom: 1px solid #C1DAD7;background: #fff;}

table.dbsources td.leftcol {
	border-left: 1px solid #C1DAD7;}
