table.regions {
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}
table.regions th {
    background-color: #333333;
    border-bottom-color: #CCCCCC;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #CCCCCC;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #CCCCCC;
    border-top-style: solid;
    border-top-width: 1px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 6px;
    padding-top: 6px;
    text-align: left;
    text-transform: uppercase;
}
table.regions td {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: #FFFFFF;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    border-bottom-color: #CCCCCC;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-color: #CCCCCC;
    border-right-style: solid;
    border-right-width: 1px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 6px;
    padding-top: 6px;
}

table.regions td.leftcol {
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #C1DAD7;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
}
table.regions td.internal {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: #FFFFFF;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    border-bottom-color: #C1DAD7;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
