h3 {
    clear: left;
}
body {	font-family: arial, helvetica, sans-serif;
//        font-size: 8pt;
	color: #000000; 
	background: #f4eeff}
p {	color: #000000;}
a:link {color: #220077;
	text-decoration: none}
a:visited {color: #220077;
	text-decoration: none}
a:active {color: #220077;
	text-decoration: none}
a:hover {color: #220077;
	text-decoration: underline}
.sidebar {
    font-size: small;
    background-color: #ccaaff;
}
.footer {
    font-size: x-small;
    background-color: #ccaaff;
}
.menu-heading {
    font-weight: bold;
}
.title {
    font-size: x-large;
    font-weight: bold;
    color: #220077;
}
.subtitle {
    font-size: large;
    font-weight: normal;
}
.main {
    font-size: normal;
    font-weight: normal;
}
.queryViewFromItemTitle {
    font-size: normal;
    font-weight: bold;
}
