html, body {
    color: #000000;}

a {
    color: #333;}

body {
  background:#E0E8FF;
}

h1, h2, h3, h1 a, h1 a:visited, label {
    color:#333;
}
h1 a:hover,h1 a:visited:hover  {
    color:#333;
    text-decoration: underline;
}


/* =HEADER
--------------------------*/
div#header h1,
div#header h1 a,
div#header h1 a:link,
div#header h1 a:visited,
div#header h1 { font-size:26px; color:#000; }

div#header p {
    color:#000; 
}

/*div.title h1 {
    color: #000;}
*/
.box .title {
  clear:both;
  padding: 5px;
  text-align: left; font-weight: normal; font-size: 14px; font-weight: bold;
  background: #eee;}

/*.title a:link{
    color:#FFF;}
*/
#topnav {
    background-color:#021B51;
}

#pagecontent {
  border-left:1px solid #DFDFDF;
  border-right:1px solid #DFDFDF;
  border-bottom:1px solid #DFDFDF;
}

#loginbar  a:link, #loginbar a:visited, #loginbar{
  color:#000;}

/* =BODY
--------------------------*/

.plainbox {
    border:1px solid #62564F;
  background:#F0F0F0;
  padding:10px;}

.gradientbox {
  padding:10px;
  border:1px solid #000;
  background: url('gray_grad.png') repeat-x;}


/* =NAVIGATION
--------------------------*/

ul#nav a{
	text-decoration:none; color: #FFF; font-weight:bold;}

/*ul#nav a:hover,ul#nav li#mymine a:hover{
	color:#333;}
*/

ul#nav a:hover,ul#nav li#mymine a:hover{
	color:#000; background:#7EAAFF; border-top-left-radius: 8px; border-top-right-radius: 8px;}

ul#nav li#mymine a{
	color:white;}
	
ul#nav li.activelink a{
	color:white;}

ul#nav li#mymine {
	background:#535353;}


ul#nav li.activelink {
	background:#292396;}

ul#submenulist li#subactive_bag {
	font-weight:bold;color:#FFF;background:url('submenu_indent.png') no-repeat bottom center;}

ul#submenulist li#subactive_mymine {
	font-weight:bold;color:#FFF;background:url('submenu_my.png') no-repeat bottom center;}

ul#nav li{ text-align:center; background:#9E9E9E; border-top-left-radius:8px; border-top-right-radius:8px;
  -moz-border-top-left-radius:8px; -moz-border-top-right-radius:8px; -webkit-border-top-left-radius:8px; -webkit-border-top-right-radius:8px;
  -o-border-top-left-radius:8px; -o-border-top-right-radius:8px; }

.submenu{
	background:#292396;
	border-left:1px solid #292396;
	border-right:1px solid #292396;}

.submenu_mymine{
	background:#535353;}

ul#submenulist li a {
	color:#FFF;text-decoration: none;font-weight: bold;}

ul#submenulist li a:hover {
	color:#FFF;text-decoration: underline;font-weight: bold;}

/* =MEGATILE SEARCH
--------------------------*/

div.filterBar {
    background:#62564F;color:white;}

div#filter_tool_bar {
    background-color:#FFF;
    border-right:1px solid #000;
    border-left:1px solid #000;
    border-bottom:1px solid #000;
}

.imbox {
    padding:5px 5px 10px 5px; border-top:solid 1px #888; border-bottom:solid 1px #888; height:1.2em;
    font-size:0.8em; background:#000; color:white;}


/* =TOOLBOX RESULTS
--------------------------*/

.listtoolbox {
  background-image: url('gray_grad.png');
  border:1px solid #888;
  background-color: #FFF;
}

.widgetcontainer {
  border:1px solid #888;
  background: #FFF url('gray_grad.png') repeat-x top;
}
#tool_bar_div {
    background-color:#CACACA;
}
.tb_button {
  border:1px solid #CACACA;
}
.tb_button:hover {
  margin-right:0;
  border-bottom:1px solid #000;
  border-right:1px solid #000;
}
.tb_button_active {
  border:1px solid #000;
}


/* =WIDGET
--------------------------*/

.widget {
    max-height:400px;width: 450px;padding:15px;
    text-align: center; background-color: #D2CEBF;}

.widget p {
  font-size:10px;	}

.widget_slide {
  margin-top:10px; max-height:350px;
    overflow-x:none;overflow-y:auto;overflow: auto;}

#bagDescriptionDiv{
    background-color: #D2CEBF;}

#bagDescriptionDiv:hover{
  background-color: #D2CEBF;} 

#textarea {
    background-color: #D2CEBF;}

.blueBg {
  padding: 20px;margin:20px;width:350px;
  background-color:#D2CEBF;text-align:center;}

table.dbsources {
    padding:0px;
  margin:10px 20px 10px 20px;}

table.dbsources th  {
  padding: 6px 6px 6px 12px;
  text-align: left;
  font-weight: bold;
  border-right:1px solid #FFF;
  color: white;
  background-color: #000;}

table.dbsources td {
  padding: 6px 6px 6px 12px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  background: #fff;}

table.dbsources td.leftcol {
  border-left: 1px solid #000;
    background: #fff;}

/* =RESULTS TABLES
-----------------------*/
table.results tr th {
    background-color: #000;font-size: 12px; color:#FFF;
}
table.results tr td.highlightCell, table.results tr.even td.highlightCell {
   border-right:1px solid #FFF;background-color: #888;}

table.results tfoot tr td {
  color:#FFF;
  background-color: #000;
}

table.results tr.even TD{
  background-color: #CACACA;}

table.results tr.odd TD{
  border-right:1px solid #CACACA;
  border-bottom:1px solid #CACACA;}

table.results tr td.highlightObject {
  background-color: #888;
}

/*    .columnHeader {
      background: #353B40;
    }*/

#listTags { background-color: #D2CEBF; margin-left: 10px; padding: 3px 10px; }

/* keyword search results */
.keywordSearchResults .resultTableContainer table.dbsources { border-left: 1px solid #DFDFDF; }
  .keywordSearchResults .resultTableContainer table.dbsources th { background:#62564F; color:#FFF; font-size:13px; padding:2px 8px; }
  .keywordSearchResults .resultTableContainer table.dbsources tr.keywordSearchResult { color:#000; }
    .keywordSearchResults .resultTableContainer table.dbsources tr.keywordSearchResult td { line-height:12px; }
    .keywordSearchResults .resultTableContainer table.dbsources tr.keywordSearchResult div { margin:0; }
    .keywordSearchResults .resultTableContainer table.dbsources tr.keywordSearchResult.odd td { border-bottom:1px solid #DFDFDF;
      border-top:1px solid #DFDFDF; background:#FCFCFC; }
  .keywordSearchResults .resultTableContainer table.dbsources td { border-right: 1px solid #DFDFDF; border-bottom:none; padding:4px 8px 2px 8px; }

.keywordSearchResults .resultTableContainer table.dbsources table.inner td { color:#000; }

.keywordSearchResults .resultTableContainer table.dbsources div.objectKeys a,
.keywordSearchResults .resultTableContainer table.dbsources tr.keywordSearchResult a span.value { font-size:14px; }

div.keywordSearch div.examples h4 { color:#333; }

/* keyword search results relevancy */
div.resultTableContainer td.relevance div.full { color:#ff0000; }
div.resultTableContainer td.relevance div.empty { color:#7E6D63; }

/* submenu */
/*#submenu { color:#7A7A7A !important; }*/
#submenu { color:#DDDDDD !important; }

/* lists analysis (bagDetails.do) */
div.heading.results { border:1px solid #888; background:url("gray_grad.png") repeat-x scroll center top #FFFFFF; margin-left:0; }
div.heading.results h1 { color:#4D5154; font-size:22px; margin-bottom:10px; }
div.heading.results #tool_bar_div { float:left; background:transparent !important; }
div.heading.results #tool_bar_div li { border:1px solid #D2D2D2; background:#EEEEEE; margin-right:10px; padding:4px; font-weight:normal; }

/* submenu form on mymine */
#submenu.submenu_mymine #submenudiv #quicksearch form { color:#EEE !important; }

/*ul#submenulist li div { border-left-color:#7A7A7A; }*/
ul#submenulist li div { border-left-color:#DDDDDD; }

/* homepage (begin.css) */
#search-bochs div.inner h3 { background:#292396; }
#lists-bochs div.inner h3 { background:#9E9E9E; color:#FFF; }
  #lists-bochs div.inner a { color:#000; }
#low h4, #lists h4 { color:#62564F; }

#boxes input.dark[type="submit"] { background:url("homepage/dark-blue.png") no-repeat scroll center bottom transparent;
  color:#FFF; padding:2px 36px; }
#boxes input.light[type="submit"] { background:url("homepage/medium-gray.png") no-repeat scroll center bottom transparent;
  color:#FFF; padding:2px 36px; }
#templates div.content p.more a, #lists p.more a, #low #rss p.more a { background: url("homepage/more-pitchurka.png") no-repeat scroll
  left center transparent; }
#templates #tab-content #ribbon { background: url("../../themes/purple/homepage/ribbon-mars.png") no-repeat scroll right top transparent; }

/* bagUploadConfirm */
#pagecontentcontainer.bagUploadConfirm-page table.inlineResultsTable a { color:#004499; }
#pagecontentcontainer.bagUploadConfirm-page table.inlineResultsTable thead td { background:#EBEBEB;  }
#pagecontentcontainer.bagUploadConfirm-page table.inlineResultsTable tbody tr.even td { background:#FAFAFA; }
#pagecontentcontainer.bagUploadConfirm-page table.inlineResultsTable tbody tr td { border-top-color:#F0F0F0; border-bottom-color:#F0F0F0; }
#pagecontentcontainer.bagUploadConfirm-page table.inlineResultsTable td.identifier { color:#886644; }
#pagecontentcontainer.bagUploadConfirm-page h3 { color:#004499; background:#EBEBEB; border-top-color:#004499; }
#pagecontentcontainer.bagUploadConfirm-page div.description { background:#EBEBEB; }
#pagecontentcontainer.bagUploadConfirm-page #chooseName,
#pagecontentcontainer.bagUploadConfirm-page #additionalMatches { background:#FFF; }

/* report page */
#pagecontentcontainer.report-page #pagecontentmax { background:#FFF; }
#pagecontentcontainer.report-page #header_wrap { ; }
#pagecontentcontainer.report-page #object_header h1.title span { color:#004499; }
#pagecontentcontainer.report-page #object_header div.box h3 { background:#F0E3F7; }
#pagecontentcontainer.report-page #object_header div.list.box span { color:#004499; }
#pagecontentcontainer.report-page #fixed-menu { background:#FF8F37; }
#pagecontentcontainer.report-page #toc-menu-wrap { background:#FFF; }
#pagecontentcontainer.report-page #fixed-menu span,
#pagecontentcontainer.report-page #toc-menu-wrap span { color:#FFF; }
#pagecontentcontainer.report-page #toc-menu-wrap div.wrap,
#pagecontentcontainer.report-page #fixed-menu div.wrap { color:#FFF; background:#FF8F37; border-color:#FF8F37; }
#pagecontentcontainer.report-page #menu-target { ; }
#pagecontentcontainer.report-page #toc-menu-wrap div.wrap a,
#pagecontentcontainer.report-page #fixed-menu div.wrap a { color:#FFF; }
#pagecontentcontainer.report-page #toc-menu-wrap div.wrap a.current,
#pagecontentcontainer.report-page #fixed-menu div.wrap a.current { background:#FFF; color:#FF8F37; border-color:#FF8F37; }
#pagecontentcontainer.report-page #in-lists div.heading { background:#EBEBEB !important; border-color:#004499; color:#004499 !important; text-shadow:1px 1px 1px #FFF; }
#pagecontentcontainer.report-page .container_12 .highlight { background-color: #FFF3D3; }
#pagecontentcontainer.report-page #object_header #headerLink a { color:#004499; }
#pagecontentcontainer.report-page #object_header p.share a { color:#004499; }
#pagecontentcontainer.report-page h2 { color:#000; }
#pagecontentcontainer.report-page #cwtabsbyside a { color:#004499; }
#pagecontentcontainer.report-page #cwtabsbyside fieldset,
#pagecontentcontainer.report-page #cwtabsbyside ul li { border-color:#F0F0F0; }
#pagecontentcontainer.report-page #cwtabsbyside ul,
#pagecontentcontainer.report-page #cwtabsbyside fieldset.alt { background:#FAFAFA; border-color:#F0F0F0; }
#pagecontentcontainer.report-page form#fly-atlas-options table tr td { border-color:#F0F0F0; }
#pagecontentcontainer.report-page form#fly-atlas-options table tr.even td { background:#FAFAFA; }

/* ############ tables, lists & misc configuration ############ */
/* inline lists */
div.inline-list ul .name { color:#004499; }
div.inline-list a,
div.inline-list a:hover,
div.inline-list a:visited { color:#004499; }
div.inline-list h3 { background:#EBEBEB; border-top-color:#004499; color:#004499; text-shadow:1px 1px 1px #FFF; }
div.inline-list.gray h3,
div.inline-list.grey h3 { background:#F6F5F7; border-top-color:#6E6E6E; color:#ABABAB; }
div.inline-list div.right a,
div.inline-list div.right a:hover,
div.inline-list div.right a:visited { color:#004499; }
/* collection tables */
div.collection-table h3 { background:#EBEBEB; border-top-color:#004499; color:#004499; text-shadow:1px 1px 1px #FFF; }
div.collection-table div.right a,
div.collection-table div.right a:hover,
div.collection-table div.right a:visited { color:#004499; }
div.collection-table table { border-color:#F0F0F0; }
div.collection-table thead th,
div.collection-table thead td { background:#EBEBEB; border-color:#F0F0F0; }
div.collection-table table tbody tr td { border-top-color:#F0F0F0; }
div.collection-table table tbody tr:nth-child(2n) td,
div.collection-table table tbody tr.odd td { background:#FAFAFA; }
div.collection-table table tbody tr.even td { background:#FFF; }
div.collection-table table td.class { color:#886644; }
div.collection-table table a,
div.collection-table table a:hover,
div.collection-table table a:visited { color:#004499; }
div.collection-table.gray h3,
div.collection-table.grey h3 { background:#F6F5F7; border-top-color:#6E6E6E; color:#ABABAB; }
div.collection-table.column-border table tbody tr td.left-column-border { border-left-color:#F0F0F0; }
div.collection-table.column-border table tbody tr td:nth-child(n+2) { border-left-color:#F0F0F0; }
div.collection-table.column-border-by-2 table tbody tr td.left-column-border { border-left-color:#F0F0F0; }
div.collection-table.column-border-by-2 table tbody tr td:nth-child(2n+3) { border-left-color:#F0F0F0; }
div.collection-table div.header { background:#EBEBEB; border-top-color:#004499; }
div.collection-table div.header h3 { text-shadow: 1px 1px 1px #FFFFFF; }
div.collection-table div.header a,
div.collection-table div.header a:hover,
div.collection-table div.header a:visited { color:#004499; }
/* collection table on results pages */
div.collection-table.results table { border-top-color:#004499; }
/* basic tables (on displayers etc.) */
div.basic-table h3 { background:#EBEBEB; border-top-color:#004499; color:#004499; text-shadow:1px 1px 1px #FFF; }
div.basic-table table a,
div.basic-table table a:hover,
div.basic-table table a:visited { color:#004499; }
div.basic-table.gray h3,
div.basic-table.grey h3 { background:#F6F5F7; border-top-color:#6E6E6E; color:#ABABAB; }
/* collection of collection tables */
div.collection-of-collections div.header { background:#EBEBEB; border-top-color:#004499; }
div.collection-of-collections div.header h3 { text-shadow: 1px 1px 1px #FFFFFF; }
div.collection-of-collections div.header a,
div.collection-of-collections div.header a:hover,
div.collection-of-collections div.header a:visited { color:#004499; }
div.collection-of-collections div.collection-table h3 { border-top-color:#F0F0F0; }
/* templates */
div.template h3 { background:#EBEBEB; border-top-color:#004499; color:#004499; text-shadow:1px 1px 1px #FFF; }
div.template.gray h3,
div.template.grey h3 { background:#F6F5F7; border-top-color:#6E6E6E; color:#ABABAB; }
/* togglers */
div.collection-table div.toggle a,
div.collection-table div.toggle a:hover,
div.collection-table div.toggle a:visited,
div.collection-of-collections div.toggle a,
div.collection-of-collections div.toggle a:hover,
div.collection-of-collections div.toggle a:visited,
div.collection-table div.show-in-table a,
div.collection-table div.show-in-table a:hover,
div.collection-table div.show-in-table a:visited,
div.collection-of-collections div.show-in-table a,
div.collection-of-collections div.show-in-table a:hover,
div.collection-of-collections div.show-in-table a:visited { color:#004499; }
/* header, the same as table header */
h3.goog { background:#EBEBEB; border-top-color:#004499; color:#004499; text-shadow:1px 1px 1px #FFF; }