
html, body 
{
    color: #000000;
    background-color: #CACACA;
}

a 
{
    color: #00e;
}

/**************************************/

#header h1 a
{
    color: #5C0075;
}

#header p
{
    color: black;
}

.box .title {
  padding: 5px;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  font-weight: bold;
  background: #eee;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}

.debt {
  color: red;
}
.address {
  font-weight: bold;
}
.highlightCell{
  background-color: #D4D4D4;
}