
html, body 
{
    color: #000000;
    background-color: #CACACA;
}

a 
{
    color: #00e;
}

/**************************************/

#header h1 a
{
    color: #5C0075;
}

#header p
{
    color: black;
}

.box .title {
  padding: 5px;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  font-weight: bold;
  background: #eee;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}

.debt {
  color: red;
}
.address {
  font-weight: bold;
}
.highlightCell{
  background-color: #D4D4D4;
}

.widget {
    padding:15px;
    text-align: center;
    width: 450px;
    background-color: #D4D4D4;
}

#bagDescriptionDiv{
	background-color: #D4D4D4;
	height:150px;
	width:70%;
	text-align:left;
	padding:10px;
}
#bagDescriptionDiv:hover{
	background-color: #D4D4D4;
}

#textarea {
	width:70%;
	height:150px;
	background-color: #D4D4D4;
	padding:10px;
}

.blueBg {
	background-color:#D4D4D4;
	text-align:center;
	padding: 20px;
	margin:20px;
	width:350px;
}