img { 
  border: none;
}
form { 
  margin: 0px
}
.main-layout {
  margin: 3px;
}

.links, .footer {
  font-size: small;
  background-color: #ccaaff;
  border: solid 1px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.links .menu-item {
  padding-right: 1em;
  padding-left: 1em;
}
.paneTitle {
  font-weight: bold;
}
.description {
  font-weight: bold;
}
.errors {
  color: red;
}
.messages {
  color: green;
}

table.query, table.results {
  border-left: solid 1px black;
  border-top: solid 1px black;
}
table.query th, table.query td, table.results th, table.results td {
  padding: 4px;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
}
table.results td td {
  border:none;
}
table.results {
  font-size: small;
}
div.view {
  border: solid 1px;
  padding: 4px;
}
th {
  background: #caf;
}
tr.even {
  background: #edf;
}
.type {
  color: gray;
}
.constraint {
  color: purple;
}
.metadata {
  color: green;
}

