body {
  font-family: arial, helvetica, sans-serif;
  color: black; 
  background: #f4eeff
}
a {
  color: #220077;
  text-decoration: none
}
a:hover {
  text-decoration: underline
}

.sidebar, .links, .footer {
  font-size: small;
  background-color: #ccaaff;
}
.links .menu-item {
  padding-right: 1em;
  padding-left: 1em;
}
.footer {
  width: 100%;
}
.menu-heading {
  font-weight: bold;
}
.paneTitle {
  font-weight: bold;
}
.title {
  font-size: x-large;
  font-weight: bold;
  color: #220077;
}
.subtitle {
  font-size: large;
}
.errors { 
  color: red;
}
.messages { 
  color: black;
  font-weight: bold;
}

table.query, table.results {
  border-left: solid 1px;
  border-top: solid 1px;
}
table.query th, table.query td, table.results th, table.results td {
  padding: 4px;
  border-right: solid 1px;
  border-bottom: solid 1px;
}
table.results td td {
  border:none;
}
div.view {
  border: solid 1px;
  padding: 4px;
}
th {
  background: #caf;
}
tr.even { 
  background: #edf;
}
.type {
  color: gray;
}
.constraint {
  color: purple;
}
.metadata {
  color: green;
}
