img {
  border: none;
}
form {
  margin: 0px
}
.links {
  font-size: small;
  background-color: #fff;
  border-bottom: solid black 1px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.links .menu-item {
  padding-right: 5px;
  padding-left: 5px;
}
.description {
}

.topBar {
  background: white;
  padding: 6px;
  font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
  font-size: 13px;
  border: 1px dashed #777;
}
.errors {
  color: red;
}
.messages {
  color: green;
}
.contextHelp {
}

.box .heading {
  border: 1px solid #888;
  background-color: #f5f5f5;
  padding: 1px;
  padding-left: 3px;
  margin: 3px;
  font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.box .body {
  padding: 4px;
  margin: 3px;
}

.box .buildmenu .body {
  padding: 4px;
  margin: 3px;
  border: 1px solid #999;
  height: 10;
  font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
  font-size: 12px;
}

table.templateForm td {
  padding: 5px;
}

table.templateBuilder td {
  border-bottom: 1px solid #aaa;
  padding: 6px;
}

table.templateBuilder th {
  font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
  background: #eee;
  border-top: 1px solid black;
}

table.query {
  border: none;
}

/*
table.query th, table.query td {
  border-bottom: 1px solid black;
}
*/
table.query td.modelbrowse {
  border-right: 1px solid black;
}

table.results {
  border-left: solid 1px black;
  border-top: solid 1px black;
}
table.results th, table.results td {
  padding: 4px;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
}
table.results th {
  font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
  font-size: 12px;
}
table.results td td {
  border: none;
}
table.results {
  font-size: small;
}
table.noborder, table.noborder td, table.noborder th {
  border: none;
}
.showing {
  background: #F5F0FF;
  border: 1px solid #bbb;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: px;
  padding-left: 3px;
  margin-left: 3px;
  margin-right: 3px;
  line-height: 25px;
}
/* move away from plus/minus image on left */
#browser .showing {
  margin-left: 0px;
}
/* surrounds view paths */
div.view {
  padding: 4px;
  padding-bottom: 14px;
}
/* one path added to the view area */
div.viewpath {
  background: #F5F0FF;
  border: 1px solid #bbb;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
  text-align: center;
  font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
  font-size: 11px;
}
table.results tr.even {
  background: #F5F0FF;
}

.type {
  color: grey;
}
.collectionField {
  color: green;
}
.referenceField {
  color: green;
}
.attributeField {
  color: green;
}
.value {
/*  padding: 2px;*/
  font-family: monospace;
/*  background: white;
  border: 1px solid #ccc;*/
}

.constraint {
  color: purple;
}

/* classes for the object details page */
.refSummary {
  margin-left: 15px; 
  padding: 5px; 
}
table.refSummary {
  border: 1px solid #000;
}
table.refSummary thead tr td {
  background: #eee;
}
table.refSummary tbody tr td {
  padding: 3px;
  background: #FAF8FF;
}
span.collectionDescription {
}

/* classes relating to the begin page */

table.box {
  border: 1px solid black;
}

table.box th {
  background: #eee;
  border-bottom: 1px solid black;
}

table.box > tbody > tr > td {
  padding: 5px;
  background: white;
  font-size: 90%;
}

table.box th.help {
  padding: 5px;
  text-align: right;
  font-size: 11px;
  font-weight: normal;
  font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
}

table.box th.title {
  padding: 5px;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
}

.smallnote {
  font-size: 11px;
  font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
}

.altmessage {
  text-align: center;
  font-style: italic;
}

#tmplPreview {
  margin: 15px;
  padding: 14px;
  background: #f5f5f5;
  border: 2px solid #888;
  text-align: left;
}

.previewTitle {
  text-align: center;
  text-decoration: underline;
  font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
  font-size: 11px;
}

.templateDesc {
}

.admin-msg {
  text-align: center;
}

/* override flymine2.css */
#pagecontent {
  margin: 10px;
  padding: 0px;
}

.seperator {
  height: 4px;
  border-top: 1px solid #ddd;
  margin-top: 5px;
}


