img {
  border: none;
}
form {
  margin: 0px
}
.links {
  font-size: small;
  background-color: #fff;
  border-bottom: solid black 1px;
  padding-top: 3px;
  padding-bottom:3px;
}
.main-layout {
  margin-top: 10px;
}
.links .menu-item {
  padding-right: 5px;
  padding-left: 5px;
}
.paneTitle {
  font-weight: bold;
}
.description {
  font-weight: bold;
}
.errors {
  color: red;
}
.messages {
  color: green;
}

table.query, table.results {
  border-left: solid 1px black;
  border-top: solid 1px black;
}
table.query th, table.query td, table.results th, table.results td {
  padding: 4px;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
}
table.results td td {
  border:none;
}
table.results {
  font-size: small;
}
div.view {
  border: solid 1px;
  padding: 4px;
}
th {
  background: #caf;
}
tr.even {
  background: #edf;
}
.type {
  color: gray;
}
.constraint {
  color: purple;
}
.metadata {
  color: green;
}

/* override flymine2.css */
#content
{
  padding: 5px;
  margin-left: 0px;
  margin-right: 0px;
}
