img {
  border: none;
}
form {
  margin: 0px
}
.links {
  font-size: small;
  background-color: #fff;
  border-bottom: solid black 1px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.links .menu-item {
  padding-right: 5px;
  padding-left: 5px;
}
.paneTitle {
  font-weight: bold;
}
.description {
  font-weight: bold;
}
.errors {
  color: red;
}
.messages {
  color: green;
}

table.query {
  border: none;
}
table.query th, table.query td {
  border-bottom: 1px solid black;
}
table.query td.modelbrowse {
  border-right: 1px solid black;
}
table.results {
  border-left: solid 1px black;
  border-top: solid 1px black;
}
table.results th, table.results td {
  padding: 4px;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
}
table.results td td {
  border:none;
}
table.results {
  font-size: small;
}
table.noborder, table.noborder td, table.noborder th {
    border: none;
}

div.view {
  border-bottom: solid 1px;
  padding: 4px;
  padding-bottom:14px;
}

th {
  background: #caf;
}
tr.even {
  background: #edf;
}
.type {
  color: gray;
}
.constraint {
  color: purple;
}
.metadata {
  color: green;
}

/* classes relating to the begin page */

table.box {
    border: 1px solid black;
}

table.box th {
    background: #eee;
    border-bottom: 1px solid black;
    color: #210075;
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
}

table.box td {
    padding: 9px;
}

table.box th.help {
    padding: 6px;
    font-size: 10px;
    font-weight: normal;
    text-align: right;
}

table.box th.title {
    padding: 6px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.smallnote {
    font-size: 11px;
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
}



/* override flymine2.css */
#content
{
  margin-top: 14px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 14px;
}
