html, body {
    color: #000000;background-color: #FFF;}

a {
    color: #333;}

body {
  background:#FFF url('top_gradient.png') repeat-x;
}

h1, h2, h3, h1 a, h1 a:visited, label {
    color:#333;
}
h1 a:hover,h1 a:visited:hover  {
    color:#333;
    text-decoration: underline;
}


/* =HEADER
--------------------------*/
div#header h1,
div#header h1 a,
div#header h1 a:link,
div#header h1 a:visited,
div#header h1 { font-size:26px; color:#000; }

div#header p {
    color:#000; 
}

/*div.title h1 {
    color: #000;}
*/
.box .title {
  clear:both;
  padding: 5px;
  text-align: left; font-weight: normal; font-size: 14px; font-weight: bold;
  background: #eee;}

/*.title a:link{
    color:#FFF;}
*/
#topnav {
    background-color: #62564F;
}

#pagecontent {
  border-left:1px solid #000;
  border-right:1px solid #000;
  border-bottom:1px solid #000;
}

#loginbar  a:link, #loginbar a:visited, #loginbar{
  color:#000;}

/* =BODY
--------------------------*/

.plainbox {
    border:1px solid #62564F;
  background:#F0F0F0;
  padding:10px;}

.gradientbox {
  padding:10px;
  border:1px solid #000;
  background: url('gray_grad.png') repeat-x;}


/* =NAVIGATION
--------------------------*/

ul#nav a{
	text-decoration:none; color: #FFF; font-weight:bold;	background-image:url('corner_t_r.png'); background-repeat: no-repeat;	background-position: right top;	color:white;}

/*ul#nav a:hover,ul#nav li#mymine a:hover{
	color:#333;}
*/

ul#nav a:hover,ul#nav li#mymine a:hover{
	color:#DDDDDD;}

ul#nav li#mymine a{
	color:white;background:url('corner_my_t_r.png') no-repeat top right;}
	
ul#nav li.activelink a{
	color:white;background:url('corner_act_t_r.png') no-repeat top right;}

ul#nav li#mymine {
	background:#535353 url('corner_my_t_l.png') no-repeat;}


ul#nav li.activelink {
	background:#62564F url('corner_act_t_l.png') no-repeat;}

ul#submenulist li#subactive_bag {
	font-weight:bold;color:#FFF;background:url('submenu_indent.png') no-repeat bottom center;}

ul#submenulist li#subactive_mymine {
	font-weight:bold;color:#FFF;background:url('submenu_my.png') no-repeat bottom center;}

ul#nav li{
	text-align: center;background:#9E9E9E url('corner_t_l.png') no-repeat;}

.submenu{
	background:#62564F;
	border-left:1px solid #000;
	border-right:1px solid #000;}

.submenu_mymine{
	background:#535353;}

ul#submenulist li a {
	color:#FFF;text-decoration: none;font-weight: bold;}

ul#submenulist li a:hover {
	color:#FFF;text-decoration: underline;font-weight: bold;}

/* =MEGATILE SEARCH
--------------------------*/

div.filterBar {
    background:#62564F;color:white;}

div#filter_tool_bar {
    background-color:#FFF;
    border-right:1px solid #000;
    border-left:1px solid #000;
    border-bottom:1px solid #000;
}

.imbox {
    padding:5px 5px 10px 5px; border-top:solid 1px #888; border-bottom:solid 1px #888; height:1.2em;
    font-size:0.8em; background:#000; color:white;}


/* =TOOLBOX RESULTS
--------------------------*/

.listtoolbox {
  background-image: url('gray_grad.png');
  border:1px solid #888;
  background-color: #FFF;
}

.widgetcontainer {
  border:1px solid #888;
  background: #FFF url('gray_grad.png') repeat-x top;
}
#tool_bar_div {
    background-color:#CACACA;
}
.tb_button {
  border:1px solid #CACACA;
}
.tb_button:hover {
  margin-right:0;
  border-bottom:1px solid #000;
  border-right:1px solid #000;
}
.tb_button_active {
  border:1px solid #000;
}


/* =WIDGET
--------------------------*/

.widget {
    max-height:400px;width: 450px;padding:15px;
    text-align: center; background-color: #D2CEBF;}

.widget p {
  font-size:10px;	}

.widget_slide {
  margin-top:10px; max-height:350px;
    overflow-x:none;overflow-y:auto;overflow: auto;}

#bagDescriptionDiv{
    background-color: #D2CEBF;}

#bagDescriptionDiv:hover{
  background-color: #D2CEBF;} 

#textarea {
    background-color: #D2CEBF;}

.blueBg {
  padding: 20px;margin:20px;width:350px;
  background-color:#D2CEBF;text-align:center;}

table.dbsources {
    padding:0px;
  margin:10px 20px 10px 20px;}

table.dbsources th  {
  padding: 6px 6px 6px 12px;
  text-align: left;
  font-weight: bold;
  border-right:1px solid #FFF;
  color: white;
  background-color: #000;}

table.dbsources td {
  padding: 6px 6px 6px 12px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  background: #fff;}

table.dbsources td.leftcol {
  border-left: 1px solid #000;
    background: #fff;}

/* =RESULTS TABLES
-----------------------*/
table.results tr th {
    background-color: #000;font-size: 12px; color:#FFF;
}
table.results tr td.highlightCell, table.results tr.even td.highlightCell {
   border-right:1px solid #FFF;background-color: #888;}

table.results tfoot tr td {
  color:#FFF;
  background-color: #000;
}

table.results tr.even TD{
  background-color: #CACACA;}

table.results tr.odd TD{
  border-right:1px solid #CACACA;
  border-bottom:1px solid #CACACA;}

table.results tr td.highlightObject {
  background-color: #888;
}

/*    .columnHeader {
      background: #353B40;
    }*/

#listTags { background-color: #D2CEBF; margin-left: 10px; padding: 3px 10px; }

/* keyword search results */
.keywordSearchResults .resultTableContainer table.dbsources { border-left: 1px solid #DFDFDF; }
  .keywordSearchResults .resultTableContainer table.dbsources th { background:#62564F; color:#FFF; font-size:13px; padding:2px 8px; }
  .keywordSearchResults .resultTableContainer table.dbsources tr.keywordSearchResult { color:#000; }
    .keywordSearchResults .resultTableContainer table.dbsources tr.keywordSearchResult td { line-height:12px; }
    .keywordSearchResults .resultTableContainer table.dbsources tr.keywordSearchResult div { margin:0; }
    .keywordSearchResults .resultTableContainer table.dbsources tr.keywordSearchResult.odd td { border-bottom:1px solid #DFDFDF;
      border-top:1px solid #DFDFDF; background:#FCFCFC; }
  .keywordSearchResults .resultTableContainer table.dbsources td { border-right: 1px solid #DFDFDF; border-bottom:none; padding:4px 8px 2px 8px; }

.keywordSearchResults .resultTableContainer table.dbsources table.inner td { color:#000; }

.keywordSearchResults .resultTableContainer table.dbsources div.objectKeys a,
.keywordSearchResults .resultTableContainer table.dbsources tr.keywordSearchResult a span.value { font-size:14px; }

div.keywordSearch div.examples h4 { color:#333; }

/* keyword search results relevancy */
div.resultTableContainer td.relevance div.full { color:#ff0000; }
div.resultTableContainer td.relevance div.empty { color:#7E6D63; }

/* submenu */
/*#submenu { color:#7A7A7A !important; }*/
#submenu { color:#DDDDDD !important; }

/* lists analysis (bagDetails.do) */
div.heading.results { border:1px solid #888; background:url("gray_grad.png") repeat-x scroll center top #FFFFFF; margin-left:0; }
div.heading.results h1 { color:#4D5154; font-size:22px; margin-bottom:10px; }
div.heading.results #tool_bar_div { float:left; background:transparent !important; }
div.heading.results #tool_bar_div li { border:1px solid #D2D2D2; background:#EEEEEE; margin-right:10px; padding:4px; font-weight:normal; }

/* submenu form on mymine */
#submenu.submenu_mymine #submenudiv #quicksearch form { color:#000 !important; }

/*ul#submenulist li div { border-left-color:#7A7A7A; }*/
ul#submenulist li div { border-left-color:#DDDDDD; }

/* homepage (begin.css) */
#search-bochs div.inner h3 { background:#62564F; }  
#lists-bochs div.inner h3 { background:#7D6D62; color:#FFF; }
  #lists-bochs div.inner a { color:#62564F; }
#low h4 { color:#62564F; }

#boxes input.dark[type="submit"] { background:url("homepage/coal.png") no-repeat scroll center bottom transparent;
  color:#FFF; padding:2px 36px; }
#boxes input.light[type="submit"] { background:url("homepage/derty.png") no-repeat scroll center bottom transparent;
  color:#FFF; padding:2px 36px; }
#templates div.content p.more a, #low #rss p.more a { background: url("homepage/more-pitchurka.png") no-repeat scroll
  left center transparent; }

#templates #tab-content #ribbon { background: url("../../themes/purple/homepage/ribbon-mars.png") no-repeat scroll right top transparent; }


/* report page */
#header_wrap { background-color:#F5F5F5; background-image:url("report/header-bg.png"); }
#object_header h1.title span { color:#5c0075; }
#object_header div.box h3 { background:#F0E3F7; }
#object_header div.list.box span { color:#004499; }
#fixed-menu { background:#AFAFAF; }
#toc-menu-wrap { background:#AFAFAF; }
#fixed-menu span, #toc-menu-wrap span { color:#FFF; }
#menu-target { background:#F5F5F5; }
#toc-menu-wrap div.wrap a, #fixed-menu div.wrap a { color:#4B3F4B; background:#F5F5F5; }
div.box h2 { color:#000; }
div.box h3 { text-shadow: 1px 1px 1px #FFF; background:#EBEBEB; color:#000; border-top-color:#62564F; }
div.box a { color:#004499; }
div.box div.inner { border-color:#FCFAFD; }
div.box div.inner h4 { background-color:#FCFAFD; }
div.table h3 { text-shadow: 1px 1px 1px #FFF; }
#in-lists div.heading { background:#EBEBEB !important; border-color:#62564F; color:#000 !important; text-shadow:1px 1px 1px #FFF; }
div.feature table td.border-left { border-left-color:#F7F5DA !important; }
.container_12 .compact-table td { border-color:#DCC8E2; }
.container_12 .compact-table a:hover { color:#004499; }
.container_12 .highlight { background-color: #FFF3D3; }
div.box div.inner { border-color:#FCFAFD; }
div.box div.inner h4 { background-color:#FCFAFD; }
div.table.gray h3 { color:#ABABAB; border-top-color:#6E6E6E; background:#F6F5F7 !important; }

/* theme color classes (used on Report page currently) */
div.table .theme-1-color, div.box .theme-1-color { color:#004499 !important; } /* Matisse */
div.table .theme-1-background, div.box .theme-1-background { background-color:#000 !important; } /* Matisse */
div.table .theme-1-border, div.box .theme-1-border { border-color:#000 !important; } /* Matisse */

div.table .theme-2-color, div.box .theme-2-color { color:#A16AAF !important; } /* Wisteria */
div.table .theme-2-background, div.box .theme-2-background { background-color:#A16AAF !important; } /* Wisteria */
div.table .theme-2-border, div.box .theme-2-border { border-color:#A16AAF !important; } /* Wisteria */

div.table .theme-3-color, div.box .theme-3-color { color:#F0F0F0 !important; } /* Gallery */
div.table .theme-3-background, div.box .theme-3-background { background-color:#F0F0F0 !important; } /* Gallery */
div.table .theme-3-border, div.box .theme-3-border { border-color:#F0F0F0 !important; } /* Gallery */

div.table .theme-4-color, div.box .theme-4-color { color:#F0E3F7 !important; } /* French Lilac */
div.table .theme-4-background, div.box .theme-4-background { background-color:#F0E3F7 !important; } /* French Lilac */
div.table .theme-4-border, div.box .theme-4-border { border-color:#F0E3F7 !important; } /* French Lilac */

div.table .theme-5-color, div.box .theme-5-color { color:#EBEBEB !important; } /* Wild Sand */
div.table .theme-5-background, div.box .theme-5-background { background-color:#ABABAB !important; } /* Wild Sand */
div.table .theme-5-border, div.box .theme-5-border { border-color:#EBEBEB !important; } /* Wild Sand */

div.table .theme-6-color, div.box .theme-6-color { color:#FAFAFA !important; } /* Alabaster */
div.table .theme-6-background, div.box .theme-6-background { background-color:#FAFAFA !important; } /* Alabaster */
div.table .theme-6-border, div.box .theme-6-border { border-color:#FAFAFA !important; } /* Alabaster */

div.table .theme-7-color, div.box .theme-7-color { color:#F0F0F0 !important; } /* Milk Punch */
div.table .theme-7-background, div.box .theme-7-background { background-color:#F0F0F0!important; } /* Milk Punch */
div.table .theme-7-border, div.box .theme-7-border { border-color:#F0F0F0 !important; } /* Milk Punch */

/* redefine for inline lists/boxes with no results (gray) */
div.box.gray h3 { color:#ABABAB; border-top-color:#6E6E6E !important; background:#F6F5F7 !important; }