ol#news li {
    list-style: disc;
    margin-bottom:5px;
    padding-left:5px;
}

#newsbox {
  height:100px;
  overflow-y: auto;
  border-bottom:1px solid #CCC;
}
	
.fp_button {
    float:right;
    clear:right;
}


ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs (does nothing) --*/
	border-bottom: 0;
	border-left: 1px solid #9E68AE;
	width: 977px;
	*height: 22px; /*(required for manky IE7)*/
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #9E68AE;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #F5F0FF;
	color:#5C0075;
}
ul.tabs li a {
	text-decoration: none;
	color: #5C0075;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
	margin:0;
}
ul.tabs li a:hover {
	background: #5C0075;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
   background: #F5F0FF;
	border-bottom: 1px solid #F5F0FF; /*--Makes the active tab look like it's connected with its content--*/
}

.tab_container {
	border: 1px solid #9E68AE;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #F5F0FF;
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
	border-top: 1px solid #9E68AE;
}

/* page columns */
#left.column, #right.column { float:left; }
#left.column { width:330px; }
#right.column { width:645px; }

/* main boxes */
#actions .plainbox { float:left; width:300px; height:216px; }
	#actions .plainbox { margin:0 10px 10px 0; }
	#actions .plainbox.last { margin-right:0; padding-right:0; }
	#actions .plainbox dl { padding-bottom:10px; }
	#actions .plainbox h1 { background-position:left center; background-repeat:no-repeat; padding-left:70px; line-height:64px; margin-bottom:10px; }
	#actions .plainbox ul, #actions .plainbox form { margin-top:6px; }
	#actions .plainbox textarea { width:282px; }
	
	#actions .plainbox.search { ; }
		#actions .plainbox.search h1 { background-image:url('../images/icons/search-64.png'); }
		#actions .plainbox.search input#keywordSearch { width:230px; }
	#actions .plainbox.api { ; }
		#actions .plainbox.api h1 { background-image:url('../themes/metabolic/icons/perl-java-ico.gif'); }
	#actions .plainbox.analyse { ; }
		#actions .plainbox.analyse h1 { background-image:url('../images/icons/lists-64.png'); padding-left:80px; }
		#actions .plainbox.analyse input#submitBag { float:right; margin-right:10px; }
	
/* news */
#rss div.plainbox { margin:0; width:956px; }
	#rss div.plainbox h1 { background:url(../themes/purple/icons/rss-32.png) no-repeat left; padding-left:40px; line-height:32px;
		display:block !important; margin-bottom:6px; }
	#rss div.plainbox #newsbox { padding-bottom:2px; }

/* tabbed menu */
ul.tabs li.link, ul.tabs li.link.active { border:0; background:#FFF; }
	ul.tabs li.link a:hover { background:#FFF; }