# svn directory
svndirectory = ~/svn/dev

# Mine name
mine = flymine

# files to update
inputfile = $svndirectory/$mine/dbmodel/resources/genomic_keyDefs.properties
inputfile = $svndirectory/$mine/dbmodel/resources/objectstoresummary.config.properties
inputfile = $svndirectory/$mine/dbmodel/resources/class_keys.properties
inputfile = $svndirectory/$mine/dbmodel/resources/genomic_precompute.properties
inputfile = $svndirectory/$mine/webapp/resources/webapp/WEB-INF/webconfig-model.xml
inputfile = $svndirectory/$mine/webapp/resources/default-template-queries.xml
inputfile = $svndirectory/$mine/integrate/datasets.xml
inputfile = ~/im-update/userprofile.xml

# new model
newmodel = $svndirectory/$mine/dbmodel/build/model/genomic_model.xml 

# changes file
changesfile = $svndirectory/intermine/scripts/resources/model_changes0.97.yaml

logfile = ~/intermine_update.0.97.log

# Extension to use for back-ups
ext = .orig
