ol#buildbaglist, ol#buildbaglist li{
	margin:0;padding:0;
	list-style: none;}

ol#buildbaglist label{
	float:left;
	margin-right:1em;width:10em;
	text-align:right;font-size:1.2em;font-weight:bold;}

ol#buildbaglist li {
	float:left;clear:left;
	width:100%;padding-bottom:1em;}

ol#buildbaglist select, ol#buildbaglist textarea{
	width:60%;}

textarea#pasteInput {
  width: 345px;}
