#bagTable{
    padding:5px;}

#bagTable td{
  padding-right: 10px;padding-left: 10px;
  vertical-align: top;}

#bagDescriptionTextarea{
  width:100%;text-align: center;}

#bagDescriptionDiv{
  padding:0 10px 10px 10px;
  overflow: auto;
  height:110px;
  width:100%;
  text-align:left;}

#textarea {
	padding:5px; margin:0;
	width:100%;height:100px;}

#emptyDesc{
  text-align:center;font-style: italic;}

table tr td.tableleftcol {
    padding:0 15px 0 0;
}

li {
  margin-left: 10px;
  list-style: none;}

#convertList{
  padding:0 10px 20px 10px;}

#linkOuts{
  padding:0 10px 10px 10px;}
  
.listtoolbox { 
  padding: 0 10px 10px 10px; margin: 0 15px 15px 15px;
  background-color: #D0FFE7; vertical-align: middle; text-align: left;}
  
.listtoolbox h3, #bagDescriptionDiv h3 {
  color:#333; font-size:1.2em;}

.listtoolbox p, #bagDescriptionDiv p {
  margin:10px 0px 0px 20px;}

table.listinfotable {
}
table.listinfotable tr td {
    font-style: italic;
}
table.listinfotable tr td.infotitle {
    font-style: normal;
    text-align:right;
    color:#015E3A;
    padding-right:10px;
}
