.blueBg {
	padding: 20px;margin:20px;width:350px;
	background-color:#D0FFE7;text-align:center;}

#uploadConfirmMessage {
  text-align:center; font-size: 140%;}

table.collection {
  border-left: solid 1px #666; border-top: solid 1px #666;font-size: small;}

table.collection th, table.collection td {
  padding: 4px; border-right: solid 1px #666; border-bottom: solid 1px #666;
  background-color: #fff;}

table.collection th {
  background-color: #eee;font-size: 12px;}

table.collection t td {
  border: none;}

table.collection tr.even TD{
  background-color: #D0FFE7;}

table caption {
  text-align:left;
  font-size: 12px;}
  
table .sectionAddRemove {
  float:right;}
