/* instead of using the body div, use this one */
div.bodyPeekaboo
{
  position:relative;
  margin: 12px 12px 10px 12px;
  font-size: 12px;}

/* surrounds view paths */
div.view {
  padding: 4px 4px 14px 4px;}

/* one path added to the view area */
div.viewpath {
  float: left;
  padding: 5px; margin-right: 5px; margin-bottom: 5px;
  background-color: #E7F1FB; border: 1px solid #bbb; text-align: center; font-size: 11px; cursor: pointer; cursor: hand;}

/* a path in the view that has an error */
div.errorPath {
  float: left;
  padding: 5px; margin-right: 5px; margin-bottom: 5px;
  background-color: #FBB; border: 1px solid #eaa; text-align: center; font-size: 11px;}

div.viewpathDisabled {
  background: #bbb;}

div.viewListEdit {
  float: left;
  padding-right: 6px; padding-top: 1.5em;
  color: #555;}

span.viewPathDescription {
  font-style: italic;}

/* surrounds sort order paths */
div.sortorder {
  padding: 4px; padding-bottom: 14px;}

/* one path added to the sort order area */
div.sortorderpath {
  float: left; width: 250px;
  padding: 5px; margin-right: 5px; margin-bottom: 5px;
  background-color: #F5F0FF; color: #660099; border: 1px solid #bbb; text-align: center; font-size: 11px; cursor: hand;}
 
.showing {
  padding: 1px 0 1px 3px; margin-left: 3px; margin-right: 3px;
  background-color: #E7F1FB; border: 1px solid #bbb; line-height: 25px;}

table.query {
  border: none;}

table.query td.modelbrowse {
  border-right: 1px solid #888;}