CDS
Chromosome
ChromosomeBand
Chunk
Contig
MRNA
PCRProduct
PolyASite
Primer
Pseudogene
RepeatRegion
RRNA
Scaffold
Supercontig
TranscriptionStartSite
TransposableElementInsertionSite=TilingPathSpan
Exon=Gene
Exon=Transcript
Exon=TilingPathSpan
Exon=ArtificialDeletion
Intron=Gene
Intron=Transcript
Intron=TilingPathSpan
Intron=ArtificialDeletion
FivePrimeUTR=Gene
FivePrimeUTR=TilingPathSpan
FivePrimeUTR=ArtificialDeletion
ThreePrimeUTR=Gene
ThreePrimeUTR=TilingPathSpan
ThreePrimeUTR=ArtificialDeletion
ArtificialDeletion=ArtificialDeletion
ArtificialDeletion=TransposableElementInsertionSite
ArtificialDeletion=TilingPathSpan
