.dsIconLabel {
	margin-left:3px; margin-top:-3px;
	font-size:13px;}

.dsIconImage {
	margin-bottom:5px;
	border:1px solid #222;}

table.aspectIconsTable {
	margin-bottom:5px;margin-left:10px;}

td.aspectIconCell {
	padding-right:15px}