#errorApology {
  padding: 10px; margin: 30px 50px 50px 50px;
  -moz-border-radius: 8px; border: 2px solid red; font-weight: bold; background-color: #fff;}
  
.pagenotfound {
	text-align:left;
	margin-left:300px;
	float:left;
}
.pagenotfound h1{
    color:#6F0000;
    margin-bottom:25px;
}
.pagenotfound p{
    margin-bottom:10px;
}
.pagenotfound li{
    margin-bottom:5px;
}