div.exportPath {
  float: left;
  padding: 5px; margin-right: 5px; margin-bottom: 5px;
  background-color: #E7F1FB;
  border: 1px solid #bbb;
  text-align: center;
  font-size: 11px;
  cursor: hand;
}

fieldset {
    clear:both;
    width:100%;
    margin: 1.5em 0 0 0;
    padding: 4px 7px 9px 7px;
    border-style: 1px solid #9F67AD;
    background: url('../theme/blue_grad.png') repeat-x;
}

legend {
    color: #000000;
    font-weight: bold;
}

fieldset ol {
    padding: 1em 1em 0 1em;
    list-style: none;
}

fieldset li {
    padding-bottom: 1em;
}

fieldset.submit {
    border-style: none;
    background:none;
    text-align:right;
}

label {
    float:left;
    width: 10em;
    margin-right: 1em;
}

fieldset fieldset {
    margin-bottom: -2.5em;
    border-style: none;
    background-color: transparent;
    background-image: none;
}

fieldset fieldset legend {
    margin-left:0;
    padding-left:0;
    color: #5c0075;
    font-weight: normal;
}

fieldset fieldset ol {
    position: relative;
    top: -1.5em;
    margin: 0 0 0 8em;
    padding: 0;
}
fieldset fieldset label {
    float:none;
    width:auto;
    margin-right:auto;
    margin-left:0.5em;
    vertical-align: top;
}

li.columnHeaderOption label {
    float: none;
    margin-left: 0.5em;
    vertical-align: top;
}

li.columnHeaderOption input {
    float: left;
}
