div.form { margin:0 auto; width:60%; border:3px solid #EEE; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;
	position:relative; margin-top:10px; }
div.form form#galaxyform { border:1px solid #CACACA; -webkit-border-radius:1px; -moz-border-radius:1px; border-radius:1px;
	padding-bottom:35px; }
div.form h2 { padding:10px; font-size:17px; text-shadow:1px 1px 1px #FFF; background:rgb(246,248,248);
	background:-moz-linear-gradient(top, rgba(246,248,248,1) 0%, rgba(235,236,237,1) 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,248,1)), color-stop(100%,rgba(235,236,237,1)));
	background:-webkit-linear-gradient(top, rgba(246,248,248,1) 0%,rgba(235,236,237,1) 100%);
	background:-o-linear-gradient(top, rgba(246,248,248,1) 0%,rgba(235,236,237,1) 100%);
	background:-ms-linear-gradient(top, rgba(246,248,248,1) 0%,rgba(235,236,237,1) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f8f8', endColorstr='#ebeced',GradientType=0);
	background:linear-gradient(top, rgba(246,248,248,1) 0%,rgba(235,236,237,1) 100%); }
div.form p { margin:10px; }
div.form input[type="submit"] { position:absolute; bottom:10px; right:10px; }
div.form a.advanced { color:#004499; cursor:pointer; display:block; margin:6px 0 0 22px; font-size:14px; padding-left:20px;
	background:url('../images/icons/choose-columns.png') no-repeat center left; }
div.form div.option { padding:10px; border-width:1px 0; border-style:solid; border-color:#fff; }
div.form div.option:hover { background:#f6f8f8; border-color:#ddd; }
div.form #tsv-options { margin-top:6px; }
div.form #tsv-options * { vertical-align:bottom; }
div.form #tsv-options ol { padding-left:34px; font-size:12px; }
div.form #tsv-options ol li { line-height:23px; margin:5px 0 5px 28px; }
div.form #tsv-options label { font-size:14px; }
div.form #tsv-options ul#pathsList { margin-top:10px; }
div.form #tsv-options ul#pathsList li { display:inline-block; list-style-type:none; margin:0 5px 0 0; cursor:pointer;
	border:1px solid #004499; color:#004499; background:#E3F0FF; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;
	margin-bottom:5px; }
div.form #tsv-options ul#pathsList li div { padding:2px; }
div.form #tsv-options ul#pathsList li a { margin-left:4px; }
div.form #tsv-options ul#pathsList li img { margin-top:0px !important; height:auto !important; width:auto !important; }