/* instead of using the body div, use this one */
div.bodyPeekaboo
{
  position:relative;
  margin: 12px 12px 10px 12px;
  font-size: 12px;}

/* surrounds view paths */
div.view {
  padding: 4px 4px 14px 4px;}

/* one path added to the view area */
div.viewpath {
  height:50px;
  float: left;
  padding: 5px; margin-right: 5px; margin-bottom: 5px;
  background-color: #E7F1FB; border: 1px solid #bbb; text-align: center; font-size: 11px; cursor: pointer; cursor: hand;}

/* a path in the view that has an error */
div.errorPath {
  float: left;
  padding: 5px; margin-right: 5px; margin-bottom: 5px;
  background-color: #FBB; border: 1px solid #eaa; text-align: center; font-size: 11px;}

div.viewpathDisabled {
  background: #bbb;}

div.viewListEdit {
  float: left;
  padding-right: 6px; padding-top: 1.5em;
  color: #555;}

span.viewPathDescription {
  font-style: italic;}

/* surrounds sort order paths */
div.sortorder {
  padding: 4px; padding-bottom: 14px;}

/* one path added to the sort order area */
div.sortorderpath {
  float: left; width: 250px;
  padding: 5px; margin-right: 5px; margin-bottom: 5px;
  background-color: #F5F0FF; color: #660099; border: 1px solid #bbb; text-align: center; font-size: 11px; cursor: hand;}

.showing {
  padding: 1px 0 1px 3px; margin-left: 3px; margin-right: 3px;
  background-color: #E7F1FB; border: 1px solid #bbb; line-height: 25px;}

.subclass {
  color: purple;
  border: 1px solid purple;
  background-color: #f7eaff;
  padding: 1px;
  line-height: 22px;}

.reverseReference {
  color: #898989; }

table.query {
  border: none;}

div.modelbrowse {
  border-right: 1px solid #888;}

#queryBuilderBrowser {
  float:left;
  width:500px;
  /*margin-right:10px;*/
  position:relative;
}

#browserbody {
  height:400px;
  overflow-y:auto;
}

#rightColumn {
  margin-left:505px;
  width:495px;
}

#queryBuilderContainer {
  margin-top:10px;
}
/* Outer Joins diagram */
li.block {
  list-style:none;
}

.block {
  border: 2px solid #0090DF;
  background-color: #68BFEF;
  width: 150px;
  height: 70px;
  margin: 10px;
}

.canvas {
  position: absolute;
  z-index: -10;
}

.viewTitle {
  background:#1863B8;
  color:white;
}

.constraintTitle {
  background:#B12A2A;
  color:white;
}

.currentTitle {
  background:#008000;
  color:white;
}

#constraintLogic {
  border-top:1px solid #CCC;
  margin:25px 10px;
  padding-top:5px;
}

form#submitform input, form#submitform {
  vertical-align:top;
  padding:0; margin:0;
}

.actions {
  padding-top: 5px;
}

.actions p {
  margin-bottom:15px;
}


.and {
  font-size: 10px;}

.constraint {
  color: purple;}

.browserline {
  white-space: nowrap;}

.browserline.empty { display:none; }
.browserline.empty span.nullAttribute span.attributeField { color:#898989; }
.browserline.empty span.nullAttribute

table.noborder, table.noborder td, table.noborder th {
  border: none;}

#constraintLogic {
  border:none;
  padding: 2px;
  border:1px solid #CACACA;
}

#constraintLogic:hover {
  background-color:#F0FFB3;
  border:1px solid #CCC;
}

#constraintLogicContainer {
  margin-top:25px;
}

.constraintEditableOptionsDisabled {
  /* for IE */
  filter:alpha(opacity=30);
  /* CSS3 standard */
  opacity:0.3;
}

.optionalConstraint {
  font-size: 0.9em;
}

.constraintFieldset {
  padding: 5px 5px 7px 5px;
}

img.tinyQuestionMark {
  padding-bottom:4px;
}

#ctxHelpDiv {
  margin-bottom:10px;
}

.queryActions {
  margin: 15px 8px;
}

.queryActions table {
  width: 100%;
  border-spacing: 0px;
  border-top: 1px solid gray;
  border-left: 1px solid gray;

}

.queryActions td {
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 1px 0px 1px 0px;
  width: 25%;
  font-size: 11px;
  text-align: center;
}

#sidebar { margin-left:830px;height:35px;
  width:495px;}

span.tree_tee .ver
{
    border:1px solid black;
    border-right-style:none;
    border-top-style:none;
    border-bottom-style:none;
    padding-top:1px;
    padding-bottom:8px;
    position: relative;
    left: 10px;
}

.tree_tee .hor
{
    border:1px solid black;
    border-right-style:none;
    border-left-style:none;
    border-top-style:none;
    margin-right:3px;
    color: white;
    position: relative;
    left: 10px;
    top: -7px
}

.tree_straight .ver
{
    border:1px solid black;
    border-right-style:none;
    border-top-style:none;
    border-bottom-style:none;
    margin-right:6px;
    padding-top:1px;
    padding-bottom:8px;
    position: relative;
    left: 10px;
 }

.tree_straight .hor
{
     color: #ffffff;
}

.tree_ell .ver
{
    border:1px solid black;
    border-right-style:none;
    border-top-style:none;
    border-bottom-style:none;
    position: relative;
    left: 10px;
    top: -6px
 }

.tree_ell .hor
{
    border:1px solid black;
    border-right-style:none;
    border-left-style:none;
    border-top-style:none;
    margin-right:3px;
    color: white;
    position: relative;
    left: 10px;
    top: -7px
 }

.tree_blank .ver
{
    background-color: #ffffff;
    font-size: 1px;
    color: #ffffff;
}

.tree_blank .hor
{
     background-color: #ffffff;
     font-size: 1px;
     color: #ffffff;
     padding-right:13px;
 }

 .toggle
 {
    position: relative;
    top: 2px;
 }

#queryBuilderBrowser div.loading { display:block; width:500px; height:400px; top:43px; left:0; position:absolute;
  background:rgba(255, 255, 255, 0.90) url('../images/icons/ajax-loader.gif') no-repeat center; }