th2 {
  padding: 8px 12px 4px 12px;
  font: bold 10px/22px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; color: #4f6b72; border: 1px solid #C1DAD7; letter-spacing: 1px; text-transform: uppercase; text-align: left; background: #fff; vertical-align:middle;}

th {
  padding: 8px 4px 4px 4px;
  font: bold 10px/20px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; color: #4f6b72; border: 1px solid #C1DAD7; letter-spacing: 1px; text-align: left; background: #fff; vertical-align:middle;}

th.sortable,
th.sortable-text,
th.sortable-date,
th.sortable-keep,
th.sortable-date-dmy,
th.sortable-numeric,
th.sortable-currency,
th.sortable-sortByTwelveHourTimestamp,
th.sortable-sortIPAddress,
th.sortable-sortEnglishLonghandDateFormat,
th.sortable-sortScientificNotation,
th.sortable-sortImage,
th.sortable-sortFileSize { 
  padding: 8px 12px 4px 16px;        
  cursor:pointer; background: url(../images/bg_header_sortable_white.jpg) no-repeat;}

th.forwardSort {
        background:url(../images/bg_header_down_white.jpg) no-repeat 0 0; }

th.reverseSort {
        background:url(../images/bg_header_up_white.jpg) no-repeat 0 0; }

th.forwardSort a,
th.reverseSort a {
        color:#000; outline:0 none; }

        
.sorting{
    padding: 6px 12px 6px 12px;
    font-size: 12px; 
    font-weight: normal;
    background-color: white;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    }
        


