.noBagsMessage {
  font-size: 11px;
  color: #555;
  font-style: italic;
}

.templateFormContainer {
  margin-left: 0px;
}

ol.templateForm {
  list-style: none;
  padding: 0;
  margin: 10px 10px 0px 0px;
}

ol.templateForm li {
  list-style: none;
  padding: 5px 10px 10px 0px;
  margin: 0px;
}

ol.templateForm li.firstLine {
  list-style: none;
  padding: 10px 10px 5px 0;
}

ol.templateForm li label.marg {
  margin-left: 5px;
}

.constraintHeadingDisabled {
  /* for IE */
  filter:alpha(opacity=30);
  /* CSS3 standard */
  opacity:0.3;
}

.templateConstraintPath {
  margin-bottom: 8px;
  font-size: 1.3em;
  font-weight: bold;
}

.templateConstraintDescription {
  font-style: italic;
  font-size: 1.1em;
  margin-left: 2px;
}

.templateConstraintCode {
  font-size: 1.1em;
  margin-left: 2px;
  font-weight: bold;
}

.templateConstraintLogic {
  margin-left: 60px;
}

.templateConstraintHelp a {
  font-size: 1.1em;
  margin-left: 10px;
}

table.templateConstraint td {
  padding-right: 5px;
  padding-bottom: 2px;
}

table.templateConstraint {
  padding-left: 60px;
}

.templateTitle {
  font-size: 1.6em;
}

span.test {
  border-style: solid;
}

.templateConstraintOptional {
  width: 60px;
}

.optionalText {
  font-size: 0.9em;
}

.optionalOnOff {
  font-size: 0.8em;
}

.templateConstraintOptional div {
  text-align: center;
}

.optionalSelected {
  font-weight: bold;
}

.templateActions {
  margin-top: 35px;
}

.templateActions table {
  width: 100%;
  border-spacing: 0px;
  border-top: 1px solid gray;
  border-left: 1px solid gray;

}

.templateActions td {
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 1px 0px 1px 0px;
  width: 25%;
  font-size: 11px;
  text-align: center;
}