div#tool_bar_div {
    float:left;
    margin:0;
	width:100%;
	padding-bottom:4px;
}

#pagecontentcontainer.bagDetails-page div#tool_bar_div {
	width: auto;
}

ul#button_bar, ul#button_bar li {
    margin:0; padding:0;
    float:left;
    list-style: none;
    font-variant: small-caps;
    font-weight: bold;
    font-size:1em;
    vertical-align: middle;
}
ul#button_bar {
/*  border:1px solid black;*/
}
ul#button_bar li {
  padding:5px;
}
ul#button_bar li a, ul#button_bar li img {
  float:left;
}
ul#button_bar li img {
  margin-right:5px;
}

.tb_button {
  cursor: pointer;
}
.tb_button:hover {
  margin-right:0;
}
.tb_button.inactive { cursor:pointer; }
.tb_button_active {
}
.tool_bar_item {
    _width:350px;
    position: absolute;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 5px;
    min-width:100px;
    line-height:1.5em;
    margin:-3px 0 0;
    font-size:0.9em;
    background-color:#FFF;/*#CAACD2;*/
    /*color:#FFF;*/
}
.tool_bar_item hr {
  border:0;
    height:1px;
    background-color:#CCC;
    width:100%;
    margin:0.4em 0 0.4em 0;
}
