/* ======== mess around with InterMine ======== */
#navtrail p.alignright {
    display: none;
}

#navtrail p#contactUsLink {
    margin-bottom: 10px;
}

ul#topnav a {
  margin-right:4px;
}

ul#topnav li.last a {
  margin-right:0;
}

/* ======== the schtajl ======== */

ol#news li {
    list-style: disc;
    margin-bottom: 5px;
    padding-left: 5px;
}

#newsbox {
    height: 100px;
    overflow-y: auto;
    border-bottom: 1px solid #CCC;
}

.fp_button {
    float: right;
    clear: right;
}

ul.tabs {
    margin-top: 10px;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px; /*--Set height of tabs (does nothing) --*/
    border-bottom: 0;
    border-left: 1px solid #9E68AE;
    width: 977px;
    *height: 22px; /*(required for manky IE7)*/
}

ul.tabs li {
    float: left;
    margin: 0;
    padding: 0;
    height: 31px; /*--Subtract 1px from the height of the unordered list--*/
    line-height: 31px; /*--Vertically aligns the text within the tab--*/
    border: 1px solid #9E68AE;
    border-left: none;
    margin-bottom: -1px; /*--Pull the list item down 1px--*/
    overflow: hidden;
    position: relative;
    background: #FFF;
    color: #5C0075;
}

ul.tabs li a {
    text-decoration: none;
    color: #5C0075;
    display: block;
    font-size: 1.2em;
    padding: 0 20px;
    border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
    outline: none;
    margin: 0;
}

ul.tabs li a:hover {
    background: #5C0075;
}

html ul.tabs li.active, html ul.tabs li.active a:hover { /*--Makes sure that the active tab does not listen to the hover properties--*/
    background: #FCFAFF;
    border-bottom: 1px solid #FCFAFF; /*--Makes the active tab look like it's connected with its content--*/
}

.tab_container {
    border: 1px solid #9E68AE;
    border-top: none;
    overflow: hidden;
    clear: both;
    float: left;
    width: 100%;
    background: #FCFAFF;
}

.tab_content {
    padding: 20px;
    font-size: 12px;
    border-top: 1px solid #9E68AE;
}

/* page columns */
#left.column, #right.column {
    float: left;
}

#left.column {
    width: 330px;
}

#right.column {
    width: 645px;
}

/* main boxes */
#actions .plainbox {
    float: left;
    width: 300px;
    height: 216px;
}

#actions .plainbox {
    margin: 0 10px 10px 0;
}

#actions .plainbox.last {
    margin-right: 0;
    padding-right: 0;
}

#actions .plainbox dl {
    padding-bottom: 10px;
}

#actions .plainbox h1 {
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 70px;
    line-height: 64px;
    margin-bottom: 10px;
}

#actions .plainbox ul, #actions .plainbox form {
    margin-top: 6px;
}

#actions .plainbox textarea {
    width: 282px;
}

#actions .plainbox.search {;
}

#actions .plainbox.search h1 {
    background-image: url('../images/icons/search-64.png');
}

#actions .plainbox.search input#keywordSearch {
    width: 230px;
}

#actions .plainbox.api {;
}

#actions .plainbox.api h1 {
    background-image: url('../themes/metabolic/icons/perl-java-ico.gif');
}

#actions .plainbox.analyse {;
}

#actions .plainbox.analyse h1 {
    background-image: url('../images/icons/lists-64.png');
    padding-left: 80px;
}

#actions .plainbox.analyse input#submitBag {
    float: right;
    margin-right: 10px;
}

/* news */
#rss div.plainbox {
    margin: 0;
    margin-top: 5px;
    width: 956px;
    border: 1px solid #B8D9E2;
    background: #F1FAFE;
}

#rss div.plainbox h1 {
    background: url(../themes/purple/icons/rss-32.png) no-repeat left;
    padding-left: 40px;
    line-height: 32px;
    display: block !important;
    margin-bottom: 6px;
}

#rss div.plainbox #newsbox {
    padding-bottom: 2px;
}

/* tabbed menu */
ul.tabs li.link, ul.tabs li.link.active {
    border: 0;
    background: #FFF;
}

ul.tabs li.link a:hover {
    background: #FFF;
}

/* fix intermine */
div#navtrail {
    padding: 0 !important;
}

#pagecontent {
    border: 0 !important;
    width: 1002px !important;
}

html, body {
    font-family: 'Lucida Grande', Geneva, Lucida, Helvetica, Arial, sans-serif;
}

/* Verdana is too wide! */
/* newer FlyMine */
/*body { background:#dfdfdf url('../themes/purple/homepage/page-bg-gradient.png') repeat-x top !important; }*/
#content-wrap {
    padding: 20px 16px 16px 16px;
    background: url('../themes/purple/homepage/content-grad-top.png') repeat-x center -200px;
    margin-top: 10px;
}

#content-wrap p {
    color: #535353;
    font-size: 13px;
}

#search-bochs, #lists-bochs, #templates-bochs {
    float: left;
    position: relative;
    padding: 0 6px;
}

#search-bochs {
    width: 280px;
    margin-right: 58px;
    background: url('../themes/purple/homepage/main-bochs-transparent-gradient.png') no-repeat top;
}

#lists-bochs {
    width: 606px;
    background: url('../themes/metabolic/homepage/main-bochs-wider-transparent-gradient.png') no-repeat top;
}

#templates-bochs {
    width: 958px;
    margin-left: -5px;
    background: url('../themes/metabolic/homepage/main-bochs-wide-transparent-gradient.png') no-repeat bottom;
}

#boxes div.inner {
    background: #FFF url("../themes/purple/homepage/bochs-bottom-grad.png") repeat-x 0 200px;
    min-height: 280px;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 2px;
    padding-bottom: 14px;
}

#boxes div.inner div.bottom {
    position: absolute;
    bottom: 14px;
    left: 5px;
    width: 100%;
}

#boxes #lists-bochs div.inner div.bottom.arrowtip {
  background:url('../themes/metabolic/img/arrowtip-try-list.png') no-repeat 230px 16px;
}

#boxes div.inner h3 {
    color: #FFF;
    font-family: "Myriad Pro", Arial, Garuda, Helvetica, Tahoma, sans-serif;
    padding: 4px 0 4px 80px;
    font-size: 24px;
    font-weight: normal;
}

#search-bochs div.inner h3 {
    background: #FB641E;
    font-family: "Lucida Grande",Verdana,Geneva,Lucida,Helvetica,Arial,sans-serif;
}

#lists-bochs div.inner h3 {
    background: #20A900;
}

#templates-bochs div.inner {
    background:#FFF;
    padding-bottom:6px;
}

#templates-bochs div.inner h3 {
    background: #9B3FB4;
    color: #FFF;
    padding-left: 10px;
    font-family: "Myriad Pro",Arial,Garuda,Helvetica,Tahoma,sans-serif;
    font-size: 24px;
    font-weight: normal;
    padding: 4px 0 4px 80px;
}

#boxes div.inner p {
    padding: 0 12px;
    line-height: 20px;
}

#search-bochs img.title {
    position: absolute;
    top: 6px;
    left: 18px;
}

#lists-bochs img.title {
    position: absolute;
    top: 6px;
    left: 18px;
}

#templates-bochs img.title {
    left: 18px;
    position: absolute;
    top: 6px;
}

#search-bochs div.inner span.ugly-hack {
    float: left;
    width: 82px;
}

#search-bochs div.inner p {
    margin-top: 10px;
}

#search-bochs div.inner p a {
    color: #FB4F00;
    text-decoration: underline;
}

#lists-bochs div.inner span.ugly-hack {
    float: left;
    height: 30px;
    width:100%;
}

#lists-bochs div.inner img {
    margin-top:6px;
}

#lists-bochs div.inner p {
    margin: 10px 0 0 0px;
}

#templates-bochs div.inner p {
    margin: 10px 0 0 0px;
    padding: 0 12px;
    line-height:20 px;
}

#lists-bochs div.inner p strong {
    color: #009900;
}

#templates-bochs div.inner p strong {
    color: #9B3FB4;
}

#templates-bochs div.inner span.ugly-hack {
    float: left;
    width: 69px;
    height: 1px;
    display: inline-block;
}

#lists-bochs div.inner select {
    margin: 10px 0 0 12px;
    width: 256px;
}

#lists-bochs div.inner .textarea {
    background: url('../themes/metabolic/homepage/textarea-tall.png') no-repeat top left transparent;
    margin: 12px 0 10px 11px;
}

#lists-bochs div.inner textarea {
    padding: 6px 8px 4px 8px;
    height: 80px;
    width: 240px;
    border: none;
    background: transparent;
}

#lists-bochs div.inner div.left {
    float:left;
    width:50%;
}

#lists-bochs div.inner div.right {
    float:right;
    width:50%;
}

#boxes div.input {
    background: url("../themes/purple/homepage/input-bg.png") no-repeat scroll center top transparent;
    color: #888;
    height: 38px;
    margin: 10px 0;
}

#boxes input[type =
"submit"].button {
    border: medium none;
    cursor: pointer;
    font-family: "Myriad Pro", Arial, Garuda, Helvetica, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 30px;
    text-transform: uppercase;
    vertical-align: middle;
}

#boxes input[type =
"submit"].violet {
    background: url("../themes/purple/homepage/button-violet-dark.png") no-repeat scroll center bottom transparent;
    color: #FFFFFF; /*float:right; margin-right:30%;*/
    padding: 2px 36px;
}

#search-bochs input[type =
"text"].input {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    padding: 12px 20px 6px 24px;
    width: 230px;
    font-size: 12px;
}

#search-bochs input[type =
"text"].input.eg {
    color: #888;
}

#boxes input[type =
"submit"].plush {
    background: url("../themes/purple/homepage/button-plush.png") no-repeat scroll center bottom transparent;
    color: #FFFFFF;
    padding: 2px 34px; /*float:right; margin-right:30%; margin-bottom:8px;*/
}

#lists-bochs textarea.eg {
    color: #888;
}

#lists-bochs div.inner a.adv {
    text-decoration: underline;
    color: #5c0075;
    font-size: 12px;
    letter-spacing: 0.5px;
}

#lists-bochs div.inner a.advanced {
    font-size: 10px;
    display: block;
    color: #20A900;
}

#templates table#menu {
    width: 100%;
    border: 0;
    margin: 0;
    font-family: "Myriad Pro", Arial, Garuda, Helvetica, Tahoma, sans-serif;
}

#templates table#menu td {
    background: #e5e5e5 url("../themes/purple/homepage/tabs-gradient-bottom.png") repeat-x bottom;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #292727;
    border-top: 6px solid #FEFEFE;
    text-align: center;
}

#templates table#menu td div.container {
    position: relative;
}

/* FF 3.6 bug */
#templates table#menu td:hover {
    cursor: pointer;
}

#templates table#menu td.active {
    background: #FFF url("../themes/purple/homepage/tabs-gradient-top.png") repeat-x top;
    border: 0;
    position: relative;
}

#templates table#menu td.active span.left {
    display: inline-block;
    width: 10px;
    height: 45px;
    position: absolute;
    background: url("../themes/purple/homepage/tabs-gradient-left.png") no-repeat top left;
    top: 0px;
    left: 0px;
}

#templates table#menu td.active span.right {
    display: inline-block;
    width: 10px;
    height: 45px;
    position: absolute;
    background: url("../themes/purple/homepage/tabs-gradient-right.png") no-repeat top right;
    top: 0px;
    right: 0px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { /* Safari hack */
  #templates table#menu td.active span.left { top:-3px; }
  #templates table#menu td.active span.right { top:-3px; }
}

/* IE8 hack */
#templates table#menu td.active span.left { top /*\**/: -3px\9 }
#templates table#menu td.active span.right { top /*\**/: -3px\9 }

#templates table#menu td span {
    line-height: 39px;
    display: inline-block;
    font-size: 15px;
}

#templates table#menu td span, #templates table#menu td.active span {
    color: #292727;
}

#templates table#menu td.active span {
    line-height: 39px;
    display: inline-block;
    padding: 0 9px 0;
}

/* IE 8 */
#templates table#menu td.active span, x:-moz-any-link {
    line-height: 44px;
}

/* FF 2.0 */
#templates table#menu td.active span, x:-moz-any-link, x:default {
    line-height: 39px;
    display: inline-block;
    padding-top: 6px;
}

/* Opera */
noindex:-o-prefocus, #templates table#menu td.active span {
    padding-top:5px;
}

#templates table#menu td:hover span {
    color: #000;
    text-decoration: underline;
}

#templates #tab-content {
    position: relative;
}

#templates p {
    line-height: 20px;
}

#templates a {
    color: #535353;
    text-decoration: underline;
}

#templates a:hover {
    color: #000;
}

#templates div.content {
    background: #FFF;
    padding: 14px;
    padding-bottom: 0;
}

#templates div.content p.more {
    /*background: url("../themes/purple/homepage/full-divider.png") repeat-x top;*/
    padding: 4px 0;
    margin-top: 20px;
    line-height: 28px;
    border-top: 1px solid #F0F0F0;
}

#templates div.content p.more a {
    background: url("../themes/metabolic/homepage/more-pitchurka.png") no-repeat left;
    text-decoration: underline;
    padding-left: 16px;
}

#templates div.content p.more a:hover {;
}

#templates #tab-content {
    border-bottom: 1px solid #DFDFDF;
}

#templates #tab-content #ribbon {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 155px;
    height: 153px;
    display: block;
    background: url("../themes/metabolic/homepage/ribbon-grapes.png") no-repeat top right;
}

#templates #tab-content #try {
    position: absolute;
    right: 130px;
    top: 100px;
    width: 266px;
    height: 36px;
    display: block;
    background: url("../themes/purple/homepage/try-these.png") no-repeat top right;
    display: none;
}

#templates ul {
    font-size: 13px;
    color: #292727;
    line-height: 20px;
    margin-top: 10px;
}

#templates ul a {
    text-decoration: none;
}

#templates ul img {
    vertical-align: middle;
}

#templates div.content table {
    margin: 10px 0 0 -2px;
}

#templates div.content table td {
    padding: 0 50px 0 0 !important;
    margin-top: 10px;
}

#templates div.content table td a {
    text-decoration: none;
    font-weight: bold;
    color: #9B3FB4;
}

#low {
    margin-top: 30px;
}

#low p, #low ul li {
    font-size: 12px;
    line-height: 18px;
}

#low h4 {
    color: #FB641E;
    font-size: 14px;
    margin-bottom: 8px;
}

#low h4 span {
    font-family: "Times New Roman", "Times Roman", serif;
    font-size: 11px;
    font-style: italic;
    letter-spacing: -1px;
}

#low #api {
    width: 300px;
    padding: 14px;
    float: left;
}

#low #api img {
    float: left;
    padding: 0 10px 50px 0;
}

#low #api ul {
    color: #535353;
    font-size: 12px;
    list-style-type: none;
    margin-top: 5px;
}

#low #api ul a {
    color: #535353;
    font-size: 13px;
    text-decoration: underline;
    font-size: 12px;
}

#low #api ul a:hover {
    color: #000;
}

#low #rss {
    width: 560px;
    padding: 14px;
    float: right;
}

#low #rss p.more {
    background: url("../themes/purple/homepage/full-divider.png") repeat-x top;
    padding: 4px 0;
    margin-top: 10px;
    line-height: 28px;
}

#low #rss p.more a {
    background: url("../themes/metabolic/homepage/more-pitchurka-orange.png") no-repeat left;
    color: #535353;
    text-decoration: underline;
    padding-left: 16px;
}

#low #rss p.more a:hover {
    color: #000;
}

#articles {
    margin-bottom: 0;
}

#articles a {
    color: #535353;
    text-decoration: underline;
}

#articles a:hover {
    color: #000;
}

#articles td {
    padding: 0 0 6px 0;
    color: #535353;
}

#articles td {;
}

#articles td.date {
    padding-right: 16px;
}

#articles .date a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 14px;
}

#articles .date a span {
    font-size: 12px;
    font-weight: normal;
}

#bottom-wrap {
    background: url("../themes/purple/homepage/content-grad-bottom.png") repeat-x bottom;
    padding: 0 7px 0 5px;
    margin-top: 30px !important;
}

#templates #tab-content #ribbon {
    position: absolute;
    right: -1px;
    bottom: 0;
    width: 155px;
    height: 153px;
    display: block;
    background: url("../themes/purple/homepage/ribbon-grapes.png") no-repeat top right;
}

/* ======== welcome box ======== */

#welcome {
    background: url("../themes/metabolic/homepage/main-bochs-wide-transparent-gradient.png") no-repeat scroll center bottom transparent;
    width: 958px;
    padding: 0 6px;
    position: relative;
    float:left;
    margin-bottom: 30px;
}

#welcome #thumb {
    /*background: url("../themes/metabolic/thumbs/welcome-thumb.png") no-repeat scroll center top transparent;*/
    height: 205px;
    margin: 0;
    float: left;
    margin-right: 20px;
}

#welcome #welcome-content {
    float: left;
    width: 666px;
}

#welcome div.center {
    background: #F7FDFF;
    display: inline-block;
    border-bottom: 1px solid #DFDFDF;
    padding:12px;
    border-top: 1px solid #DFDFDF;
}

#welcome h2 {
    color: #0891C1;
    font-family: "Myriad Pro",Arial,Garuda,Helvetica,Tahoma,sans-serif;
    font-size: 29px;
    font-weight: normal;
}

#welcome a, #welcome strong {
    color: #0891C1;
}

#welcome a {
    text-decoration: underline;
}

#welcome a.button {
    float: left;
}

#welcome a.close {
    float: right;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
}

#welcome p {
    line-height: 20px;
}

#welcome ul {
    line-height: 20px;
    color: #535353;
    font-size: 13px;
}

#welcome ul#switcher {
    position: absolute;
    bottom:20px;
    right:20px;
    list-style-type: none;
}

#welcome ul#switcher li {
    display: inline;
    margin: 0;
}

#welcome ul#switcher li.current {
    background: #BFEBFE;
}

#welcome ul#switcher li a {
    cursor: pointer;
    border: 1px solid #BEDCE4;
    text-decoration: none;
    padding: 0 8px;
}

/* ======== button love ======== */

#content-wrap a.button, #content-wrap a.button div, #content-wrap a.button div span { font-size:13px; text-transform:uppercase;
  text-decoration:none; font-weight:bold; background-repeat:no-repeat;
  font-family:"Lucida Grande",Verdana,Geneva,Lucida,Helvetica,Arial,sans-serif; }
  #content-wrap a.button:hover { text-decoration:underline; }
  #content-wrap a.button div { background-position:top left; padding-left:18px; height:30px; position:relative; cursor:pointer; }
  #content-wrap a.button div span { background-position:top right; display:block; height:30px; padding:6px 18px 0 0; cursor:pointer; }

/* default orange button link */
#content-wrap a.button.orange { color:#FFF; }
#content-wrap a.button.orange div { background-image:url("../themes/metabolic/buttons/btn-orange-left.png"); }
#content-wrap a.button.orange span { background-image:url("../themes/metabolic/buttons/btn-orange-right.png"); }

/* default violet button link */
#content-wrap a.button.violet { color:#FFF; }
#content-wrap a.button.violet div { background-image:url("../themes/metabolic/buttons/btn-violet-left.png"); }
#content-wrap a.button.violet span { background-image:url("../themes/metabolic/buttons/btn-violet-right.png"); }

/* default green button link */
#content-wrap a.button.green { color:#FFF; }
#content-wrap a.button.green div { background-image:url("../themes/metabolic/buttons/btn-green-left.png"); }
#content-wrap a.button.green span { background-image:url("../themes/metabolic/buttons/btn-green-right.png"); }

/* default blue button link */
#content-wrap a.button.blue { color:#FFF; }
#content-wrap a.button.blue div { background-image:url("../themes/metabolic/buttons/btn-blue-left.png"); }
#content-wrap a.button.blue span { background-image:url("../themes/metabolic/buttons/btn-blue-right.png"); }

/* gray button link */
#content-wrap a.button.gray { color:#505050; }
#content-wrap a.button.gray div { background-image:url("../themes/metabolic/buttons/btn-gray-left.png"); }
#content-wrap a.button.gray span { background-image:url("../themes/metabolic/buttons/btn-gray-right.png"); }

#content-wrap input.button { font-family:"Myriad Pro", Arial, Garuda, Helvetica, Tahoma, sans-serif; font-size:13px; height:30px;
  /* Opera 9 does not uppercase input elements */ text-transform:uppercase; font-weight:bold; border:none; cursor:pointer; }

#search-bochs a.button { float:right; margin-right:35%; }
#search-bochs a.button, x:-moz-any-link { margin-right:52%; } /* FF2 */
#search-bochs a.button, x:-moz-any-link, x:default { margin-right:35%; }  /* restore for FF3 */

#lists-bochs a.button { float:right; margin-right:65%; }
#lists-bochs a.button, x:-moz-any-link { margin-right:71.5%; } /* FF2 */
#lists-bochs a.button, x:-moz-any-link, x:default { margin-right:65%; }  /* restore for FF3 */

#lists-bochs div.inner a.advanced { float:right; margin-right:72%; }
#lists-bochs div.inner a.advanced, x:-moz-any-link { margin-right:86.7%; } /* FF2 */
#lists-bochs div.inner a.advanced, x:-moz-any-link, x:default { margin-right:72%; }  /* restore for FF3 */

/* ======== 'preview' biz ======== */
#ctxHelpDiv.preview div.topBar.info {
    background-color: #F5F5F5;
    background-image: url("../themes/metabolic/icons/construction.png");
    border-color: #DFDFDF;
    margin: 0 !important;
}

#ctxHelpDiv.preview div.topBar.info a {
    float: none;
}

#ctxHelpDiv.welcome {
    margin-top: 10px;
}

#ctxHelpDiv.welcome div.topBar.info {
    margin: 0 !important;
}

#corner {
    background: url("../themes/metabolic/img/preview-corner.gif") no-repeat scroll center top transparent;
    font-size: 0;
    height: 100px;
    left: 0;
    line-height: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100px;
    z-index: 2000;
}

#corner.smallScreen {
    background: url("../themes/metabolic/img/preview-corner-right-small.gif") no-repeat scroll center top transparent;
    height: 56px;
    left: auto;
    right: 0;
    width: 56px;
}

/* ======== footer ======== */
#footer, #footer p {
    font-size: 10px;
}

#footer p {
    margin-top: 10px;
}

#footer a {
    text-decoration: none;
    color: #535353;
}

#footer span {
    color: #E2E1E6;
}

#footer div.column {
    float: left;
    margin-right: 20px;
    width: 451px;
    padding:0 20px;
}

#footer div.column.last {
    margin-right: 0;
}

#footer div.column.last a {
    text-align: right;
    width: 100%;
    margin-left: 215px;
}