html, body 
{
    color: #000000;
    background-color: #ebe4ec;
}

a 
{
    color: #00e;
}

/****************************#e4c5ab******#F2E3D6****/

#header h1 a
{
    color: #6934b6;
}

#header p
{
    color: black;
}

table.results tr.even {
  background: #d4a2ad;
}

table.box th {
  background: #d4a2ad;
}

table.templateBuilder th {
  background: #E8D1B9;
}

table.refSummary thead tr td {
  background: #E8D1B9;
}

.box .heading, .heading2 {
   background-color: #d4a2ad;
  
}

.version {
 background-color: #9a0000;
}
