559292	850356	YCL001W-B	YCL001W-B	-	SGD:S000007596	III	-	hypothetical protein	protein-coding	-	-	-	-	20121126
7955	30066	meis2b	-	meis2|meis2.1	ZFIN:ZDB-GENE-000210-23|Ensembl:ENSDARG00000077840|Vega:OTTDARG00000032200	20	-	myeloid ecotropic viral integration site 2b	protein-coding	meis2b	myeloid ecotropic viral integration site 2b	O	myeloid ecotropic viral integration site 2.1	20121028
10090	11305	Abca2	RP23-47P18.8	AI413825|Abc2|D2H0S1474E|mKIAA1062	MGI:MGI:99606|Ensembl:ENSMUSG00000026944|Vega:OTTMUSG00000012108	2	2 A2-B|2 12.6 cM	ATP-binding cassette, sub-family A (ABC1), member 2	protein-coding	Abca2	ATP-binding cassette, sub-family A (ABC1), member 2	O	ATP-binding cassette 2|ATP-binding cassette sub-family A member 2|ATP-binding cassette transporter 2	20121024
10116	24152	Asip	-	-	RGD:2003|Ensembl:ENSRNOG00000017701	3	3q42	agouti signaling protein	protein-coding	Asip	agouti signaling protein	O	ASP|Agouti (coat color)|agouti switch protein|agouti-signaling protein|asip|asip {ECO:0000250|UniProtKB:P42127}	20141112
9606	1	A1BG	-	A1B|ABG|GAB|HYST2477	MIM:138670|HGNC:HGNC:5|Ensembl:ENSG00000121410|HPRD:00726|Vega:OTTHUMG00000183507	19	19q13.4 alpha-1-B glyco 	protein 	protein-coding	A1BG	alpha-1-B glycoprotein 	O	HEL-S-163pA|alpha-1B-glycoprotein|epididymis secretory sperm binding protein Li 163pA 	20141109
