html, body
{
  font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
  font-size: 100%; /* NN4 */
  margin: 0px;
  padding: 0px;
  background-image: url('model/top_gradient.png');
  background-repeat: repeat-x;
}

a:link { color:#049; text-decoration:none }
a:visited { color:#049; text-decoration:none }
a:link:hover { color:#CF4D23; text-decoration:underline }
a:visited:hover { color:#CF4D23; text-decoration:underline }
a:link:active { color:#58e; text-decoration:none }

a.extlink , a.extlink:link, a.extlink:visited, a.extlink:active, a.extlink:hover {
  background: url(images/extlink.gif) right center no-repeat;
  padding-right: 15px;
  margin-right: 15px;
  white-space: nowrap;
}

/* HEADING AND MENU STYLES*/

#header h1
{
  color:#FFF;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0px;
}
#header p
{
  color:white;
  font-size: 1.1em;
  font-weight: normal;
  margin: 0;
  margin-left: 2px;
}

.clear-both {
  content: ".";
  visibility: hidden;
  clear: both;
  height: 0px;
}

.version {
  font-size: 12px;
  color: black;
  font-weight: bold;
}

#infobar {
    position:absolute;
    right:0px;
    top:0px;
    background-color: #5C0075;
    color: #FFF;
    padding:5px;
    font: 70% Arial,sans-serif
}

#loginbar {
    position:absolute;
    right:0px;
    top:25px;
    padding:5px;
}
#loginbar  a:link, #loginbar a:visited, #loginbar{
    font-size:12px;
	font-weight: bold;
    color:#FFF;    
}
.roundcornerbox {
    width:100%;
	/*min-width:450px;*/
    margin:15px;
    padding:0px;
    background-color:#FFF;
}
.roundcornerbox h1 {
    margin:0px;
    padding:0px;
    color:white;
	font-size:20px;
}
.roundcornerbox img{
	padding:0px;
	margin:0px;
}

table#headertable{
	width:100%;
	margin:0px;
	padding:0px;
}
/*menu with nifty corners*/
td#menu{background-color: #D0B5D7;width:100%;}
ul#nav,ul#nav li{list-style-type:none;margin:0;padding:0}
ul#nav{margin-left: 30px;width:650px}
ul#nav li{float:left;margin-right: 3px;text-align: center}
ul#nav a{
	float:left;
	width:8em;
	text-decoration:none;
	color: #5C0075;
	font: Arial,sans-serif;
	padding:5px 0;
    font-weight:bold;
}
ul#nav a:hover{color:#000;}
ul#nav li.activelink a,ul#nav li.activelink a:hover{background: #5C0075;color: #FFF;}
li#home a{background:#9D66AD;color:white;}
li#bags a{background:#AD8668;color:white;}
li#templates a{background:#4A497B;color:white;}
li#query a{background:#589100;color:white;}
li#category a{background:#663366;color:white;}
li#mymine a{background:#9D66AD;color:white;}

td#quicksearch {
	width:100%;
	left:0px;
	font-size: 0.8em;
	margin:0px 0px 0px 0px;
	color:white;
	background:#5C0075;
	padding:10px;
}

/* style for boxes with heading - used by the front page and the webapp */
.box .heading, .heading2 {
  border: 1px solid #888;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 0px;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 4px;
  font-size: 14px;
  color: black;
  white-space: nowrap;
  /* needed to prevent the peekaboo bug on IE:
     http://www.positioniseverything.net/explorer/peekaboo.html */
  height: 1.5em;
}

.boxTopRight {
  float: right;
}

.body {
  font-size: 12px;
  margin-top: 10px;
  margin-right: 12px;
  margin-left: 12px;
  margin-bottom: 10px;
}

.boxbody {
  background-color: white;
  /*border-bottom: 1px solid #888;*/
  padding-top: 10px;
}

.altmessage {
  font-size: 11px;
  font-style: italic;
  text-align: center;
  color: #888;
}

table.history > tbody > tr > td {
  font-size: 11px;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

table.history input {
  font-size: 11px;
}

.help {
  padding: 5px;
  text-align: right;
  font-size: 11px;
  font-weight: normal;
}

.arrow {
  vertical-align: middle;
}

img {
  border: none;
}
form {
  margin: 0px
}
#feedbackForm textarea, #feedbackForm input[type=text] {
  padding: 3px;
  border-top: 1px solid #909090;
  border-left: 1px solid #909090;
  border-bottom: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
}
#feedbackForm {
  white-space: nowrap;
}
#feedbackFormDivButton {
	clear:both;
}
#topright {
  float: right;
  padding-top: 6px;
  padding-right: 10px;
  font-size: 12px;
  text-align: right;
  line-height: 125%;
  margin-left: 10px;
}
#topright .wellcome {
  font-size: 11px;
}
#topright .contact {
  margin-top: 3px;
  font-size: 11px;
}
table td {
  font-size: 12px;
}
.links {
  background-color: #fff;
  padding: 3px;
  margin-bottom: 10px;
  border-bottom: 1px solid #888;
  white-space: nowrap;
}
.links .menu-item {
  font-size: 11px;
  color: #999;
}
.links {
  font-size: 11px;
  color: #777;
  float: right;
  padding-right: 6px;
}
.topBar {
  background: white;
  padding: 6px;
  font-size: 13px;
  border: 1px dashed #777;
}
.errors {
  color: red;
}
.messages {
  color: green;
  background-color: #E6FFB3;
}
#errorApology {
  -moz-border-radius: 8px;
  border: 2px solid red;
  font-weight: bold;
  padding: 10px;
  margin: 30px 50px 50px 50px;
  background-color: #fff;
}

.contextHelp {
}
.waitmsg {
  background-color: white;
  border-bottom: solid #888 1px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 13px;
  text-align: center;
}
.expandButton {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  background-color: white;
  padding: 4px;
  text-align: center;
  font-size: 13px;
  white-space: nowrap;
}
.heading a {
  color: black;
}
/* The following two rules stop superscript/subscript changing
   div height in headings. */
.heading {
  line-height: 1.4em;
}
.heading2, .heading {
  background: url(model/heading-bg.gif) top center repeat;
}
.heading sub, .heading sup {
  line-height: 0;
}


table.templateForm td {
  padding: 5px;
}

table.templateBuilder td {
  border-bottom: 1px solid black;
  padding: 6px;
}

table.templateBuilder {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

table.templateBuilder th {
  font-weight: bold;
  font-size: 11px;
  background: #eee;
  border-top: 1px solid black;
}

table.query {
  border: none;
}

table.query td.modelbrowse {
  border-right: 1px solid #888;
}

/* for displaying a results object in a table */
table.results {
  border-left: solid 1px #666;
  border-top: solid 1px #666;
}
table.results th, table.results td {
  padding: 4px;
  border-right: solid 1px #666;
  border-bottom: solid 1px #666;
  background: #white;
}
table.results th {
  background: #eee;
}

table.results th {
  font-size: 12px;
}
table.results td td {
  border: none;
}
table.results {
  font-size: small;
}

/* for displaying a collection in a table */
table.collection {
  border-left: solid 1px #666;
  border-top: solid 1px #666;
}
table.collection th, table.collection td {
  padding: 4px;
  border-right: solid 1px #666;
  border-bottom: solid 1px #666;
  background-color: #fff;
}
table.collection th {
  background-color: #eee;
}
table.collection th {
  font-size: 12px;
}
table.collection t td {
  border: none;
}
table.collection {
  font-size: small;
}
table.collection tr.even TD{
  background-color: #F5F0FF;
}

table.noborder, table.noborder td, table.noborder th {
  border: none;
}
table.toolbox, table.toolbox td, table.toolbox th {
  border: none;
  background-color: none;
  padding:0px;
  spacing:0px;
  align:center;
}

.lookupReport
{
  margin-left: 10px;
  margin-right: 10px; 
  background-color: white;
  padding: 6px;
  font-size: 14px;
  border: 1px dashed #777;
}

.lookupWarn
{
  color: green;
}

.lookupError {
  color: red;
}

.showing {
  background-color: #E7F1FB;
  border: 1px solid #bbb;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  margin-left: 3px;
  margin-right: 3px;
  line-height: 25px;
}

/* move away from plus/minus image on left */
.browserline .showing {
  margin-left: 0px;
}
.browserline {
  white-space: nowrap;
}


.sorting {
  background-color: #E7F1FB;
  border: 1px solid #bbb;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  margin-left: 3px;
  margin-right: 3px;
  line-height: 25px;
  
}

/* surrounds view paths */
div.view {
  padding: 4px;
  padding-bottom: 14px;
}
/* one path added to the view area */
div.viewpath {
  background-color: #E7F1FB;
  border: 1px solid #bbb;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
  text-align: center;
  font-size: 11px;
  cursor: pointer;
  cursor: hand;
}
/* a path in the view that has an error */
div.errorPath {
  background-color: #FBB;
  border: 1px solid #eaa;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
  text-align: center;
  font-size: 11px;
}
div.viewpathDisabled {
  background: #bbb;
}
div.viewListEdit {
  color: #555;
  float: left;
  padding-right: 6px;
  padding-top: 1.5em;
}
span.viewPathDescription {
//  font-style: italic;
}

/* surrounds sort order paths */
div.sortorder {
  padding: 4px;
  padding-bottom: 14px;
}

/* one path added to the sort order area */
div.sortorderpath {
  BORDER-RIGHT: #bbb 1px solid;
  BORDER-TOP: #bbb 1px solid;
  FONT-SIZE: 10px;
  COLOR:  #660099;
  BACKGROUND-color: #F5F0FF;
  BORDER-LEFT: #bbb 1px solid;
  CURSOR: hand;
  BORDER-BOTTOM: #bbb 1px solid;
  TEXT-ALIGN: center;
  PADDING-RIGHT: 4px;
  PADDING-LEFT: 4px;
  PADDING-BOTTOM: 14px;
  PADDING-TOP: 4px;
  width: 250px
}

/* instead of using the body div, use this one */
div.bodyPeekaboo
{
  font-size: 12px;
  margin-top: 10px;
  margin-right: 12px;
  margin-left: 12px;
  margin-bottom: 10px;
  position:relative;
}


table.results tr.even TD{
  background-color: #F5F0FF;
}
table.results th.checkbox,table.results td.checkbox{
  border-right-style: dotted;
}
.templateTitle {
  padding: 4px;
}
.templateTitleBold {
  font-weight: bold;
  padding: 4px;
}
.templateDescription {
  font-style: italic;
  font-size: 90%;
  margin-top: 5px;
  padding: 4px;
}
.type {
  color: #864;
}
.modelBrowser .type {
  color: blue;
}
.collectionField {
  color: green;
}
.referenceField {
  color: green;
}
.attributeField {
  color: green;
}
.nullReferenceField {
  color: grey;
}
.value {
/*  padding: 2px;*/
  font-family: monospace;
  font-size: 13px;
}
.nullStrike,span.nullStrike a:link {
/* see #643:    text-decoration: line-through; */
  color: #888;
}
.constraint {
  color: purple;
}
.and {
  font-size: 10px;
}
.smallHelpText {
  font-size:10px;
}

/* classes for the object details page */
table.refSummary {
  border-top: 1px solid #888;
  border-left: 1px solid #888;
  width: 100%;
}
table.refSummary thead tr td {
  background-color: #eee;
  border-bottom: 1px solid #888;
  border-right: 1px solid #888;
}
table.refSummary thead tr td.object {
  background-color: #eee;
  font-weight: bold;
  border-bottom: 1px solid #888;
  border-right: 1px solid #888;
}
table.refSummary tbody tr td {
  padding: 3px;
  background-color: #FAF8FF;
  border-bottom: 1px solid #888;
  border-right: 1px solid #888;
}

span.collectionDescription {
}


/* classes relating to the begin page */

.smallnote {
  font-size: 11px;
}

#tmplPreview {
  margin: 15px;
  padding: 14px;
  background-color: #f5f5f5;
  border: 4px solid #eee;
  text-align: left;
  background: url(images/stripes.gif) top center repeat;
}

.previewTitle {
  text-align: center;
  color: #999;
  font-size: 16px;
  font-weight: bold;
}

a.brokenTmplLink {
  color: #d00;
}

.admin-msg {
  text-align: center;
}

#pagecontent {
  margin: 15px 0 0 0;
  padding: 0px;
}

hr.seperator {
  border: 0px;
  height: 1px;
  color: #ccc;
  background-color: #ccc;
}

.box .buildmenu .body {
  border: 1px solid #888;
  font-size: 12px;
  padding: 5px;
  clear: both;
}


/* object details trail navigator styles */

.objectTrail {
//  margin-bottom: 1px;
  font-weight: bold;
}

.objectTrailLink {
  white-space: nowrap;
}

.objectTrailLinkResults {
  white-space: nowrap;
  font-weight: bold;
}

img.searchHeatImg {
}

.tablePageLinks {
  font-size: 12px;
  color: #999;
}

.searchTime {
  font-size: 11px;
}

.noBagsMessage {
  font-size: 11px;
  color: #555;
  font-style: italic;
}


/* data set hompage styles */

.dsIconLabel {
  margin-top: -3px;
  margin-left: 3px;
  font-size: 13px;
}

.dsIconDetail {
  margin-left: 3px;
  margin-top: 2px;
  font-size: 11px;
}

.dsIconImage {
  border: 1px solid #222;
  margin-bottom: 5px;
}

.dsSmallIconImage {
  border: 1px solid #222;
  margin-left: 2px;
  margin-right: 2px;
}

.aspectPageIcon {
  float: left;
  margin: 15px;
}

table.aspectIconsTable {
  margin-left: 10px;
  margin-bottom: 5px;
}

td.aspectIconCell {
  padding-right: 15px;
}

.aspectSources {
  float: right;
  clear: right;
  border: 1px solid #888;
  padding: 5px;
  background-color: #f5f5f5;
  margin: 10px;
  margin-left: 30px;
  font-size: 75%
}

.aspectSourcesPopup {
  float: right;
  margin-left: 8px;
}

.aspectSources ul {
  margin-bottom: 2px;
  margin-top: 2px;
  margin-left: 0px;
}

.aspectStartingPoints, .aspectTile {
  padding-bottom: 8px;
}
.aspectIntro {
  padding: 5px;
  font-size: larger;
  position:relative
}

.aspectTitle {
  font-size: 15px;
}

.aspectSelect {
  font-size: 11px;
}

dd {
  margin-bottom: 7px;
  margin-top: 5px;
  margin-left: 35px;
  border-left: 1px dashed #888;
  padding-left: 10px;
}

.saveQueryForm {
  margin-bottom: 5px;
}

.exportQueryLink {
  margin-top: 5px;
  margin-bottom: 5px;
}

.historySummaryRoot {
  background-color: #e7F1E7;
  border: 1px solid #bbb;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 1px;
  font-size: 10px;
  font-weight: bold;
}

.historySummaryShowing {
  background-color: #E7F1FB;
  border: 1px solid #bbb;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 1px;
  font-size: 10px;
}

.templateOutputSummaryItem {
  background-color: #E7F1FB;
  border: 1px solid #888;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 1px;
  margin-right: 2px;
  font-size: 12px;
}


a.constraintDesc {
  font-size: 11px;
  font-style: italic;
  color: #333;
}

a.constraintId {
  font-size: 10px;
  color: green;
}


.viewTable td.topLeft {
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #aaa;
  font-style: italic;
  font-size: 11px;
}

.viewTable td {

}

.viewTable td.tab {
  border-top: 1px solid #bbb;
  border-right: 1px solid #bbb;
}

.viewTable td.selected {
  font-weight: bold;
  border-right: 1px solid #bbb;
  border-top: 1px solid #aaa;
}

.viewTable td.not-selected {
  border-bottom: 1px solid #aaa;
  color: #555;
}

.viewTable td.tab-space {
  border-bottom: 1px solid #aaa;
}

.viewTable td.viewLabelCell {
  border-top: 1px solid #bbb;
}

.viewTable td.viewTableView {
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  border-left: 1px solid #999;
  padding-bottom: 0px;
  padding-right: 0px;
}

.viewTable td.viewTableView, .viewTable td.viewLabelCell, .viewTable td.selected {
  background-color: #f8f8f8;
}

.viewTable div.viewActionLinks {
  margin-top: -3px;
  margin-bottom: 3px;
}

.viewTable td.not-selected a:link {
}

.viewTable td.not-selected a:hover {
  color: #000;
  text-decoration: underline;
}



.histTabTable td.topLeft {
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
}

.histTabTable td.tab {
  border-top: 1px solid #888;
  border-right: 1px solid #888;
}

.histTabTable td.selected {
  font-weight: bold;
  border-right: 1px solid #888;
  border-top: 1px solid #888;
}

.histTabTable td.not-selected {
  border-bottom: 1px solid #888;
  background-color: #f5f5f5;
}

.histTabTable td.tab-space {
  border-bottom: 1px solid #888;
}

.histTabTable td.not-selected a:hover {
  color: #000;
  text-decoration: underline;
}


img.fasta {
  margin-top: 3px;
  vertical-align: text-bottom;
}

img.tag {
  vertical-align: text-bottom;
  cursor: pointer;
  cursor: hand;
}

a.editTag {
}

a.deleteTagLink {
  color: #888;
  font-size: 10px;
}

a.deleteTagLink:hover { color:#CF4D23; text-decoration:underline }

a.addTagLink {
  color: #888;
  font-size: 10px;
  text-decoration:underline;
  white-space: nowrap;
}

a.addTagLink:hover { color:#CF4D23; text-decoration:underline }

.tag {
  white-space: nowrap;
  color: #444;
}

div.templateLine {
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 3px;
}

div.templateIcon {
  float: left;
  padding-top: 2px;
}

div.templateDetails {
  margin-left: 15px;

  /* needed to prevent the peekaboo bug on IE:
     http://www.positioniseverything.net/explorer/peekaboo.html */
  height: 0.01%;
}

span.templateResCount {
  color: #555;
  white-space: nowrap;
  font-size: 10px;
}

img.objectDetailsAspectIcon {
  vertical-align: middle;
  margin-top: 1px;
  margin-right: 5px;
  margin-left: -2px;
  float: left;
  margin-bottom: 1px;
}

#bagTable{
    padding:5px;
}

#bagTable td{
  vertical-align: top;
  padding-right: 10px;
  padding-left: 10px;
}

#emptyDesc{
  text-align:center;
  width:100%;
  margin-top: 70px;
  font-style: italic;
}

#bagDescriptionTextarea{
  display: none;
  text-align: center;
}

#uploadConfirmMessage {
  text-align:center;
  font-size: 140%;
}

.fakelink{
  color:#049;
  cursor: pointer;
}
.fakelink:hover{
  color:#CF4D23;
  text-decoration:underline;
}
.fakelink:active {
  color:#58e;
  text-decoration:none
}
td.resBar {
    background-image:url('model/res_bar_middle.gif');
}
#summary {
  position:absolute;
  background-color:#FFFFFF;
  top:360px;
  left:40%;
  min-width:100px;
  padding:5px;
  border: solid black 1px;
}

.queryAgeYoung {
  background-color: #faa;
}
.queryAgeToday {
  background-color: #fdd;
}
.queryAgeOld {
  /* default */
}

/* query ages - duplicate for IE as it can't cope with class attribute on <tr>
   elements */
table.results tr.queryAgeYoung td {
  background-color: #faa;
}
table.results tr.queryAgeToday td {
  background-color: #fdd;
}
.roundcornerbox ul {
  	list-style-image: url('images/li.png');
}
.wsListElement {
   margin-bottom:10px;
}
#tipbox {
 	background-color:#F5F0FF;
	padding:3px;
}