html, body
{
  font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
  font-size: 100%; /* NN4 */
  margin: 0;
  padding: 0;
}

a:link { color:#049; text-decoration:none }
a:visited { color:#049; text-decoration:none }
a:link:hover { color:#CF4D23; text-decoration:underline }
a:visited:hover { color:#CF4D23; text-decoration:underline }
a:link:active { color:#58e; text-decoration:none }

a.extlink , a.extlink:link, a.extlink:visited, a.extlink:active, a.extlink:hover {
  background: url(images/extlink.gif) right center no-repeat;
  padding-right: 15px;
  margin-right: 15px;
  white-space: nowrap;
}

#header
{
  padding: 5px;
  border-bottom: solid #888 1px;
  margin-bottom: 0px;
}

#header h1
{
  font-size: 1.6em;
  font-weight: bold;
  margin: 3px;
}

#header p
{
  font-size: 1.1em;
  font-weight: normal;
  color: black;
  margin: 0;
  margin-left: 2px;
}

#logo {
  margin-left: 5px;
  margin-right: 10px;
  float: left;
}

#title {
  margin-left: 80px;
}

.clear-both {
  content: ".";
  visibility: hidden;
  clear: both;
  height: 0px;
}

.version {
  border: 1px solid #222;
  font-size: 15px;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-top: 2px;
  background-color: #99CC66;
  line-height: 170%;
  font-weight: bold;
}

/* style for boxes with heading - used by the front page and the webapp */
.box .heading, .heading2 {
  border: 1px solid #888;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 0px;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 4px;
  font-size: 14px;
  color: black;
  white-space: nowrap;
  /* needed to prevent the peekaboo bug on IE:
     http://www.positioniseverything.net/explorer/peekaboo.html */
  height: 1.5em;
}

.boxTopRight {
  float: right;
}

.body {
  font-size: 12px;
  margin-top: 10px;
  margin-right: 12px;
  margin-left: 12px;
  margin-bottom: 10px;
}

.boxbody {
  background-color: white;
  border-bottom: 1px solid #888;
  padding-top: 10px;
}

.altmessage {
  font-size: 11px;
  font-style: italic;
  text-align: center;
  color: #888;
}

table.history > tbody > tr > td {
  font-size: 11px;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

table.history input {
  font-size: 11px;
}

.help {
  padding: 5px;
  text-align: right;
  font-size: 11px;
  font-weight: normal;
}

.arrow {
  vertical-align: middle;
}

img {
  border: none;
}
form {
  margin: 0px
}
#feedbackForm textarea, #feedbackForm input[type=text] {
  padding: 3px;
  border-top: 1px solid #909090;
  border-left: 1px solid #909090;
  border-bottom: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
}
#feedbackForm {
  white-space: nowrap;
}
#topright {
  float: right;
  padding-top: 6px;
  padding-right: 10px;
  font-size: 12px;
  text-align: right;
  line-height: 125%;
  margin-left: 10px;
}
#topright .wellcome {
  font-size: 11px;
}
#topright .contact {
  margin-top: 3px;
  font-size: 11px;
}
table td {
  font-size: 12px;
}
.links {
  background-color: #fff;
  padding: 3px;
  margin-bottom: 10px;
  border-bottom: 1px solid #888;
  white-space: nowrap;
}
.links .menu-item {
  padding-right: 5px;
  padding-left: 5px;
  font-size: 11px;
  color: #999;
}
.links .menu-logged-in-item {
  font-size: 11px;
  color: #777;
  float: right;
  padding-right: 6px;
}
.topBar {
  background: white;
  padding: 6px;
  font-size: 13px;
  border: 1px dashed #777;
}
.errors {
  color: red;
}
.messages {
  color: green;
  background-color: #E6FFB3;
}
.contextHelp {
}
.waitmsg {
  background-color: white;
  border-bottom: solid #888 1px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 13px;
  text-align: center;
}
.expandButton {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  background-color: white;
  padding: 4px;
  text-align: center;
  font-size: 13px;
  white-space: nowrap;
}
.heading a {
  color: black;
}
/* The following two rules stop superscript/subscript changing
   div height in headings. */
.heading {
  line-height: 1.4em;
}
.heading2, .heading {
  background: url(model/heading-bg.gif) top center repeat;
}
.heading sub, .heading sup {
  line-height: 0;
}


table.templateForm td {
  padding: 5px;
}

table.templateBuilder td {
  border-bottom: 1px solid black;
  padding: 6px;
}

table.templateBuilder {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

table.templateBuilder th {
  font-weight: bold;
  font-size: 11px;
  background: #eee;
  border-top: 1px solid black;
}

table.query {
  border: none;
}

table.query td.modelbrowse {
  border-right: 1px solid #888;
}

/* for displaying a results object in a table */
table.results {
  border-left: solid 1px #666;
  border-top: solid 1px #666;
}
table.results th, table.results td {
  padding: 4px;
  border-right: solid 1px #666;
  border-bottom: solid 1px #666;
  background: #white;
}
table.results th {
  background: #eee;
}

table.results th {
  font-size: 12px;
}
table.results td td {
  border: none;
}
table.results {
  font-size: small;
}

/* for displaying a collection in a table */
table.collection {
  border-left: solid 1px #666;
  border-top: solid 1px #666;
}
table.collection th, table.collection td {
  padding: 4px;
  border-right: solid 1px #666;
  border-bottom: solid 1px #666;
  background: #white;
}
table.collection th {
  background: #eee;
}
table.collection th {
  font-size: 12px;
}
table.collection t td {
  border: none;
}
table.collection {
  font-size: small;
}
table.collection tr.even {
  background: #F5F0FF;
}

table.noborder, table.noborder td, table.noborder th {
  border: none;
}
table.toolbox, table.toolbox td, table.toolbox th {
  border: none;
  background: none;
  padding:0px;
  spacing:0px;
  align:center;
}


.showing {
  background: #E7F1FB;
  border: 1px solid #bbb;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  margin-left: 3px;
  margin-right: 3px;
  line-height: 25px;
}

/* move away from plus/minus image on left */
.browserline .showing {
  margin-left: 0px;
}
.browserline {
  white-space: nowrap;
}


/* surrounds view paths */
div.view {
  padding: 4px;
  padding-bottom: 14px;
}
/* one path added to the view area */
div.viewpath {
  background: #E7F1FB;
  border: 1px solid #bbb;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
  text-align: center;
  font-size: 11px;
  cursor: pointer;
  cursor: hand;
  height: 9ex;
}
/* a path in the view that has an error */
div.errorPath {
  background: #FBB;
  border: 1px solid #eaa;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
  text-align: center;
  font-size: 11px;
}
div.viewpathDisabled {
  background: #bbb;
}
div.viewListEdit {
  color: #555;
  float: left;
  padding-right: 6px;
  padding-top: 1.5em;
}
span.viewPathDescription {
  font-style: italic;
}

/* surrounds sort order section */
div.sortorderBorder {
  border: 1px dashed #888;
  background-color: #ccc;
  float: left;
  width: 250px;
}

/* surrounds sort order paths */
div.sortorder {
  padding: 4px;
  padding-bottom: 14px;
}

/* one path added to the sort order area */
div.sortorderpath {
  background: #F5F0FF;
  border: 1px solid #bbb;  
  float: center;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  cursor: hand;
}
div.sortorderpathDisabled {
  background: #bbb;
}
div.sortorderListEdit {
  color: #555;
  float: left;
  padding-right: 6px;
  padding-top: 1.5em;
}

table.results tr.even {
  background: #F5F0FF;
}
table.results th.checkbox,table.results td.checkbox{
	border-right-style: dotted;
}
.templateTitle {
  padding: 4px;
}
.templateTitleBold {
  font-weight: bold;
  padding: 4px;
}
.templateDescription {
  font-style: italic;
  font-size: 90%;
  margin-top: 5px;
  padding: 4px;
}
.type {
  color: #864;
}
.modelBrowser .type {
  color: blue;
}
.collectionField {
  color: green;
}
.referenceField {
  color: green;
}
.attributeField {
  color: green;
}
.nullReferenceField {
  color: grey;
}
.value {
/*  padding: 2px;*/
  font-family: monospace;
  font-size: 13px;
}
.nullStrike {
/* see #643:    text-decoration: line-through; */
  color: #888;
}
.constraint {
  color: purple;
}
.and {
  font-size: 10px;
}

/* classes for the object details page */
table.refSummary {
  border-top: 1px solid #888;
  border-left: 1px solid #888;
  width: 100%;
}
table.refSummary thead tr td {
  background: #eee;
  border-bottom: 1px solid #888;
  border-right: 1px solid #888;
}
table.refSummary thead tr td.object {
  background: #eee;
  font-weight: bold;
  border-bottom: 1px solid #888;
  border-right: 1px solid #888;
}
table.refSummary tbody tr td {
  padding: 3px;
  background: #FAF8FF;
  border-bottom: 1px solid #888;
  border-right: 1px solid #888;
}

span.collectionDescription {
}
/* IE (at least version 6, will actually parse the following
   rules prefixed with // - this makes up for the lack of
   "rules" parameter support on the table tags.
*/
.objSummary {
  //border-top: 1px solid #888;
  //border-left: 1px solid #888;
}

.objSummary td {
  //border-bottom: 1px solid #888;
  //border-right: 1px solid #888;
}

/* classes relating to the begin page */

.smallnote {
  font-size: 11px;
}

#tmplPreview {
  margin: 15px;
  padding: 14px;
  background: #f5f5f5;
  border: 4px solid #eee;
  text-align: left;
  background: url(images/stripes.gif) top center repeat;
}

.previewTitle {
  text-align: center;
  color: #999;
  font-size: 16px;
  font-weight: bold;
}

a.brokenTmplLink {
  color: #d00;
}

.admin-msg {
  text-align: center;
}

#pagecontent {
  margin: 0px;
  padding: 0px;
}

hr.seperator {
  border: 0px;
  height: 1px;
  color: #ccc;
  background-color: #ccc;
}

.box .buildmenu .body {
  border: 1px solid #888;
  font-size: 12px;
  padding: 5px;
}


/* object details trail navigator styles */

.objectTrail {
//  margin-bottom: 1px;
  font-weight: bold;
}

.objectTrailLink {
  white-space: nowrap;
}

.objectTrailLinkResults {
  white-space: nowrap;
  font-weight: bold;
}

img.searchHeatImg {
}

.tablePageLinks {
  font-size: 12px;
  color: #999;
}

.tmplSearchTime {
  font-size: 11px;
}

.noBagsMessage {
  font-size: 11px;
  color: #555;
  font-style: italic;
}


/* data set hompage styles */

.dsIconLabel {
  margin-top: -3px;
  margin-left: 3px;
  font-size: 13px;
}

.dsIconDetail {
  margin-left: 3px;
  margin-top: 2px;
  font-size: 11px;
}

.dsIconImage {
  border: 1px solid #222;
  margin-bottom: 5px;
}

.dsSmallIconImage {
  border: 1px solid #222;
  margin-left: 2px;
  margin-right: 2px;
}

.aspectPageIcon {
  float: left;
  margin: 15px;
}

table.aspectIconsTable {
  margin-left: 10px;
  margin-bottom: 5px;
}

td.aspectIconCell {
  padding-right: 15px;
}

.aspectSources {
  float: right;
  clear: right;
  border: 1px solid #888;
  padding: 5px;
  background-color: #f5f5f5;
  margin: 10px;
  margin-left: 30px;
  font-size: 75%
}

.aspectSourcesPopup {
  float: right;
  margin-left: 8px;
}

.aspectSources ul {
  margin-bottom: 2px;
  margin-top: 2px;
  margin-left: 0px;
}

.aspectStartingPoints, .aspectTile {
  padding-bottom: 8px;
}
.aspectIntro {
  padding: 5px;
  font-size: larger;
}

.aspectTitle {
  font-size: 15px;
}

.aspectSelect {
  font-size: 11px;
}

dd {
  margin-bottom: 7px;
  margin-top: 5px;
  margin-left: 35px;
  border-left: 1px dashed #888;
  padding-left: 10px;
}

.saveQueryForm {
  margin-bottom: 5px;
}

.exportQueryLink {
  margin-top: 5px;
  margin-bottom: 5px;
}

.historySummaryRoot {
  background: #e7F1E7;
  border: 1px solid #bbb;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 1px;
  font-size: 10px;
  font-weight: bold;
}

.historySummaryShowing {
  background: #E7F1FB;
  border: 1px solid #bbb;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 1px;
  font-size: 10px;
}

.templateOutputSummaryItem {
  background: #E7F1FB;
  border: 1px solid #888;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 1px;
  margin-right: 2px;
  font-size: 12px;
}


a.constraintDesc {
  font-size: 11px;
  font-style: italic;
  color: #333;
}

a.constraintId {
  font-size: 10px;
  color: green;
}


.viewTable td.topLeft {
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #aaa;
  font-style: italic;
  font-size: 11px;
}

.viewTable td {
  
}

.viewTable td.tab {
  border-top: 1px solid #bbb;
  border-right: 1px solid #bbb;
}

.viewTable td.selected {
  font-weight: bold;
  border-right: 1px solid #bbb;
  border-top: 1px solid #aaa;
}

.viewTable td.not-selected {
  border-bottom: 1px solid #aaa;
  color: #555;
}

.viewTable td.tab-space {
  border-bottom: 1px solid #aaa;
}

.viewTable td.viewLabelCell {
  border-top: 1px solid #bbb;
}

.viewTable td.viewTableView {
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  border-left: 1px solid #999;
  padding-bottom: 0px;
  padding-right: 0px;
}

.viewTable td.viewTableView, .viewTable td.viewLabelCell, .viewTable td.selected {
  background-color: #f8f8f8;
}

.viewTable div.viewActionLinks {
  margin-top: -3px;
  margin-bottom: 3px;
}

.viewTable td.not-selected a:link {
}

.viewTable td.not-selected a:hover {
  color: #000;
  text-decoration: underline;
}



.histTabTable td.topLeft {
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
}

.histTabTable td.tab {
  border-top: 1px solid #888;
  border-right: 1px solid #888;
}

.histTabTable td.selected {
  font-weight: bold;
  border-right: 1px solid #888;
  border-top: 1px solid #888;
}

.histTabTable td.not-selected {
  border-bottom: 1px solid #888;
  background-color: #f5f5f5;
}

.histTabTable td.tab-space {
  border-bottom: 1px solid #888;
}

.histTabTable td.not-selected a:hover {
  color: #000;
  text-decoration: underline;
}


img.fasta {
  margin-top: 3px;
  vertical-align: text-bottom;
}

img.tag {
  vertical-align: text-bottom;
  cursor: pointer;
  cursor: hand;
}

a.editTag {
}

a.deleteTagLink {
  color: #888;
  font-size: 10px;
}

a.deleteTagLink:hover { color:#CF4D23; text-decoration:underline }

a.addTagLink {
  color: #888;
  font-size: 10px;
  text-decoration:underline;
  white-space: nowrap;
}

a.addTagLink:hover { color:#CF4D23; text-decoration:underline }

.tag {
  white-space: nowrap;
  color: #444;
}

div.templateLine {
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 3px;
}

div.templateIcon {
  float: left;
  padding-top: 2px;
}

div.templateDetails {
  margin-left: 15px;

  /* needed to prevent the peekaboo bug on IE:
     http://www.positioniseverything.net/explorer/peekaboo.html */
  height: 0.01%;
}

span.templateResCount {
  color: #555;
  white-space: nowrap;
  font-size: 10px;
}

img.objectDetailsAspectIcon {
  vertical-align: middle;
  margin-top: 1px;
  margin-right: 5px;
  margin-left: -2px;
  float: left;
  margin-bottom: 1px;
}

#bagTable{
    padding:5px;
}

#bagTable td{
    vertical-align: top;
	padding-right: 10px;
	padding-left: 10px;
}

#emptyDesc{
	text-align:center;
	width:100%;
	margin-top: 70px;
	font-style: italic;
}

#bagDescriptionTextarea{
	display: none;
	text-align: center;
}

#uploadConfirmMessage {
	text-align:center;
	font-size: 140%;
}

.fakelink{
	color:#049;
	cursor: pointer;
}
.fakelink:hover{
	color:#CF4D23; 
	text-decoration:underline;
}
.fakelink:active { 
	color:#58e; 
	text-decoration:none 
}
td.resBar {
    background-image:url('model/res_bar_middle.gif');
}
