.table-container {
    margin: 0.7em;
    margin-left: 0.3em;
}
.results-box {
    width: 50em;
    min-height: 4em;
    overflow: visible;
    max-width: 82%;
}

.open-results-box {
    width: 62.5em;
    height: 640px;
}

.no-background-or-border {
    border: none;
    background: none;
}
.DataTables_sort_icon {
    float: left;
}

.list-creation-info {
    float: left;
}

.dataTables_scrollBody table tbody tr td {
    font-size: 0.75em;
    padding: 0.4em;
}

input[type="checkbox"] {
    margin-bottom: 0.0em;
    margin-top: 0.0em;
    padding-bottom: 0.0em;
    padding-top: 0.0em;
}

.dataTables_scrollHead table thead tr th {
    font-size: 0.80em;
}

.dataTables_paginate .ui-button {
    margin-right: -0.1em !important;
}
.paging_full_numbers .ui-button {
    padding: 2px 6px;
    margin: 0;
    cursor: pointer;
}
.dataTables_wrapper .ui-toolbar {
    padding: 5px;
}
.dataTables_paginate {
    float: right;
    text-align: right;
}
    .paging_full_numbers {
        width: 400px !important;
    }

div.count {
    text-align: right;
    margin-left: 25px;
    display: inline;
    float: right;
}

div.title {
    float: left;
}

div.toolbar {
    float: right;
}


.query-summary {
    /*display: table-cell;*/
    padding-left: 0.8em;
    padding-right: 0.8em;
    line-height: 1.8em;
    cursor: pointer;
    color: #333;
    font-size: 2.1em;
    font-weight: bold;
}

.open-results-box .query-summary {
    cursor: default;
    padding-left: 0em;
    padding-right: 0.2em;
    font-size: 1.8em;
}

.throbber {
    width: 55px;
    height: 50px;
    background: url("ajax-loader.gif") no-repeat;
    background-position: center;
    float: right;
}

.query-summary, .dataTables_info, .dataTables_length, .dataTables_filter, .dataTables_paginate, .summary-popup h3, h4, table, .constraint, body, .ui-widget, button.ui-button {
    font-family: "Droid Sans", "Ubuntu", "Lucida Grande", "Helvetica", "Arial";
}

button.ui-widget {
    font-size: 0.85em;
}

.ColVis_title {
    font-size: 80% ! important;
    padding: 20px;
}

.ColVis_Button {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    font-size: 0.85em;
    margin: 2px;
    margin-top: 0px;
}

.ColVis_Button span {
    padding: 0.4em 1em;
}

span.ColVis_title span.ui-icon {
    display: none;
}

.query-summary:hover {
    text-decoration: underline;
}

.open-results-box .query-summary:hover {
    text-decoration: none;
}

.dataTables_scrollBody {
    overflow-y: scroll !important;
}

.ui-icon {
    overflow: none !important;
}

table.col-summary {
    margin: 0.5em 2em;
    border-collapse: collapse;
    width: 80%;
}

table.col-summary td, table.col-summary th {
    border: 1px solid #AAA;
    font-size: 0.8em;
}

.summary-remover {
    float: right;
    margin: 0.4em;
    margin-bottom: 12px;
    margin-right: 12px;
    padding: 0.2em;
}

.summary-table-scrollcontainer {
    -moz-box-shadow: inset 0px -10px 5px -2px #ccc;
    -webkit-box-shadow: inset 0px -10px 5px -2px #ccc;
    box-shadow: inset 0px -10px 5px -2px #ccc;
    border-top: 1px solid #ccc;
}

td.summary-number {
    text-align: right;
}

div.summary-popup {
    font-size: 0.8em;
    position: absolute;
    left: 25%; 
    top: 5%; 
    background: white;
    width: 35%;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
}

th.ui-state-hover {
    border-bottom: none;
}

div.summary-popup .main-heading {
    text-align: center;
    font-size: 1.2em;
    margin: 0px;
    padding-top: 1em;
    font-weight: bold;
}

h4 {
    font-size: 1em;
    margin: 0.4em;
}

h3.main-heading {
    cursor: move;
}

h3.sub-heading {
    font-size: 1.1em;
}

div.column-name {
    display: none;
}

div.summary-header, div.summary-popup table thead {
    width: 100%;
    background: #AAA;
}

div.summary-header {
    min-height: 4em;
    cursor: move;
}

.list-creation-info {
    padding-left: 0.5em;
    padding-top: 1em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.null-value, .xml {
    font-family: "Droid sans mono", "Consolas", monospace;
    color: #888;
    background: #EEE;
    border: 1px solid #BBB;
    padding: 3px;
    margin: 2px;
    white-space: nowrap;
}

.null-value a {
    color: #888;
    text-decoration: none;
}

.null-value a:active {
    font-weight: bold;
}

.null-value a:visited {
    color: #AAA;
}

.constraint .value, .constraint .op {
    border: 1px solid #AAA;
    background: #C5C9F1;
    margin: 0.2em;
    padding: 0.2em;
    text-align: center;
    white-space: pre-line;
    display: inline-block;
}

.unapplied.constraint .value, .unapplied.constraint .op {
    background: #F1C5E5;
}

.constraint .value {
    border-radius: 0.2em;
    min-width: 2em;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.constraint select {
    font-weight: bold;
    font-family: "Droid Sans Mono", "DejaVu Sans Mono", "Monospace", monospace;
}

.constraint .op {
    min-width: 2em;
    height: 1em;
    border-radius: 1em;
    font-weight: bold;
}

.constraint .op select {
    font-size: 0.9em;
    width: 8em;
}

.summary-table-scrollcontainer {
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

.centre-box {
    height: 24em;
}

button.constraint-deleter {
    position: relative; 
    float: right;
    margin: 3px; 
    display: inline; 
    list-style: none;
}

.icon-cell {
    padding-left: 0px;
    padding-right: 0px;
    width: 5%;
}

.rank-cell {
    width: 10%;
}

table.inner-table tr td {
    border: none;
}

.wait-text {
    margin: 10%;
    border: 1px solid #AAA;
    width: 80%;
    padding: 15px;
    color: #AAA;
}

.summary_img {
    float: right;
    position: relative;
}

.constraint {
    position: relative;
    margin: 0.15em 0.3em;
    border: 1px solid #AAA;
    padding: 0.2em 0.5em;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    font-size: 1em;
    line-height: 100%;
}

.xml {
    font-size: 1em;
    margin: 2em;
    color: #555;
    background-color: #e2e4ff;
    white-space: pre-wrap;
}
pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

input[type="text"]:disabled {
    background-color: #ccc;
    color: #aaa;
}

th.border-collapse-fix {
    border-right: 1px solid #999;
}

.ui-resizable-sw {
    width: 16px;
    height: 16px;
    left: 1px;
    bottom: 1px;
}

.constraints-hider {
    margin: 0.5em;
}

.new-list-name form {
    display: inline;
}

.list-popup {
    z-index: 2000;
}

.list-items li {
    line-height: 1.9em;
}

.list-items li span {
    display: inline-block;
}

.list-items li span.attr {
    border: 1px solid #BBB;
    padding: 0em 0.5em;
    margin-right: 0em;
    margin-bottom: 0.2em;
    background: #ECEDF9;
}

.list-items li span.item-remover {
    height: 1em;
    cursor: pointer;
    opacity: 0.4;
}

.list-items li span.item-remover:hover {
    cursor: pointer;
    opacity: 1;
}

.column-list-adder, .lang-selector {
    list-style-type: none;
}

.column-list-adder button {
    min-width: 50%;
}

.lang-selector button {
    width: 100%;
    margin-bottom: 3px;
}

.tabletools_collection ul {
    padding: 0px;
    margin: 0px;
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}

.column-list-adder span:hover {
    background: #FFF3E2;
}

.list-items-scroller {
    max-height: 400px;
    overflow: auto;
}

div.lang-popup {
    z-index: 1000;
    left: 10%;
    min-width: 55em;
}

.colvis_button, button.ui-widget {
    height: 2.25em;
}

.grower {
    float: left;
    position: relative;
    left: 18%;
}

@media only screen and (max-width: 1024px) {
    body { font-size: 0.85em }
    .results-box {max-width: 95%;}
}

@media only screen and (max-width: 800px) {
    body { font-size: 0.85em }
    .open-results-box .query-summary { font-size: 1.8em }
}

@media only screen and (max-width: 640px) {
    body { font-size: 0.70em }
    .datatables_scrollhead table thead tr th { font-size: 0.68em; }
    .dataTables_scrollBody table tbody tr td { font-size: 0.65em; }
}


