<?xml version="1.0" encoding="utf-8"?>
<menu>
  <item title="Main">
    <item url="/index.xml" title="Home"/>
    <item url="/introduction.xml" title="Introduction"/>
    <item url="/sources.xml" title="Data sources"/>
    <item url="/contact/index.xml" title="Contact"/>
  </item>

  <item title="Documentation">
    <item url="/what.xml" title="Get Started"/>
    <item url="/doc/tutorials/index.shtml" title="Tutorials"/>
    <item url="/doc/manual/index.shtml" title="User Manual"/>
  </item>
  
  <item title="Download software">
    <item url="/download/index.xml" title="SVN checkout"/>
    <item url="http://subversion.flymine.org/" title="Browse source"/>
  </item>
  
   
  <item title="Related Projects">
    <item url="http://www.intermine.org" title="InterMine"/> 
    <item url="http://www.flymine.org" title="FlyMine"/>    
  </item>
  
</menu>

