<div id="rivals-placeholder" class="placeholder">
    <img src="[% proxy.uri_for('/images/loading-bar.gif') %]">LOADING...</img>
</div>

<script type="text/javascript">
$(function() {IMBedding.loadTemplate(
    {
        name:          "CEO_Rivals",

        constraint1:   "CEO.name",
        op1:           "!=",
        value1:        "[% obj.name %]",
        extra1:        "",
        code1:         "A",
    },
    '#rivals-placeholder',
    [% INCLUDE template_options.tt %]
);});
</script>
