<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>[% title %]</title>
        <link rel="stylesheet" href="[% proxy.uri_for('/css/error.css') %]" />
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>[% title %]</h1>

        <div id="content">
            [% message %]
        </div>

        <div id="footer">
            Powered by <a href="http://perldancer.org/">Dancer</a> [% version %]
        </div>
    </body>
</html>',
