
<div class="footerbar" id="export">
    <ul class="menu" id="export-menu">
        [% base_url = proxy.uri_for('/list/') %]
        [% list_name = lists.0.name | uri %]
        <li><a id="tsv-link" href="[% tsv_uri || (base_url _ list_name _ '.tsv') %]" title="export data in tab separated value format">TSV</a></li>
        <li><a id="json-link" href="[% json_uri || (base_url _ list_name _ '.json') %]" title="export data in json format">JSON</a></li>
        <li><a id="xml-link" href="[% xml_uri || (base_url _ list_name _ '.xml')  %]" title="export data in XML format">XML</a></li>
        [% IF service.model.model_name == "genomic" %]
            [% type = lists ? lists.0.type : obj.class %]
            [% IF service.model.get_classdescriptor_by_name(type).sub_class_of('SequenceFeature') %]
<li><a id="gff3-link" href="[% gff3_uri || (base_uri _ list_name _ '.gff3') %]" title="export data in gff3 format">GFF3</a></li>
<li><a id="fasta-link" href="[% fasta_uri || (base_uri _ list_name _ '.fasta') %]" title="export data in fasta format">FASTA</a></li>
            [% END %]
        [% END %]
            
    </ul>
</div>
