
<h3 id="browser-hider" style="cursor:pointer">
    <span class="ui-icon ui-icon-triangle-1-s" id="browser-hider-icon"></span>
    Genome Browser
</h3>
<div id="genome-browser">
    <a href="[% settings.gbrowse_base %]?source=[% settings.gbrowse_source %];label=s-Genes;name=[% id %];width=750"><img src="[% settings.gbrowse_base %]?source=[% settings.gbrowse_source %];type=s+Genes;name=[% id %];width=600;b=1" style="border: 1px solid black" title="GBrowse"></a>
</div>

<script type="text/javascript">
jQuery(function() {
        jQuery('#browser-hider').click(function() {
            jQuery('#genome-browser').slideToggle(function() {
            if (jQuery('#genome-browser').is(':visible')) {
                jQuery('#browser-hider-icon').removeClass('ui-icon-triangle-1-e')
                                        .addClass('ui-icon-triangle-1-s');
            } else {
                jQuery('#browser-hider-icon').removeClass('ui-icon-triangle-1-s')
                                        .addClass('ui-icon-triangle-1-e');
                                        }});
        });
});
</script>

