
[% INCLUDE banner.tt %]
[% gene = obj %]
[% id = gene.primaryIdentifier  || gene.symbol %] 
<div id="content">
    <div id="list-info-boxes" style="float:right;width:50%;">
        [% INCLUDE list_addition_box.tt %]
        [% INCLUDE current_lists_box.tt %]
    </div>
    <h2 class="displayname">
        [% obj.class %]: 
        <a href="[% settings.mine_base_url %]/report.do?id=[% obj.objectId %]" 
            title="View in [% settings.service_args.0 %]"
            icon="out">[% displayname %][% IF displayname != id %] ([% id %])[% END %]</a></h2>
    <table class="details">
        [% IF gene.chromosome %]
            <tr>
                [% location = gene.chromosome.primaryIdentifier _ ":" _ gene.chromosomeLocation.start _ '-' _ gene.chromosomeLocation.end %]
                <td class="key">Location:</td>
                <td class="value location"><a href="[% proxy.uri_for('/' _ gene.chromosomeLocation.class _ '/id/' _ gene.chromosomeLocation.objectId) %]">[% location %]</a></td>
            </tr>
        [% END %]
        [% INCLUDE item_details_table.tt %]
    </table>
    [% INCLUDE user_comments.tt %]
    [% INCLUDE homologues.tt %]
    [% IF settings.genome_browser %]
        [% browser = settings.genome_browser _ '.tt' %]
        [% INCLUDE $browser %]
    [% END %]


[% FOREACH t IN templates %]
    [% INCLUDE $t %]
[% END %]

</div>

[% INCLUDE export.tt %]


