
<h3 id="gene-templates-hider" style="cursor:pointer">
    <span class="ui-icon ui-icon-triangle-1-s" id="gene-templates-hider-icon"></span>
    Gene Templates
</h3>

<div id="gene-templates">
    <div id="gene-go-placeholder">
        <img src="[% proxy.uri_for('/images/loading-bar.gif') %]">LOADING...</img>
    </div>
    <div id="gene-pathways-placeholder">
        <img src="[% proxy.uri_for('/images/loading-bar.gif') %]">LOADING...</img>
    </div>
    <div id="gene-interactions-placeholder">
        <img src="[% proxy.uri_for('/images/loading-bar.gif') %]">LOADING...</img>
    </div>
    <div id="gene-proteins">
        <img src="[% proxy.uri_for('/images/loading-bar.gif') %]">LOADING...</img>
    </div>
    [% IF service.template('geneGWAS_reportPg') %]
    <div id="gwas-placeholder">
        <img src="[% proxy.uri_for('/images/loading-bar.gif') %]">LOADING...</img>
    </div>
    [% END %]
</div>

<script type="text/javascript">
jQuery(function() {
    jQuery('#gene-templates-hider').click(function() {
        jQuery('#gene-templates').slideToggle(function() {
        if (jQuery('#gene-templates').is(':visible')) {
            jQuery('#gene-templates-hider-icon').removeClass('ui-icon-triangle-1-e')
                                    .addClass('ui-icon-triangle-1-s');
        } else {
            jQuery('#gene-templates-hider-icon').removeClass('ui-icon-triangle-1-s')
                                    .addClass('ui-icon-triangle-1-e');
                                    }});
    });
    var opts = [% INCLUDE template_options.tt %];
    IMBedding.loadTemplate(
        {
            // Search for GO annotations for a particular gene (or List of Genes).
            name:          "Gene_GO",

            constraint1:   "Gene",
            op1:           "LOOKUP",
            value1:        "[% id %]",
            extra1:        "[% obj.organism.shortName %]",
            code1:         "A"
        },
        '#gene-go-placeholder', opts
    );
    IMBedding.loadTemplate(
        {
            // For a given Gene (or List of Genes) show any associated Pathway(s)
            // (Data Source: KEGG or REACTOME). Keywords: pathways, metabolism,
            // cascade 
            name:          "Gene_Pathway",

            constraint1:   "Gene",
            op1:           "LOOKUP",
            value1:        "[% id %]",
            extra1:        "[% obj.organism.shortName %]",
            code1:         "A"
        },
        '#gene-pathways-placeholder', opts
    );
    IMBedding.loadTemplate(
        {
            // For a particular Gene (or List of Genes) show all known Interactions
            // (Data Source: BioGRID, IntAct). 
            name:          "Gene_Interaction",

            constraint1:   "Gene",
            op1:           "LOOKUP",
            value1:        "[% id %]",
            extra1:        "[% obj.organism.shortName %]",
            code1:         "A"
        },
        '#gene-interactions-placeholder', opts
    );
    IMBedding.loadTemplate(
        {
            // Show the proteins for a particular gene.
            name:          "Gene_Protein",

            constraint1:   "Gene",
            op1:           "LOOKUP",
            value1:        "[% id %]",
            extra1:        "",
            code1:         "A"
        },
        '#gene-proteins', opts
    );
    [% IF service.template('geneGWAS_reportPg') %]
    IMBedding.loadTemplate(
        {
            // Template to display GWAS results in Gene report pages
            name:          "geneGWAS_reportPg",

            constraint1:   "GWAS.results.associatedGenes",
            op1:           "LOOKUP",
            value1:        "[% id %]",
            extra1:        "[% obj.organism.shortName %]",
            code1:         "A",

            size: 5
        },
        '#gwas-placeholder', opts
    );
    [% END %]
});
</script>
