<div id="gene-go-placeholder">
    <img src="[% proxy.uri_for('/images/loading-bar.gif') %]">LOADING...</img>
</div>
<div id="gene-pathways-placeholder">
    <img src="[% proxy.uri_for('/images/loading-bar.gif') %]">LOADING...</img>
</div>
<div id="gene-interactions-placeholder">
    <img src="[% proxy.uri_for('/images/loading-bar.gif') %]">LOADING...</img>
</div>
<div id="gwas-placeholder">
    <img src="[% proxy.uri_for('/images/loading-bar.gif') %]">LOADING...</img>
</div>
<script type="text/javascript">
jQuery(function() {
    var opts = [% INCLUDE template_options.tt %];
    IMBedding.loadTemplate(
        {
            // Search for GO annotations for a particular gene (or List of Genes).
            name:          "Gene_GO",

            constraint1:   "Gene",
            op1:           "LOOKUP",
            value1:        "[% id %]",
            extra1:        "H. sapiens",
            code1:         "A"
        },
        '#gene-go-placeholder', opts
    );
    IMBedding.loadTemplate(
        {
            // For a given Gene (or List of Genes) show any associated Pathway(s)
            // (Data Source: KEGG or REACTOME). Keywords: pathways, metabolism,
            // cascade 
            name:          "Gene_Pathway",

            constraint1:   "Gene",
            op1:           "LOOKUP",
            value1:        "[% id %]",
            extra1:        "H. sapiens",
            code1:         "A"
        },
        '#gene-pathways-placeholder', opts
    );
    IMBedding.loadTemplate(
        {
            // For a particular Gene (or List of Genes) show all known Interactions
            // (Data Source: BioGRID, IntAct). 
            name:          "Gene_Interaction",

            constraint1:   "Gene",
            op1:           "LOOKUP",
            value1:        "[% id %]",
            extra1:        "H. sapiens",
            code1:         "A"
        },
        '#gene-interactions-placeholder', opts
    );
    IMBedding.loadTemplate(
        {
            // Template to display GWAS results in Gene report pages
            name:          "geneGWAS_reportPg",

            constraint1:   "GWAS.results.associatedGenes",
            op1:           "LOOKUP",
            value1:        "[% id %]",
            extra1:        "H. sapiens",
            code1:         "A"
        },
        '#gwas-placeholder', opts
    );
});
</script>
