[% INCLUDE banner.tt %]

<div id="content">
    <p>
        There are no lists for you to view.
    </p>

</div>

<div class="footerbar" id="external-links">
    <ul class="menu">
        <li><a icon="out" id="mine-link" href="[% settings.mine_base_url %]">[% settings.service_args.0 %]</a></li>
        <li><a icon="out" id="intermine-link" href="http://www.intermine.org">InterMine</a></li>
    </ul>
</div>
        


