.option-box {
    border-style: inset; 
    border-width: 1px;
    margin: 5px;
    padding:10px;
}

textarea.coder {
    font-size: 14px;
    font-family: "Lucida Console", Monaco, monospace;
}

.imbedded-table-container {
    margin: 20px;
    border-style: inset;
    border-width: 1px;
    width: 600px;
    border-color: #eee;
    padding-bottom: 5px;
}

.imbedded-table-titlebox {
    font-size: 24px;
    padding: 20px;
    color: black;
    padding: 5px;
}

.imbedded-table-title {
    font-size: 29px;
    font-family: "Yanone Kaffeesatz", arial, serif;
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#000));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.imbedded-column-header-row {
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#333)) ! important;
    font-weight: bold;
    font-family: "Yanone Kaffeesatz", arial, serif;
/*    background: #666;*/
    color: black;
}

.imbedded-table {
    border-collapse: collapse;
    width: 100%;
}

.firstpage {
    display: none;
}

.imbedded-cell {
    font-family: "Neuton", "Times", "serif";
    font-size: 14px;
    padding: 4px;
}

.imbedded-column-even {
    background: #eee;
}

.imbedded-column-odd {
    background: #bbb;
}

.imbedded-row-odd {
}

.imbedded-row-even {
}

.imbedded-column-header-row {
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#333)) ! important;
    font-weight: bold;
    font-family: "Yanone Kaffeesatz", arial, serif;
/*    background: #666;*/
    color: black;
}

.imbedded-exportlink, .imbedded-pagelink {
    color: black ! important;
    font-size: 12px;
    font-family: "Neuton", "Times", "serif";
    padding-right: 5px;
    padding-left: 5px;
}

.imbedded-pagelink {
    float: right;
}
