.imbedded-table-container {
    margin: 20px;
    border: 1px solid #DDD;
    width: 600px;
    padding-bottom: 5px;
    border-radius: 2px 2px;
}

.imbedded-table-titlebox {
    font-size: 24px;
    padding: 20px;
    color: black;
    padding: 5px;
}

.imbedded-table-title {
    font-family: "Cabin", "Arial", sans-serif;
}

.imbedded-column-header-row {
    font-family: "Cabin", "Arial", sans-serif;
    font-weight: bold;
    background: #FF0084;
    color: white;
}

.imbedded-table {
    border-collapse: collapse;
    width: 100%;
}

.imbedded-initial-state {
    display: none;
}

.imbedded-data-row {
    font-size: 16px;
    font-family: "Cabin", "Arial", sans-serif;
}

.imbedded-cell {
    padding: 4px;
}

.imbedded-cell > a:hover {
    color: white;
}

.imbedded-row-odd {
    background: #D5E8F3;
}

.imbedded-row-odd:hover {
    background: #0073EA;
    color: white ! important;
}

.imbedded-row-odd:hover a {
    color: white ! important;
}

.imbedded-row-even {
    background: white;
}

.imbedded-row-even:hover {
    background: #0073EA;
    color: white ! important;
}

.imbedded-row-even:hover a {
    color: white ! important;
}

.imbedded-exportlink, .imbedded-pagelink {
    display: none;
    color: black ! important;
    font-size: 13px;
    padding-right: 5px;
    padding-left: 5px;
}

.imbedded-pagelink {
    float: right;
}

.imbedded-table-container > a {
    font-family: "Cabin", "Arial", sans-serif;
    text-decoration: none;
}

.imbedded-table-container > a:hover {
    color: #FF0084 ! important;
}
