.option-box {
    border-style: inset; 
    border-width: 1px;
    margin: 5px;
    padding:10px;
}

textarea.coder {
    font-size: 14px;
    font-family: "Lucida Console", Monaco, monospace;
}

.imbedded-table-container {
    margin: 20px;
    border-style: solid;
    border-width: 2px;
    width: 600px;
    border-color: #365252;
    padding-bottom: 5px;
}

.imbedded-table-titlebox {
    font-size: 24px;
    padding: 20px;
    color: black;
    padding: 5px;
}

.imbedded-table-title {
    font-family: "Merriweather", "Times", "serif";
}

.imbedded-column-header-row {
    font-family: "Merriweather", "Times", "serif";
    font-weight: bold;
    background: #666;
    color: white;
}

.imbedded-table {
    border-collapse: collapse;
    width: 100%;
}

.firstpage {
    display: none;
}

.imbedded-cell {
    font-size: 14px;
    font-family: "Merriweather", "Times", "serif";
    padding: 4px;
}

.imbedded-row-odd {
    background: #D5E8F3;
}

.imbedded-row-even {
    background: white;
}

.imbedded-exportlink, .imbedded-pagelink {
    color: black ! important;
    font-size: 12px;
    padding-right: 5px;
    padding-left: 5px;
}

.imbedded-pagelink {
    float: right;
}
