div.imbedded-table-tooltip {
    border-width:       2px;
    width:              500px;
    border-style:       solid;
    border-color:       white;
    padding:            5px;
    color:              white;
    background:         #666;
    opacity:            0.90;
    font-family: "Neuton", "Times", "serif";
    font-weight: bold;
}

.imbedded-table-container {
    margin: 20px;
    border-style: solid;
    border-width: 2px;
    width: 600px;
    border-color: #365252;
    padding-bottom: 5px;
}

.imbedded-table-titlebox {
    font-size: 24px;
    padding: 20px;
    color: black;
    padding: 5px;
}

.imbedded-table-title {
    font-family: "Neuton", "Times", "serif";
    color: #444;
}

.imbedded-column-header-row {
    font-family: "Neuton", "Times", "serif";
    font-weight: bold;
    background: #666;
    color: white;
}

.imbedded-table {
    border-collapse: collapse;
    width: 100%;
}

.imbedded-cell {
    font-size: 14px;
    font-family: "Neuton", "Times", "serif";
    padding: 4px;
}

.imbedded-cell > a {
    color: #444;
}

.imbedded-data-row {
    color: #444;
}

.imbedded-cell > a:hover {
    color: black;
    font-style: italic;
}

.imbedded-row-odd {
    background: #D5E8F3;
}

.imbedded-row-even {
    background: white;
}

.imbedded-exportlink, .imbedded-pagelink {
    font-family: "Neuton", "Times", "serif";
    text-decoration: none;
    color: black ! important;
    font-size: 12px;
    padding-right: 5px;
    padding-left: 5px;
}

.imbedded-exportlink {
    float: right;
}

.imbedded-next {
    float: right;
}

.imbedded-table-container > a:hover {
    font-style: italic;
}

.imbedded-table-expand-help {
    color: #666;
    float: right;
    font-size: 50%;
}

.imbedded-null {
    opacity: 0.5;
}
