.imbedded-table-container {
    margin: 20px;
    border-style: solid;
    border-width: 4px;
    width: 500px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    background: #333;
    border-color: #333;
}

.imbedded-table-titlebox {
    font-size: 120%;
    background: #333;
    color: white;
    padding: 5px;
}

a.imbedded-table-title {
    font-family: "Cabin", "Helvetica", "sans-serif";
    color: white;
}

.imbedded-column-header-row {
    font-family: "Cabin", "Helvetica", "sans-serif";
    font-size: 16px;
    font-weight: bold;
    background: #666;
    color: white;
}

.imbedded-table {
    border-collapse: collapse;
    width: 100%;
}

.firstpage {
    display: none;
}

.imbedded-cell {
    font-size: 16px;
    font-family: "Cabin", "Helvetica", "sans-serif";
    padding: 4px;
}

.imbedded-cell > a:hover {
    color: white;
    font-style: bold;
}

.imbedded-row-odd {
    background: white;
}

.imbedded-row-odd:hover {
    background: #A7E1C3;
}

.imbedded-row-even {
    background: #d8e4f8;
}

.imbedded-row-even:hover {
    background: #A7E1C3;
}

.imbedded-exportlink, .imbedded-pagelink {
    font-family: "Cabin", "Helvetica", "sans-serif";
    text-decoration: none;
    color: white ! important;
    font-size: 13px;
    padding-right: 10px;
}

.imbedded-pagelink {
    float: right;
}

.imbedded-table-container > a:hover {
    text-decoration: underline;
}
