h1, h2, h3 {
    font-family: "Cabin", "Arial", sans-serif;
}

#dialog-confirm {
    display: none;
}

h3.querybuilder-section-header {
    margin: .5em 0px;
}

p, .ui-button-text, .ui-button {
    font-family: "Merriweather", "Arial", sans-serif ! important;
}

.text-input {
    font-family: "Droid Sans Mono", "Monaco", monospace ! important;
}

code {
    font-family: "Droid Sans Mono", "Monaco", monospace;
}

h1 {
    font-size: 48px;
    padding: 25px;
}

h2 {
    font-size: 24px;
}

#page {
    margin-left: 200px;
    margin-right: 200px;
}

#radio input span {
    font-size: 10px ! important;
}

span.axis-label {
    padding-left: 250px;
}
