.option-box {
    border-style: inset; 
    border-width: 1px;
    margin: 5px;
    padding:10px;
}

.normal-color {
    color: black;
}

h1, h2, h3, h4 {
    font-family: "Cuprum", "Arial", sans-serif;
}

#dialog-confirm {
    display: none;
}

h3.querybuilder-section-header {
    margin: .5em 0px;
}

p, .ui-button-text, .ui-button, .ui-tabs {
    font-family: "Cuprum", "Arial", sans-serif ! important;
    line-height: 120%;
}

.text-input {
    font-family: "Droid Sans Mono", "Monaco", monospace ! important;
}

code {
    font-family: "Droid Sans Mono", "Monaco", monospace;
}

h1 {
    font-size: 48px;
    padding: 25px;
}

h2 {
    font-size: 24px;
}

li.resource {
    color: #FF0084;
}

li.resource a, p {
    font-family: "Neuton", "Arial", sans-serif ! important;
    color: black;
}


#page {
    margin-left: 200px;
    margin-right: 200px;
}

#radio input span {
    font-size: 10px ! important;
}

span.axis-label {
    padding-left: 250px;
}

div.department-summary {
    font-family: "Neuton", "Arial", sans-serif ! important;
    border-style: inset; 
    border-width: 1px;
    margin: 5px;
    padding:10px;
}

.employee-details {
    border-collapse: collapse;
    border-width: 3px;
    border-color: white;
    font-family: "Neuton", "Arial", sans-serif ! important;
    background: #555;
    color: white;
    text-size: 14px;
}

td.summary-cell {
    border-width: 3px;
    padding: 10px;
    border-color: white;
}

table.info-table {
    border-collapse: collapse;
    border: 3px solid #DDD;
}

table.info-table th {
    font-family: "Cuprum", "Arial", sans-serif;
}

table.info-table tbody td {
    border: 1px solid #DDD;
    font-family: "Neuton", "Arial", sans-serif ! important;
    font-size: 75%;
    padding: 8px;
}
