div.imbedded-table-tooltip {
    border-width:       4px;
    width:              500px;
    border-style:       solid;
    border-color:       #333;
    padding:            5px;
    border-radius:      7px;
    -moz-border-radius: 7px;
    opacity:            0.90;
    font-family: "Cuprum", "Helvetica", "sans-serif";
    font-size: 16px;
    font-weight: bold;
    background: #333;
    color: white;
}

.imbedded-table-container {
    margin: 20px;
    border-style: solid;
    border-width: 4px;
    width: 500px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    background: #333;
    border-color: #333;
}

.imbedded-table-titlebox {
    font-size: 120%;
    background: #333;
    color: white;
    padding: 5px;
}

a.imbedded-table-title {
    font-family: "Cuprum", "Helvetica", "sans-serif";
    color: white;
}

.imbedded-column-header-row {
    font-family: "Cuprum", "Helvetica", "sans-serif";
    font-size: 16px;
    font-weight: bold;
    background: #666;
    color: white;
}

.imbedded-table {
    border-collapse: collapse;
    width: 100%;
}

.firstpage {
    display: none;
}

.imbedded-cell {
    font-size: 16px;
    font-family: "Cuprum", "Helvetica", "sans-serif";
    padding: 4px;
}
.imbedded-data-row {
    color: #444;
}

.imbedded-cell > a:hover {
    color: white;
    font-style: bold;
}

.imbedded-cell > a {
    color: #444;
}

.imbedded-row-odd {
    background: white;
}

.imbedded-row-odd:hover {
    background: #A7E1C3;
}

.imbedded-row-even {
    background: #d8e4f8;
}

.imbedded-row-even:hover {
    background: #A7E1C3;
}

.imbedded-exportlink, .imbedded-pagelink {
    font-family: "Cuprum", "Helvetica", "sans-serif";
    text-decoration: none;
    color: white ! important;
    font-size: 13px;
    padding-right: 10px;
}

.imbedded-pagelink, .imbedded-mineresultslink {
    float: right;
}

.imbedded-table-container > a:hover {
    text-decoration: underline;
}

.imbedded-table-expand-help {
    color: #666;
    float: right;
    font-size: 50%;
}

.imbedded-null {
    opacity: 0.5;
}
