#bagDescriptionDiv,#textarea{background-color:#E6F7FE;}
/*#bagDescriptionDiv:hover{background-color:#FEFEF2;}*/
#headercontainer #header h1 a{padding-top:2px;}
#headercontainer #header p{padding-top:6px;}
#headercontainer #header p#version{margin-left:4px;margin-right:8px;padding-top:6px;}
#loginbar{font-family:"Lucida Grande",Verdana,Geneva,Lucida,Helvetica,Arial,sans-serif;/*line-height:25px;*/}
#quickSearch form,ul#nav li.activelink a{color:#4B3F4B;}
#submenu.submenu_mymine{background:#A7A7A7;}
#submenu.submenu_mymine ul#submenulist{color:#DADADA;}
#submenu.submenu_mymine ul#submenulist li a{color:#FFF;font-weight:700;}
#submenu.submenu_mymine ul#submenulist li#subactive_mymine{color:#FFF;font-weight:700;text-decoration:underline;}
#submenudiv{font-size:12px;}
#tool_bar_div,table.results tr.even TD{background-color:#CACACA;}
.blueBg{background-color:#E6F7FE;border:1px solid #BEDCE4;text-align:center;width:350px;margin:20px;padding:20px;}
.box .title{background:#eee;clear:both;font-size:14px;font-weight:700;text-align:left;padding:5px;}
.gradientbox{background:url(gray_grad.png) repeat-x;border:1px solid #000;padding:10px;}
.imbox{background:#000;border-bottom:solid 1px #888;border-top:solid 1px #888;color:#FFF;font-size:.8em;height:1.2em;padding:5px 5px 10px;}
.listtoolbox{background-image:url(gray_grad.png);border:1px solid #888;}
.plainbox{background:#F0F0F0;border:1px solid #000;padding:10px;}
.submenu{background:#FE9500;}
.tb_button{border:1px solid #CACACA;}
.tb_button:hover{border-bottom:1px solid #000;border-right:1px solid #000;margin-right:0;}
.tb_button_active{border:1px solid #000;}
.widget{background-color:#F5F0FF;max-height:400px;text-align:center;width:450px;padding:15px;}
.widget p{font-size:10px;}
.widget_slide{margin-top:10px;max-height:350px;overflow:auto;overflow-x:none;overflow-y:auto;}
.widgetcontainer{background:#FFF url(gray_grad.png) repeat-x top;border:1px solid #888;}
a,h1,h2,h3,h1 a,h1 a:visited,label,ul#nav a:hover,ul#nav li#mymine a:hover{color:#333;}
body{background:#FFF url(top-gradient.jpg) repeat-x top;}
div#filter_tool_bar{background-color:#FFF;border-bottom:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;}
div#header h1,div#header h1 a{text-decoration:none;vertical-align:text-bottom;}
div#header h1,div#header h1 a,div#header h1 a:link,div#header h1 a:visited,div#header p{color:#505050;line-height:45px;margin:0;padding:0;}
div.filterBar{background:#D3D3D3;color:#4B3F4B;border:1px solid #000;border-bottom:0;}
h1 a:hover,h1 a:visited:hover{color:#333;text-decoration:underline;}
html,body{background-color:#FFF;color:#000;font-family:"Lucida Grande",Verdana,Geneva,Lucida,Helvetica,Arial,sans-serif;}
ul#nav{font-size:13px;margin-left:-5px;margin-top:10px;}
ul#nav a{color:#4B3F4B;font-weight:700;text-decoration:none; padding:0 6px; }
ul#nav li{background:url(img/menu-gray-left.png) repeat-x top;text-align:center;padding:4px 2px;}
ul#nav li#mymine{background:url(img/menu-gray-hover-left.png) repeat-x top;}
ul#nav li#mymine a,ul#nav a:hover,#submenu.submenu_mymine form{color:#FFF;}
ul#nav li.activelink{background:url(img/menu-orange-left.png) repeat-x top;}
ul#submenulist{color:#EF5900;}
ul#submenulist li a{color:#4B3F4B;text-decoration:none;padding:0 6px;}
ul#submenulist li a:hover{color:#4B3F4B;font-weight:bold;text-decoration:underline;}
ul#submenulist li#subactive_bag, ul#submenulist li#subactive_api{color:#4B3F4B;font-weight:700;}

/* background */
body { background:url("img/top-gradient.jpg") repeat-x scroll center top transparent; }

/* quick search */
input#quickSearchInput { background:url("img/quick-search-alt-bg.png") no-repeat top; border:none; padding:5px 2px 0 6px;
  font-size:12px; margin-top:1px; }
#submenudiv #quicksearch { color:#4B3F4B; }

#pagecontentcontainer { background:#FEFEFE; }

/* main boxes */
div.gradientbox { border:1px solid #E3D85A; background:/*#FFFEF2*/url("img/yellow-bg.jpg") repeat-x top; }
div.plainbox { border:1px solid #BEDCE4 !important; background:#E6F7FE; }

/* box filter bars */
div.filterBar { background:#FFFCD9; border-color:#E3D85A; }
div#filter_tool_bar { border-color:#E3D85A; }

div .gradientbox h1, div .plainbox h1 { color:#4D5154; font-size:22px; }

/* lists results page when logged in */
#listTags { background-color: #E6F7FE; border:1px solid #BEDCE4; margin-left: 10px; padding: 3px 10px; }

/* further information */
div.geneInformation table { border-width:1px 0 1px 1px; border-style:solid; border-color:#DFDFDF; margin-bottom:10px; }
  div.geneInformation table tr.odd td { background:#E6F7FE; }
    div.geneInformation table td { border-right:1px solid #DFDFDF; padding:4px; }
    div.geneInformation table th { background:#F5F5F5; border-right:1px solid #DFDFDF; padding:4px; color:#4B3F4B; }
    div.geneInformation table th.type { width:10%; }
    div.geneInformation table th.comment { width:100%; }
div.geneInformation h3 { color:#008000; font-size:13px; margin:0; margin-bottom:10px; }
  div.geneInformation h3.uniprot { background:url('icons/uniprot.png') no-repeat right; padding:16px 28px 16px 0; color:#4896B2;
  display:inline; }
  div.geneInformation h3.overlapping { color:#4896B2; }
  div.geneInformation h4 { background:#F5F5F5; border:1px solid #DFDFDF; padding:4px; }

form#saveFromIdsToBagForm input.submit { background-image:url("../../images/buttons/button-bg-lists.gif"); background-repeat:repeat-none;
  background-position:left top; border:1px outset #CCCCCC; cursor:pointer; height:23px; padding:1px 2px 1px 32px; vertical-align:middle;
  color:#101010; }

/* lists analysis (bagDetails.do) */
div.heading.results { border:1px solid #BEDCE4; background:#E6F7FE; margin-left:0; }
div.heading.results h1 { color:#4D5154; font-size:22px; margin-bottom:10px; }
div.heading.results #tool_bar_div { float:left; background:#E6F7FE !important; }
div.heading.results #tool_bar_div li { border:1px solid #D2D2D2; background:#EEEEEE; margin-right:10px; padding:4px; font-weight:normal; }

#convertList.bochs form#bagDetailsForm { margin-bottom:0 !important; } /* why the */

#tool_bar_div { background:#F5F5F5; }
  #tool_bar_div ul#button_bar li.tb_button { cursor:pointer; border:outset 1px #CCCCCC; background-image:url("../../images/buttons/button-bg.gif");
  background-position:left top; background-color:#999999; background-repeat:repeat-x; vertical-align:middle; margin-right:2px; height:16px; }

/* my templates */
#all_templates_template_container.wsListContainer #all_templates_template_ws_list.wsList div.wsLine_my,
#all_templates_template_container.wsListContainer #all_templates_template_ws_list.wsList div.wsLine_my_act {
  background:#FFFFFC url("../../images/icons/briefcase-brown-16.png") no-repeat 910px 10px; border-bottom:1px solid #E3DFC3; }
#all_templates_template_container.wsListContainer #all_templates_template_ws_list.wsList div.wsLine_my a.templateTitle,
#all_templates_template_container.wsListContainer #all_templates_template_ws_list.wsList div.wsLine_my_act a.templateTitle { color:#E94F00 !important; }
#all_templates_template_container.wsListContainer #all_templates_template_ws_list.wsList div.wsLine_my_act {
  background-color:#FFFBD8; border-bottom:1px solid #E3D85A; }
#all_templates_template_container.wsListContainer u { text-decoration:none; } /* haha */

/* my lists */
#all_bag_bag_container.wsListContainer #all_bag_bag_ws_list.wsList div.wsLine_my,
#all_bag_bag_container.wsListContainer #all_bag_bag_ws_list.wsList div.wsLine_my_act {
  background:#FFFFFC url("../../images/icons/briefcase-brown-16.png") no-repeat 910px 10px; border-bottom:1px solid #E3DFC3; }
#all_bag_bag_container.wsListContainer #all_bag_bag_ws_list.wsList div.wsLine_my a.listTitle,
#all_bag_bag_container.wsListContainer #all_bag_bag_ws_list.wsList div.wsLine_my_act a.listTitle { color:#E94F00 !important; }
#all_bag_bag_container.wsListContainer #all_bag_bag_ws_list.wsList div.wsLine_my_act {
  background-color:#FFFBD8; border-bottom:1px solid #E3D85A; }
#all_bag_bag_container.wsListContainer u { text-decoration:none; } /* haha */

/* bochs theme */
div.gradientbox { border:1px solid #DFDFDF; background:url("gray_grad.png") repeat-x scroll 0 0 transparent; }
div.gradientbox a, div.gradientbox a:hover { color:#1F7492 !important; }

div.filterBar { border:none !important; background:none !important; }
#filter_tool_bar { border:none !important; border-bottom:1px solid #DFDFDF !important; }
  #filter_tool_bar strong { color:#333; }

#ws_all_templates_template a.anchor { background:url("../../images/icons/go-top-16.png") no-repeat left; padding-left:20px; line-height:40px; }
  #ws_all_templates_template a.anchor img { display:none; }

/* context help "?" */
a.contextHelpSmall { background:url("icons/help.png") no-repeat left; padding:6px 0 6px 25px !important; }
  p.alignright a.contextHelpSmall, p.navtrail a.contactUsLink, p.alignright a.contactTeam, p.alignright span.omgDivider { display:none; } /* hide context help in breadcrumbs */
  #navtrail p.alignright { margin:0 -10px 10px 0; }

/* contact team */
a.contactTeam { background:url("icons/email.png") no-repeat left; padding:6px 0 6px 25px !important; }
span.omgDivider { border-right:1px solid #004499; margin-right:4px; }

/* submenu border */
ul#submenulist li div { border-left-color:#FEF9F3; }

/* login bar */
ul#loginbar { margin-top:10px !important; }
ul#loginbar li { border-right-color:#004499; }

/* topnav */
ul#topnav { font-size:0.7em; margin:0; position:absolute; right:0; top:0; white-space:nowrap; list-style:none; text-transform:capitalize; }
  ul#topnav.smallScreen { right:40px; }
  ul#topnav li { display:inline; border-right:1px solid #505050; padding0 6px 0 3px; margin:0; }
    ul#topnav li.last { border:none; }
  ul#topnav a:link, ul#topnav a:visited { color:#505050; }

/* external links on objectDetails (and bagDetails!!!) */
div.externalLinks { ; }
  div.externalLinks h3 { color:#4896B2; margin-bottom:4px; }
  div.externalLinks ul { list-style:none; }
    div.externalLinks ul li { display:inline; margin:0; margin-right:6px; float:left; }
      div.externalLinks ul li a { line-height:27px; height:27px; }
      div.externalLinks ul li a.ext_link { display:none; }
      div.externalLinks ul li a.ext_link.image { display:inline; /*background:url("../../images/icons/external-link-8.png") no-repeat top right;
        padding:34px 10px 0 0;*/ }
        div.externalLinks ul li a.ext_link.image img { background:url("../../images/icons/external-link-8.png") no-repeat top right; padding-right:10px; }
        div.externalLinks ul li a span { float:left; display:inline; font-size:9px; line-height:20px; }
#externalLinksClear { clear:both; margin-bottom:10px; }

/* object details cytoscape (override webapp) */
h3.interactions { color:#4896B2; font-size:13px; margin:10px 0 10px; }

/* submenu */
#submenufixed, #submenu { background-image:url('img/submenu-bottom-border.png'); background-repeat:repeat-x; background-position:bottom; }
#submenufixed ul#submenulist li div, #submenu ul#submenulist li div { text-transform:uppercase; }
#submenufixed ul#submenulist li div a, #submenu ul#submenulist li div a { text-decoration:underline; }

/* handwritten messages */
#pagecontentcontainer.bag-page p#contactUsLink, #pagecontentcontainer.bagupload-page p#contactUsLink,
  #pagecontentcontainer.bagview-page p#contactUsLink { display:none; }
#pagecontentcontainer.bagupload-page #pagecontent, #pagecontentcontainer.bag-page #pagecontent { background-image:url('img/arrowtip-view-lists.png');
  background-repeat:no-repeat; background-position:45px 10px; }
#pagecontentcontainer.bagview-page #pagecontent { background-image:url('img/arrowtip-upload-list.png'); background-repeat:no-repeat;
  background-position:16px 6px; }
#pagecontentcontainer.bagview-page #pagecontent div.body { margin-top:40px; }

/* bagUploadConfirm */
#pagecontentcontainer.bagUploadConfirm-page table.inlineResultsTable a { color:#1F7492; }
#pagecontentcontainer.bagUploadConfirm-page table.inlineResultsTable thead td { background:#F5F5F5;  }
#pagecontentcontainer.bagUploadConfirm-page table.inlineResultsTable tbody tr.even td { background:#EFFAFE; }
#pagecontentcontainer.bagUploadConfirm-page table.inlineResultsTable tbody tr td { border-top-color:#E6F7FE; border-bottom-color:#E6F7FE; }
#pagecontentcontainer.bagUploadConfirm-page table.inlineResultsTable td.identifier { color:#886644; }
#pagecontentcontainer.bagUploadConfirm-page h3 { color:#1F7492; background:#F5F5F5; border-top-color:#1F7492; }
#pagecontentcontainer.bagUploadConfirm-page div.description { background:#F5F5F5; }
#pagecontentcontainer.bagUploadConfirm-page #chooseName,
#pagecontentcontainer.bagUploadConfirm-page #additionalMatches { background:#FEFEFE; }

/* list analysis page */
#pagecontentcontainer.bagDetails-page #header_wrap { background-color:#F5F5F5; background-image:url("report/header-bg.png"); }
#pagecontentcontainer.bagDetails-page #menu-target { background:#F5F5F5; }
#pagecontentcontainer.bagDetails-page #toc-menu-wrap { background:#AFAFAF; }
#pagecontentcontainer.bagDetails-page #fixed-menu { background:#AFAFAF; }
#pagecontentcontainer.bagDetails-page #toc-menu-wrap div.wrap a,
#pagecontentcontainer.bagDetails-page #fixed-menu div.wrap a { background:#F5F5F5; color:#4B3F4B; }
#pagecontentcontainer.bagDetails-page #fixed-menu span,
#pagecontentcontainer.bagDetails-page #toc-menu-wrap span { color:#FFF; }

/* report page */
#pagecontentcontainer.report-page #header_wrap { background-color:#F5F5F5; background-image:url("report/header-bg.png"); }
#pagecontentcontainer.report-page #object_header h1.title span { color:#1F7492; }
#pagecontentcontainer.report-page #object_header div.box h3 { background:#F0E3F7; }
#pagecontentcontainer.report-page #object_header div.list.box span { color:#1F7492; }
#pagecontentcontainer.report-page #fixed-menu { background:#1F7492; }
#pagecontentcontainer.report-page #fixed-menu div.wrap,
#pagecontentcontainer.report-page #toc-menu-wrap div.wrap { background:#1F7492; border-color:#1F7492; }
#pagecontentcontainer.report-page #toc-menu-wrap { background:#F5F5F5; }
#pagecontentcontainer.report-page #fixed-menu span,
#pagecontentcontainer.report-page #toc-menu-wrap span { color:#FFF; }
#pagecontentcontainer.report-page #menu-target { background:#F5F5F5; }
#pagecontentcontainer.report-page #toc-menu-wrap div.wrap a,
#pagecontentcontainer.report-page #fixed-menu div.wrap a { color:#FFF; }
#pagecontentcontainer.report-page #toc-menu-wrap div.links a.current,
#pagecontentcontainer.report-page #fixed-menu div.links a.current { background:#FFF; color:#1F7492; border-color:#1F7492; }
#pagecontentcontainer.report-page #in-lists div.heading { background:#F5F5F5 !important; border-color:#1F7492; color:#1F7492 !important; text-shadow:1px 1px 1px #FFF; }
#pagecontentcontainer.report-page .container_12 .highlight { background-color: #FFF3D3; }
#pagecontentcontainer.report-page #object_header #headerLink a { color:#1F7492; }
#pagecontentcontainer.report-page #object_header p.share a { color:#1F7492; }
#pagecontentcontainer.report-page h2 { color:#000; }
#pagecontentcontainer.report-page #cwtabsbyside a { color:#1F7492; }
#pagecontentcontainer.report-page #cwtabsbyside fieldset,
#pagecontentcontainer.report-page #cwtabsbyside ul li { border-color:#E6F7FE; }
#pagecontentcontainer.report-page #cwtabsbyside ul,
#pagecontentcontainer.report-page #cwtabsbyside fieldset.alt { background:#EFFAFE; border-color:#E6F7FE; }
#pagecontentcontainer.report-page form#fly-atlas-options table tr td { border-color:#E6F7FE; }
#pagecontentcontainer.report-page form#fly-atlas-options table tr.even td { background:#EFFAFE; }
#pagecontentcontainer.report-page #gene-summary-displayer span.title { color:#f36e20; }
#pagecontentcontainer.report-page #gene-summary-displayer span.description { color:#a6a6a6; }

/* ############ tables, lists & misc configuration ############ */
/* inline lists */
div.inline-list ul .name { color:#1F7492; }
div.inline-list a,
div.inline-list a:hover,
div.inline-list a:visited { color:#1F7492; }
div.inline-list h3 { background:#F5F5F5; border-top-color:#1F7492; color:#1F7492; text-shadow:1px 1px 1px #FFF; }
div.inline-list.gray h3,
div.inline-list.grey h3 { background:#F6F5F7; border-top-color:#6E6E6E; color:#ABABAB; }
div.inline-list div.right a,
div.inline-list div.right a:hover,
div.inline-list div.right a:visited { color:#1F7492; }
/* collection tables */
div.collection-table h3 { background:#F5F5F5; border-top-color:#1F7492; color:#1F7492; text-shadow:1px 1px 1px #FFF; }
div.collection-table div.right a,
div.collection-table div.right a:hover,
div.collection-table div.right a:visited { color:#1F7492; }
div.collection-table table { border-color:#E6F7FE; }
div.collection-table thead th,
div.collection-table thead td { background:#F5F5F5; border-color:#E6F7FE; }
div.collection-table table tbody tr td { border-top-color:#E6F7FE; }
div.collection-table table tbody tr:nth-child(2n) td,
div.collection-table table tbody tr.odd td { background:#EFFAFE; }
div.collection-table table tbody tr.even td { background:#FFF; }
div.collection-table table td.class { color:#886644; }
div.collection-table table a,
div.collection-table table a:hover,
div.collection-table table a:visited { color:#1F7492; }
div.collection-table.gray h3,
div.collection-table.grey h3 { background:#F6F5F7; border-top-color:#6E6E6E; color:#ABABAB; }
div.collection-table.column-border table tbody tr td.left-column-border { border-left-color:#E6F7FE; }
div.collection-table.column-border table tbody tr td:nth-child(n+2) { border-left-color:#E6F7FE; }
div.collection-table.column-border-by-2 table tbody tr td.left-column-border { border-left-color:#E6F7FE; }
div.collection-table.column-border-by-2 table tbody tr td:nth-child(2n+3) { border-left-color:#E6F7FE; }
div.collection-table div.header { background:#F5F5F5; border-top-color:#1F7492; }
div.collection-table div.header h3 { text-shadow: 1px 1px 1px #FFFFFF; }
div.collection-table div.header a,
div.collection-table div.header a:hover,
div.collection-table div.header a:visited { color:#1F7492; }
/* collection table on results pages */
div.collection-table.results table { border-top-color:#1F7492; }
/* basic tables (on displayers etc.) */
div.basic-table h3 { background:#F5F5F5; border-top-color:#1F7492; color:#1F7492; text-shadow:1px 1px 1px #FFF; }
div.basic-table table a,
div.basic-table table a:hover,
div.basic-table table a:visited,
div.basic-table a.link { color:#1F7492; }
div.basic-table.gray h3,
div.basic-table.grey h3 { background:#F6F5F7; border-top-color:#6E6E6E; color:#ABABAB; }
/* collection of collection tables */
div.collection-of-collections div.header { background:#F5F5F5; border-top-color:#1F7492; }
div.collection-of-collections div.header h3 { text-shadow: 1px 1px 1px #FFFFFF; }
div.collection-of-collections div.header a,
div.collection-of-collections div.header a:hover,
div.collection-of-collections div.header a:visited { color:#1F7492; }
div.collection-of-collections div.collection-table h3 { border-top-color:#E6F7FE; }
/* templates */
div.template h3 { background:#F5F5F5; border-top-color:#1F7492; color:#1F7492; text-shadow:1px 1px 1px #FFF; }
div.template.gray h3,
div.template.grey h3 { background:#F6F5F7; border-top-color:#6E6E6E; color:#ABABAB; }
/* togglers */
div.collection-table div.toggle a,
div.collection-table div.toggle a:hover,
div.collection-table div.toggle a:visited,
div.collection-of-collections div.toggle a,
div.collection-of-collections div.toggle a:hover,
div.collection-of-collections div.toggle a:visited,
div.collection-table div.show-in-table a,
div.collection-table div.show-in-table a:hover,
div.collection-table div.show-in-table a:visited,
div.collection-of-collections div.show-in-table a,
div.collection-of-collections div.show-in-table a:hover,
div.collection-of-collections div.show-in-table a:visited { color:#1F7492; }
/* header, the same as table header */
h3.goog { background:#F5F5F5; border-top-color:#1F7492; color:#1F7492; text-shadow:1px 1px 1px #FFF; }
