<?xml version="1.0" encoding="utf-8"?>
<menu>
    <item title="Main">
        <item url="/index.xml" title="Home"/>
        <item url="/begin.do" title="Start a query"/>
        <item url="/contact/index.xml" title="Contact"/>
    </item>
   
   <item title="Documentation">
      <item url="http://www.flymine.org/doc/manual/quickStartGuide" title="Quick start guide"/>
      <item url="http://www.flymine.org/doc/tutorials/index" title="Tutorials"/>
      <item url="http://www.flymine.org/doc/manual/index" title="User Manual"/>
      <item url="http://www.flymine.org/doc/presentations/index" title="Presentations"/>
      <item url="http://www.flymine.org/doc/usage_scenarios/index" title="Usage scenarios"/>
    </item>
    <item title="Download software">
        <item url="http://download.flymine.org/releases/" title="Latest release"/>
        <item url="http://download.flymine.org/nightly/" title="Nightly build"/>
        <item url="http://subversion.flymine.org/" title="Browse source"/>
        <item url="/download/index.xml" title="SVN checkout"/>
    </item>
     <item title="Useful links">
        <item url="http://www.flymine.org/" title="FlyMine"/>
        <item url="http://www.intermine.org/" title="InterMine"/>
        <item url="http://www.t1dbase.org" title="T1DBase"/>
    </item>
</menu>

